/*edit profile css
form input[readonly="readonly"]{
	border: none;
	box-shadow:none;
	background: none;
	background-color: transparent;
	text-align: left;
}
form input[readonly="readonly"]:focus{
	
	border: none !important;
	box-shadow:none;
	background: none;
	background-color: transparent;
	
}
.row.usertitle h2{
	text-align: center;
	color: #999999;
	font-size: 1.3em;
	font-family: "Antenna-Regular";
	font-weight: normal;
	padding: 0 0 50px;
}
.row DIV.row.usertitle{
	background: none;
}
.row .row.vehicletips h4{
	
	text-align: left;
	border-bottom: none;
	padding-bottom: 0px;
	font-family: "Antenna-bold";
	font-size: 1em;
}
.content form  .row.vehicletips p{
	font-size: 0.75em;
	
}
.content form  .row.vehicletips img{
	padding: 10px 0 20px;
}
.preferences .row h5{
	width: auto;
	float: left;
	text-align: center;
	font-size: 0.875em;
	font-family: "Antenna-Medium";
	padding-left: 3.3%;
	padding-right: 3.3%;
}
.preferences .row input[type="checkbox"],.preferences .row .checkbox-image{
	
	margin: 0;
	float: none;
	margin-left: auto;
	margin-right: auto;
	
}
.preferences th,.preferences table{
	
	text-align: center;
	font-family: "Antenna-Medium";
	font-weight: normal;
}
.preferences td{
	text-align: left;
	vertical-align: top;
	padding:  0;
}

.preferences th{
	padding-bottom: 23px;
	padding-top: 15px;
}
.preferences td h2{
	
	font-size: 0.875em;
	font-family: "Antenna-bold";
	margin-top: 0;
	margin-bottom: 0;
}
.preferences th{
	width: 14%;
	font-size: 0.875em;
}
.ie8 a.smallbtn{
	
	float: left;
}
a.smallbtn,a.cancel-btn{
	float: left;
}
.user-vehicle .icon-remove,a.cancel-btn{
	font-size: 0.75em;
	color: #000;
	text-decoration: underline;
	font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
	
	margin: 7px 0 20px 0;
	padding: 6px 34px;
	text-transform: uppercase;
}
.forms .preferences .row.radio{
	padding-top: 10px;
}
.userdetail .state-edit,.user-vehicle .state-edit{display: none;}
.userdetail .state-readonly h5,.user-vehicle .state-readonly h5{
	font-size: 0.79em;
	font-family: "Antenna-Regular";
	margin-bottom: 30px;
}
.userdetail .state-readonly fieldset{
	margin-bottom: 20px;
}
.user-vehicle .icon-remove{
	background: none;
	width: auto;
	height: auto;
	padding: 0;
	color: #c50000;
	text-transform:none;
	font-size: 0.79em;
}

h5.savedtext{
	font-size: 0.79em;
	color: #279500;
	font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
	margin: 7px 0 20px 0;
	padding: 6px 34px;
	float: left;
}
.user-vehicle h5.savedtext{
	margin: 7px 0 0px 0;
}
.desktop .user-vehicle .vehicletips label {
	text-align: center;
}
.forms .user-vehicle .state-edit>DIV.row,.forms .user-vehicle .state-readonly>DIV.row,.forms .user-vehicle .flexfield.grey.row,.user-vehicle .flexfield row,{
	margin-bottom: 60px !important;
}

.forms .user-vehicle .icon-add{
	background:none;
	background-color: #48acdf;
	border-radius: 3px;
	color: #fff;
	float: left;
	font-family: "Antenna-Regular";
	font-size: 0.75em;
	margin: 7px 0 20px 0;
	padding: 6px 34px;
	text-transform: uppercase;
	height: 24px;
	line-height: 14px;
	font-weight: normal;
}
.tablet.forms .user-vehicle .row.addvehicle, .desktop.forms .user-vehicle .row.addvehicle{
	padding-left: 55% !important;
}
.smobile.forms .user-vehicle .row.addvehicle{
	padding-left: 0px !important;
}
end edit profile css*/

#deleteoverlay{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:url("../img/editovrlay.png");
	z-index:999;
	
}
#deleteoverlay #bg{
	display: block;
	position: fixed;
	width: 39%;
	background: url("../img/editoverlaybg.png");
	margin-left: 30.5%;
	margin-right: 30.5%;
	top:30%;
	padding: 8px;
}
.tablet #deleteoverlay #bg{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}
.smobile #deleteoverlay #bg{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#deleteoverlay #bg #content{
	background-color: #FFF;
	padding: 40px;
	text-align: center;
}
#deleteoverlay #bg #content img{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 20px;
	display:block;
	clear: both;
}
#deleteoverlay #bg #content h3{
	
	color: #29629e;
	font-size: 0.85em;
	font-family: "Antenna-Medium";
	font-weight: normal; 
}
#deleteoverlay #bg #content #btns{
	display: inline-block;
}
a.smallbtn.delete{
	background-color: #d84a38;
	margin-left: 30px;
}

a:hover.smallbtn.delete{
	background-color: #b53c2d;
	
}
 .smobile a.smallbtn.delete{
	margin-left: 0;
	clear: both;
}
#deleteoverlay{
	display: none;
}

