/* Brochure Request Page*/
.brochure-request .row img {padding:0;}
.brochure-request .section .models {height:320px;}
.brochure-request.ie8 .section .models,
.brochure-request.ie8 .section .delivery {background:#FFFFFF url("../img/form-row-bg.jpg") repeat-x scroll 0 0;}
.brochure-request .models .alert-text {display:none; text-align:center; color:red;}
.brochure-request .models {padding-top:65px;}
.brochure-request .models .loading {display:block; width:16px; height:16px; margin:0 auto; position:absolute; left:49.5%; background:transparent url('../img/ajax-loader.gif') no-repeat scroll 0 0;}
.brochure-request .models .bx-wrapper {margin:0 auto; position:relative; z-index:1;}
.brochure-request .models .wrapper {opacity:0; filter:alpha(opacity=0);}
.brochure-request .bx-wrapper .bx-controls {margin-top:50px;}
.brochure-request .bx-wrapper .bx-controls-direction a {display:block; width:34px; height:65px; text-indent:-9999px; position:absolute; z-index:1; top:10%; background:transparent url("../img/slider-controls1.png") no-repeat scroll 0 0;}
.brochure-request .bx-wrapper .bx-controls-direction .bx-prev {left:-70px; background-position:0 -79px;}
.brochure-request .bx-wrapper .bx-controls-direction .bx-next {right:-70px;}
.brochure-request .bx-wrapper .bx-pager {text-align:center;}
.brochure-request .bx-wrapper .bx-pager-item {display:inline-block; width:12px; height:12px; margin-left:11px;}
.brochure-request .bx-wrapper .bx-pager-item:first-child {margin-left:0;}
.brochure-request .bx-wrapper .bx-pager-item a {display:block; width:12px; height:12px; text-indent:-9999px; background:transparent url("../img/slider-controls1.png") no-repeat scroll 0 -217px;}
.brochure-request .bx-wrapper .bx-pager-item a.active {background-position:0 -176px;}
.brochure-request .models .bxslider li {padding-bottom:4px;}
.brochure-request .models .bxslider li > div {padding:4px 4px 0 4px;}
.brochure-request .models .bxslider li a {display:block; text-align:center;}
.brochure-request .models .bxslider li h3 {padding:0; margin:0; width:147px; padding:0 0 5px 0; font-size:0.8em; font-family:Arial; font-weight:bold; text-align:center; text-transform:uppercase; background:transparent url("../img/models.png") no-repeat scroll 0 bottom;}
.brochure-request .models .bxslider li h3 span {display:block; width:147px; min-height:20px; padding:8px 2px 1px 2px; background:transparent url("../img/models.png") no-repeat scroll -250px 0;}
.brochure-request .models .bxslider li:hover,
.brochure-request .models .bxslider li.active { background:transparent url("../img/models.png") no-repeat scroll -1000px bottom;}
.brochure-request .models .bxslider li:hover > div,
.brochure-request .models .bxslider li.active > div {background:transparent url("../img/models.png") no-repeat scroll -1250px 0;}
.brochure-request .models .bxslider li:hover h3,
.brochure-request .models .bxslider li.active h3 {background-position:-500px bottom;}
.brochure-request .models .bxslider li:hover h3 span,
.brochure-request .models .bxslider li.active h3 span {color:#FFF; background-position:-750px 0;}

.brochure-request .content .delivery {padding-top:65px; text-align:center;}
.brochure-request .delivery > div {display:inline-block;}
.brochure-request .delivery .type {width:230px;}
.brochure-request .delivery .type .select-icon {width:140px; height:140px; margin:0 auto; cursor:pointer; position:relative; z-index:1; background:transparent url('../img/bg-circles.png') no-repeat scroll 0 0;}
.brochure-request .delivery .type .select-icon:hover,
.brochure-request .delivery .type .select-icon.active {background-position:0 -140px;}
.brochure-request .delivery .type .inner-select-icon {width:140px; height:140px; margin:0 auto; background:transparent url('../img/brochure-type.png') no-repeat scroll 50% 31px;}
.brochure-request .delivery .type .mail .inner-select-icon {background-position:50% -395px;}
.brochure-request .delivery .type .tick {display:none; width:37px; height:35px; position:absolute; z-index:1; top:5px; right:12px; background:transparent url('../img/tick.png') no-repeat scroll 0 0;}
.brochure-request .delivery .type .select-icon.active .tick {display:block;}
.brochure-request .delivery .type .text {padding-top:35px; }
.brochure-request .delivery .type .text h3 {padding:0; margin:0; font-family:"Antenna-Bold"; font-size:1em;}
.brochure-request .delivery .type .text p {padding-top:15px; font-size:0.75em; font-family:"Antenna-Light";}
.brochure-request .delivery .divider {min-height:250px; width:1px; margin:0 50px; background-color:#b8b8b8; position:relative; z-index:1;}
.brochure-request .delivery .divider span {display:block; padding:5px 0; font-family:"Antenna-Light"; font-size:1em; color:#b8b8b8; background-color:#FFF; position:absolute; z-index:1; left:-8px; top:45%;}

.brochure-request .form-switch .section {display:none;}
.brochure-request .form-switch .section:first-child {display:block;}
.brochure-request .form-switch .section:first-child form .large-6 {float:none; margin:0 auto;}
.brochure-request .form-switch .section:first-child form .row .columns {padding:0;}

/* Quote request page*/
.quote-request .vehicle > img {width: 480px;}
.quote-request .content-banner .content-wrap .alert-text {display:none; width:70%; padding-top:100px; margin:0 auto;}
.quote-request .content-banner .content-wrap {min-height:328px; max-width:960px; margin:0 auto; position:relative; background:#FFF url('../img/bg-banner-gradient.gif') scroll repeat-x 0 bottom;}
.quote-request .content-banner .loading {display:block; width:16px; height:16px; margin:0 auto; position:absolute; top:45%; left:49.5%; background:transparent url('../img/ajax-loader.gif') no-repeat scroll 0 0;}
.quote-request .content-banner .content-wrap .alert-text {width:70%; padding-top:100px; margin:0 auto;}
.quote-request .content-banner .vehicle, 
.quote-request .content-banner .specs {display:inline-block; margin:0 auto; vertical-align:middle; text-align:left;}
.quote-request .content-banner .vehicle {width:480px; padding:55px 0px 0 0; margin-right:70px;}
.quote-request .content-banner .specs {padding-top:23px;}
.quote-request .content-banner .specs h1 {margin:0; font-family:"Antenna-Bold"; font-size:1.85em; color:#333;}
.quote-request .content-banner .specs h2 {margin-bottom:10px; font-family:"Antenna-Semi-Bold"; font-size:1.1em; color:#94a5a9;}
.quote-request .content-banner .specs .detail {width:323px; height:225px; padding:10px 0; border-top:1px solid #cccbcb; border-bottom:1px solid #cccbcb; overflow:auto;}
.quote-request .content-banner .specs .detail dl {margin:0;}
.quote-request .content-banner .specs .detail dl dt {margin-bottom:0.9em; font-family:"Antenna-Semi-Bold"; font-size:0.9em; font-weight:normal;}
.quote-request .content-banner .specs .detail dl dd {padding-left:23px; line-height:1.3em; font-family:"Antenna-Regular"; font-size:0.9em; background:transparent url("../img/tick-small.png") scroll no-repeat 0 4px;}
.quote-request .jspVerticalBar {right:0;}

.confirmation .headings h3 {padding-bottom:0;}
.confirmation .content .row {padding-top:30px;}
.confirmation .row .columns fieldset p {font-family:"Antenna-Light"; font-size:0.875em;}
.confirmation .content .row fieldset .row.info-list {margin-bottom:1.25em;}
.confirmation fieldset .row.info-list p {margin:0; font-family:"Antenna-Extra-Light"; font-weight:normal; font-size:0.875em;}
.confirmation .row.content-btn-group {padding-top:0;}
.confirmation .row.content-btn-group .btn {margin-top:10px; margin-bottom:10px;}
.confirmation .section:last-child {padding-bottom:10px;}
.confirmation .hotspots {padding-top: 0; padding-bottom: 14px; width: 86%; margin: 0 auto;}
.confirmation .hotspots > .columns {margin: 0 0 24px; padding: 0 30px;}
.confirmation .hotspots .hotspot h3 {background: #2d96cd none; color: #fff; margin: 0; font-size: 0.75em; font-family:"Antenna-Regular", sans-serif; font-weight: 400; padding: 7px 10px; border-top: 0;}
.confirmation .hotspots .hotspot a:hover h3 {color: #fff;}
.confirmation .hotspots .hotspot img {padding: 0 0 7px; width: 100%; display: block;}
.confirmation .hotspots .hotspot p {font-size: 0.75em; color: #999; padding: 0 10px; margin-bottom: 7px; width: 100%;}
.confirmation .hotspots .hotspot a .find-out {background: #f2f2f2; color: #2d96cd; display: block; padding: 7px 10px; font-size: 0.75em; font-family:"Antenna-Regular", sans-serif;}
.confirmation .hotspots .hotspot a .find-out:hover, .confirmation .hotspots .hotspot a .find-out:focus {color: #2795b6;}
.ie8.confirmation .hotspots-wrap {background: #fff; clear: both;}
.ie8.confirmation .hotspots-wrap + .row {clear: both;}
.confirmation .hotspot {float: left; margin: 0; padding: 10px 20px; width: 33.33%;}
.confirmation .buttons .btn {line-height: 29px; margin-top: 50px; margin-bottom: 40px; text-transform: uppercase;}


/* jScroll Pane style*/
.jspContainer {overflow:hidden; position:relative;}
.jspPane {position:absolute;}
.jspVerticalBar {position:absolute; top:0; right:10px; width:10px; height:100%; background:none;}
.jspHorizontalBar {position:absolute; bottom:0; left:0; width:100%; height:16px; background:none;}
.jspCap {width:10px; height:29px; background:transparent url('../img/arrows-scrollpane.png') scroll no-repeat 0 0;}
.jspCapTop {}
.jspCapBottom {background-position:0 -29px;}
.jspHorizontalBar .jspCap {float:left;}
.jspTrack {background:none; position:relative;}
.jspDrag {background:#32a1ec; position:relative; top:0; left:0; cursor:pointer; border-radius:5px;}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag {float:left;height:100%;}
.jspArrow {background:#50506d; text-indent:-20000px; display:block; cursor:pointer; margin:0; padding:0;}
.jspArrow.jspDisabled {cursor:default; background:#80808d;}
.jspVerticalBar .jspArrow {height:16px;}
.jspHorizontalBar .jspArrow {width:16px; float:left; height:100%;}
.jspVerticalBar .jspArrow:focus {outline:none;}
.jspCorner {background:#eeeef4; float:left; height:100%;}