body.forms, .forms .content, .forms .content-banner {
		background-color:#656261;
	}


/*edit profile css*/
form input[readonly="readonly"]{
	border: none;
	box-shadow:none;
	background: none;
	background-color: transparent;
	text-align: left;
}
form input[readonly="readonly"]:focus{
	
	border: none !important;
	box-shadow:none;
	background: none;
	background-color: transparent;
	
}
.row.usertitle h2{
	text-align: center;
	color: #999999;
	font-size: 1.3em;
	font-family: "Antenna-Regular";
	font-weight: normal;
	padding: 0 0 50px;
}
.row DIV.row.usertitle{
	background: none;
}
.row .row.vehicletips h4{
	
	text-align: left;
	border-bottom: none;
	padding-bottom: 0px;
	font-family: "Antenna-bold";
	font-size: 1em;
}
.content form  .row.vehicletips p{
	font-size: 0.75em;
	
}
p.successtips{
	display: none;
	font-family: "Antenna-Bold";
	text-align: center;
	font-size: 1em !important;
	color: #279500 !important;
}

h5.savedtext{
	display: none;
}
.content form  .row.vehicletips img{
	padding: 10px 0 20px;
}
.preferences .row h5{
	width: auto;
	float: left;
	text-align: center;
	font-size: 0.875em;
	font-family: "Antenna-Medium";
	padding-left: 3.3%;
	padding-right: 3.3%;
}
.preferences .row input[type="checkbox"],.preferences .row .checkbox-image{
	
	margin: 0;
	float: none;
	margin-left: auto;
	margin-right: auto;
	
}
.preferences .option-group .checkbox-image {
	float: left;
    margin: 0 10px 24px 0;
}
.preferences th,.preferences table{
	
	text-align: center;
	font-family: "Antenna-Medium";
	font-weight: normal;
}
.preferences td{
	text-align: left;
	vertical-align: top;
	padding:  0;
}

.preferences th{
	padding-bottom: 23px;
	padding-top: 15px;
}
.preferences td h2{
	
	font-size: 0.875em;
	font-family: "Antenna-bold";
	margin-top: 0;
	margin-bottom: 0;
}
.preferences th{
	width: 14%;
	font-size: 0.875em;
}
.preferences .row .columns.checkbox {padding:0;}
.preferences .row .columns.checkbox input[type="checkbox"],.preferences .row .columns.checkbox .checkbox-image {float:left; margin-right:10px;}

.preferences .checkbox 
.ie8 a.smallbtn, .ie9 a.smallbtn, a.smallbtn{
	
	float: left;
}
a.smallbtn,a.cancel-btn{
	float: left !important;
}
.user-vehicle .icon-remove,a.cancel-btn{
	font-size: 0.75em;
	color: #000;
	text-decoration: underline;
	font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
	
	margin: 7px 0 20px 0;
	padding: 6px 34px;
	text-transform: uppercase;
}
.forms .content .user-vehicle .columns .row {border-bottom:1px solid #D6D6D6; padding-bottom:5px; margin-bottom:20px;}
.forms .content .user-vehicle .columns .row .row {border:none; padding:0; margin:0;}
.forms .content .row.user-vehicle .columns .columns {border-top:none; margin-top:0; padding-top:0;}

.forms .preferences .row.radio{
	padding-top: 10px;
}
.userdetail .state-edit,.user-vehicle .state-edit{display: none;}
.userdetail .state-readonly h5,.user-vehicle .state-readonly h5{
	font-size: 0.79em;
	font-family: "Antenna-Regular";
	margin-bottom: 30px;
}
.userdetail .state-edit .labelpwd{display:inline-block;}
.userdetail .state-readonly fieldset{
	margin-bottom: 20px;
}
.user-vehicle .icon-remove{
	display:block;
	background: none;
	width: auto;
	height: auto;
	padding: 0;
	color: #c50000;
	text-transform:none;
	font-size: 0.79em;
}
.preferences table{
	margin-bottom: 30px;
}
.forms .preferences .row.radio{
	margin-top: 10px !important;
}
h5.savedtext{
	font-size: 0.79em;
	color: #279500;
	font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
	margin: 7px 0 20px 0;
	padding: 6px 34px;
	float: left;
}
.user-vehicle h5.savedtext{
	margin: 7px 0 0px 0;
}
.desktop .user-vehicle .vehicletips label {
	text-align: center;
}
.forms .user-vehicle .state-edit>DIV.row,.forms .user-vehicle .state-readonly>DIV.row,.forms .user-vehicle .flexfield.grey.row{
	margin-bottom: 60px !important;
}

.forms .user-vehicle .icon-add{
	background:none;
	background-color: #48acdf;
	border-radius: 3px;
	color: #fff;
	float: left;
	font-family: "Antenna-Regular";
	font-size: 0.75em;
	margin: 7px 0 20px 0;
	padding: 6px 34px;
	text-transform: uppercase;
	height: 24px;
	line-height: 14px;
	font-weight: normal;
}
.tablet.forms .user-vehicle .row.addvehicle, .desktop.forms .user-vehicle .row.addvehicle{
	padding-left: 55% !important;
}
.smobile.forms .user-vehicle .row.addvehicle{
	padding-left: 0px !important;
}

#deleteoverlay{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:url("../img/editovrlay.png");
	z-index:999;
	overflow-y: auto;
	
}
#deleteoverlay #bg{
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background: url("../img/editoverlaybg.png");
	margin-top: 20px;
	padding: 8px;
}



#deleteoverlay #bg #content{
	background-color: #FFF;
	padding: 40px;
	text-align: center;
}
#deleteoverlay #bg #content img{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 20px;
	display:block;
	clear: both;
}
#deleteoverlay #bg #content h3{
	
	color: #29629e;
	font-size: 0.85em;
	font-family: "Antenna-Medium";
	font-weight: normal; 
}
#deleteoverlay #bg #content #btns{
	display: inline-block;
}

 .smobile a.smallbtn.delete{
	margin-left: 0;
	clear: both;
}
#deleteoverlay{
	display: none;
}

.ie8 a.next-btn,.ie8 a.smallbtn,.ie8 input.smallbtn {
		background-color: #48acdf;
		border-radius: 3px;
		color: #fff;
		float: right;
		font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
		font-size: 0.75em;
		margin: 7px 0 20px 0;
		padding: 6px 34px;
		text-transform: uppercase;
}

a.smallbtn.delete{
	background-color: #d84a38;
	margin-left: 30px;
}

a:hover.smallbtn.delete{
	background-color: #b53c2d;
	
}
.tablet .columns-vehicle,.desktop .columns-vehicle{
	 padding-left:5% !important;
}
#displaypwd, #hidepwd {float:right; font-size:0.75em; padding-top:3px;}
#dragonflyform .columns .row > .columns > .radio > .error-box {float: left; top:-15px;} /*fixed form radio btn unclickble issue*/
/*end edit profile css*/


/*Form Builder Forms*/

/*form KIM*/
.opt-inout-checkbox,
.opt-inout-checkbox .option-group,
.opt-inout-survey .survey-group {float: left; display: none;}
.opt-inout-survey .survey-group .textare.columns {display: none;}
.opt-inout-checkbox.showErr .error-box,
.opt-inout-survey.showErr .error-box {position: static; opacity: 1; transform: translate(0px, 0px); visibility: visible;}
.fbform TEXTAREA {width: 100%;}
.fbform TEXTAREA:focus {background-color: #FAFAFA; border: 1px solid #CCCCCC;}
.forms .content .row .opt-inout-survey .survey-group .textare {margin-top: 0; padding-top: 0; border: none;}/*to override previous defined style*/
#captcha.pending {border-color: #CDCCCC !important;background: none #F0F0F0 !important;}/*captcha ajax loading status*/

.two-inputs label {display:inline-block; float:left; margin-top:12px; width:30%;}
.two-inputs input {float:left; font-size:14px !important; margin-left:2% !important; padding-right:0.8em !important; width:31% !important;}
.two-inputs .spacer {margin-left:2%; width:2%;}
.two-inputs .error-box {display:inline-block !important;}

.forms .content .row .columns .row > .large-12.columns.opt-inout-checkbox {margin-top: 10px;}

.forms .content .row.confirm-content {padding-top: 10px; padding-bottom: 30px;}
.confirm-content p {color:#999999; font-size:1.313em; text-align:center; width: 50%; margin: 0 auto; text-align: left;}
.confirm-content p:first-child {text-align: center;}

@media only screen {

	/* IE10 fix: remove grey background when anchors are active */
	#badge .logo-wide{
		background-image:url("../img/formtoplogo.jpeg");
	}
	a:active{
    	background-color: transparent; 
	}

	*:focus{outline:none !important; border:none;}
	body.forms, .forms .content, .forms .content-banner {
		background-color:#656261;
	}

	.content form .row .columns p {
		font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
	}

	.content form .row .columns p.note {
		font-family: "Antenna-Extra-Light";
		font-size:0.68em;
	}

	form.fbform {
		margin: 0;
		overflow: hidden;
	}

	.forms #header {
		min-height: 44px;
	}

	.forms #badge {
		float:left;
		margin:10px 0 0 0;
		padding:0;
		border-bottom:0;
		height: 34px;
	}

	#badge > span.logo-wide {
 		display: none;
	}

	#badge > span.logo-mobile {
		display: block;
		width: 140px;
		height: 27px;
		font-size: 0;
		line-height: 0;
		background-repeat: no-repeat;
	}

	.rtl.forms #badge {
		float: right;
	}

	.top-close {
	    background-color: #FFFFFF;
	    float: right;
	    height: 44px;
	    min-width: 96px;
	}

	.rtl .top-close {
		float: left;
	}

	.top-close a {
	    background: #fff url(../img/icons.png)  68px -3631px no-repeat;
	    color: #333333;
	    display: block;
	    font-family: "Antenna-Bold", Arial, Helvetica, sans-serif;
	    font-size: 0.75em;
	    height: 44px;
	    line-height: 44px;
	    text-align: center;
	    width: 100%;
	}

	.top-close a:hover {
	    background-position: 68px -3671px;
	    color: #49ACDF;
	    text-decoration: none;
	}

	.top-close a span {
	    padding-right: 18px;
	    text-transform: uppercase;
	}

	.forms .content {
		background:#656261;
		padding: 0;
	}

	.forms .large-6 {
	    position: relative;
	}

	.content-banner.large, .content-banner.large .content-banner-wrap {
		clear: both;
	    display: block;
	    height: 100%;
	    padding: 0;
	    text-align: center;
	}

	.smobile .content-banner.large, .smobile .content-banner.large .content-banner-wrap {
		
	}

	.smobile .content-banner.large {
		margin-top: -45px;
	}

	.forms.content-page > .content {
	    padding-bottom: 0;
	}

	.forms .headings {
		max-width: 60em;
		margin: 0 auto;
		background: #fff;
	}

	.headings h2.large, .headings h3.large, .headings h2.extra-large, .headings h3.extra-large {
		font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
	}

	.headings h2.centred, .headings h3.centred {
		 text-align: center;
	}

	.headings h2.large {
		 font-size: 1.875em;
		 padding: 36px 0 10px;
		 margin:0;
		 color: #333;
	}

	.headings h2.extra-large {
		 font-size: 2.875em;
		 padding: 36px 0 10px;
		 margin:0;
		 color: #333;
	}

	.headings h3.large {
		 font-size: 0.9em;
		 padding: 0 50px 35px 50px;
		 margin:0;
		 color: #999;
	}

	.headings h3.extra-large {
		 font-size: 0.9em;
		 padding: 0 5px 35px 5px;
		 margin:0;
		 color: #999;
	}

	.headings a {text-decoration:underline;}

	.forms h4 {
		background: transparent;
		text-align: center;
		width: 96%;
		border-bottom:1px solid #cdcccc;
		color: #333;
		padding-bottom:8px;
		margin: 0 0 9px;
		padding: 0 0 8px;
		font-weight: normal;
	}

	.forms .section {
		max-width: 60em;
		margin: 0px auto;
		background: #fff;
	}

	.forms .section:last-child {padding-bottom:40px;}

	.arrow-down {
		position: relative;
	 	text-align: center;
	  	top: 16px;
	}

	.arrow-down p {
		font-family: "Antenna-Bold", Arial, Helvetica, sans-serif;
		color:#94a5a9;
		font-size: 0.75em;
		text-transform: uppercase;
		margin-bottom: 3px;
		text-align: center;
	}

	.arrow-down span {
		width: 0; 
		height: 0; 
		display: block;
		margin: 0 auto;
	}

	.arrow-down span.blue {
		border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-top: 6px solid #3299CC;
	    position: relative;
	    top: 6px;
	    z-index: 2;
	}

	.arrow-down span.white {
		border-left: 16px solid transparent;
	    border-right: 16px solid transparent;
	    border-top: 16px solid #FFFFFF;
	    position: relative;
	    z-index: 1;
	}

	.forms .content .row, .forms .content .row .columns, .forms .content .row .columns .row {
		background: none;
	}

	.forms .content .row {
		background: #fff;
		padding-top:50px;
		box-shadow: none;
	}

	.forms .content .row.form-bg {
		background: #fff url(../img/form-row-bg.jpg) 0 0 repeat-x;
		min-height: 110px;
	}

	.forms .content .row .row {
		padding:0;
		margin:0;
	}

	.forms .content .content-btn-group {padding-top:0;}
    .forms .content-btn-group .row h3 {color:#999; font-size:0.9em; font-weight:normal; text-align:center; background:none; border:none; font-family:"Antenna-Regular";}
    .forms .content-btn-group .btn {margin-bottom:15px;}
    .forms .content-btn-group .large-6 {float:none; margin:0 auto;}

	form fieldset {
		border: none;
		margin: 0;
	}

	fieldset legend {
		background: transparent;
		text-align: center;
		width: 100%;
		border-bottom:1px solid #cdcccc;
		color: #333;
		padding-bottom:8px;
		margin: 0 0 9px;
		padding: 0 0 8px;
		font-weight: normal;
		padding-top: 16px;
		font-family:"Antenna-Semi-Bold";
	}

	fieldset label, .content .row .columns p.label, p.label, .content .row .columns p.title {
		color:#33669a;
		font-family: "Antenna-Medium", Arial, Helvetica, sans-serif;
		background: none;
		padding:0;
		margin-bottom: 8px;
		line-height: 1.2em;
		font-size: 0.875em;
		font-weight: normal;
	}

	fieldset label {
		line-height: 1.1em;
	}

	.content form fieldset .row .columns p {font-family:"Antenna-Extra-Light";}

	.content .row .columns p.title  {
		padding: 5px 0 6px;
	}

	.content .row .columns p.label, p.label {
		line-height: 0.9em;
		margin-bottom: 9px;
    	text-align: left;
    	width: 100%;
	}

	input[type="checkbox"] + label  {
		cursor: text;
	    width: 80%;
	    font-family: "Antenna-Extra-Light", Arial, Helvetica, sans-serif;
	    font-size: 0.750em;
	    color: #000;
	    line-height: 1.4em;
	    float: left;
	}
	.smobile input[type="checkbox"] + label{
		width: 82%;
	}

	form input[type="checkbox"] {
	    float: left;
	    margin: 3px 10px 40px 0;
	    width: 20px;
	    height: 30px;
	    display: none;
	}

	.checkbox-image {
		cursor: pointer;
	    width: 21px;  
	    height: 20px;
	    background: url(../img/sprite-forms.png) 0 -72px no-repeat;
	    float:left;
	    margin: 0 10px 24px 0;
	}

	.checkbox-image.checked {
	    background-position: 0 -24px;
	}

	form select, .validate.fbform select {
	    color: #2D2D2D;
	    font-size: 0.750em;
	    height: 35px;
	    margin: 0 0 1.2em;
	    padding: 0.75em 0.8em 0.6em 0.6em;
	    width: 100%;
	    border:none;
		background: transparent;
		appearance:none; 
		-moz-appearance:none; 
		-webkit-appearance:none; 
		text-indent:0.01px; 
		text-overflow:""; 
	}

	input[type="checkbox"] + label a {
		color: #000;
		text-decoration: underline;
	}

	.styled-select  {
	   width: 100%;
	   overflow: hidden;
	   background: url(../img/sprite-forms.png) no-repeat 95% 13px;
	   height:36px;
	   border: 1px solid #cdcccc;
	   border-radius: 4px;
	   margin-bottom: 3px;
	   box-shadow: inset 0px 0px 5px 1px #eaeaea;
	}

	.ie9 .styled-select  {

	   background: none;
	
	}

	.rtl .styled-select {
		background-position: -90px 13px;
	}


   input:focus, .styled-select.focus{
		border: 1px solid #3997d3!important;
	}

	.content input.btn:focus{
		border: 1px solid #0d527e!important;
	}

	.styled-select.focus.nofocus {
		border: 1px solid #cdcccc;
	}

	.ie9 fieldset select:focus {outline: none!important;}

	form input[type="text"], form input[type="password"], form input[type="email"], form input[type="number"], .validate input[type="tel"], form input[type="tel"], form input {
		border: 1px solid #cdcccc;
		color: #2D2D2D;
		font-size: 0.750em;
		margin: 0 0 3px;
		padding: 9px 2.8em 9px.8em;
		width: 100%;
		height: auto;
		box-shadow: inset 0px 0px 5px 1px #eaeaea;
		border-radius: 4px;
		margin: 0;
	}

	.validate input[type="text"], .validate input[type="password"], .validate input[type="email"], .validate input[type="number"], .validate input[type="tel"] {
		width: 100%;
	}

	.validate img#captchaimage {
		border: 0;
	}

	form .radio div {
		float:left;
		margin-bottom: 8px;
	}

	form input[type="radio"] {
		background: transparent none !important;
		box-shadow: none;
		cursor: pointer;
		margin:0 0 20px;
		width:auto;
		height:auto;
		float:left;
	}

	.ie9 form input[type="radio"], .ie8 form input[type="radio"], form input[type="radio"]:focus {
		border: 0 !important;
	}

	form input[type="radio"] + label {
		width:auto;
		float:left;
		padding-right:20px;
		margin:0 0 14px 6px;
		color: #000000;
	    font-family: "Antenna-Regular",Arial,Helvetica,sans-serif;
	    font-size: 0.750em;
	}

	.content input.btn, .content a.input-btn {
		box-shadow: none;
		text-transform: uppercase;
		font-family: "Antenna-Semi-Bold", Arial, Helvetica, sans-serif;
		font-size: 0.875em;
		font-weight: normal;
		height: 36px;
		margin: 22px auto 30px;
		width:100%;
		background-size: auto auto;
		background: url("../img/btn-sprites.png") 0 -50px repeat-x !important;
	}

	.content a.input-btn.btn {
		font-size: 0.875em;
		line-height: 36px;
		margin-top: 12px;
	}

	.content input.login-btn.btn {
		margin: 0 auto 13px;
	}

	.forms .content .row.radio {
		margin-bottom:0;
	}

	.ie8 .content .row.radio {
		margin-bottom:20px;
	}

	input::-webkit-input-placeholder { /* WebKit browsers */
		color: #000;
		opacity: 0.9;
	}
	input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #000;
		opacity: 0.9;
	}
	input::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #000;
		opacity: 0.9;
	}
	input:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #000;
		opacity: 0.9;
	}

	#captchalabel {
		margin-top: 8px;
	}

	#captcha {
		margin: 0 auto 0px;
		width: 50%;
		display: block;
		-moz-appearance:textfield;
		-webkit-appearance:none;
	}
	
	#captchaimage {
		width:60%; 
		padding:0;
		margin-left: 22%;
	}

	#captchareload, .validate #captchareload {
		color:#000;
		font-family: "Antenna-Extra-Light", Arial, Helvetica, sans-serif;
		width:100%; 
		display:block; 
		font-size:0.75em;
		margin:0;
		padding: 10px 0 12px;
		text-align: center;
		text-decoration: none;
	}
	#captchaerror,#captchasystemerror{
		color: red;	
	}
	.user-success + #captchaerror,.user-success + #captchaerror + #captchasystemerror{
	     visibility: hidden !important;
	}
	.ws-invalid #captchaerror {visibility:visible !important;}
	a.next-btn,a.smallbtn,input.smallbtn {
		background-color: #42a9df;
		border-radius: 3px;
		color: #fff;
		float: right;
		font-family: "Antenna-Semi-Bold", Arial, Helvetica, sans-serif;
		font-size: 0.75em;
		margin: 7px 0 20px 0;
		padding: 4px 34px 6px 34px;
		text-transform: uppercase;
	}

	a:hover.next-btn,a:hover.smallbtn,input:hover.smallbtn{
		background-color: #3594c5;
		color: #fff;
	}

	.hidden {
		position: absolute;
		top:-999px;
		left:-999px;
	}

	.rtl .hidden {
		left: 0;
		right:-999px;
	}

	.forms #badge-footer {
		height: 69px;
		margin: 0 auto;
		position: static;
		right: 0;
		top: 0;
		width: 119px;
		display: block;
	}

	.forms #badge-footer a {
		background-size: auto auto;
		background-repeat: no-repeat;
		height: 69px;
		width: 119px;
		display: block;
		background-image: url("../img/formbottomlogo.jpeg");
	}

	.forms #footer-wrapper {
		background: no-repeat;
		padding-bottom: 30px
	}

	.forms #footer {
		background:#fff;
		max-width: 960px!important;
		min-height: 113px;
		padding:0;
	}

	.content .btn, .general-content .btn {
		background: url("../img/btn-sprites.png") repeat-x scroll 0 -50px transparent;
		border: medium none;
		border-radius: 3px 3px 3px 3px;
		display: block;
		font-weight: normal;
		height: 32px;
		line-height: 32px;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		text-align: center;
		text-shadow: none;
		width: 100%;
		color: #fff;
		cursor:pointer;
		font-family: "Antenna-Semi-Bold";
		font-size:0.875em;
	}

	.content .btn a, .general-content .btn a {
		color: #fff
	}

	.content .btn:hover, .general-content .btn:hover {
		background-position: 0 -156px !important;
		
		
	}

	.buttons {
		clear:both;
	}


	/* error styling */

	.error-box span {
		transition: all 1s;
	}

	.error-box {
	    border-radius: 3px 3px 3px 3px;
	    margin: 0;
	    overflow: hidden;
	    vertical-align: middle;
	    visibility: hidden;
	    opacity: 0;
	    position: relative;
	    top:-999em;
	    line-height: 1em;
	    width:100%;
	    text-align: right;
	}

	.error-box span,#captchaerror span,#captchasystemerror span{
	    display: block;
	    font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
	    transform: translate(-100%, 1);
	    color: #e11;    
	    font-size: 0.75em;
	    min-height:24px;
	   
	}

	fieldset input, fieldset select
	{
		background: url(../img/sprite-forms.png) 100% 50px no-repeat!important;
		/*background-size:15px;*/
		
		-moz-transition: background-color 1s ease;
		-webkit-transition: background-color 1s ease;
		-o-transition: background-color 1s ease;
		transition: background-color 1s ease;	
		
	}

	fieldset select {
		background-position: 92% 10px;
		cursor: pointer;
	}

	input[type=text].user-success,
	input[type=password].user-success,
	input[type=email].user-success,
	input[type=tel].user-success,
	input[type=number].user-success
	{ 
		background-position: right -168px!important;
		border:1px solid #57ba5f!important;
	}	

	input[type=text].user-error,
	input[type=email].user-error,
	input[type=tel].user-error,
	input[type=password].user-error,
	input[type=number].user-error
	{
		background-position: right -111px !important;
		outline: none; 
	}

	input.user-error[type=radio] {
		background: transparent none  !important;
	}

	select.user-error { 
		background-position: 88% -111px !important;
		outline: none;
	}

	.smobile select.user-error { 
		background-position: 91% -111px !important;
		outline: none;
	}

	.tablet select.user-error { 
		background-position: 92% -111px !important;
		outline: none;
	}

	input.user-success
	{ 
		background-position: right -168px!important;
		border:1px solid #57ba5f;
	}

	select.user-success {
		background-position: 88% -168px!important;
		/*border:1px solid #57ba5f;*/
	}

	.smobile select.user-success { 
		background-position: 91% -168px !important;
		outline: none;
	}

	.tablet select.user-success { 
		background-position: 92% -168px !important;
		outline: none;
	}

	.styled-select.ws-success {
		border:1px solid #57ba5f !important;
	}

	@-moz-document url-prefix(){
		form select, .validate.fbform select {width:110%;}
		select.user-success {background-position:75% -168px!important;}
		.tablet select.user-success {background-position: 75% -168px !important;}
		.smobile select.user-success {background-position: 72% -168px !important;}
		select.user-error {background-position:75% -111px!important;}
		.tablet select.user-error {background-position: 75% -111px !important;}
		.smobile select.user-error {background-position: 72% -111px !important;}
	}

	input[type=text].user-error,
	input[type=number].user-error,
	input[type=email].user-error,
	input[type=tel].user-error,
	.styled-select.ws-invalid {
	    border-color: #e46868;
	}

	/*input[type=text]:-moz-ui-invalid,
	input[type=email]:-moz-ui-invalid,
	input[type=tel]:-moz-ui-invalid
	{
	    border-color: #e46868;
	}*/

	input[type=text].user-error,
	input[type=number].user-error,
	input[type=email].user-error,
	input[type=tel].user-error,
	input[type=password].user-error,
	.styled-select.ws-invalid
 {
	    border-color: #e46868 !important;
	}

	.ws-errorbox {
		display: none !important;
	}

	.user-error + .error-box {
	    visibility: visible;
	    opacity: 1;
	    transform: translate(0, 0);
	    display: inline;
	    top:0;
	    
	}

	:-moz-ui-invalid + .error-box {
	    /*visibility: visible;
	    opacity: 1;
	    transform: translate(0, 0);
	    top:0;*/
	}

	.two-inputs.ws-invalid .error-box, .user-error + .error-box, .styled-select.ws-invalid + .error-box, .radio.row .ws-invalid + .error-box, .radio.ws-invalid + .error-box, .checkbox.ws-invalid + .error-box ,.giftsradio.row  .ws-invalid + .error-box,.giftsradio .ws-invalid + .error-box{
	    visibility: visible;
	    opacity: 1;
	    transform: translate(0, 0);
	    top: 2px;
	}
	/*gifts css*/
	.giftsradio .ws-invalid + .error-box{
		display:block;
		clear: both;
	}
	.giftsradio .columns{
		padding-right:0px;
		text-align:center;
	}
	.giftsradio  #giftsImage img{
		padding:0;
		width:280px;
		position: relative;
		vertical-align:baseline;
		text-align:center;
		 
	}
	.giftsradio  #giftsImage{
		display:inline-block;
		cursor: pointer;
		padding:10px;
	}
	.giftsradio #giftsImage:hover .overgifts{
		display:block;
	}
	.giftsradio .overgifts, .giftsradio #giftsImage:hover .gifts{
		display:none;
	}
	.giftsradio label{
		cursor:default;
	}
	.giftsradio  #giftsImage.checked .gifts{
		display:none;
	}
	.giftsradio  #giftsImage.checked .overgifts{
		display:block;
	}
	.giftsradio span.checked{
		position: absolute;
		display: block;
		width:31px;
		height:31px;
		z-index:99999999;
		left:85%;
		background:  url(../img/gifts/gift_checked.png) no-repeat left top;
	}
	
	
	/*end gifts css*/
	.checkbox.ws-invalid + .error-box,
	.checkbox.ws-invalid .error-box {display:block; text-align:left; top:-10px; opacity:1; visibility:visible;}

	.ws-invalid #password1 + .error-box {
		margin-bottom: 18px;
	}

	.content form .row .columns p.hint {display:inline-block; font-size:0.625em; font-family:"Antenna-Light"; position:relative; top:-24px;}
	.content form .row .columns p.hint a {color:#000; text-decoration:underline;}
	.content form .row .columns p.hint-content {display:none;}
	/*a.small-link {
		color: #000;
		display: inline-block;
		font-size: 0.625em;
		margin: 0;
		position: relative;
		text-decoration: underline;
		top: -24px;
	}*/

	/* sign up benefits - right col */
	.signup-benefits {
		margin-top: 10px;
	}

	.signup-benefits li {
		background: url(../img/sprite_reg-form-icons.png) 0 0 no-repeat;
		min-height: 72px;
		padding-left: 62px;
	}

	.signup-benefits li.control {
		background-position: 0 -150px;
	}

	.signup-benefits li.make-mark {
		background-position: 0 -300px;
	}

	.signup-benefits li.stay-know {
		background-position: 0 -450px;
	}

	.signup-benefits h4 {
		border-bottom: 0;
		font-family: "Antenna-Bold", Arial, Helvetica, sans-serif;
		font-size: 1em;
		margin: 0 0 2px;
		padding: 0;
		text-align: left;
	}

	.signup-benefits p {
		font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
	}

	a.form-link {
		color: #40a8df;
		font-family: "Antenna-Regular", Arial, Helvetica, sans-serif;
		font-size: 0.75em;
		position: relative;
		top: -20px;
	}

	.forms .content .row .columns .columns {padding-top:40px; margin-top:20px; border-top:1px solid #d6d6d6;}

	.forms .content .row .columns .columns:first-child,
	.desktop.forms .content .row .columns .columns,
	.tablet.forms .content .row .columns .columns {padding-top:0; margin-top:0; border-top:none;}



}

/* Styles for screens that are in between 320px and 762px wide - min-width: 500px  */
@media only screen and (min-width: 31.25em) {

	.smobile select.user-error { 
		background-position: 92% -111px !important;
	}

	.smobile select.user-success {
		background-position: 92% -168px!important;
	}

}

/* Styles for screens that are at least 768px */
@media only screen and (min-width: 48em) {
	
	#badge > span.logo-wide {
		display: block;
		height: 32px;
		width: 164px;
		font-size: 0;
		line-height: 0;
		background-repeat: no-repeat;
	}

	.large-10 {width:100%;}

	.large-6 {
	    position: relative;
	    width: 50%;
	}

	.headings h2.large {
	    font-size: 2.85em;
	    padding: 36px 0 10px;
	    margin:0 auto;
	    color: #333;
	    width:80%;
   }

   .headings h3.large {
	    font-size: 1.313em;
	    padding: 0 50px 37px 50px;
	    margin:0 auto;
	    color: #999;
	    width:60%;
   }

   .forms .content .row {
		padding: 42px 30px 30px;
	}


   .headings h2.extra-large {font-size:3.125em;}
   .headings h3.extra-large {font-size:1.31em;}

   .forms .content .content-btn-group h3 {font-size:1.31em;}

	#deleteoverlay #bg{
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		margin-top: 30px;
	}
	

}

/* Styles for screens that are at least 977px (960px + 17px to cater for FF/IE adding the scrolbar to the pixel count) */
@media only screen and (min-width: 62.1em) {
	.large-10 {
	    width: 83.3333%;
	}

	.signup-benefits {
		margin-top: 3px;
	}

	.content input.btn {
		margin: 5px auto;
	}

	a.next-btn,a.smallbtn,input.smallbtn{
		margin-bottom: 0;
	}

	.fbform .large-6 > .row > .columns.checkbox:first-child {padding-top:25px;}

	.headings h2.large {width:90%;}
	.headings h3.large {width:90%;}

	#deleteoverlay #bg{
		width: 39%;
		margin-left: 30.5%;
		margin-right: 30.5%;
		margin-top: 40px;
	}

}