/* This file only implemented into JP site */

/*Title*/
.apa.tablet .content-section .page-heading h1{font-size:2em;}
.apa.desktop .content-section .page-heading h1{font-size:1.6875em;}

/*Dashboard*/
.apa.desktop .widgets ul li.customized .content-inside ul.icons-list li{font-size:inherit;}
.apa.desktop .widgets ul li.customized .content-inside ul.icons-list li a,.apa .widgets ul li.customized .content-inside ul.icons-list li p{font-size:0.857em;text-align:left;}

/*Footer*/
.apa .hotspots-wrap .hotspots .hotspot h3{font-size:16px;}

/*Dealer*/
.apa .dealer-results .contact li{word-break:keep-all;}

/*Support*/
.apa.desktop #versionselect h3,.apa.tablet #versionselect h3{font-size:2em;}
.apa .single-image img{width:100%;height:100%;}

/*Sync Floating button*/
DIV.sideflow UL.expand{width:88px !important;overflow:hidden;}

/*******LeftBTN********/
/*Feature of Hands Free phone calls - center vehicle*/
/*Please add the following two lines if the left btn has two lines*/
#body #pageselect > DIV{height:32px;}
#body #pageselect > DIV.prebuttons > A > span{position:relative;top:-7px;}
/*******RightBTN********/
/*Feature of Hands Free phone calls - center vehicle*/
/*Please add the following two lines if the right btn has two lines*/
#body #pageselect > DIV{height:32px;}
#body #pageselect > DIV.nextbuttons > A > span{position:relative;top:-7px;}

