body{
	background-color: #fff;
}

a{
	color:#b2996a;
}
.ui-header .ui-controlgroup-horizontal .ui-btn-inner{
	border: 1px solid #0e0e0f;
	padding-top: 4px;
}
.ui-btn-up-c{
	color:#b2996a;
}
.ui-mobile .ui-page{
	background:none;
}

/******	Header			******/

.ui-header.ui-bar-c {
	background: #b59d6f;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ab9262),to(#c0ab83));
	background-image: -webkit-linear-gradient(#ab9262,#c0ab83);
	background-image: -moz-linear-gradient(#ab9262,#c0ab83);
	background-image: -ms-linear-gradient(#ab9262,#c0ab83);
	background-image: -o-linear-gradient(#ab9262,#c0ab83);
	background-image: linear-gradient(#ab9262,#c0ab83);
}
.ui-header.ui-bar-c:first-child {
	margin: 0;
	padding: 0.5em 0 0.2em;
}
.ui-header .ui-btn-right {
	top: 21px;
	background:none;
	color:#533e14;
	border: 1px solid #705c33;
}
.ui-header .ui-btn-right.ui-btn-up-c{
	background-color:#fff;
}
.ui-header .ui-btn-right.ui-btn-hover-c{
	background-color:#efefef;
}
.ui-header .ui-btn-right span{
	font-weight: 700;
	text-shadow: 0 1px 1px #7e6d4d;
	moz-border-radius: 0;
   -webkit-border-radius: 0;
    border-radius: 0;
}
.back.ui-btn-left {
	left: 9px;
	top: 21px;
}
.back.ui-btn-left .ui-btn-text{
	text-indent:-9999px; 
	display:block;
}
a.back.ui-btn-icon-left.ui-shadow{
	box-shadow:none;
	-moz-box-shadow: none;
   -webkit-box-shadow: none;
}

.fbform .buttons .ui-btn-inner{
	background: none;
}
.ui-btn-up-b,.navbtns .ui-btn-up-g,.ui-btn-up-c,.fbform .buttons .ui-btn-inner{
	background-color: #161616;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#393939),to(#161616));
	background-image:-webkit-linear-gradient(#393939,#161616);
	background-image:-moz-linear-gradient(#393939,#161616);
	background-image:-ms-linear-gradient(#393939,#161616);
	background-image:-o-linear-gradient(#393939,#161616);
	background-image:linear-gradient(#393939,#161616);
}
.ui-btn-hover-b,.navbtns .ui-btn-hover-g,.ui-btn-hover-c,.ui-header .ui-controlgroup-horizontal .ui-btn-active{
	background-color: #505050;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#2a2a2a),to(#505050));
	background-image:-webkit-linear-gradient(#2a2a2a,#505050);
	background-image:-moz-linear-gradient(#2a2a2a,#505050);
	background-image:-ms-linear-gradient(#2a2a2a,#505050);
	background-image:-o-linear-gradient(#2a2a2a,#505050);
	background-image:linear-gradient(#2a2a2a,#505050);
}
.ui-btn-hover-b,.ui-btn-up-b,.ui-btn-hover-c,.ui-btn-up-c{
	color:#fff;
	font-weight:normal;
}

.ui-controlgroup .ui-controlgroup-controls{
	width:100%;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius: 0;
}
/******	Home			******/
.black{
	background: none;
	background-color: #222;
}
.imglink .ui-btn-up-c,.imglink .ui-btn-hover-c{
	color:#553900;
}
.ui-btn-up-c span,.ui-btn-hover-c span{
	font-weight: normal;
}
.imglink .ui-btn-hover-c{
	background-color: none;
}
.imglink .ui-btn-inner{
	padding: 0.6em 8px 0.6em 12px;
}
/******	Icons			******/
.ui-icon-back-btn,.icon-next,.icon-dealer,.icon-gallery,.icon-heritage,.icon-switch,.icon-owners,.icon-media,.icon-lincoln-now,.icon-arrow,.icon-brandvalue{
	background: url("../img/lincoln_icons.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 25px;
	margin: 2px auto;
	width: 25px;
}
.icon-share{
	width: 23px;
	height: 25px;
	height: 25px;
	margin: 2px auto;
	background-position: 0 -173px;	
}
.navbtns .ui-btn-text span.icon-share{

}
.icon-next {
width: 2.3%;
background-position: 0  -3px;
}
.icon-brandvalue{
	background-position: 0  -38px;
}
.icon-heritage{
background-position: 0 -74px;	
}
.icon-gallery{
background-position: 0 -114px;	
}
.icon-dealer{
background-position: 0 -198px;	
}
.icon-owners{
background-position: 0 -158px;	
}
.icon-switch{
background-position: 0 -236px;	
}
.icon-lincoln-now{
background-position: 0 -314px;	
}
.icon-media{
background-position: 0 -278px;	
}
.ui-icon-back-btn{
background-position: 0 -360px;	
}
.icon-arrow{
	background-position: 0 -400px;	
}

/******	Menu Page			******/
.wrapper {
background-color: #a78e5e;
background-image: -webkit-gradient(linear,left top,left bottom,from(#ab9262),to(#bda77e));
background-image: -webkit-linear-gradient(#ab9262,#bda77e);
background-image: -moz-linear-gradient(#ab9262,#bda77e);
background-image: -ms-linear-gradient(#ab9262,#bda77e);
background-image: -o-linear-gradient(#ab9262,#bda77e);
background-image: linear-gradient(#ab9262,#bda77e);
}

.ui-mobile .ui-page.ui-dialog.ui-overlay-a{
background-color: #bea880 !important;
background-image: -webkit-gradient(linear,left top,left bottom,from(#bda77e),to(#bea880)) !important;
background-image: -webkit-linear-gradient(#bda77e,#bea880) !important;
background-image: -moz-linear-gradient(#bda77e,#bea880) !important;
background-image: -ms-linear-gradient(#bda77e,#bea880) !important;
background-image: -o-linear-gradient(#bda77e,#bea880) !important;
background-image: linear-gradient(#bda77e,#bea880) !important;
}
.ui-dialog .navbtns .ui-btn-up-g  .ui-btn-inner,.ui-dialog .navbtns .ui-btn-hover-g .ui-btn-inner{
	text-indent:0.3em;
}
/******	content		******/
.pager{
	color:#bbae94;
}
.ui-body-c{
	color:#785b25;
}
.navbtns .ui-btn-up-a .ui-btn-inner, .navbtns .ui-btn-hover-a .ui-btn-inner{
	text-indent:0;
}
/******	featues	******/
.showlist h2{
	color:#785b25;
}


/********Form   ************/
.fbform{color:#333;}
.fbform .buttons  div div.ui-btn-up-c:nth-child(2), .fbform .buttons  div div.ui-btn-up-c:nth-child(2) .ui-btn-inner, .fbform .buttons div div.ui-btn.ui-btn-corner-all:nth-child(2):hover,.fbform .buttons div div.ui-btn.ui-btn-corner-all:nth-child(2):hover .ui-btn-inner{
	background:none;
	color:#000;
} 
.btn .ui-btn-hover-b,.btn .ui-btn-up-b{
	background:none;
	color:#000;
	text-shadow:none;
	border:2px solid #ccc;
	font-weight: bold;
}
.fbform > p {
	margin: 0.4em;
}

.btn a[data-theme="b"]{
	margin:1em 0;
}
#captchareload{
	margin-left: 5px;
	display: block;
}
.fbform .ui-checkbox+ label{
	margin-left: 30px;
}
.fbform .ui-checkbox input, .ui-radio input{
	width:20px;
	height:20px;

}
.fbform .ui-checkbox input{
	margin: 0 5px;
}

/******	Footer			******/
.ui-footer{
	background-color: #aa9162;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#a48b5b),to(#c2ad86));
	background-image: -webkit-linear-gradient(#ab9262,#c2ad86);
	background-image: -moz-linear-gradient(#ab9262,#c2ad86);
	background-image: -ms-linear-gradient(#ab9262,#c2ad86);
	background-image: -o-linear-gradient(#ab9262,#c2ad86);
	background-image: linear-gradient(#ab9262,#c2ad86);
	border: none;
	text-align:  center;
	padding: 0 0 1em;
}
.ui-footer .dark{
	text-align: left;
	background:none;
	font-size: 0.6em;
}
.ui-footer a.ui-link, .ui-footer a.ui-link:visited{
	color: #fff;
	font-size: 0.8em;
	font-weight: normal;
}
.ui-bar-c .ui-link:hover {
	color: #fff;
}
.ui-bar-c {
	text-shadow: none;
}
.ui-footer ul {
	border: none;
	margin: 0 auto;
	padding: .6em 0 0;
	text-align: left;
}
.ui-footer p{
	border-bottom: 1px solid #fff;
	padding-bottom: 0.8em;
	margin: 0.6em 12px 0.6em;
}