.ui-btn-up-b {
 
 background: #274b7f;
 
 background-image: -webkit-gradient(linear,left top,left bottom,from( #547cad ),to( #274b7f ));
 background-image: -webkit-linear-gradient( #547cad,#274b7f );
 background-image: -moz-linear-gradient( #547cad,#274b7f );
 background-image: -ms-linear-gradient( #547cad,#274b7f );
 background-image: -o-linear-gradient( #547cad,#274b7f );
 background-image: linear-gradient( #547cad,#274b7f );
}
.ui-btn-hover-b:hover {

 background-image: -webkit-gradient(linear,left top,left bottom,from( #697c91 ),to( #384d63 ));
 background-image: -webkit-linear-gradient( #697c91,#384d63 );
 background-image: -moz-linear-gradient( #697c91,#384d63 );
 background-image: -ms-linear-gradient( #697c91,#384d63 );
 background-image: -o-linear-gradient( #697c91,#384d63 );
 background-image: linear-gradient( #697c91,#384d63 );
}
.ui-header .ui-controlgroup-horizontal .ui-btn-inner {

	border: 1px solid #114367;
	border-top-color: #7ea0bf;
	border-right: none;
}
.navbtns .ui-btn-up-g,.ui-btn-up-b{

 background: #274b7f;
 background-image: -webkit-gradient(linear,left top,left bottom,from( #315886 ),to( #1a3b64 ));
 background-image: -webkit-linear-gradient( #315886,#1a3b64 );
 background-image: -moz-linear-gradient( #315886,#1a3b64 );
 background-image: -ms-linear-gradient( #315886,#1a3b64 );
 background-image: -o-linear-gradient( #315886,#1a3b64 );
 background-image: linear-gradient( #315886,#1a3b64 );
}
.navbtns .ui-btn-hover-g{

 background-image: -webkit-gradient(linear,left top,left bottom,from( #0e334a ),to( #0b273a ));
 background-image: -webkit-linear-gradient( #0e334a,#0b273a );
 background-image: -moz-linear-gradient( #0e334a,#0b273a );
 background-image: -ms-linear-gradient( #0e334a,#0b273a );
 background-image: -o-linear-gradient( #0e334a,#0b273a );
 background-image: linear-gradient( #0e334a,#0b273a );
	
}

.dark {

	background-color: #e00000;
}
.imglink .ui-btn-text b {

	color: #00578f;
}

.ui-header .ui-btn-right .ui-btn-text {

	color: #dc2f12;
}
.imglink .ui-btn-text span {

	color: #b80000;
}
.ui-header .ui-btn-up-c,.ui-header .ui-btn-hover-c {

	border: 1px solid #e00000;
}
.icon-next{

	background: url("../img/trucks/icons.png") no-repeat scroll 0 0 transparent;
}
.imglink .ui-btn-text span {
 
    font-size: 13px;
}
.wrapper {

	background: url("../img/trucks/bg.gif");
}
.ui-footer ul {

	border-bottom: none;
}
.ui-footer a.ui-link{

	color: #333333 !important;
}
.ui-footer a.ui-link:hover{

	color: #2489ce !important;
}
.ui-footer.ui-bar-c {

	border:none;
	padding-bottom: 10px;
	background: url("../img/trucks/footer.gif") repeat-x bottom left;
}
.ui-header .back span.ui-btn-text{

	text-indent: -9999px;
	visibility: hidden;
}
.ui-header .back{

	border: none !important;
}
.ui-icon-back-btn{

	background: url("../img/trucks/icons.png") no-repeat scroll 0 -40px transparent;
}
.black{
	font-size:18px;
    background: #b22811 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3f20),to(#b22811) ) !important;
    background-image: -webkit-linear-gradient(top, #ff3f20, #b22811) !important;
    background-image: -moz-linear-gradient(top, #ff3f20, #b22811) !important;
    background-image: -ms-linear-gradient(top, #ff3f20, #b22811) !important;
    background-image: -o-linear-gradient(top, #ff3f20, #b22811) !important;
    background-image: linear-gradient(top, #ff3f20, #b22811) !important;
}
.ui-header .ui-controlgroup-horizontal .ui-btn-active{

	background: #19304f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34516f),to(#19304f) );
    background-image: -webkit-linear-gradient(top, #34516f, #19304f);
    background-image: -moz-linear-gradient(top, #34516f, #19304f);
    background-image: -ms-linear-gradient(top, #34516f, #19304f);
    background-image: -o-linear-gradient(top, #34516f, #19304f);
    background-image: linear-gradient(top, #34516f, #19304f);
}
.gray{

	color:#505050;
	background-color: #e8e8e8;
}
.showlist li {

	border-bottom: 1px solid #e8e8e8;
}
.showlist b {

	font-size:15px;
	color: #404040;
}
.showlist span{

	font-size:13px;
	color: #666666;
}
.article h3>b {

	color: #404040;
}
.article h5>b {

	color: #666666;
}
.icon-showroom {
	
	background-position: 0 -2000px;
}