/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
html[xmlns] .slides {display: block;}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position:relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}

* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
// .carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 48px; height: 48px; position: absolute; top: 50%; z-index: 10; overflow: hidden; cursor: pointer; z-index:2; text-indent:-9999px;}
.flex-direction-nav .flex-prev { right: 0px; background: url('#{$img-path}/sprite.png') no-repeat -704px -48px ; }
.flex-direction-nav .flex-next { margin-top:-48px; right: 0px; background: url('#{$img-path}/sprite.png') no-repeat -752px 0px; }
/*.flexslider .flex-prev:hover {background-position: 0 0;}
.flexslider .flex-next:hover {background-position: 0 0;} */

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:hover  { opacity: 1; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 0; text-align: center; z-index:2;}
.flex-control-nav li {margin: 0 17px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; border-radius: 50%; border:1px solid #FFFFFF; @include single-transition; }
.flex-control-paging li a:not(.active):hover { @include scale-element(1.5,1.5); }
.flex-control-paging li a.flex-active { background: none; border:1px solid #FFFFFF; @include scale-element(1.5,1.5); }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.light .flex-control-paging li a {background:$primary-color; border:1px solid $primary-color;}
.light .flex-control-paging li a.flex-active {background:none; border:1px solid $primary-color;}
.offer-feature {overflow:hidden;
	.flexslider {float:left; width:66.3%;}
	.hotspot {float:right; width:33%; padding:0 0 0 10px;
		.nameplate, .derivative {display:block; font:30px/29px "Antenna-Extra-Light"; color:$primary-blue; margin:0 0 0 8px; text-transform:uppercase;}
		.derivative {font-size:20px; margin:0 0 11px 8px;}
		.inner-holder {overflow:hidden;}
		.hotspot-image {display:block; margin:0 auto 14px;}
		.text {display:block; margin: 0 0 6px 21px; font:15px/19px "Antenna-Extra-Light";}
		.price-link {display:block; padding:13px 0; background:#1bbc9b; color:#fff; text-align:center; font-size:20px;
			span {font-size:15px; margin:0 0 0 10px;}
		}
		ul {margin:0 0 20px; list-style:none; overflow:hidden; padding:14px 0 0; text-align:center;
			li {display:inline-block; vertical-align:top; margin:0 0 0 25px; width:60px;
				span {display:block; 
					&:first-child {width:60px; height:60px; margin:0 auto 5px; text-indent:-9999px; overflow:hidden;}
				}
				.icon-ancap {background:url(../img/ancap-5-star.svg) no-repeat;}
				.icon-sync {background:url(../img/sync.svg) no-repeat;}
				.icon-bluetooth {background:url(../img/bluetooth.svg) no-repeat;}
				.icon-active-park-assist {background:url(../img/active-park-assist.svg) no-repeat;}
				.icon-power-start {background:url(../img/power-start.svg) no-repeat;}
				.icon-rain-sensing-vipers {background:url(../img/rain-sensing-vipers.svg) no-repeat;}
				.icon-usb {background:url(../img/usb.svg) no-repeat;}
				.icon-rear-parking-sensor {background:url(../img/rear-parking-sensor.svg) no-repeat;}
				.icon-reverse-camera {background:url(../img/reverse-camera.svg) no-repeat;}
				.icon-cruise-control {background:url(../img/cruise-control.svg) no-repeat;}
				.icon-ecoboost {background:url(../img/ecoboost.svg) no-repeat;}
				.icon-hands-free {background:url(../img/hands-free.svg) no-repeat;}
				.icon-1tonne-payload {background:url(../img/1tonne-payload.svg) no-repeat;}
				.icon-18alloy-wheel {background:url(../img/18alloy-wheel.svg) no-repeat;}
				.icon-19alloy-wheel {background:url(../img/19alloy-wheel.svg) no-repeat;}
				.icon-diesel {background:url(../img/diesel.svg) no-repeat;}
				.icon-6airbags {background:url(../img/6airbags.svg) no-repeat;}
				.icon-torque {background:url(../img/torque.svg) no-repeat;}
				.icon-front-parking {background:url(../img/front-parking.svg) no-repeat;}
				.icon-torque-vectoring-control {background:url(../img/torque-vectoring-control.svg) no-repeat;}
				.icon-adaptive-cruise-control {background:url(../img/adaptive-cruise-control.svg) no-repeat;}
				.icon-sat-nav {background:url(../img/sat-nav.svg) no-repeat;}
				.icon-eco-mode {background:url(../img/eco-mode.svg) no-repeat;}
				.feature {font-size:8px;}
				&:first-child {margin:0;}
			}
		}
		.disclaimer {float:right; margin:0;}
	}
}
@media #{$large-up} {
	.flex-control-nav li {margin: 0 5px;}
	.flex-control-paging li a {width: 8px; height: 8px;}
}
