/* DEFAULTS FIRST -- the following styles are used throughout the website, regardless of screen size */

#footer {padding-bottom: 0px; margin-top: 10px;}

.main{clear: both;padding-left: 0;padding-right: 0;}
.main > .row {margin-right: 0; margin-left: 0;}
.aside{/*min-height: 400px;*/padding-bottom: 20px;}

/* steps nav */
.steps-nav > ul{margin: 0;}
.steps-nav{text-align: center;}
.steps-nav .current-step{display: inline-block; font-size: 16px; padding: 10px 30px;margin: 0 auto;text-align: center;color: #7a1318;cursor: pointer;position: relative;z-index: 1;}
span.arrow{background: transparent url('../img/bnp-icons.png') no-repeat 1px -50px;display: block;width: 6px;height: 6px;position: absolute;z-index: 2;top: 50%;margin-top: -3px;}
.expanded.active span.arrow,
.steps-nav.active span.arrow{background-position: right -50px;}
.steps-nav .current-step span.arrow{right: 12px;}
.steps-nav > ul{padding: 10px 0;list-style: none;width: 200px;margin: 0 auto;}
.steps-nav > ul li{padding: 5px;}

.disabled {opacity: .3; cursor: default;}
.disabled:hover {cursor: default;}

/* car options */
.car-options{padding: 0px 0 20px 0;}
.car-options ul{margin: 0;padding: 0;list-style: none;}
.car-options > ul > li{clear: both;}
.car-options ul > li > span.title{display: block;padding: 10px 5px;cursor: pointer;border-top: 1px #9fa1a1 solid;color: #000000;position: relative;z-index: 2; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; font-size:20px;}
.car-options ul > li:first-child > span.title {border-top: 0;}
.car-options ul > li > span.title span.arrow {display: inline-block; margin-left: 10px; position: absolute; left: inherit; right: inherit; top: 50%; z-index: 2;}
.car-options ul > li > ul.dropdown{display: none;padding: 5px 0;float: left;width: 100%; border-top: 1px #9fa1a1 solid;}
.car-options ul > li > ul.dropdown.colors {padding-left: 2px;}
.car-options ul > li.active > ul.dropdown{display: inherit;}
.car-options ul > li > ul.dropdown.colors > li{float: left;margin: 0;padding: 0;display: inline-block;}
.car-options ul > li > ul.dropdown.colors > li{margin-left: 5px; margin-bottom: 5px; position: relative; height: 30px;width: 74px;}
.car-options ul > li > ul.dropdown.colors > li > div.color {width: 74px; height: 30px; position: relative; cursor: pointer; }
.car-options ul > li > ul.dropdown.colors > li > div.color span {font-size: 0; line-height: 0; position: absolute; z-index: 10; left: 2px; top: 2px; bottom: 2px; right: 2px;}
.car-options ul > li > ul.dropdown.colors > li div.color-popup-wrap {display: none; position: absolute; z-index: 100; padding-bottom: 7px; width: 84px; left: -5px; bottom: 30px;background: transparent url('../img/dark-popup-arrow.png') no-repeat center bottom;}
.car-options ul > li > ul.dropdown.colors > li div.color-popup-wrap.active {display: block;}
/*.car-options ul > li > ul.dropdown.colors > li.active div.color-popup-wrap {display: block;}*/
.car-options ul > li > ul.dropdown.colors > li.active > div.color span { border:1px #ffffff solid;}
.car-options ul > li > ul.dropdown.colors > li div.color-popup {background-color: #4f4c43; padding: 3px;}
.car-options ul > li > ul.dropdown.colors > li div.color-popup p {margin: 0; color: #ffffff; padding-bottom: 3px; font-size: 12px; line-height: 1.1em; text-align: center;}

.car-options ul > li > ul.dropdown.thumbnails > li{display: block; width: 100%; margin-bottom: 5px; position: relative;}
.option-thumbnail-wrap {overflow: hidden; width: 100%; height: 114px; padding: 2px; }

.option-thumbnail-wrap .option-thumbnail div.image {float: left; height: 114px; text-align: center;}
.option-thumbnail-wrap .option-thumbnail div.image img {display: inline-block; width: 105px; height: 105px; padding: 4px; border: 1px #a9a9a9 solid; cursor: pointer;}
.option-thumbnail-wrap .option-thumbnail div.status {float: left; height: 114px; text-align: center; padding: 35px 0 0 20px;}
.option-thumbnail-wrap .option-thumbnail span.underline-btn {padding: 0 0 2px 0; display: block; cursor: pointer; border-bottom: none;}
.option-thumbnail-wrap .option-thumbnail span.underline-btn.apply {border-bottom: 1px #4f4c43 solid;}
.option-thumbnail-wrap .option-thumbnail span.underline-btn.remove {border-bottom: 1px #b45f1a solid;}
.option-thumbnail-wrap .option-thumbnail span.underline-btn.included {cursor: default; border-bottom: 1px #ffffff solid; opacity: 1;}
.option-thumbnail-wrap .option-thumbnail span.underline-btn.included span {color: #b45f1a; background-color: transparent;}
.option-thumbnail-wrap .option-thumbnail span.underline-btn span {display: inline-block; color: #ffffff; font-size: 12px; padding: 8px 15px; text-align: center; background-color: #4f4c43;}



.option-popup-wrap {display: none; width: 100%; padding-top: 7px; background: transparent url('../img/dark-popup-arrow.png') no-repeat left top;}
.option-popup-wrap.active {display: block;}
.option-popup-wrap .option-popup { background-color: #4f4c43;}
.option-popup-wrap .option-popup div.image {display: none}
.option-popup-wrap .option-popup div.image img {width: 100%; height: 100%;}

.option-popup-wrap .option-popup div.desc {width: 100%; padding: 10px 10px 10px 10px; color: #fff; position: relative;}
.option-popup-wrap .option-popup div.desc h5 {font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; font-weight: normal; font-size: 16px; color: #fff; margin: 0;}
.option-popup-wrap .option-popup div.desc p {font-size: 12px;padding: 0 0 10px; color: #fff;}

.car-options ul > li > ul.dropdown.colors > li > span{display: block;font-size: 0;line-height: 0;}
.car-options ul > li > ul.dropdown.colors > li.color1{background-color: #000;}


.aside .details{display: none;}
.steps-module .amount {display: none;}

.arrow-btn{display: inline-block;padding: 0 0 2px 0;border-bottom: 2px #ffffff solid;}
.arrow-btn:hover{border-bottom: 2px #b45f1a solid;}
.arrow-btn span{display: inline-block;padding: 9px 40px 9px 20px;color: #fff;background: #4f4c43 url('../img/triangle-arrow.png') right center no-repeat;font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;font-size: 16px;}

/* select series */
.series-row{margin: 0;padding: 0;list-style: none;}
.series-row > li{margin: 0;padding: 0;}
.series-detail{display: none;}
.series-row.grid-4 > li{width:25%;}
.series-row.grid-5 > li{width:180px;padding:0;margin-right:15px;}
.series-row.grid-5 > li:last-child{margin-right:0;}
.series-row.grid-2 > li{width:50%;}
.series-row > li > .inside > div.title{display: none;}
.series-row > li > .inside > .series{margin: 0;padding: 0;list-style: none;}
.series-row > li > .inside > .series > li{margin-bottom: 5px;clear: both;}
.series-row > li > .inside > .series > li > .name{padding: 10px 10px 10px 30px;color: #fff;font-size: 12px; position: relative; background: #4f4c43;cursor: pointer; text-align: right;}
.series-row > li > .inside > .series > li > div.series-detail{overflow: hidden;position: relative; text-align: center;}
.series-row > li > .inside > .series > li > div.series-detail .title{display: none;}
.series-row > li > .inside > .series > li > .name span.fake-radio {display: inline-block; position: absolute; left: 10px; top: 50%; margin-top: -6px; width: 11px; height: 11px; background: transparent url('../img/bnp-icons.png') 0 -700px no-repeat;}
.series-row > li > .inside > .series > li.active > .name span.fake-radio {background-position: right -700px;}
.series-row > li > .inside > .series > li > .name span.name-wrap {position: absolute; left: 30px; padding-right: 70px; text-align: left;}
.series-row > li > .inside > .series > li > div.series-detail ul.list{list-style: none; width: auto; padding: 5px 0;}
.series-row > li > .inside > .series > li > div.series-detail .compare-btn {display: none;}
.series-row > li > .inside > .series > li > div.series-detail .top-compare-btn a {border-bottom: 1px #928057 solid; padding:0 10px 5px 10px;}
.series-row > li > .inside > .series > li > div.series-detail .compare-btn a,
.series-row > li > .inside > .series > li > div.series-detail .top-compare-btn a {font-family: "ProximaNova-Italic-Roman", Arial, Helvetica, sans-serif;color: #b45f1a;font-size: 12px;text-decoration: none;}
.series-row > li > .inside > .series > li > div.series-detail ul.list li{padding: 2px 0; line-height: 1.4em;}
/** * BxSlider v4.0 - Fully loaded, responsive content slider * http://bxslider.com * * Written by: Steven Wanderski, 2012 * http://stevenwanderski.com * (while drinking Belgian ales and listening to jazz) * * CEO and founder of bxCreative, LTD * http://bxcreative.com
/** RESET AND LAYOUT===================================*/
.bx-wrapper{position: relative;margin: 0 auto 60px;padding: 0;*zoom: 1;}
.bx-wrapper img{max-width: 100%;display: block;}
/** THEME===================================*/
.bx-wrapper .bx-viewport{-moz-box-shadow: 0 0 5px #ccc;-webkit-box-shadow: 0 0 5px #ccc;box-shadow: 0 0 5px #ccc;border: solid #fff 5px;left: -5px;background: #fff;}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position: absolute;bottom: -30px;width: 100%;}
/* LOADER */
.bx-wrapper .bx-loading{min-height: 50px;background: url('../img/bx_loader.gif') center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
/* PAGER */
.bx-wrapper .bx-pager{text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #666;padding-top: 20px;}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display: inline-block;*zoom: 1;*display: inline;}
.bx-wrapper .bx-pager.bx-default-pager a{background: #666;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background: #000;}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev{left: 10px;background: url('../img/controls.png') no-repeat 0 -32px;}
.bx-wrapper .bx-next{right: 10px;background: url('../img/controls.png') no-repeat -43px -32px;}
.bx-wrapper .bx-prev:hover{background-position: 0 0;}
.bx-wrapper .bx-next:hover{background-position: -43px 0;}
.bx-wrapper .bx-controls-direction a{position: absolute;top: 50%;margin-top: -16px;outline: 0;width: 32px;height: 32px;text-indent: -9999px;z-index: 9999;}
.bx-wrapper .bx-controls-direction a.disabled{display: none;}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto{text-align: center;}
.bx-wrapper .bx-controls-auto .bx-start{display: block;text-indent: -9999px;width: 10px;height: 11px;outline: 0;background: url('../img/controls.png') -86px -11px no-repeat;margin: 0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active{background-position: -86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop{display: block;text-indent: -9999px;width: 9px;height: 11px;outline: 0;background: url('../img/controls.png') -86px -44px no-repeat;margin: 0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active{background-position: -86px -33px;}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align: left;width: 80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right: 0;width: 35px;}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption{position: absolute;bottom: 0;left: 0;background: #666\9;background: rgba(80, 80, 80, 0.75);width: 100%;}
.bx-wrapper .bx-caption span{color: #fff;font-family: Arial;display: block;font-size: .85em;padding: 10px;}

/* custom style for the car gallery based on bxslider */
.car-stage {position: relative;}
.rad-overlay-wrap .car-stage {}
.car-stage .controls-direction a {position: absolute; top: 50%; margin-top: -16px; outline: 0; text-indent: -9999px; z-index: 999; width: 36px; height: 36px; background-image: url('../img/bnp-icons.png');}
.car-stage .controls-direction a.prev {background-position: left -350px; left: 0;}
.car-stage .controls-direction a.next {background-position: right -350px; right: 0;}
.car-stage .pager {position: absolute; width: 100%; z-index: 100;bottom: 10px;padding-top: 0; text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #666;padding-top: 20px;}
.car-stage .pager .pager-item {display: inline-block;}
.car-stage .pager .pager-item a {border: 0;background: transparent url("../../lincoln-common/img/tools_sprite.png") no-repeat -94px -6px;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
.car-stage .pager .pager-item a:hover,
.car-stage .pager .pager-item a.active {background-position: -126px -6px;}

ul.car-gallery{margin: 0;padding: 0; list-style: none;}
ul.car-gallery > li {position: relative; display: none;}
ul.car-gallery > li.active {display: block;}
ul.car-gallery > li div.layer img,
ul.car-gallery > li div.layer-bg img {width: 100%;}
.bx-wrapper ul.car-gallery > li {display: block;}
.car-stage .bx-wrapper .bx-viewport{border: none;box-shadow: none;left: 0;}
.car-stage .bx-wrapper .bx-pager{z-index: 100;bottom: 10px;padding-top: 0;}
.car-stage .bx-wrapper .bx-pager.bx-default-pager a{background-color: #262826;border: 1px #000 solid;}
.car-stage .bx-wrapper .bx-pager.bx-default-pager a:hover,.car-stage .bx-wrapper .bx-pager.bx-default-pager a.active{background-color: #fff;border: 1px #000 solid;}
.car-stage .bx-wrapper{margin-bottom: 0;}

/* layer thing */
.car-stage .layer{position: absolute;left: 0;right: 0;top: 0;bottom: 0; }



/* comparison */
.comparison-wrap{position: absolute;z-index: 100;left: 0;top: 0;bottom: 0;right: 0;}
.comparison-wrap .header{height: 60px;border-bottom: 1px #a9a9a9 solid;position: relative;z-index: 100;}
.comparison-wrap .header table{width: 100%;height: 60px;}
.comparison-wrap .header table td{width: 20%;padding: 10px;font-size: 16px;font-weight: bold;text-align: center;vertical-align: middle; border: 0px; cursor: pointer;}
.comparison-wrap .details{overflow: hidden;overflow-y: scroll;position: absolute;left: 0;top: 60px;bottom: 60px;right: 0;z-index: 999;}
.comparison-wrap .details .table-wrap {padding: 15px 0; border-bottom: 1px solid #a9a9a9;}
.comparison-wrap .details table{width: 100%;}
.comparison-wrap .details table td{font-size: 12px;color: #4f4c43;text-align: center;vertical-align: middle;padding: 8px 10px; border: 0px;}
.comparison-wrap .details table td.title{text-align: left;padding-left: 35px;}
.comparison-wrap .details table td.title-bold{font-weight: bold;text-align: left;padding-left: 18px;}
.series-dropdown{display: none;}
.series-dropdown.active{display: block;position: absolute;top: 0;left: 50%;right: 0;background-color: #fff;border: 1px solid #a9a9a9; cursor: pointer;}
.comparison-wrap table td{display: none;width: 50%;}
.comparison-wrap table td.always-appear,
.comparison-wrap table td.appear{display: table-cell;}
.comparison-wrap .footer-bar {height: 60px; padding: 15px 20px 0 20px; position: absolute; left: 0; right: 0; bottom: 0; border-top: 1px solid #a9a9a9;}
.comparison-wrap .footer-bar .lcn-btn {float: right;}

/* overall review in summary page */
.rad-overlay-wrap.overall-review {bottom: auto; left: auto;top: auto; right: auto; min-height: 150px; position: relative; margin: 50px auto 50px auto; background-color: #ffffff;}
.rad-overlay-wrap.overall-review .switch-btn {position: absolute; right: 10px; bottom: 10px; z-index: 1000; cursor: pointer; border-bottom: 2px #ffffff solid; padding: 0 0 2px 0; background-color: transparent;}
.rad-overlay-wrap.overall-review .switch-btn:hover {border-bottom: 2px #b45f1a solid;}
.rad-overlay-wrap.overall-review .switch-btn span {display: block; font-size: 14px; font-weight: normal; padding: 8px 15px; color: #fff; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; background-color: #4f4c43; }
.rad-overlay-wrap.overall-review .car-stage .pager {bottom: 60px;}
.build-and-price .rad-overlay-bg {overflow-y: scroll; }

/* model select */
.border-wrap{padding: 4px;border: 1px #a9a9a9 solid;}
.model-select .tier > a{display: block;}
.model-select .tier .rollover-state{display: none;}

.model-select > .row .tier{margin-top: 5px;}
.model-select > .row .tier:first-child{margin-top: 0;}

.general-state img,
.rollover-state img{width: 100%;}

/* summary */
.summary .car-review {display: block; position: relative; cursor: pointer;}
.summary .car-review span.enlarge-icon {display: block; position: absolute; z-index: 10; right: 10px; bottom: 10px; width: 18px; height: 17px; background: transparent url('../img/bnp-icons.png') no-repeat right -300px;}
.summary .car-review img {width: 100%;}
.summary .car-review .layer {position: absolute; top: 0; left: 0; right: 0; bottom: 0;}

.summary h3.title {font-weight: normal; font-size: 20px; margin: 10px 0 6px; padding: 0 10px; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
.summary h3.title .edit {color: #b45f1a; font-size: 12px; float: right; line-height: 20px;}
.summary h3.title .price {font-size: 16px; padding: 0 20px; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
.summary.detail-sheet ul{margin: 0;padding: 0;list-style: none; line-height: 1em;}
.summary.detail-sheet ul.details {padding: 0 10px;}
.summary.detail-sheet > ul {border-bottom: 1px #b7b7b7 solid;}
.summary.detail-sheet > ul > li span.title{display: block; font-size: 14px;border-bottom: 1px #b7b7b7 solid;border-top: 1px #b7b7b7 solid;padding: 7px 10px;font-weight: normal; line-height: 1.2em; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; }
.summary.detail-sheet > div.location {border-top: 1px #b7b7b7 solid;}
.summary.detail-sheet > div.location span.title {display: block; font-size: 14px; padding: 7px 10px;font-weight: normal; line-height: 1.2em; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
.summary.detail-sheet > div.location span.title a.edit,
.summary.detail-sheet > ul > li span.title a.edit{float: right;color: #b45f1a;font-size: 12px; font-family: "ProximaNova-Reg-Roman",Arial,SimSun,宋体,STSong,"华文宋体",sans-serif;}

.summary .details li {font-size: 12px;padding: 5px 0; overflow: hidden;}
.summary .details li span {float: left;}
.summary .details li span.price {float: right;}
.summary h3.title span{display:inline;}
.summary h3.title .price{display:inline;padding:0 20px;float:none;}
/* share bar */
.icon-btn{display: inline-block; text-align: left; padding: 15px 20px 10px 40px;position: relative;font-size: 14px;font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;color: #4f4c43;text-decoration: none;}
.icon-btn.small-icon{font-size: 12px;padding-left: 30px;padding-right: 0px;color: #000000;font-family: "ProximaNova-Reg-Roman",Arial,SimSun,宋体,STSong,"华文宋体",sans-serif;border: 0; background: transparent;}
.icon-btn span.icon{display: block;position: absolute;width: 30px;height: 30px;background-image: url('../img/bnp-icons.png');left: 0;top: 50%;margin-top: -15px;}
.icon-btn.small-icon span.icon{width: 26px;height: 26px;}
.icon-btn span.icon-email{background-position: left -100px;}
.icon-btn:hover span.icon-email{background-position: right -100px;}
.icon-btn span.icon-pdf{background-position: left -150px;}
.icon-btn:hover span.icon-pdf{background-position: right -150px;}
.icon-btn span.icon-save{background-position: left -200px;}
.icon-btn:hover span.icon-save{background-position: right -200px;}
.icon-btn span.icon-share{background-position: left -250px;}
.icon-btn:hover span.icon-share{background-position: right -250px;}

.bottom-bar {padding-top: 20px;}
.bottom-bar > .columns {text-align: center; position: static;}
.icon-btn.small-icon {display: inline-block;}

.share-popup-wrap.active {display: block;}
.share-popup-wrap {display: none; position: absolute; z-index: 1000; bottom: 40px; left: 0; right: 0; width: 100%; padding-bottom: 7px; background: transparent url('../img/dark-popup-arrow.png') no-repeat center bottom; }
body div.share-popup {min-height: 40px; padding: 10px 0; background: #4f4c43; text-align: center;}
.share-popup a {display: inline-block;}
#ckepop.share-popup > a,
#ckepop.share-popup .jtico {width: 40px; height: 40px !important; background-image: url('../img/bnp-icons.png');}

#ckepop.share-popup .jtico_tsina {background-position: 0 -400px;}
#ckepop.share-popup .jtico_tqq {background-position: 0 -450px;}
#ckepop.share-popup .jtico_renren {background-position: 0 -500px;}
#ckepop.share-popup .jtico_douban {background-position: 0 -550px;}
#ckepop.share-popup .jtico_weixin {background-position: 0 -600px;}
#ckepop.share-popup .jtico:hover {opacity: 1;}
#ckepop.share-popup .jtico_tsina:hover {background-position: right -400px;}
#ckepop.share-popup .jtico_tqq:hover {background-position: right -450px;}
#ckepop.share-popup .jtico_renren:hover {background-position: right -500px;}
#ckepop.share-popup .jtico_douban:hover {background-position: right -550px;}
#ckepop.share-popup .jtico_weixin:hover {background-position: right -600px;}

/* alert box */
.alertbox.rad-overlay-wrap {bottom: auto;}
.alertbox .alert-info {position: relative; padding: 70px 10px 20px 10px;}
.alertbox .alert-info .alert-icon {position: absolute; width: 41px; height: 41px; left: 50%; top: 20px; margin-left: -20px; background: transparent url('../img/bnp-icons.png') no-repeat left -650px;}
.alertbox .alert-info .message p {padding: 0 10px; font-size: 15px; line-height: 1.2em; margin: 10px 0;}
.alertbox .alert-info .message p.highlight {color: #b45f1a;}
.alertbox .alert-info .message p.large-text {font-size: 18px; font-family: Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; padding: 8px 10px; margin: 0;}
.alertbox .alert-info .message p.border-bottom {border-bottom: 1px #d4d4d4 solid;}
.alertbox .alert-info .message p.border-top {border-top: 1px #d4d4d4 solid;}
.alertbox .alert-info .btns {padding: 15px 0; text-align: center;}

span.underline-btn {padding: 0 0 2px 0; display: inline-block; cursor: pointer; border-bottom: 1px #ffffff solid;}
span.underline-btn span {display: inline-block; color: #ffffff; font-size: 12px; padding: 8px 15px; text-align: center; background-color: #4f4c43;}
span.underline-btn:hover {border-bottom: 1px #b45f1a solid; }

.lcn-btn {display:inline-block; cursor: pointer; border-bottom: 2px #ffffff solid; padding: 0 0 2px 0; text-decoration: none; background-color: transparent;}
.lcn-btn:hover {border-bottom: 2px #b45f1a solid;}
.lcn-btn span {display: block; font-size: 14px; font-weight: normal; padding: 8px 15px; color: #fff; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; background-color: #4f4c43; }

.alertbox .alert-info .btns span.underline-btn span {font-family: Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; font-weight: normal; font-size: 18px;}

/* features list */
.features-list {border-top: 1px solid #9FA1A1}
.features-list h4.title,
.hotspots-list h4.title{margin-left: 0; margin-right: 0; font-size: 20px; padding: 10px 10px; text-align: center; font-weight: normal; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
.features-list p {padding: 3px 0 3px 20px; margin: 0; font-size: 12px; line-height: 1.2em; background: transparent url('../img/bullet-square-black.gif') no-repeat left 10px;}
.features-list .medium-4 {padding-left: 15px;}
.features-list .items-wrap {padding: 10px 0; border-top: 1px #A9A9A9 solid; border-bottom: 1px #A9A9A9 solid;}

.hotspots-list img {display: block; width: 100%; height: 100%; margin-bottom: 10px;}

/* anchor bar */
.anchor-bar{position: fixed;bottom: 0;left: 0;right: 0;height: auto;background: #fff;border-top: 1px #000 solid;z-index: 9999;}
.anchor-bar > .columns{text-align: center;padding: 3px 0;}
.anchor-bar .anchor-btn {float: left; padding: 0 10px;}
.anchor-bar .anchor-btn.disabled{opacity: 0.5}
.anchor-bar .anchor-btn a.connect {font-size: 14px; color: #4f4c43; line-height: 20px; margin-top: 10px; display: inline-block; text-decoration: none; border-bottom: 1px #b45f1a solid;}
.anchor-bar .anchor-btn span.next {display: inline-block; margin-top: 10px; font-size: 0; line-height: 0; width: 23px; height: 23px; cursor: pointer; background: transparent url('../img/bnp-icons.png') no-repeat left -750px;}
.anchor-bar .anchor-btn .icon-btn {padding-right: 0;}

/* location overlay */
#location-content {display: none;}
.rad-overlay-wrap.location-overlay {bottom: auto; min-height: inherit; height: auto; }
.rad-overlay-wrap.location-overlay .location-form {padding: 15px 20px;}
.rad-overlay-wrap.location-overlay .location-form h6 {margin: 0; font-size: 14px; font-family: Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; font-weight: normal;}
.rad-overlay-wrap.location-overlay .location-form p {font-size: 12px;}
.rad-overlay-wrap.location-overlay .location-form select {color: #000000;}
.rad-overlay-wrap.location-overlay .btn-col {padding: 20px 0; text-align: center;}
.rad-overlay-wrap.location-overlay .btn-col .arrow-btn {max-width: 155px; margin-top:0px;}

/* vehicle images carousel */
.car-stage .bx-wrapper .bx-controls-direction a {width: 36px; height: 36px; background-image: url('../img/bnp-icons.png'); }
.car-stage .bx-wrapper .bx-prev {background-position: left -350px; left: 0;}
.car-stage .bx-wrapper .bx-next {background-position: right -350px; right: 0;}

.car-stage > img {width: 100%;}

/* Styles for screens that understand media queries */
/*@media only screen{*/
	body.ltr .steps-nav,
    body.rtl .steps-nav {position: relative;z-index: 140; text-align: center;}
	.steps-nav > ul{display: none;width: 240px;position: absolute;background: #ffffff;border: 1px #a9a9a9 solid;top: 36px;left: 50%;margin-left: -120px;padding: 0 10px;}
	.steps-nav.active > ul{display: inherit;}
	.steps-nav > ul > li{border-top: 1px #a9a9a9 solid;padding: 10px 0;}
	.steps-nav > ul > li:first-child{border-top: none;}
	.steps-nav > ul > li a{color: #a9a9a9;text-decoration: none;}
	.steps-nav > ul > li a.disabled {opacity: 0.5}
	.steps-nav > ul > li.active a{color: #7a1318;}

	.steps-module-inside{position: relative;z-index: 100;}
	.steps-module .actions a.prev{width: 50px;height: 40px;display: block;background: transparent url('../img/prev-step.png') no-repeat 14px 7px;font-size: 0;line-height: 0;position: absolute;z-index: 10;left: 5%;bottom: -13px;}
	.steps-module .actions a.next{width: 50px;height: 40px;display: block;background: transparent url('../img/next-step.png') no-repeat 16px 7px;font-size: 0;line-height: 0;position: absolute;z-index: 10;right: 5%;bottom: -13px;}

	/* select series */

	.series-row > li > .inside > .series > li.active > div.series-detail{display: block;/*background: #fff;*/color: #000;font-size: 12px;}

	/* container min-height */
	.car-stage {min-height: 110px;}
/*}*/

/* Styles for screens that are at least 768px */
/*@media only screen and (min-width: 48em){*/


	.steps-nav > ul{display: inherit;}

	/* aside */
	.aside{}
	.aside .details{padding-right: 10px; margin-top: 10px; display: inherit; border-right: 1px #d4cfcc solid; }
	.steps-module .amount {display: block; margin-top: 0;}
	.steps-module .amount span{display: block; padding: 10px 0; font-size: 22px; color: #000000; font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif, Arial, Helvetica, sans-serif; font-weight: normal;}
	.steps-module .amount span.heading {font-size: 16px; padding: 10px 0 10px 20px; height: 34px; margin-right: 0; float: none;}
	.steps-module .amount span.price {font-size: 22px; text-align: center; margin-bottom: 25px; border-top: 1px #a9a9a9 solid; float: none;}

	.aside .details .title{position: relative;z-index: 1;}
	.aside .details .title > h3{display: block;line-height: 40px;margin: 0 0 12px 0;padding: 0;font-size: 17px;text-decoration: underline;text-align: left;font-weight: normal;font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; color: #000; }
	.aside .details .title .icon-master{display: none;width: 17px;height: 35px;background: transparent url('../img/bnp-icons.png') no-repeat 0 0;position: absolute;left: 0;top: 5px;z-index: 100;}
	.aside .details p {font-size: 12px;color: #4f4c43;line-height: 1.2em; margin: 0; padding: 0 0 10px 0;}
	.steps-module{padding: 10px 0;}
	.steps-module .steps-module-inside{padding-left: 30px;/*border-left: 1px #d4cfcc solid;*/}
	.steps-module .steps-module-inside > .row{margin-left: 0;margin-right: 0;}

	/* steps nav */
	.steps-nav{padding-bottom: 0;height: 32px;}
	.steps-nav .current-step{display: none;}

	/* steps nav */
	.steps-nav{padding-bottom: 0;height: 32px;}
	.steps-nav .current-step{display: none;}

	.steps-nav > ul {display: block; width: 100%; position: static; margin: 0 auto; border: 0; padding-right: 0; text-align: justify; height: 32px;}
	.steps-nav > ul:after {content: ''; width: 100%; display: inline-block;}

	.steps-nav > ul > li {display: inline-block; padding: 8px 0 0 0; border: 0;}
	.steps-nav > ul > li > a{font-size: 12px;color: #a9a9a9;text-decoration: none; padding-bottom: 7px; text-transform: uppercase;}
	.steps-nav > ul > li.active > a{color: #c47428; border-bottom: 1px #c47428 solid;}

	/* car options */
	.car-options ul > li > ul.dropdown.colors > li{}

	/* steps in the sidebar */
	.steps-module .actions{text-align: left;margin-bottom: 6px;}
	.steps-module .actions a{display: inline-block;}
	.steps-module .actions .columns{padding: 0;}

	.steps-module .actions a.prev{display: none;}
	.steps-module .actions a.arrow-btn{width: 100%;}
	.steps-module .actions a.arrow-btn span{width: 100%;text-align: center;}
	.steps-module .actions a.next{width: auto;height: auto;display: block;background: #49121a;font-size: inherit;line-height: inherit;/*border: 1px #000 solid;*/position: relative;z-index: inherit;right: inherit;bottom: inherit;}
	.steps-module .actions a span.arrow{width: 10px;height: 10px;display: block;position: absolute;right: 15px;top: 50%;margin-top: -5px;background: transparent url('../img/bnp-icons.png') no-repeat 0 -50px;}

	.actions.action-learn-more {font-family: "ProximaNova-Reg-Roman",Arial,SimSun,宋体,STSong,"华文宋体",sans-serif; font-size: 14px; margin-left: 0; padding-left: 0;margin-bottom: 53px;}
	.actions.action-learn-more .link {color: #b45f1a; margin-top: 0.6em;}
	.actions.action-learn-more br {display:none;}

	.actions.action-keep-me-informed, .actions.bottom-bar {padding-left: 4px;padding-top:5px;}
	.summary ~ .aside .action-group > .actions.action-keep-me-informed {position: static;}
	.summary ~ .aside .amount {display: block;margin-bottom:24px;}
	.summary ~ .aside  .bp-summary-call-to-actions .bp-summary-btn {margin-bottom:9px;}
	
	.main>.large-9.columns+.aside.large-3 .action-group {padding: 0 20px;left:0;}
	.aside .action-group {padding: 0 11px;left:7px;}

	.bottom-bar {padding-top: 0;}
	.bottom-bar > .columns {text-align: left;}


	/* select series */
	.series-row{margin: 0 -3px;padding: 15px 0;}
	.series-row.grid-5{margin:0 ; padding: 20px 0 10px 0;}
	.series-row:after{content: " ";display: block;height: 0;visibility: hidden;clear: both;}
	.series-row > li{width: 33.3%;float: left;padding: 0 3px;}
	.series-row > li > .inside{border: 1px #4f4c43 solid;}
    .series-row > li > .inside.selected {border: 1px #b45f1a solid;}
	.series-row > li > .inside > div.title{display: inherit;}
	.series-row > li > .inside > .title span{display: block;padding: 10px;font-size: 16px;color: #010000;text-align: center;font-family: "Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
	.series-row > li > .inside > .series{margin: 0;padding: 0;list-style: none;background: #4f4c43;height: 70px;display: table;width: 100%;vertical-align: middle;border: 4px #ffffff solid;}
	.series-row > li > .inside > .series > li{display: table-row;background: #3a3a3a;color: #fff;text-align: center;vertical-align: middle;width: 100%;}
	.series-row > li > .inside > .series > li > .name{display: table-cell;width: 100%;text-align: right;vertical-align: middle;padding: inherit;}
	.series-row > li > .inside > .series > li > .name .series-name {display: none;}
	.series-row > li > .inside > .series > li > .name > span{font-size: 12px;color: #fff;display: block;cursor: pointer; position: relative;padding-right:5px;}
	.series-row > li > .inside > .series > li > .name > span > span {padding: 0 5px;}
    .series-row > li > .inside > .series > li > .name span.fake-radio {/*position: inherit; margin-bottom: -1px;*/}
	.series-row > li > .inside{position: relative;z-index: 1000;}
	.series-row > li > .inside > .series > li > div.series-detail{position: absolute;z-index: 100;left: -1px;right: -1px;bottom: 111px;background: #fff;opacity: 1;color: #000;font-size: 12px;border: 1px #a9a9a9 solid;padding: 0 5px;overflow: inherit; z-index: 10;}
	.series-row > li > .inside > .series > li > div.series-detail .title{display: inherit;font-size: 14px;border-bottom: 1px #928057 solid;padding: 5px 0;color: #000;font-weight: normal;font-family: "Miller-B-Italic", Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
	.series-row > li > .inside > .series > li > div.series-detail .compare-btn{display:inherit; border-top: 1px #928057 solid;padding: 5px 0;width: auto;}
	.series-row > li > .inside > .series > li > div.series-detail span.pop-arrow{display: block;width: 12px;height: 7px;position: absolute;z-index: 100;bottom: -7px;left: 50%;margin-left: -6px;background: transparent url('../img/popup-arrow.png') no-repeat 0 0;}
	.series-row > li > .inside > .series > li.active > div.series-detail{display: block;}
	.series-row > li > .inside > .series > li > div.series-detail .top-compare-btn {display: none;}


	/* comparison table */
	.series-dropdown.active{display: none;}
	.comparison-wrap .header table td span.arrow {display: none;}
	.comparison-wrap table td{display: table-cell;width: 20%;}
    .comparison-wrap .header table td {cursor: inherit;}
	.comparison-wrap .details table col.odd {background-color: #f1f1f1;}
	/* model select */
	.model-select > .row .tier{margin-top: 0;}

	/* summary */
	.summary h3.title .edit {float: none;}
	.summary.detail-sheet > ul {border-bottom: 0;}
	.summary.row {position: relative;}
	.summary.detail-sheet > div.location {position: absolute; right: 0px; top: -43px; border-top: 0;}
	.summary.detail-sheet > div.location span.title a.edit {float: none; padding-left: 5px;}

    /* overall review in summary page */
    .rad-overlay-wrap.overall-review .switch-btn {margin-right: 0; right: 20px; bottom: 10px;}

	/* anchor bar */
	.anchor-bar{display: none;}

	/* location overlay */
	.rad-overlay-wrap.location-overlay {width: 600px; margin-left: -300px; left: 50%; top: 30%;}
    .rad-overlay-wrap.location-overlay .btn-col .arrow-btn {margin-top: 49px;}
	/* car options */

	.car-options ul > li > ul.dropdown.thumbnails > li{float: left; display:inline-block; width: auto; margin-right: 5px;margin-bottom: 5px; position: relative; cursor: pointer;}
	.option-thumbnail-wrap {width: 114px; height: 140px; padding: 2px; border: 1px #4f4b43 solid; overflow: inherit; border: 1px #4f4b43 solid;}
	.option-thumbnail-wrap .option-thumbnail {width: 108px; height: 134px; text-align: center; border: 1px #a9a9a9 solid;}
	.option-thumbnail-wrap .option-thumbnail div.image {float: none; width: 106px; height: 106px; margin:0 auto; }
	.car-options ul > li > ul.dropdown.thumbnails > li img{display: block; width: 100%; height: 100%; padding: 0; border: none;}
	.option-thumbnail-wrap .option-thumbnail div.status {float: none; height: auto; padding: 2px 0 0 0;}
	.option-thumbnail-wrap .option-thumbnail span.underline-btn {display: inline-block; line-height: 12px;}
	.option-thumbnail-wrap .option-thumbnail span.underline-btn span {padding: 2px 5px; line-height: 12px;}
	.option-popup-wrap {display: none; position: absolute; width: 350px; min-height: 124px; left: 0; bottom: 140px; z-index: 1000; padding-bottom: 7px; padding-top: 0; background: transparent url('../img/dark-popup-arrow.png') no-repeat left bottom;}
	.option-popup-wrap.active {display: block;}
	.option-popup-wrap .option-popup {min-height: 117px; background-color: #4f4c43;}
	.option-popup-wrap .option-popup div.image {display:block; width: 133px; height: 133px; position: absolute; z-index: 10; left: 2px; top: 2px;}
	.option-popup-wrap .option-popup div.image img {width: 100%; height: 100%;}
	.option-popup-wrap .option-popup div.desc {width: 100%; padding: 10px 10px 30px 150px; min-height: 117px;}
	.option-popup-wrap .option-popup div.desc p.price {left: 150px;}

	/* alert box */
	.alertbox.rad-overlay-wrap {width: 500px; left: 50%; top: 50px; margin-left: -250px;}
	#bp-conflict-detail {max-height: 450px; overflow-y: auto; }

	/* container min-height */
	.car-stage.border-wrap {height: 365px;}
/*}*/

/* Styles for screens that are at least 977px (960px + 17px to cater for browsers adding the scrollbar to the pixel count) */
/*@media only screen and (min-width: 62.1em){*/



	.main{float: left;}

	/* aside */
	.aside{width: 20%;float: right;border-top: none;padding: 0;margin-right: 5px;float:right;}
	.main>.large-9.columns+.aside.large-3{width:25%;margin-right:0;}
	.aside > .row{margin-right: 0;margin-left: 0;}
	.aside .details{float: none;width: 100%;padding: 0; margin-top: 0;}
	.aside .details .description{padding: 0 15px; height: 310px; overflow-y: auto;}
	.aside .details{border-top: 1px #9fa1a1 solid; border-right: 0; padding-top: 2px;}
	.aside .details .title{border-top: 2px #726258 solid;}
	.aside .details .title > h3{padding-left: 0;text-align: center;}

	.aside .details .title .icon-master{right: 0;top: 5px;left: inherit;}

	/* car options */
	.car-options{padding: 5px 0;}
	.car-options ul > li > ul.dropdown.colors > li:hover div.color-popup-wrap {display: block;}
	.car-options > ul {border-bottom: 0; }
	/* steps module in sidebar */
	.aside .steps-module{float: none;;width: 100%;padding: 10px 15px;}
	.steps-module .steps-module-inside{padding-left: 0px;border-left: none;}
	.aside .nameplates .steps-module-inside {padding-top: 52px;}
	.aside .series .steps-module-inside {padding-top: 3px;}
	.aside .exterior .steps-module-inside {padding-top: 0px; margin-top: -3px;}
	.aside .summary .description {height: 183px;}

	.car-stage.border-wrap > img {height: 355px;}
	.car-stage.border-wrap > .car-gallery > li > div > img {height: 355px;}

	.car-review {padding-bottom: 0;}
	.car-review .pager {bottom: 10px;}

	/* model select */
	.border-wrap {padding-bottom: 0;}
	.model-select .tier{position: relative;}
	.model-select > .row .tier {padding-left: 5px; padding-bottom: 4px;}
	/*.model-select > .row .tier:first-child {padding-right: 2px; padding-left: 5px}*/
	.model-select .tier .rollover-state{position: absolute; top: 0; left: 5px; right:0; bottom: 0; padding-right: 5px; z-index: 900;}
	.ie9 .model-select .tier .rollover-state {padding-right: 4px;}
    /*.model-select .tier:first-child .rollover-state {left: 5px; padding-right: 2px;}*/
	.model-select .tier .rollover-state img {width: 100%;}
	.model-select .tier:hover .rollover-state{display: block;}

	/* model select - 3 columns */
	.model-select.is-3-columns .general-state img,
	.model-select.is-3-columns .rollover-state img {height: 460px;}

	.model-select.is-3-columns .tier {padding-right: 2px; padding-left: 2px;}

	.model-select.is-3-columns .tier .rollover-state{left: 2px; padding-right: 2px;}

	.model-select.is-3-columns .tier:first-child {padding-left: 5px;}
	.model-select.is-3-columns .tier:first-child .rollover-state {left: 5px;}

	/* Hack: get 3rd model container */
	.model-select.is-3-columns .tier:first-child + .tier + .tier {padding-right: 5px;}
	.model-select.is-3-columns .tier:first-child + .tier + .tier .rollover-state {right: 3px;}

	/*.model-select.is-3-columns .tier .rollover-state{position: absolute; top: 0; left: 5px; right:0; bottom: 0; padding-right: 2px; z-index: 900;}*/

	/* share bar */
	.share-popup-wrap {width: auto; left: -30px;}

	/* container min-height */
	.car-stage.border-wrap {height: 365px;}
/*}*/

#bp-exterior-total-price{border-top:none;}
