<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$rule['title']}</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="stylesheet" type="text/css" href="../source/modules/hcweivote/style/css/global.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../source/modules/hcweivote/style/css/activiyview.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../source/modules/hcweivote/style/css/activiylist.css" media="all" />
	<script type="text/javascript" src="../source/modules/hcweivote/style/js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="../source/modules/hcweivote/style/js/wx.js"></script>
</head>

<body>
<div id="share" onclick="this.style.display='none';" style="display:none; position:fixed; z-index:9998; left:0px; top:0px; width:100%; height:100%; opacity:0.3; background-color:#000;">
	<img style="position:fixed; z-index:9999; width:100%;" src="../source/modules/hcweivote/style/images/bg-share.png" />
</div>
<img style="position:fixed; z-index:-999; top:0; left:0; width:100%; height:100%;" src='../source/modules/hcweivote/style/images/123.jpg' />
    <div style="position: relative; overflow: hidden;">
        <div class="activiy_view">
            <div class="toptu">
                <h2 class="omiss">{$rule['title']}</h2>
                <span>浏览量：{$member['visit']} &nbsp;转发量：<span id="shared">{$member['share']}</span></span>
            </div>
            
            <div class="dom_box dom_horizontal_box activity_view">
                <div>
                    <div class="sjztp">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td><a href="{$_W['attachurl']}{$member['cover']}">
                                    <img src="{$_W['attachurl']}{$member['cover']}" onerror="agencyImg(this, '../source/modules/hcweivote/style/images/home.png');" /></a></td>
                            </tr>
                        </table>
                    </div>
                    <p class="photomark" style="text-align:center;">{if $op != 'myproducts'}<a href="{php echo $this->createMobileUrl('home', array('id'=>$member['id'], 'op'=>'mymessage'));}"><font color="#fb6600">查看留言</font></a>{/if}</p>
                </div>
                <div class="dom_flex_box">
                    <p>编号：{$member['id']}</p>
                    <p>名称：{$member['title']}</p>
                    <p>票数：<span id="hisvote">{$member['vote']}</span></p>
					{if $op != 'myproducts'}
                    <div onclick="vote({$member['id']});">为他投一票</div>
					{else}
					<div onclick="share();">转发好友投票</div>
					{/if}
                </div>
            </div>
            <ul class="photolist lazyload clearfix">
                {loop $photos $p}
					<li>
						<div class="photoshow">
							<table cellspacing="0" cellpadding="0">
								<tr>
									<td><a href="{$_W['attachurl']}{$p['photo']}">
										<img src="{$_W['attachurl']}{$p['photo']}" onerror="agencyImg(this,'../source/modules/hcweivote/style/images/home.png');" /></a></td>
								</tr>
							</table>
						</div>
						<p class="photomark" style="text-align:center;">{$p['title']}</p>
					</li>
                {/loop}
            </ul>
        </div>
		<div class="fixshowed"></div>
		<div class="activity_foot">
			<ul>
				<li><span class="dom_flex_box">首页</span></li>
				<li><a href="{php echo $this->createMobileUrl('rule');}" class="dom_flex_box">活动规则</a></li>
				<li><a href="{php echo $this->createMobileUrl('join');}" class="dom_flex_box">我要参赛</a></li>
				<li><a href="{php echo $this->createMobileUrl('home');}" class="dom_flex_box">个人中心</a></li>
			</ul>
		</div>
		<div class="popwindow">
			<div>
				<div class="homeflexbox vpop">
					<ul>
						<li><a href="{php echo $this->createMobileUrl('index');}" class="dom_flex_box">活动首页</a></li>
						<li><a href="{php echo $this->createMobileUrl('index', array('op'=>'phb'));}" class="dom_flex_box">排行榜</a></li>
					    <li><a href="{php echo $this->createMobileUrl('index', array('op'=>'lll'));}" class="dom_flex_box">浏览量排行</a></li>
					     {if (!empty($cfg['url1']))}
                        <li><a href="{$cfg['url1']}" class="dom_flex_box">{$cfg['urltitle1']}</a></li>
                     
                    
                    {/if}
                       {if (!empty($cfg['url2']))}
                        <li><a href="{$cfg['url2']}" class="dom_flex_box">{$cfg['urltitle2']}</a></li>
                    {/if}
					</ul>
				</div>
			</div>
		</div>
<script type="text/javascript">
$(function () {
	$(".popwindow > div > div").each(function () {
		$(this).css({ bottom: -$(this).height() });
	});
	$(".activity_foot > ul > li").bind("click",
	function () {
		var _nth = $("div.popwindow > div > div").index($("div.popwindow > div > div:not(.vpop)"));
		var nth = $("div.activity_foot > ul > li").index($(this));
		if (_nth == nth) {
			if (!$("div.popwindow > div > div:nth-child(" + (nth + 1) + ")").hasClass("vpop")) {
				$("div.popwindow > div > div:nth-child(" + (nth + 1) + ")").animate({ bottom: -$("div.popwindow > div > div:nth-child(" + (nth + 1) + ")").height() }, "fast", function () {
					$(this).addClass("vpop");
				});
			}
		}
		else {
			$("div.popwindow > div > div:nth-child(" + (_nth + 1) + ")").css({ bottom: -$("div.popwindow > div > div:nth-child(" + (_nth + 1) + ")").height() });
			$("div.popwindow > div > div:nth-child(" + (_nth + 1) + ")").addClass("vpop");
		}
		//更改
		$("div.popwindow > div > div:nth-child(" + (nth + 1) + ")").removeClass("vpop");
		$("div.popwindow > div > div:nth-child(" + (nth + 1) + ")").animate({ bottom: '60px' }, "fast");
	});
});

function agencyImg(othis, imageurl){
	var _imageurl = "{$_W['siteroot']}"+ imageurl;
	othis.src = _imageurl;
	othis.onerror = null; //控制不要一直跳动 
}

function share(){
	document.getElementById('share').style.display='block';
}

function vote(mid){

	if(!confirm('确定要为TA投票吗？')){
		return false;
	}
	$.ajax({
		type: "POST",
		url: "{php echo $this->createMobileurl('photos',array('op'=>'voting'))}",
		data: { mid: mid},
		dataType: "json",
		
		success: function (d) {
			if (d != 0 && d!=-1 && d!=-2) {
				alert('投票成功，您还能投'+d['myvotes']+'票！');
				document.getElementById('hisvote').innerHTML = d['vote'];
				var message = prompt("为他留言吧~","");
				
				if(message){
					$.ajax({
						type: "POST",
						url: "{php echo $this->createMobileurl('message', array('op'=>'message'))}",
						data: {mid: mid, message: message},
						dataType: "text",
						
						success: function (d) {
							if(d==1){
								alert('留言成功！');
							} else {
								alert('留言失败！');
							}
						},
						
						error: function (xml, text, thrown){
							alert("出错啦!");
						}
					});
				}
			} else if (d==-1){
				alert("你的投票数用完了");
			} else if (d==-2){
				alert("数据丢失");
			}
		},
		
		error: function (xml, text, thrown) {
			alert("出错啦!");
		}
	});
}

	window.onload = function(){
		$.getJSON('{$_W['siteroot']}{php echo $this->createMobileurl('photos', array('id'=>$member['id']))}&'+'opp=visit',function(res){
		});
	}
	
	WeixinApi.ready(function(Api) {
		Api.showOptionMenu();
		var wxData = {
			"imgUrl" : '{$_W['attachurl']}{$member['thumb']}',
			"link" : '{$_W['siteroot']}{php echo $this->createMobileurl('photos', array('id'=>$member['id']))}',
			"title" : '{$rule['title']}',
			"desc" : '{$member['title']}'
		};
		 // 分享的回调
		var wxCallbacks = {
			// 分享被用户自动取消
			cancel : function(resp) {
				//alert("分享后获得积分,还有可能得到佣金哦!不要错过发大财的机会!");
			},
			// 分享失败了
			fail : function(resp) {
				alert("分享失败，可能是网络问题，一会儿再试试？");
			},
			// 分享成功
			confirm : function(resp) {
				$.getJSON('{$_W['siteroot']}{php echo $this->createMobileurl('photos', array('id'=>$member['id']))}&'+'opp=share',function(res){
					document.getElementById('shared').innerHTML = res;
				});
			},
		};
		Api.shareToFriend(wxData,wxCallbacks);
		Api.shareToTimeline(wxData,wxCallbacks);
		Api.shareToWeibo(wxData,wxCallbacks);
	});
</script>
</div>
</body>
</html>