{template 'common/header'}
<style type="text/css">
.table td span{display:inline-block;}
.table td input{margin-bottom:0;}
.form .alert{width:700px;}
.photo_list{padding:15px 0;}
.photo_list .alert{width:auto; margin-top:10px; overflow:hidden;}
.photo_list .photo_preview{width:130px;}
.photo_list .photo_preview img{width:130px; margin-bottom:5px;}
.photo_list .photo_preview label{padding:0;}
.photo_list .photo_preview input[type="radio"]{margin-left:0; margin-right:10px;}
.photo_list table{margin-left:40px;}
.photo_list table th,.photo_list table td{padding-bottom:5px;}
.photo_list table th{width:60px; font-size:14px;}
.photo_list table input,.photo_list table select{margin-bottom:0;}
</style>
<ul class="nav nav-tabs">
<li {if $op=='display'}class='active'{/if}><a href="{php echo $this->createWebUrl('manage_shop')}">店铺列表</a></li>
	{if $op=='post'}<li class="active"><a href="{php echo $this->createWebUrl('manage_shop',array('op'=>'post'))}">{if $id}编辑店铺{else}新建店铺{/if}</a></li>
	{/if}
</ul>
{if $op=='display'}
<form action="" method="post">
<div class="main">
	<div style="padding:15px;">
	<form action="" method="post" onsubmit="return formcheck(this)">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:60px;">排序</th>
					<th style="width:130px;">名称</th>
					<th style="width:130px;">电话</th>
					<th style="width:130px;">手机</th>
					<th style="width:230px;">地址</th>
					<th style="width:100px;">创建时间</th>
					<th style="width:80px;">状态</th>
					<th style="min-width:100px; text-align:right;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $shops $row}
				<tr>
					<td><input type="text" class="span1" name="displayorder[{$row['id']}]" value="{$row['displayorder']}"></td>
					<td>{$row['name']}</td>
					<td>{$row['type']}</td>
					<td>{php echo date("Y-m-d",$row['start_time'])}~{php echo date("Y-m-d",$row['end_time'])}</td>
					<td>{php echo date("Y-m-d",$row['create_time'])}</td>
					<td>{$row['total_num']}</td>
					<td>{$row['day_sum']}</td>
					<td>{php echo $row['status']?'在状态':'不在状态'}</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('manage_shop', array('id' => $row['id'],'op'=>'post'))}" class="btn btn-small" title="编辑"><i class="icon-edit"></i></a>
						<a onclick="return confirm('删除店铺将删除所有关联记录，确认吗？');return false;" href="{php echo $this->createWebUrl('manage_shop', array('id' => $row['id'],'op'=>'delete'))}" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>
					</td>
				</tr>
				{/loop}
				<tr>
					<td></td>
					<td colspan="5">
						<a href="{php echo $this->createWebUrl('manage_shop',array('op'=>'post'))}""><i class="icon-plus-sign-alt"></i> 新建店铺</a>
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="5">
						<input name="submit" type="submit" class="btn btn-primary" value="提交">
						<input type="hidden" name="token" value="{$_W['token']}" />
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
</form>
{elseif $op = 'post'}
<link type="text/css" rel="stylesheet" href="./source/modules/izc_strcoupon
/style/uploadify.css" />
<div class="main">
	<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data" onsubmit="return validate(this);">
	<input type="hidden" name="id" value="{$id}"/>
	<input type="hidden" name="op" value="post"/>
		<table class="tb">
			<tr>
				<th>
				</th>
				<td>
				</td>
			</tr>
			<tr>
				<th><label for="">排序</label></th>
				<td>
					<input type="text" name="displayorder" class="span4" value="{$shop['displayorder']}" />
				</td>
			</tr>
			<tr>
				<th><label for="">名称<span style="color:red">*</span></label></th>
				<td>
					<input type="text" class="span4" name="shop_name" value="{$shop['shop_name']}" />
				</td>
			</tr>
			<tr>
				<th><label for="">地址<span style="color:red">*</span></label></th>
				<td>
					<input type="text" class="span4" name="address" value="{$shop['address']}" />
				</td>
			</tr>
			<tr>
				<th><label for="">电话<span style="color:red">*</span></label></th>
				<td>
					<input type="text" class="span4" name="tel" value="{$shop['tel']}" />
				</td>
			</tr>
			<tr>
				<th><label for="">手机<span style="color:red">*</span></label></th>
				<td>
					<input type="text" class="span4" name="mobile" value="{$shop['mobile']}" />
				</td>
			</tr>
			<tr>
				<th><label for="">店铺封面</label></th>
				<td>
					{php echo tpl_form_field_image('logo', $paper['logo']);}
					<span class="help-block"></span>
				</td>
			</tr>
		<!---批量上传-->
			<tr>
			<th>实景图片</th>
			<td>
				<div class="photo_list">
				<input name="token" type="hidden" value="{$_W['token']}" />
				<span id="selectimage" class="btn btn-primary"><i class="icon-plus"></i> 上传照片</span><span style="color:red;">
				<input name="hspiclist" type="hidden" value="{$item['hs_pic']}" /></span>
				<div id="file_upload-queue" class="uploadify-queue"></div>
				<ul class="ipost-list ui-sortable" id="fileList">
			
				{loop $gift_img[0] $key $v}
				{loop $gift_img[1] $key1 $v1}
				{if $key==$key1}
				<li class="imgbox" style="list-type:none">
				<a class="item_close" href="javascript:;" onclick="deletepic(this);" title="删除">
				</a>
				<span class="item_box">
					<img src="{$_W['attachurl']}{$v}" style="max-height:100%;">
				</span>
				<input type="hidden" value="{$v}" name="attachment-new[{$key}]">
				<span class="item_input">
					<textarea class="bewrite" cols="3" name="description-new[]" rows="4" style="resize: none" placeholder="图片描述..." onfocus="$(this).parent().addClass(&#39;on&#39;);" onblur="$(this).parent().removeClass(&#39;on&#39;);"> {$v1}   </textarea>
					<i class="shadow hc">
					</i>
				</span>
				</li>
				{/if}
				{/loop}
				{/loop}
				</ul>
			
			</td>
			
			<!--批量上传结束-->
			<tr>
				<th>店铺描述<span style="color:red">*</span></th>
				<td>
					<textarea style="height:100px; width:50%;" class="span5 richtext-clone" name="cp_dst" cols="70">{$shop['cp_dst']}</textarea>
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
					<input type="hidden" name="token" value="{$_W['token']}" />
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript" src="./resource/script/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript">
	kindeditor($('.richtext-clone'));
</script>
<script text="text/javascript">
	function validate(form) {
/*		if (!$.trim(form['total_money'].value)||!$.trim(form['discount_money'].value)) {
			message('请输入金额', '', 'error');
			return false;
		}
		if (!$.trim(form['shop_name'].value)) {
			message('请输入优惠券名称', '', 'error');
			return false;
		}
		if (form['shop_id'].value==0) {
			message('请选择课程！', '', 'error');
			return false;
		}
		if (!$.trim(form['title'].value)) {
			message('请输入图文消息标题！', '', 'error');
			return false;
		}
		if (!$.trim(form['logo'].value)) {
			message('请输入图文消息封面！', '', 'error');
			return false;
		}*/
	}
</script>
<script type="text/javascript">

$(function(){
	var i = 0;
	$('#selectimage').click(function() {
		var editor = KindEditor.editor({
			allowFileManager : false,
			imageSizeLimit : '30MB',
			uploadJson : './index.php?act=attachment&do=upload'
		});
		editor.loadPlugin('multiimage', function() {
			editor.plugin.multiImageDialog({
				clickFn : function(list) {
					if (list && list.length > 0) {
						for (i in list) {
							if (list[i]) {
								html =	'<li class="imgbox" style="list-type:none">'+
								'<a class="item_close" href="javascript:;" onclick="deletepic(this);" title="删除"></a>'+
								'<span class="item_box"> <img src="'+list[i]['url']+'" style="max-height:100%;"></span>'+
								'<input type="hidden" name="attachment-new[]" value="'+list[i]['filename']+'" />'+
								'<span class="item_input"><textarea name="description-new[]" class="bewrite" cols="3" rows="4" style="resize: none" placeholder="图片描述..." '+
								'onfocus="$(this).parent().addClass(&#39;on&#39;);" onblur="$(this).parent().removeClass(&#39;on&#39;);"></textarea><i class="shadow hc"></i></span>'+
								'</li>';
								$('#fileList').append(html);
								i++;
							}
						}
						editor.hideDialog();
					} else {
						alert('请先选择要上传的图片！');
					}
				}
			});
		});
	});
});
function deletepic(obj){
	if (confirm("确认要删除？")) {
		var $thisob=$(obj);
		var $liobj=$thisob.parent();
		var picurl=$liobj.children('input').val();
		$.post('{php echo $this->createMobileUrl('ajaxdelete',array())}',{ pic:picurl},function(m){
			if(m=='1') {
				$liobj.remove();
			} else {
				alert("删除失败");
			}
		},"html");	
	}
}
</script>
{/if}
{template 'common/footer'}