.rtl {
  /*icons for smobile primary nav-----------*/
  /*end of icons for smobile  primary nav*/
  /* Styles for screens that are at least 768px */ }
  .rtl .primary-nav ul li {
    float: right; }
  .rtl .content-section.with-search-bar .search-bar-wrap .search-bar .searchbox {
    padding: 9px 0.8em 9px 2.8em; }
  .rtl .content-section.with-search-bar .search-bar-wrap .search-bar #search-btn {
    right: auto;
    left: 3px; }
  .rtl .sync-select-version {
    text-align: center; }
    .rtl .sync-select-version .force-overlay-sync {
      background: url("../img/rtl-selectversion.png") no-repeat 0px 0px;
      padding-right: 0;
      padding-left: 26px; }
      .rtl .sync-select-version .force-overlay-sync:before {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg); }
  .rtl .bx-wrapper .bx-controls .bx-pager {
    text-align: center; }
  .rtl .appLink-accordion-panel ul li .tab-area {
    background: url("../img/rtl-accordion-arrow-mobile.png") no-repeat 0px 0px; }
    .rtl .appLink-accordion-panel ul li .tab-area.hover {
      background-position: left bottom; }
    .rtl .appLink-accordion-panel ul li .tab-area .title {
      float: right !important;
      padding: 12px 25px 0 0  !important; }
      .rtl .appLink-accordion-panel ul li.active .tab-area.hover{background-position:left bottom;}
      .rtl .appLink-accordion-panel ul li.active .tab-area{background-position:left bottom;}
  .rtl .appLink-accordion-panel ul li .dropdown ul li {
    text-align: right; }
    .rtl .appLink-accordion-panel ul li .dropdown ul li a img {
      float: right;
      margin: 0 0 0 20px; }
  .rtl .hotspots-wrap .hotspots .hotspot {
    padding: 15px 30px 15px 0; }
    .rtl .hotspots-wrap .hotspots .hotspot img {
      left: auto;
      right: 30px; }
    .rtl .hotspots-wrap .hotspots .hotspot p {
      padding-left: 0;
      padding-right: 66px; }
    .rtl .hotspots-wrap .hotspots .hotspot .hotlinks {
      padding-left: 0;
      padding-right: 66px; }
      .rtl .hotspots-wrap .hotspots .hotspot .hotlinks a {
        margin-right: 0; }
        .rtl .hotspots-wrap .hotspots .hotspot .hotlinks a .icon-arrow {
          margin-left: 0;
          margin-right: 10px;
          background: url("../img/rtl-icons-2.png") no-repeat -42px -144px; }
        .rtl .hotspots-wrap .hotspots .hotspot .hotlinks a:hover .icon-arrow {
          background-position: -43px -387px; }
  .rtl .hotspots-wrap .hotspots .hotspot .hotlinks a {
    margin-left: 0;
    margin-right: 35px !important; }
    .rtl .hotspots-wrap .hotspots .hotspot .hotlinks a:first-child {
      margin-right: 0 !important; }
  .rtl .carousel-section .content-section .heading {
    background-position: right -405px;
    margin-right: -60px; }
    .rtl .carousel-section .content-section .heading p {
      padding-left: 0;
      padding-right: 120px;
      text-align: right; }
  .rtl .bx-wrapper {
    direction: ltr !important; }

  .rtl #header #badge{
    float:none;
  }
  .rtl #header #toolbar li .signup a {
    padding: 0 0 0 18px;
    background: url("../img/rtl-icons.png") no-repeat 0px -62px; }
    .rtl #header #toolbar li .signup a:hover {
      background-position: 0 -98px; }
  .rtl #header #toolbar li .account-menu a {
    padding: 0 19px 0 30px;
    background: url("../img/rtl-icons.png") no-repeat 10px -62px; }
    .rtl #header #toolbar li .account-menu a:hover {
      background-position: 10px -98px; }
  .rtl #header #toolbar li .shopford a {
    padding-left: 26px;
    padding-right: 0;
    background: url("../img/rtl-icons.png") no-repeat 0px 13px; }
    .rtl #header #toolbar li .shopford a:hover {
      background-position: 0px -1516px; }
  .rtl #footer #footer-links ul li {
    display: inline-block;
    padding: 0 20px; }
    .rtl #footer #footer-links ul li a {
      font-size: 10px;
      color: #b3b3b3;
      text-transform: uppercase;
      font-weight: normal;
      font-family: "Antenna-Regular", Arial, Helvetica, sans-serif; }
  .rtl .bx-pager-link {
    text-align: center; overflow:hidden; }
  .rtl .appLink-accordion-panel > UL {
    background-color: #fff; }
  .rtl .icons {
    background-image: url("../img/rtl-icons-mobile.png"); }
  .rtl .icon-pin {
    background-position: -85px -99px !important; }
  .rtl .icon-talk {
    background-position: -80px -49px !important; }
  .rtl .icon-db {
    background-position: -81px 0px !important; }
  .rtl .primary-nav ul li:hover .icon-pin {
    background-position: -85px -303px !important; }
  .rtl .primary-nav ul li:hover .icon-talk {
    background-position: -80px -248px !important; }
  .rtl .primary-nav ul li:hover .icon-db {
    background-position: -81px -200px !important; }
  .rtl .primary-nav ul li.active .icon-pin {
    background-position: -85px -303px !important; }
  .rtl .primary-nav ul li.active .icon-talk {
    background-position: -80px -248px !important; }
  .rtl .primary-nav ul li.active .icon-db {
    background-position: -81px -200px !important; }
  .rtl.smobile #header #badge {
    float: right; }
    .rtl.smobile #header #badge a > span.logo-mobile {
      width: 162px;
      margin-right: 20px; }
  .rtl.tablet #header #badge a .logo-wide, .rtl.smobile #header #badge a .logo-wide {
    background-position: 27px 0; }
  .rtl.tablet #header #toolbar li, .rtl.smobile #header #toolbar li {
    float: left;
    margin-right: 0 !important; }
    .rtl.tablet #header #toolbar li:first-child, .rtl.smobile #header #toolbar li:first-child {
      margin-right: 10px !important; margin-left:0 !important; }

      /*Dealer outer wrap*/
      .rtl .mini-dealer-form h2{padding-left: 0; padding-right: 32px; background-position:right -85px top -97px;}
      .rtl .mini-dealer-form .onerow .styled-select select.user-error {background-position: -65px -111px !important;}

      .rtl input[type=text].user-error, input[type=email].user-error, input[type=tel].user-error, input[type=password].user-error, input[type=number].user-error{background-position: -86px -111px !important;}

      .rtl form input[type="text"], form input[type="password"], form input[type="email"], form input[type="number"], .validate input[type="tel"], form input[type="tel"], form input{padding:9px 0.8em 9px 2.8em;}
      
      .rtl input[type=text].user-success, input[type=password].user-success, input[type=email].user-success, input[type=tel].user-success, input[type=number].user-success {background-position: -86px -168px !important;}

      .rtl .mini-dealer-form .onerow .styled-select select.user-success {background-position: -65px 168px !important;}
      
      .rtl .mini-dealer-form .onerow .styled-select select.user-success{background-position: -65px -168px !important;}
      
      .rtl .preferred-dealer h4 {background: transparent url("../img/icons-mobile.png") no-repeat scroll right -76px top -1439px; padding-left:0; padding-right:37px;}
      .rtl .preferred-dealer h4 span {background: transparent url("../img/rtl-icons-mobile.png") no-repeat scroll 0px -900px;}
      .rtl .dealer-icon{float:right;}
      .rtl .dealer-results .dealername h5{float:right; padding-left:0; padding-right:7px;}
      .rtl .dealer-results .detail{float:right; margin:0 27px 0 0;}
      .rtl .dealer-results ul li{overflow:hidden;}
      /*end of dealer outer wrap*/

      .rtl .primary-nav ul li:first-child{border-left:1px solid #e8edee; border-right:1px solid #e8edee;}

      .rtl .primary-nav ul > li:last-child{border-right:none;}

      .rtl form select, .rtl .validate.fbform select{width:100%;}
      
      /*overlay styling*/
      /*overlay scroll fix*/
      .rtl .overlay-wrap{direction:ltr;}
      .rtl .top-close a span{padding-right:0; padding-left:18px;}
      .rtl .top-close a{background-position:18px -3631px;}
      .rtl .top-close a:hover{background-position:18px -3671px;}
      .rtl .overlay-wrap .overlay-content .controls .close{padding: 0 16px 0 20%; right: auto; background-position:right -33px top -3647px; left:0;}
      .rtl .overlay-wrap .overlay-content .controls .backToTop{right:auto; left:45%; padding: 0 14px 0 34px; background-position:-15% -52px;}
      .rtl .overlay-wrap .overlay-content .top-close{right:auto; left:0;}
      .rtl .overlay-wrap .overlay-content ul, .rtl .overlay-wrap .overlay-content ol{padding-left:0; padding-right:10px; direction:rtl;}
      .rtl .overlay-wrap .overlay-content table{text-align:right; float:right;}
      
      .rtl .general-content .general-content-inner table th, .rtl .general-content .general-content-inner table td{text-align:right !important;}

      .rtl .overlay-wrap .overlay-content th, .rtl .overlay-wrap .overlay-content td {padding: 10px 0 5px 10px !important;}
      .rtl .overlay-wrap .overlay-content .disclaimer{clear:both;}
      .rtl .overlay-wrap .overlay-content li{padding: 0 5px 2px 0;}
      .rtl .overlay-wrap .overlay-content th, .overlay-wrap .overlay-content td{text-align:right !important;}
      .rtl .row.collapse .columns{float:right;}

      /*bx slider RTL styling*/
        .rtl .bx-pager-item{margin-left:-30px;}
        .rtl .bx-pager-item:first-child{margin-left:0;}
        
        .rtl .bx-prev{float:right !important; padding-left:0px !important; padding-right:18px; background-position:33px -231px !important;}
        .rtl .bx-prev.disabled{background-position:33px -691px !important;}
        .rtl .bx-prev:hover{background-position:33px -691px !important;}

        .rtl .bx-next{float:left !important; padding-left:18px; padding-right:0 !important; background-position:0px -391px !important;}
        .rtl .bx-next.disabled{background-position:0px -547px !important;}
        .rtl .bx-next:hover{background-position:0px -546px !important;}
      /*end of BXslider*/

      /*toolbar mobile*/
      .rtl #header #toolbar-mobile {float:left !important; margin:12px 0 0 7px;}
      .rtl #header #toolbar-mobile li{float:left; padding-left:0; padding-right:10px;}
      /*end of toolbar mobile*/

      /*start of widgets*/
      .rtl .widgets-wrap .widgets li .content h2 > a{padding-right:48px; padding-left:32px;}
      .rtl .widgets-wrap .widgets li .content h2 {text-align:right !important;}
      .rtl.smobile .widgets li h2{background:transparent url('../img/widgets-heading-mobile.png') scroll no-repeat right -9px top -50px;}
      .rtl.smobile .widgets li h2 a{background:transparent url("../img/rtl-icons-mobile.png") no-repeat scroll 17px -887px; }
      .rtl.smobile .widgets .widget-account h2 {background-position:right -9px top -50px;}
      .rtl.smobile .widgets .widget-manuals h2{background-position:right -10px top -2046px;} 
      .rtl.smobile .widgets .widget-recalls h2 {background-position:right -171px top -3982px;}
      .rtl.smobile .widgets .widget-update h2 {background-position: right -10px top -8040px;}
      .rtl.smobile .widgets .widget-resources h2 {background-position: right -10px top -12041px;}
      .rtl.smobile .widgets .widget-dealer h2 {background-position: right -10px top -10042px;}
      .rtl.smobile .widgets .widget-appLink h2 {background-position:right -10px top -13040px;}
      .rtl.smobile .widgets .widget-cappedPrice h2 {background: transparent url("../img/widgets-cappedprice.png") no-repeat scroll right -171px top -6983px;}

      /*active mode*/
      .rtl.smobile .widgets li .content.open h2{background-position:right -9px top -14040px;}
      .rtl.smobile .widgets li .content.open h2 a{background:transparent url("../img/rtl-icons-mobile.png") no-repeat scroll 15px -635px}
      .rtl.smobile .widgets .widget-account .content.open h2 {background-position:right -9px top -14040px;}
      .rtl.smobile .widgets .widget-manuals .content.open h2{background-position:right -10px top -16042px;}
      .rtl.smobile .widgets .widget-recalls .content.open h2{background-position:right -171px top -4482px;} 
      .rtl.smobile .widgets .widget-update .content.open h2 {background-position: right -10px top -22039px;}
      .rtl.smobile .widgets .widget-resources .content.open h2 {background-position:right -10px top -26041px;}
      .rtl.smobile .widgets .widget-dealer .content.open h2 {background-position: right -10px top -24047px;}
      .rtl.smobile .widgets .widget-appLink .content.open h2 {background-position:right -10px top -28040px;}
      .rtl.smobile .widgets .widget-cappedPrice .content.open h2 {background:transparent url("../img/widgets-cappedprice.png") no-repeat scroll right -171px top -8484px;}
      /*end of active mode*/

      .rtl .widgets .manuals ul.download-list li > div{padding:3px 26px 10px 0px; background-position: right -84px top -388px;}
      .rtl .widgets p.disc{text-align:right;}
      
      .rtl .widgets .bx-controls-direction a.bx-prev:hover{background-position:27px -689px !important;}
      .rtl .widgets .bx-controls-direction a.bx-prev.disabled{background-position:27px -689px !important;}
      
      .rtl .widgets .bx-controls-direction a.bx-prev{background-position:27px -229px !important;}
      .rtl .widgets .bx-controls-direction a.bx-next{background-position:0px -388px !important;}
      .rtl .widgets .bx-controls-direction a.bx-next:hover{background-position:0px -543px !important;}
      .rtl .widgets .bx-controls-direction a.bx-next.disabled{background-position:0px -543px !important;}
      
      .rtl .bx-controls-direction a.bx-next{margin-right:0; margin-left:18px;}
      .rtl .bx-controls-direction a.bx-prev{margin-right:18px; margin-left:0;}

      .rtl .widgets div.table div.row .columns{text-align:right; overflow:hidden;}
      .rtl .widgets div.table p{text-align:right; float:right;}
      .rtl .widgets-wrap .widgets .btngroup p{float:none; text-align: center;}
      
      .rtl .widgets ul.download-list li{padding:3px 26px 10px 0; text-align: right;}

      .rtl .widgets ul.download-list li{background-position:right -81px top -388px}

      .rtl .widgets .content-inside ul.icons-list .locate-icon{background-position:4px -725px;}
      .rtl .widgets .content-inside ul.icons-list .service-icon{background-position:2px -2360px;}
      .rtl .widgets-wrap .widgets .btngroup{text-align:center;}
      .rtl .widgets .widget-appLink p.disc{text-align:center;}

      .rtl .widgets .widget-dealer form fieldset input.user-success[type="text"]{background-position:-85px -168px !important;}
      .rtl.smobile DIV.accordion-panel > UL > LI.active > .tab-area{background-position:-5px -88px !important;}
      .rtl DIV.accordion-panel > UL > LI > DIV.tab-area SPAN.title {padding-left:0; padding-right:25px; margin-right:0;}

      .rtl .widgets p.findVin{text-align:right;}
      /*end of widgets*/

      /*accordion static*/
      .rtl DIV.accordion-panel.accordion-static DIV.content-wrap DIV.content-slider .bx-wrapper .bx-controls-direction a.bx-next{background-position:0 0 !important; text-indent:9999px;}
      .rtl DIV.accordion-panel.accordion-static DIV.content-wrap DIV.content-slider .bx-wrapper .bx-controls-direction a.bx-prev{background-position:18px -79px !important; text-indent:9999px;}

      .rtl .accordion-tab-icon span.syncicon{margin:13px 13px 0 0;}

      .smobile .widgets-wrap .widgets > ul > li > div{background:none !important;}
      /*end of accordion static*/

      /*syncicons*/
      .rtl .accordion-active.accordion-panel .accordion-tab-icon .syncicon{margin:0;}

      .rtl .accordion-active.accordion-panel > ul > li > div.tab-area:hover, .rtl .accordion-active.accordion-panel > ul > li.active > div.tab-area{background: #ffffff url('../img/rtl-accordion-arrow-mobile.png') no-repeat scroll left bottom !important;}
      .rtl .accordion-active.accordion-panel > ul > li > div.tab-area{background: #ffffff url('../img/rtl-accordion-arrow-mobile.png') no-repeat scroll left top !important;}
      /*end of synicons*/
       /*rad sync overlay*/
      .rtl.tablet #rad-sync-overlay #closebtn span, .rtl.desktop #rad-sync-overlay #closebtn span{float:left !important;}

      .rtl  #rad-sync-overlay a.smallbtn{float:right !important;}
      .rtl.smobile #overlay-select .header{padding:11px 0;}
      .rtl.smobile #overlay-select .header .title{text-align: center !important; margin:6.4px 0 10px; }
      .rtl.smobile #overlay-select .header .title h3{padding-right:0; padding-left:26px; background-position:left -80px; display:inline;}

      .checkbox-image{float:right; margin-right:0; margin-left:10px;}
      input[type="checkbox"] + label{float:right;}

      /*end of rand sync overlay*/

      .rtl .widgets .widget-dealer form fieldset select.user-success{background-position:-65px -168px !important;}
      .rtl .widgets .widget-dealer form fieldset select.user-error{background-position:-65px -111px !important;}
      
      /*#content modal styling for rtl*/
      .rtl #content-modal.reveal-modal{margin-left:-48%; width:96%; padding:0 !important; top:32px;}
      .rtl #content-modal.reveal-modal .content-col{padding:40px 15px;}
      .rtl #content-modal.reveal-modal .content{padding:0;}
      .rtl #content-modal.reveal-modal .columns{padding:0;}
      .rtl #content-modal.reveal-modal .content .row .columns p.large-text{font-size:24px; line-height:1.167em; margin:4px 0; padding:0 0 0.7em; font-family: "Antenna-Extra-Light", sans-serif;}
      .rtl #content-modal.reveal-modal .content .row .columns p{color: #626466;font-family: "Antenna-Light", sans-serif;font-size: 1.2em;line-height: 1.3em;padding: 0 0 0.7em; margin-bottom:0;}

      .rtl #content-modal.reveal-modal .content .row .columns p.form-text{font-size:12px; text-align:right; width: 292px; margin: 0 auto;}
      .rtl #content-modal.reveal-modal .content .row .columns p.search-error{display:none; font-family: "Antenna-Bold", sans-serif; width: 292px; margin: 0 auto; text-align: right; padding-bottom: 7px; color: #ff0000; font-size:12px;}
      .rtl #content-modal.reveal-modal .fbform{width:278px; margin:0 auto; float:none;}
      .rtl #content-modal.reveal-modal .fbform .group div {padding: 0.3em 0 0.4em; width: 100%;}
      .rtl #content-modal.reveal-modal .fbform .group .compact{float:none; margin-bottom:6px;}
      .rtl #content-modal.reveal-modal .fbform label{font-family: "Antenna-Light", sans-serif; font-size: 1.4em; color: #41a9df; float: none; margin-bottom: 2px; display: block; text-align: right; padding: 0.2em 0 0.2em 0.5em; width: 240px; font-size:14px;}

      .rtl #content-modal.reveal-modal .fbform input[type="text"]{font-family: "Antenna-Light", sans-serif; border: 1px solid #d4d4d4; border-radius: 0; color: #626466; padding: 6px 8px; width: 260px; line-height: 22px; font-size: 14px; box-sizing: content-box; box-shadow: none;}
      .rtl #content-modal.reveal-modal .fbform input.user-success{border: 1px solid #d4d4d4 !important;}
      .rtl #content-modal.reveal-modal .fbform input[type="text"]:focus{border:1px solid #d4d4d4 !important;}
      .rtl #content-modal.reveal-modal .fbform input[type="text"]:active{border:1px solid #d4d4d4 !important;}
      .rtl #content-modal.reveal-modal .btn, .service-booking.apa #content-modal.reveal-modal .btn{margin:10px auto; width: 256px; height: 35px;}

      .rtl #content-modal.reveal-modal .close-reveal-modal{position: absolute; top: 16px; left: 20px; font-family: "Antenna-Light", sans-serif; font-size: 14px; color: #2495cf; background: url("../img/overlay-close.png") left 3px no-repeat; padding-left: 23px; height: auto; line-height: 22px; width: auto; right:auto; padding-right:0;}
      /*end of content modal*/

      /*search results list*/
      .rtl.smobile DIV.searchresults-list DIV.itemscontainer DIV.item P{padding-left:0; padding-right:50px;}
      .rtl.smobile DIV.searchresults-list DIV.itemscontainer DIV.item P.topic-medium{left:auto; position:relative; right:0; padding-right:0; padding-left:0; float:right;}

      .rtl.smobile DIV.search-result DIV.search-text P, .rtl.smobile DIV.searchresults-list DIV.search-text P{padding:20px 48px 0px 13px; background-position: right 15px top 26px;}
      .rtl.smobile DIV.search-result DIV.search-text SPAN.results-count, .rtl.smobile DIV.searchresults-list DIV.search-text SPAN.results-count{padding-left:0; padding-right:48px;}
      .rtl DIV.search-result DIV.pagination UL LI.active A, .rtl DIV.searchresults-list .pagination LI.page form button {margin-right:8px;}
      .rtl DIV.search-result DIV.pagination UL LI.active A, .rtl DIV.searchresults-list .pagination LI{float:right;}
      .rtl DIV.search-result DIV.pagination UL LI.active A, .rtl DIV.searchresults-list .pagination LI.next{float:left;}

      /*end of search results list*/

      .rtl a.next-btn, .rtl a.smallbtn, .rtl input.smallbtn{float:right !important;}
      .rtl .preferences .row .columns.checkbox input[type="checkbox"], .rtl .preferences .row .columns.checkbox .checkbox-image{float:right; margin-right:0; margin-left:10px;}
      .rtl .content .row .columns p.label, .rtl p.label{text-align:right;}
      .rtl form .radio div{float:right;}
      .rtl form input[type="radio"]{float:right;}
      .rtl form input[type="radio"] + label{float:right; padding-right:0; padding-left:20px; margin:0 6px 14px 0;}
      .rtl a.smallbtn, .rtl a.cancel-btn{float:right !important;}
      .rtl.smobile select.user-success{background-position: -65px -168px !important;}

      .rtl.tablet.forms .user-vehicle .row.addvehicle, .rtl.desktop.forms .user-vehicle .row.addvehicle{padding-left:0 !important; padding-right:50% !important;}

      .rtl .preferences td{text-align:right;}
      .rtl.tablet select.user-success {background-position: -65px -168px !important;}

      .rtl.smobile select.user-error{background-position:-65px -111px !important;}
      .rtl .row .row.vehicletips h4{text-align:right;}
      .rtl.tablet select.user-error{background-position:-65px -111px !important;}
      .rtl select.user-success{background-position:-65px -168px !important;}
      .rtl select.user-error{background-position: -65px -111px !important;}
      .rtl .checkbox.ws-invalid + .error-box, .checkbox.ws-invalid .error-box{text-align:right;}
      .error-box{text-align:left !important;}
      /*-------*/

      .rtl.apa .widgets .content-inside ul.icons-list .icon{
            background-image: url('../img/icons.png') !important;
      }

      .rtl.apa .icon.phone-icon{
        background-position: 0px -1727px; 
      }

      .rtl.apa .icon.fax-icon{
        background-position:  0px -1827px; 
      }
      .rtl.apa .icon.mail-icon{
        background-position: 0px -1926px;
      }

      .rtl.apa .more-button .btn{background: #41a8df url("../img/rtl-icons.png") no-repeat scroll 5% 10px !important}


  @media only screen and (min-width: 48em) {
    .rtl {
      /*icons for tab - desktop primary nav-----------*/
      /*end of icons for tab - desktop primary nav*/ }
      .rtl .icons {
        background: url("../img/rtl-icons-2.png") no-repeat right top; }
      .rtl .icon-pin {
        background-position: -23px -97px !important; }
      .rtl .icon-talk {
        background-position: -27px -50px !important; }
      .rtl .icon-db {
        background-position: -21px 7px !important; }
      .rtl .primary-nav ul li:hover .icon-pin {
        background-position: -23px -306px !important; }
      .rtl .primary-nav ul li:hover .icon-talk {
        background-position: -27px -241px !important; }
      .rtl .primary-nav ul li:hover .icon-db {
        background-position: -21px -185px !important; }
      .rtl .primary-nav ul li.active .icon-pin {
        background-position: -23px -306px !important; }
      .rtl .primary-nav ul li.active .icon-talk {
        background-position: -27px -241px !important; }
      .rtl .primary-nav ul li.active .icon-db {
        background-position: -21px -185px !important; }
      .rtl .appLink-accordion-panel > UL > LI.active > .tab-area {
        background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left bottom; }
      .rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover {
        background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left bottom; }
      .rtl .appLink-accordion-panel > UL > LI > .tab-area.hover {
        background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left bottom; }
      .rtl .appLink-accordion-panel > UL > LI > .tab-area {
        background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left top; }
      .rtl .appLink-accordion-panel > UL > LI .tab-area .count {
        float: left;
        padding: 0 0 0 59px; }
      .rtl .appLink-accordion-panel > UL > LI > .tab-area .accordion-tab-icon {
        float: right;
        width: 76px;
        height: 76px; }
        .rtl .appLink-accordion-panel > UL > LI > .tab-area .accordion-tab-icon img {
          margin: 18px 18px 0 0; }
      .rtl .appLink-accordion-panel > UL > LI > .tab-area.hover .accordion-tab-icon {
        width: 75px;
        height: 74px; }
        .rtl .appLink-accordion-panel > UL > LI > .tab-area.hover .accordion-tab-icon img {
          margin: 17px; }
      .rtl .appLink-accordion-panel > UL > LI.active > .tab-area .accordion-tab-icon img {
        margin: 17px 17px 0 0; }
      .rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover .accordion-tab-icon img {
        margin: 17px; }
      .rtl .appLink-accordion-panel > UL > LI.active > .tab-area .accordion-tab-icon {
        width: 75px;
        height: 74px; }
      .rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover .accordion-tab-icon {
        width: 75px;
        height: 74px; }
      .rtl .appLink-accordion-panel > UL > LI.active > .tab-area .title {
        line-height: 72px; }
      .rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover .title {
        line-height: 72px; }
      .rtl .appLink-accordion-panel > UL > LI > .tab-area .title {
        line-height: 74px; }
      .rtl .appLink-accordion-panel > UL > LI > .tab-area.hover .title {
        line-height: 72px; }
      .rtl .carousel-section .content-section .heading p {
        text-align: center;
        padding-right: 55px; }
      .rtl .carousel-section .heading {
        background-position: 49.4% -1130px !important; }
      .rtl .appLink-accordion-panel > UL > LI > .dropdown > UL > LI A IMG {
        float: none; }
      .rtl .appLink-accordion-panel > UL > LI > .dropdown > UL {
        text-align: right; }
      .rtl .primary-nav ul li a {
        padding-left: 0;
        padding-right: 35px; }
        .rtl .primary-nav ul li a .icons {
          left: auto;
          right: 0; }
      .rtl .accordion-panel ul li .dropdown-content .tab-nav {
        text-align: right; }
        .rtl .accordion-panel ul li .dropdown-content .tab-nav .tab-con {
          padding: 0 10px 0 40px; }
          .rtl .accordion-panel ul li .dropdown-content .tab-nav .tab-con .tab-icon {
            margin: 10px 0 10px 20px; }
      .rtl .appLink-accordion-panel ul li .tab-area .title {
        padding: 0 !important;
        margin-left: 0;
        margin-right: 30px; }
      .rtl .hotspots-wrap .hotspots .hotspot img {
        top: 27px;
        left: 37%;
        right: auto; }
      .rtl .hotspots .hotspot h3 {
        padding: 0.53em 0 0.3em; }
      .rtl .hotspots-wrap .hotspots .hotspot {
        background: none;
        text-align: center;
        padding-top: 75px;
        padding-bottom: 42px;
        padding-right: 0; }
      .rtl .hotspots-wrap .hotspots .hotspot p {
        padding: 0; }
      .rtl .hotspots-wrap .hotspots .hotspot .hotlinks {
        text-align: center;
        padding-right: 0; }
      .rtl .appLink-accordion-panel ul li .dropdown ul li {
        text-align: center; }
      .rtl .appLink-accordion-panel ul li .dropdown ul li a img {
        margin: 0 auto 10px auto; } 

        /*dealer outer wrap*/
        
        .rtl .dealer-results ul li{overflow:hidden;}
        .rtl .dealer-results ul li .item{overflow:hidden;}
        .rtl .dealer-results .tablet-view ul li .column {float:right; padding-left:40px; padding-right:13px;}
        .rtl .dealer-results .dealername h5{padding-left:0; padding-right:20px;}

        /*end of dealer outer wrap*/
        
        /*widgets style*/
        .rtl .widgets li h2{text-align:right; padding-left:0; padding-right:65px;}
        .rtl .widgets-wrap .widgets li .content h2 > a{padding-left:32px; padding-right:0;}

        .rtl .widgets-wrap .widgets > ul > .widget-account{background-position:94% -28px;}
        .rtl .widgets-wrap .widgets > ul > .widget-account.active{background-position:94% -14018px;}
        .rtl .widgets-wrap .widgets ul li.widget-manuals{background-position:96% -2025px;}
        .rtl .widgets-wrap .widgets ul li.widget-manuals.active{background-position:96% -16021px;}
        .rtl .widgets-wrap .widgets ul li.widget-recalls{background-position:right -145px top -1964px;}
        .rtl .widgets-wrap .widgets ul li.widget-recalls.active{background-position:right -145px top -938px;}
        .rtl .widgets-wrap .widgets ul li.widget-update{background-position:95% -8025px;}
        .rtl .widgets-wrap .widgets ul li.widget-update.active{background-position:95% -22025px;}
        .rtl .widgets-wrap .widgets ul li.widget-resources {background-position: 95% -12020px;}
        .rtl .widgets-wrap .widgets ul li.widget-resources.active {background-position: 95% -26020px;}
        .rtl .widgets-wrap .widgets ul li.widget-dealer {background-position: 95% -10020px;}
        .rtl .widgets-wrap .widgets ul li.widget-dealer.active {background-position: 95% -24024px;}

        .rtl .widgets-wrap .widgets > ul > li{background-position:95% -28px;}
        .rtl .widgets-wrap .widgets > ul > li.active{background-position:95% -14018px;}
        .rtl .widgets-wrap .widgets ul li.widget-appLink{background-position:95% -13014px;}
        .rtl .widgets-wrap .widgets ul li.widget-appLink.active{background-position:95% -28014px;}
        .rtl .widgets-wrap .widgets ul li.widget-cappedPrice{background-position:right -142px top -3964px;}
        .rtl .widgets-wrap .widgets ul li.widget-cappedPrice.active{background-position:right -142px top -5463px;}
        /*end of widgets*/

        /*accordion-panel accordion-active*/
       .rtl .accordion-active.accordion-panel ul > li .tab-area .accordion-tab-icon .syncicon{margin:13px 13px 0 0;}
       .rtl .accordion-active.accordion-panel ul > li.active .tab-area .accordion-tab-icon .syncicon{margin:12px 12px 0 0;}
       .rtl .accordion-active.accordion-panel ul > li .tab-area:hover .accordion-tab-icon .syncicon{margin:12px 12px 0 0;}

      .rtl .accordion-active.accordion-panel > ul > li > div.tab-area:hover, .rtl .accordion-active.accordion-panel > ul > li.active > div.tab-area{ background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left bottom !important;}
      .rtl .accordion-active.accordion-panel > ul > li > div.tab-area{background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left top !important;}

      .rtl .accordion-active.accordion-panel > ul > li.active > div.tab-area .count, .rtl .accordion-active.accordion-panel > ul > li > div.tab-area:hover .count{padding-left:59px;}
       /*end of accordion-panel accordion-active*/
      
      /*rad sync overlay*/
      .rtl.tablet #overlay-select .header .title{text-align: center !important;}
      .rtl.tablet #rad-sync-overlay #closebtn span, .desktop #rad-sync-overlay #closebtn span{padding:16px 20px 16px 40px; background-position:center left 15px;}

        /*end of rad sync overlay*/
      
      /*account menu*/
      .rtl.apa .account-menu span.js-reveal{padding-right:26px; padding-left:40px;     background: #fff url("../img/rtl-icons.png") no-repeat 15px -62px;}

      .rtl.apa .account-menu span.js-reveal:hover{background-position:15px -98px;}
      .rtl.light #toolbar li .list-items li a{padding:11px 17px 9px !important;}
      .rtl.apa .account-menu ul{right:auto; left:-2px;}
      .rtl.tablet #header #toolbar > li{margin-left:10px;}
      .rtl #header #toolbar > li .account-menu ul > li {width:100%;}
      .rtl #header #toolbar > li .account-menu ul > li > a{background:none;}
      /*end of account menu*/

      /*#content-modal*/
      .rtl #content-modal.reveal-modal{width:520px; margin-left:-260px;}
      
      
      .rtl.apa .language-list span.lan-icon{margin-right:0; margin-left:10px;}

      

      /*end of content modal*/

      /*start of search results */
      .rtl DIV.search-result DIV.search-text, .rtl DIV.searchresults-list DIV.search-text{background-position:right top; padding:0 105px 0 0;}
      .rtl DIV.search-result DIV.search-text SPAN.results-count, .rtl DIV.searchresults-list DIV.search-text SPAN.results-count{float:left !important; padding:21px 0 0 25px !important;}
      .rtl DIV.search-result DIV.search-text P, .rtl DIV.searchresults-list DIV.search-text P{float:right;}
      .rtl DIV.searchresults-list DIV.itemscontainer DIV.item{padding:15px 90px 18px 35px;}
      .rtl DIV.searchresults-list DIV.itemscontainer DIV.item P.topic-medium{left:auto; right:20px;}
      /*end of search results*/

      .rtl.forms #badge{float:right !important;}
       .rtl.apa .more-button .btn{background: #41a8df url("../img/rtl-icons.png") no-repeat scroll 5% 10px !important}

       .rtl.apa #badge-footer{right:auto; left:30px;}
       .rtl.apa #badge-footer a{padding-right:0; padding-left: 100px; background-position: left top;}
       .rtl.apa #footer-links ul{float:right; text-align: right;}
       .rtl.apa #footer-links ul li{float: right;}
       .apa.rtl #footer-links ul li a, .rtl.apa #footer-links p{float: right; text-align: right;}
       .rtl.apa .language-list span.js-reveal{-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);}

    

      } /*end of tablet breakpoint*/


  @media only screen and (min-width: 62.1em) {
    .rtl .accordion-panel ul li .dropdown-content .article .paragraph, .rtl .accordion-panel ul li .dropdown-content .article .image {float: right; }
    .rtl .accordion-panel ul li .dropdown-content .article .paragraph ol {margin-left: 0; margin-right: 1.25em;}
    .rtl .accordion-panel ul li .dropdown-content .article .image {margin: 0 25px 0 0; }
    .rtl .hotspots-wrap .hotspots .hotspot {text-align: right;padding: 25px 0 42px 30px; }
    .rtl .hotspots-wrap .hotspots .hotspot img {top: 62px; left: auto;right: 0; }
    .rtl .hotspots-wrap .hotspots .hotspot p {padding-left: 0;padding-right: 66px;font-size: 0.75em; }
    .rtl .hotspots-wrap .hotspots .hotspot .hotlinks {padding-left: 0;padding-right: 66px;text-align:right;} 
    

    /*dealer outer wrap*/
      .rtl .mini-dealer-form h2{padding-right:0;}
      .rtl .mini-dealer-form p{padding-right:0;}
      .rtl .dealer-wrap .mini-dealer-form{float:right;}
      .dealer-wrap .locator{float:left;}

    /*end of dealer outer wrap*/

    .rtl .widgets-wrap .widgets ul li.customized.active {background-position: 50% -938px;
    }

    .rtl .overlay-wrap .overlay-content .controls .close{padding-left:102px;}

    /*widgets*/
    .rtl .widgets-wrap .widgets > ul > .widget-account{background-position:50% -3px;}
    .rtl .widgets-wrap .widgets > ul > .widget-account.active{background-position:50% -13999px;}

    .rtl .widgets-wrap .widgets ul li.widget-manuals{background-position:50% -1993px;}
    .rtl .widgets-wrap .widgets ul li.widget-manuals.active{background-position:50% -15993px}

    .rtl .widgets-wrap .widgets ul li.widget-recalls{background-position:50% -1993px;}
    .rtl .widgets-wrap .widgets ul li.widget-recalls.active{background-position:50% -15993px}

    .rtl .widgets-wrap .widgets ul li.widget-update{background-position:50% -7997px;}
    .rtl .widgets-wrap .widgets ul li.widget-update.active{background-position:50% -21997px;}

    .rtl .widgets-wrap .widgets ul li.widget-resources {background-position: 50% -11999px;}
    .rtl .widgets-wrap .widgets ul li.widget-resources.active {background-position: 50% -25999px;}

    .rtl .widgets-wrap .widgets ul li.widget-dealer {background-position: 50% -9999px;}
    .rtl .widgets-wrap .widgets ul li.widget-dealer.active {background-position: 50% -24003px;}

    .rtl .widgets-wrap .widgets > ul > li{background-position:50% -4px;}
    .rtl .widgets-wrap .widgets > ul > li.active{background-position:50% -13999px;}

    .rtl .widgets-wrap .widgets ul li.widget-appLink{background-position:50% -12991px;}
    .rtl .widgets-wrap .widgets ul li.widget-appLink.active{background-position:50% -27991px;}

    .rtl .widgets-wrap .widgets ul li.widget-cappedPrice{background-position:right 50% top -3941px;}
    .rtl .widgets-wrap .widgets ul li.widget-cappedPrice.active{background-position:right 50% top -5440px;}


    .rtl .widgets-wrap .widgets li .content h2{text-align:center !important; padding:0;}
    .rtl .widgets-wrap .widgets li .content h2 a{padding:0; margin:0;}
    .rtl .widgets .account .message div > p{text-align:center;}
    .rtl .widgets p{text-align:center;}

    /*end of widgets*/
    .rtl #content-modal.reveal-modal .content .row{padding:0;}

    .rtl .widgets .widget-dealer form fieldset select.user-success{background-position: -65px -168px !important;}

    .rtl.apa .widgets-wrap .widgets{left:auto; right:-15px;}
    .rtl .widgets-wrap .widgets > ul > li{background-position:50% -4px;}

    .rtl .language-list span.js-reveal{padding-left:40px; padding-right:10px;     background: #fff url("../img/rtl-icons.png") no-repeat 15px -62px;}
    .rtl .language-list span.js-reveal:hover{background-position:15px -98px;}
    .rtl .language-list.opened span.js-reveal{background-position:15px -139px !important;}
    .rtl.apa .language-list span.js-reveal{-moz-transform: scale(1, 1);-webkit-transform: scale(1, 1);-o-transform: scale(1, 1);-ms-transform: scale(1, 1);transform: scale(1, 1);}
    }

/*# sourceMappingURL=rtl-rad-alt.css.map */
