
  /*48em sync*/
  .rtl .syncicon-phone{margin-right:-11px;}
  .rtl .syncicon-music {margin-right:-16px;}
  .rtl .syncicon-cross {margin-right:-9px;}
  .rtl .syncicon-climate {margin-right:-16px;}
  .rtl .syncicon-telphone{background:  url('../img/telphone.png')  no-repeat; background-position: right center;}
  .rtl .syncicon-feats{background-position: 890px -600px;}
  /*@media only screen and (min-width: 48em)*/
 
  .rtl .carousel-section .content-section .heading p {text-align: center; padding-right: 55px;}
  .rtl .carousel-section .heading {background-position: 49.4% -1130px !important;}
  .rtl .appLink-accordion-panel > UL > LI > .dropdown > UL > LI A IMG {float: none;}
  .rtl .appLink-accordion-panel > UL > LI > .dropdown > UL {text-align: right;}
  .rtl .primary-nav ul li a {padding-left: 0; padding-right: 35px;}
  .rtl .primary-nav ul li a .icons {left: auto; right: 0;}
  .rtl .accordion-panel ul li .dropdown-content .tab-nav {text-align: right;}
  .rtl .accordion-panel ul li .dropdown-content .tab-nav .tab-con {padding: 0 10px 0 40px;}
  .rtl .accordion-panel ul li .dropdown-content .tab-nav .tab-con .tab-icon {margin: 10px 0 10px 20px;}
  .rtl .appLink-accordion-panel ul li .tab-area .title {padding: 0 !important; margin-left: 0; margin-right: 30px;}
  .rtl .hotspots-wrap .hotspots .hotspot img {top: 27px;left: 37%;right: auto;}
  .rtl .hotspots .hotspot h3 {padding: 0.53em 0 0.3em; }
  .rtl .hotspots-wrap .hotspots .hotspot {background: none; text-align: center; padding-top: 75px; padding-bottom: 42px; padding-right: 0;}
  .rtl .hotspots-wrap .hotspots .hotspot p {padding: 0; }
  .rtl .hotspots-wrap .hotspots .hotspot .hotlinks {text-align: center;padding-right:0;}
  .rtl .appLink-accordion-panel ul li .dropdown ul li {text-align: center; }
  .rtl .appLink-accordion-panel ul li .dropdown ul li a img {margin: 0 auto 10px auto; }


  /*@media only screen and (min-width: 62.1em) {*/
   .rtl .accordion-panel ul li .dropdown-content .article .paragraph, .rtl .accordion-panel ul li .dropdown-content .article .image {float: right;}
  .rtl .accordion-panel ul li .dropdown-content .article .paragraph ol {margin-left: 0;margin-right: 1.25em;}
  .rtl .accordion-panel ul li .dropdown-content .article .image {margin: 0 25px 0 0;}
  .rtl .hotspots-wrap .hotspots .hotspot {text-align: right;padding: 25px 0 42px 30px;}
  .rtl .hotspots-wrap .hotspots .hotspot img {top: 62px;left: auto;right: 0; }
  .rtl .hotspots-wrap .hotspots .hotspot p {padding-left: 0;padding-right: 66px;font-size: 0.75em;}
  .rtl .hotspots-wrap .hotspots .hotspot .hotlinks {padding-left: 0;padding-right: 66px;text-align: right;}
  .rtl #toolbar > li {float:left; margin-left:10px;}

 .rtl .accordion-panel ul li .dropdown-content .article .paragraph, .rtl .accordion-panel ul li .dropdown-content .article .image {float: right !important; }

  .rtl .accordion-panel ul li .dropdown-content .article .paragraph ol {margin-left: 0 !important;margin-right: 1.25em !important; }

  .rtl .accordion-panel ul li .dropdown-content .article .image {margin: 0 25px 0 0 !important; }

  .rtl .icons {background: url("../img/rtl-icons-2.png") no-repeat right top; }
  .rtl .icon-pin {background-position: -23px -97px !important; }
  .rtl .icon-talk {background-position: -27px -50px !important; }
  .rtl .icon-db {background-position: -21px 7px !important; }
  .rtl .primary-nav ul li:hover .icon-pin {background-position: -23px -306px !important;}
  .rtl .primary-nav ul li:hover .icon-talk {background-position: -27px -241px !important;}
  .rtl .primary-nav ul li:hover .icon-db {background-position: -21px -185px !important;}
  .rtl .primary-nav ul li.active .icon-pin {background-position: -23px -306px !important;}
  .rtl .primary-nav ul li.active .icon-talk {background-position: -27px -241px !important;}
  .rtl .primary-nav ul li.active .icon-db {background-position: -21px -185px !important;}

  .rtl .primary-nav ul li:first-child{border-left:1px solid #e8edee; border-right:1px solid #e8edee;}

  .rtl .carousel-section .content-section .heading{margin-right:-80px;}

  .rtl .appLink-accordion-panel > UL > LI .tab-area .count {float: left; padding: 0 0 0 59px !important;}

  .rtl .accordion-panel ul li .dropdown-content .tab-nav .tab-con {padding: 0 10px 0 40px !important;}

  .rtl .sync-select-version .force-overlay-sync {background: url("../img/rtl-selectversion.png") no-repeat 0px 2px; padding-right: 0; padding-left: 26px;}

 .rtl .appLink-accordion-panel > UL > LI.active > .tab-area {background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left bottom !important;}
  
.rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover {background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left bottom !important;}
 
  .rtl .appLink-accordion-panel > UL > LI > .tab-area {background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left top !important;}

 .rtl .appLink-accordion-panel > UL > LI > .tab-area.hover {background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left bottom !important;}


  
  .rtl .appLink-accordion-panel > UL > LI .tab-area .count {float: left; padding: 0 0 0 59px;}

  .rtl .appLink-accordion-panel > UL > LI > .tab-area .accordion-tab-icon {float: right;width: 76px; height: 76px;}
  .rtl .appLink-accordion-panel > UL > LI > .tab-area .accordion-tab-icon img {margin: 18px 18px 0 0 !important;}
  .rtl .appLink-accordion-panel > UL > LI.active > .tab-area .accordion-tab-icon img {margin: 18px 18px 0 0 !important;}
  .rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover .accordion-tab-icon img {margin: 17px 17px 0 0 !important;}
 .rtl .appLink-accordion-panel > UL > LI > .tab-area.hover .accordion-tab-icon {width: 75px; height: 74px !important; }
    .rtl .appLink-accordion-panel > UL > LI > .tab-area.hover .accordion-tab-icon img {margin: 17px !important; }
  .rtl .appLink-accordion-panel > UL > LI.active > .tab-area .accordion-tab-icon img {margin: 17px 17px 0 0 !important; }
  .rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover .accordion-tab-icon img {margin: 17px !important; }
  .rtl .appLink-accordion-panel > UL > LI.active > .tab-area .accordion-tab-icon {width: 75px !important; height: 74px !important;}
  .rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover .accordion-tab-icon {width: 75px !important; height: 74px !important;}
  .rtl .appLink-accordion-panel > UL > LI.active > .tab-area .title {line-height: 72px !important;}
  .rtl .appLink-accordion-panel > UL > LI.active > .tab-area.hover .title {line-height: 72px !important;}
  .rtl .appLink-accordion-panel > UL > LI > .tab-area .title {line-height: 74px !important;}
  .rtl .appLink-accordion-panel > UL > LI > .tab-area.hover .title {line-height: 72px !important;}

  

  /*dealer outer wrap*/
  
  .rtl .dealer-results ul li{overflow:hidden;}
  .rtl .dealer-results ul li .item{overflow:hidden;}
  .rtl .dealer-results .tablet-view ul li .column {float:right; padding-left:40px; padding-right:13px;}
  .rtl .dealer-results .dealername h5{padding-left:0; padding-right:20px;}

  /*end of dealer outer wrap*/

  /*dealer outer wrap*/
    .rtl .mini-dealer-form h2{padding-right:0;}
    .rtl .mini-dealer-form p{padding-right:0;}
    .rtl .dealer-wrap .mini-dealer-form{float:right;}
    .dealer-wrap .locator{float:left;}
    .rtl .preferred-dealer h4{background: transparent url("../img/icons-mobile.png") no-repeat scroll 596px -1439px;}
    

  /*end of dealer outer wrap*/

  /*overlay styling*/
  .rtl .top-close a{background-position:15px -3631px;}
  .rtl .top-close a:hover{background-position:15px -3671px;}
  .rtl .top-close a span{padding-right:0;}
  .rtl .general-content .general-content-inner ol{margin:20px 10px 20px 0px;}

  /*end of overlay styling*/

  .rtl .overlay-wrap .overlay-content .controls .close{padding-left:102px;}

  /*widgets*/
    .rtl .widgets-wrap .widgets > ul > .widget-account{background-position:50% -3px;}
    .rtl .widgets-wrap .widgets > ul > .widget-account.active{background-position:50% -13999px;}

    .rtl .widgets-wrap .widgets ul li.widget-manuals{background-position:50% -1993px;}
    .rtl .widgets-wrap .widgets ul li.widget-manuals.active{background-position:50% -15993px}

    .rtl .widgets-wrap .widgets ul li.widget-recalls{background-position:50% -1993px;}
    .rtl .widgets-wrap .widgets ul li.widget-recalls.active{background-position:50% -15993px}

    .rtl .widgets-wrap .widgets ul li.widget-update{background-position:50% -7997px;}
    .rtl .widgets-wrap .widgets ul li.widget-update.active{background-position:50% -21997px;}

    .rtl .widgets-wrap .widgets ul li.widget-resources {background-position: 50% -11999px;}
    .rtl .widgets-wrap .widgets ul li.widget-resources.active {background-position: 50% -25999px;}

    .rtl .widgets-wrap .widgets ul li.widget-dealer {background-position: 50% -9999px;}
    .rtl .widgets-wrap .widgets ul li.widget-dealer.active {background-position: 50% -24003px;}

    .rtl .widgets-wrap .widgets > ul > li{background-position:50% -4px;}
    .rtl .widgets-wrap .widgets > ul > li.active{background-position:50% -13999px;}

    .rtl .widgets-wrap .widgets ul li.widget-appLink{background-position:50% -12991px;}
    .rtl .widgets-wrap .widgets ul li.widget-appLink.active{background-position:50% -27991px;}

    .rtl .widgets-wrap .widgets ul li.widget-cappedPrice{background-position:50% -3941px;}
    .rtl .widgets-wrap .widgets ul li.widget-cappedPrice.active{background-position:50% -5440px;}


    .rtl .widgets-wrap .widgets li .content h2{text-align:center !important; padding:0;}
    .rtl .widgets-wrap .widgets li .content h2 a{padding:0; margin:0;}
    .rtl .widgets .account .message div > p{text-align:center;}
    .rtl .widgets p{text-align:center;}

    .rtl .widgets .manuals ul.download-list li > div{padding:3px 26px 10px 0px; background-position: 240px -388px;}
    .rtl .widgets ul.download-list li{background-position:240px -388px;}
    .rtl .widgets div.table div.title h4{text-align:right;}

    .rtl .widgets .content-inside ul.icons-list li {
        padding-right: 25px;
        padding-left: 0;
        text-align: right;
    }
    .rtl .widgets .content-inside ul.icons-list .icon {
          left: initial;
          right: 0;
      }
    /*end of widgets*/

      .rtl .accordion-tab-icon span.syncicon{margin:13px 13px 0 0;}

      /*accordion-panel accordion-active*/
       .rtl .accordion-active.accordion-panel ul > li .tab-area .accordion-tab-icon .syncicon{margin:13px 13px 0 0 !important;}
       .rtl .accordion-active.accordion-panel ul > li.active .tab-area .accordion-tab-icon .syncicon{margin:12px 12px 0 0 !important;}
       .rtl .accordion-active.accordion-panel ul > li .tab-area:hover .accordion-tab-icon .syncicon{margin:12px 12px 0 0 !important;}

      .rtl .accordion-active.accordion-panel > ul > li > div.tab-area:hover, .rtl .accordion-active.accordion-panel > ul > li.active > div.tab-area{ background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left bottom !important;}
      .rtl .accordion-active.accordion-panel > ul > li > div.tab-area{background: #ffffff url("../img/rtl-accordion-arrow.png") no-repeat scroll left top !important;}

      .rtl .accordion-active.accordion-panel > ul > li.active > div.tab-area .count, .rtl .accordion-active.accordion-panel > ul > li > div.tab-area:hover .count{padding-left:59px;}
      .rtl DIV.accordion-panel > UL > LI > DIV.tab-area DIV.accordion-tab-icon {float: right !important;}

      .rtl .accordion-active.accordion-panel > UL > LI > DIV.tab-area SPAN.title{ padding-left: 0; padding-right: 25px; margin-right: 0; float:right;}

      .rtl .accordion-active.accordion-panel > UL > LI > DIV.tab-area SPAN.count{float:left; padding-left:60px;}
      .rtl .accordion-active.accordion-panel > UL > LI.active > DIV.tab-area SPAN.count{float:left; padding-left:59px;}
      .rtl .accordion-active.accordion-panel > UL > LI > DIV.tab-area:hover SPAN.count{float:left; padding-left:59px;}

      /*rad sync overlay*/
      .rtl.tablet #overlay-select .header .title{text-align: center !important;}
      .tablet #rad-sync-overlay #closebtn span, .desktop #rad-sync-overlay #closebtn span{padding:16px 20px 16px 40px; background-position:17px 17px;}
        /*end of rad sync overlay*/
       /*end of accordion-panel accordion-active*/

        /*account menu*/
      .rtl.apa .account-menu span.js-reveal{padding-right:26px; padding-left:40px;     background: #fff url("../img/rtl-icons.png") no-repeat 15px -62px;}

      .rtl.apa .account-menu span.js-reveal:hover{background-position:15px -98px;}
      .rtl.light #toolbar li .list-items li a{padding:11px 17px 9px !important;}
      .rtl.apa .account-menu ul{right:auto; left:-2px;}
      .rtl.tablet #header #toolbar > li{margin-left:10px;}
      .rtl #header #toolbar > li .account-menu ul > li {width:100%;}
      .rtl #header #toolbar > li .account-menu ul > li > a{background:none;}
      /*end of account menu*/

      /*#content-modal*/
      .rtl #content-modal.reveal-modal{width:520px; margin-left:-260px;}
      .rtl #content-modal.reveal-modal .content .row{padding:0; width:520px !important;}
      .rtl .widgets .widget-dealer form fieldset select.user-success{background-position: -43% -168px !important;}
      .rtl .checkbox-image{float:right !important; margin-right:0; margin-left:10px;}
      .rtl input[type="checkbox"] + label {float: right !important; color:#333 !important;}
      .rtl .service-booking #content-modal.reveal-modal p.form-text{width:278px !important;}
      .rtl .language-list span.js-reveal{padding-left:40px; padding-right:10px;     background: #fff url("../img/rtl-icons.png") no-repeat 15px -62px;}
      .rtl .language-list span.js-reveal:hover{background-position:15px -98px;}
      .rtl.apa .language-list span.lan-icon{margin-right:0; margin-left:10px; float:right;}
      .rtl #content-modal.reveal-modal .content .row .columns .content-col .dealer-search .form-text{width:280px;}
      .rtl .language-list.opened span.js-reveal{background-position:15px -139px !important;}

      /*end of content modal*/

       /*start of search results */
      .rtl DIV.search-result DIV.search-text, .rtl DIV.searchresults-list DIV.search-text{background-position:right top; padding:0 105px 0 0;}
      .rtl DIV.search-result DIV.search-text SPAN.results-count, .rtl DIV.searchresults-list DIV.search-text SPAN.results-count{float:left !important; padding:21px 0 0 25px !important;}
      .rtl DIV.search-result DIV.search-text P, .rtl DIV.searchresults-list DIV.search-text P{float:right;}
      .rtl DIV.searchresults-list DIV.itemscontainer DIV.item{padding:15px 90px 18px 35px;}
      .rtl DIV.searchresults-list DIV.itemscontainer DIV.item P.topic-medium{left:auto; right:20px;}
      /*end of search results*/

     .rtl .state-edit .columns input.user-error, .rtl form .section .form-bg .columns input.user-error{background-position:-86px -111px !important;}
      .rtl .state-edit .columns input.user-success, .rtl form .section .form-bg .columns input.user-success{background-position:-86px -168px !important;}

     .rtl .styled-select{background:none !important;}

     .rtl form.validate .section .form-bg fieldset .columns .columns{float:right;}

     .rtl.apa .widgets-wrap .widgets{left:auto; right:-15px;}

     .rtl .widgets-wrap .widgets ul li.customized.active {background-position: 50% -938px;
    }
    
