@mixin fontFace($family,$src){
	@font-face {
		font-family: $family;
		src: url("#{$font-path}/#{$family}/#{$src}.eot");
		src: url("#{$font-path}/#{$family}/#{$src}.eot?#iefix") format("embedded-opentype"),
			 url("#{$font-path}/#{$family}/#{$src}.woff") format("woff"),
			 url("#{$font-path}/#{$family}/#{$src}.ttf") format("truetype"),
			 url("#{$font-path}/#{$family}/#{$src}.svg##{$family}") format("svg");
	}
}

@include fontFace("icomoon","icomoon");
@include fontFace("Antenna-Light","Antenna.Light.webfont");
@include fontFace("Antenna-Extra-Light","Antenna.Extra-Light.webfont");
@include fontFace("Antenna-RE","Antenna.RE.webfont");
@include fontFace("Antenna-Bold","Antenna.Bold.webfont");

