#jumplinks {border:0 !important; clip:rect(0 0 0 0); height:1px !important; margin:-1px !important; overflow:hidden !important; padding:0 !important; position:absolute !important; width:1px !important;}

// grey separator line
.separator div {height:1px; background-color:$border-gray;}

// set module background 
.bg-white {background-color:#FFF;}
.bg-beige {background-color:#F7F7F7;}

// set gutter between full-bleed images
.full-bleed-gutter {padding-top:5px; background-color:#FFF;}

.row.fullwidth {width:100%; max-width:100%;}
.row.fullwidth .columns,.row.fullwidth .column {padding:0;}

body.no-scroll {overflow: hidden;}
body, body.ui-overlay-c, .ui-mobile .ui-overlay-c .ui-page {background-color:#FAFAFA;}

#page-wrapper {min-width:320px; max-width:1440px; margin:0 auto; background:#fff; overflow:hidden;}

.revealer-vertical .hide {display:block;}

.js-warning {width:960px; margin:20px auto; padding:0; 
    p {margin:3px 0 8px; color:#5B6E7C; font-size:1em; border-radius:5px; border:5px solid #445A68; padding:10px 15px 12px; text-align:center;
        a {text-decoration:underline;}
    }
}

a.external-disclaimer {background:url('#{$img-path}/imgftd/bits.png') right -143px no-repeat; padding-right:15px;}

// rtl
body.rtl, .rtl {direction:rtl;
    .billboard {direction:ltr;}
}

// chunk 1 - initial component loader
.loading {display:block; min-height:200px; background:transparent url('#{$img-path}/loader-blue.gif') scroll no-repeat 50% 45%;}
.psn-loader, .module-loader {display: block; font-size:0; height:0px; overflow:hidden;
    .icon {height:0px !important;}
}

// chunk 2 - module loader
.module-loader {
    > * {display: block !important; font-size:0 !important; margin:0 !important; padding:0 !important; height:0 !important; overflow:hidden !important;}
    .icon {height:0px !important;}
}

// back to top button
.back-top {position:fixed; z-index:1001; height:65px; width:65px; bottom:40px; top:auto; right:5px;
    a {position:absolute; width:65px; height:65px; opacity:0; padding:10px; right:-60px; -webkit-transition:all 0.2s ease; transition:all 0.2s ease;
        &.btn-visible {opacity:1; right:0;}
        span {height:45px; width:45px; display:block; background:url('#{$img-path}/svg/icons.svg') -165px -207px no-repeat;}
    }
}

// carousel direction nav
.flexslider .flex-direction-nav {display:none;}
.flexslider:hover .flex-direction-nav {display:none;}

// navigation
#navigation {position:relative; z-index:9997;}

// reveal foundation modal
.reveal-modal-bg{background-color:#000; @include opacity(0.8);z-index: 9999;}

#content > section.last,
#content > section.no-space {padding-bottom:0 !important; margin-bottom:0 !important;}

.top-inner-space-short {padding-top:4em !important;}
.bottom-inner-space-short {padding-bottom:4em !important;}
.top-inner-space-high {padding-top:4em !important;}
.bottom-inner-space-high {padding-bottom:4em !important;}

.top-outer-space-short {margin-top:4em !important;}
.bottom-outer-space-short {margin-bottom:4em !important;}
.top-outer-space-high {margin-top:4em !important;}
.bottom-outer-space-high {margin-bottom:4em !important;}

// div aligment - used for promotions component
.align-top-left {top:5% !important; left:0 !important; margin-left:0 !important;}
.align-top-center {top:5% !important;}
.align-top-right {top:5% !important; right:0 !important; left:auto !important; margin-left:0 !important;}

.align-middle-left {@include vertical-align; left:0 !important; margin-left:0 !important;}
.align-middle-center {@include vertical-align;}
.align-middle-right {@include vertical-align; right:0 !important; left:auto !important; margin-left:0 !important;}

.align-bottom-left {top:auto !important; bottom:5% !important; left:0 !important; margin-left:0 !important;}
.align-bottom-center {top:auto !important; bottom:5% !important;}
.align-bottom-right {top:auto !important; bottom:5% !important; right:0 !important; left:auto !important; margin-left:0 !important;}
.error-page {text-align:center;padding:100px 0; color:$text-gray; font-size:rem-calc(24);display:block;
	i{color:$error-red;font-size:rem-calc(28);}}
@media #{$small-only}{
    // navigation
    #navigation {height:50px;}
}

@media #{$medium-only}{
    // navigation
    #navigation {height:50px;}
}

@media #{$large-up}{
    // scroll shows up on vehicleCard overlay
    body.has-scroll {overflow: auto;}
    
    .revealer-vertical .hide {display:none;}

    // set gutter between full-bleed images
    .full-bleed-gutter {padding-top:10px;}

    // back to top button
    .back-top {bottom:62px;}
    
    // carousel direction nav
    .flexslider .flex-direction-nav {display:block;}
    .flexslider:hover .flex-direction-nav {display:block;}

    .top-inner-space-high {padding-top:8em !important;}
    .bottom-inner-space-high {padding-bottom:8em !important;}
    .top-outer-space-high {margin-top:8em !important;}
    .bottom-outer-space-high {margin-bottom:8em !important;}

    // div aligment - used for promotions component
    .align-top-left,
    .align-top-center,
    .align-top-right {top:6% !important;}

    .align-middle-left,
    .align-middle-center,
    .align-middle-right {@include vertical-align;}

    .align-bottom-left,
    .align-bottom-center,
    .align-bottom-right {top:auto !important; bottom:2% !important;}
}

@media #{$xxlarge-up}{
    #page-wrapper {border-left:1px solid $border-gray; border-right:1px solid $border-gray;}

    // carousel direction nav
    .flexslider .flex-direction-nav {display:block;}
    .flexslider:hover .flex-direction-nav {display:block;}

    // div aligment - used for promotions component
    .align-middle-left,
    .align-middle-center,
    .align-middle-right {@include vertical-align;}

    .align-bottom-left,
    .align-bottom-center,
    .align-bottom-right {top:auto !important; bottom:4% !important;}
}