p {line-height:1.6;}
sup {line-height:0;}
a:hover, a:active, a:focus {outline:none;}
// For fixing active color when tap on mobile devices
a {-webkit-tap-highlight-color: rgba(0,0,0,0); }

h1 {font-size:rem-calc(24);}
h2 {font-size:rem-calc(22);}
h3 {font-size:rem-calc(18);}
h4 {font-size:rem-calc(12);}
h5 {font-size:rem-calc(12);}
h6 {font-size:rem-calc(12);}

@media #{$medium-up} {
	h1 {font-size:rem-calc(30);}
	h2 {font-size:rem-calc(26);}
	h3 {font-size:rem-calc(24);}
	h4 {font-size:rem-calc(18);}
	h5 {font-size:rem-calc(18);}
	h6 {font-size:rem-calc(18);}
}

@media #{$large-up} {
	h1 {font-size:rem-calc(42);}
	h2 {font-size:rem-calc(36);}
	h3 {font-size:rem-calc(30);}
	h4 {font-size:rem-calc(24);}
	h5 {font-size:rem-calc(24);}
	h6 {font-size:rem-calc(24);}
}

@media #{$xlarge-up} {
	h1 {font-size:rem-calc(48);}
	h2 {font-size:rem-calc(42);}
	h3 {font-size:rem-calc(36);}
	h4 {font-size:rem-calc(30);}
	h5 {font-size:rem-calc(30);}
	h6 {font-size:rem-calc(30);}
}