// Copied from ftdsmob/css/smobile.css
// Will be removed when we fully utilize responsive site
// Global Foundation Settings
@import "common/common";

#header {width:100%; height:auto; margin:0; position:static;}

.hidden {
	display: none !important;
}

.disable {
	visibility: hidden
}

.ui-mobile .ui-page {
	background-color: #fff;
	overflow: hidden;
}

.ui-body-c {
	font-family: $font-family-light;
}

.ui-body-c .ui-link {
	font-weight:normal;
}

.ui-body-c .button.ui-link, 
.ui-body-c .multi-buttons .ui-link {
	color: #FFF;
}

.ui-body-c .button.ui-link:hover,
.ui-body-c .button.ui-link:focus, 
.ui-body-c .multi-buttons .ui-link:hover,
.ui-body-c .multi-buttons .ui-link:focus {
	color: #003478;
}

.ui-body-c .button.alt{
  position: absolute;
}

.ui-body-c .button.alt.ui-link, 
.ui-body-c .multi-buttons .ui-link.alt {
	color: #2d96cd;
}

.ui-body-c .button.alt.ui-link:hover, 
.ui-body-c .button.alt.ui-link:focus, 
.ui-body-c .multi-buttons .ui-link.alt:hover, 
.ui-body-c .multi-buttons .ui-link.alt:focus {
	color: #003478;
}

.ui-body-c .button.active.ui-link {
	color: #003478;
}

.ui-body-c, .ui-overlay-c{
	text-shadow:none;
	background:none;
}

.ui-header.ui-bar-c {
	background: none;
	border: none
}

.ui-header.ui-bar-c:first-child {
	margin: 0.6em 0 0.4em;
}

.ui-header .ui-btn-left {
	background: none;
	border: none;
	color: #296aa4;
	margin-top: 2px;
}

.rtl .ui-header .ui-btn-left {
	left: auto;
	right: 5px;
}

.back.ui-btn-left .ui-btn-inner {
	border: medium none;
	padding-left: 17px;
	text-indent: 0;
	text-shadow: none;
}

.ui-btn-up-b:active, .ui-btn-up-b a.ui-link-inherit:active {
	color:#FFF;
}

.rtl .back.ui-btn-left .ui-btn-inner {
	padding-left: 0;
	padding-right: 22px;
}

.ui-header .ui-btn-right {
	border-radius: 0.4em;
	margin-top: 1px;
}

.rtl .ui-header .ui-btn-right {
	left: 5px;
	right: auto;
}

.ui-icon-back-btn {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: url("../../ftdsmob/img/icons.png") no-repeat scroll 0 -1236px
		transparent;
	border-radius: 0;
}

.rtl .ui-icon-back-btn {
	background: url("../../ftdsmob/img/icons-rtl.png") no-repeat scroll -34px -1236px;
}



.ui-header .ui-controlgroup-horizontal {
	margin: 0
}

.ui-header .ui-controlgroup-horizontal .ui-controlgroup-controls {
	width: 100%;
}

.ui-header .ui-controlgroup-horizontal .ui-btn {
	border: none;
	border-radius: 0;
	float: left;
	width: 25%;
	margin: 0
}

.rtl .ui-header .ui-controlgroup-horizontal .ui-btn {
	float: right;
}

.ui-header .ui-controlgroup-horizontal .ui-btn-inner {
	border: 1px solid #145072;
	border-radius: 0;
	font-size: 12px;
	line-height: 14px;
	white-space: normal;
	padding: 0;
	height: 56px
}

.icon-dealer,.icon-showroom,.icon-assist,.icon-share,.icon-promo,.icon-newsroom,.icon-next,.icon-alert,.icon-brochures,.icon-testdrive,.icon-dealer {
	background: url("../../ftdsmob/img/icons.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 20px;
	margin: 2px auto;
	width: 20px;
}

.icon-showroom {
	background-position: 0 -57px
}

.icon-assist {
	background-position: 0 -113px
}

.icon-share {
	background-position: 0 -176px
}

.icon-promo {
	background-position: 0 -240px
}

.icon-newsroom {
	background-position: 0 -302px
}

.icon-next {
	background-position: 0 -354px
}

.icon-testdrive {
	background-position: 0 -1110px
}

.icon-brochures {
	background-position: 0 -1157px
}

.icon-alert {
	background-position: 0 -1205px
}

.imglink {
	margin-bottom: 1em
}

.txtbtn {
	margin: 0 0.5em;
	height: 2em
}

.txtbtn b {
	color: #333;
	display: block;
	float: left;
	text-shadow: none;
	margin: 0.8em 0 0 0.4em;
}

.rtl .txtbtn b {
	float: right;
	margin: 0.8em 0.4em 0 0;
}

.txtbtn .ui-btn {
	border-radius: 0.2em;
	float: right;
}

.rtl .txtbtn .ui-btn {
	float: left;
}

.txtbtn .ui-btn-inner {
	border-radius: 0.2em;
	padding: 0.4em 1em;
	font-size: 14px
}

.wrapper {
	background: none #3D4D5A;
	height: 110%;
	position: relative;
	width: 100%;
}

.share {
	background-color: #fff;
	box-shadow: 0px 2px 2px #ccc inset;
	margin: 0 0.5em;
	padding: 0 0 0.5em 0;
	border-radius: 0 0 0.4em 0.4em;
}

.share .txtbtn {
	font-size: 14px;
	height: 2.4em;
}

.share .txtbtn .ui-btn-inner {
	padding: 0.4em 0.5em
}

.share .navbtns {
	margin: 1em auto 0.2em;
	width: 96%;
}

.share .navbtns .ui-btn-up-g,.share .navbtns .ui-btn-hover-g {
	margin: 0.3em 0.4em
}

.navbtns {
	margin: 0.5em auto;
	width: 95.4%
}

.navbtns .ui-btn {
	border-radius: 0.4em;
	margin: 0.3em 5px
}

.navbtns .ui-btn-inner {
	border-radius: 0.4em;
	font-size: 14px;
	text-align: left;
	line-height: 25px;
	padding: 0.3em 12px
}

	.rtl .navbtns .ui-btn-inner {
		text-align: right;
	}

.navbtns .ui-btn-text span {
	float: left;
	margin-right: 0.6em;
}

	.rtl .navbtns .ui-btn-text span {
		float: right;
		margin-left: 0.6em;
		margin-right: 0;
	}

.navbtns .ui-btn-icon-left .ui-btn-inner {
	text-indent: 0.8em;
	padding: 10px 12px
}

	.rtl .navbtns .ui-btn-icon-left .ui-btn-inner .ui-icon-arrow-l {
		background-position: -108px -1px;		
		left: auto;
		right: 10px;
	}

/*theme override*/
.navbtns .ui-btn-up-a .ui-btn-inner,.navbtns .ui-btn-hover-a .ui-btn-inner
	{
	text-indent: 1.8em
}

.navbtns .ui-btn-up-c,.navbtns .ui-btn-hover-c {
	margin: 0.2em 5px
}

.navbtns .ui-btn-up-c .ui-btn-inner,.navbtns .ui-btn-hover-c .ui-btn-inner
	{
	text-indent: 0;
	font-size: 13px
}

.navbtns .ui-btn-up-g,.navbtns .ui-btn-hover-g {
	border: none;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	text-shadow: none;
	margin: 0.4em
}

.navbtns .ui-btn-up-g {
	background: #707c88;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#969da5),
		to(#707c88) );
	background-image: -webkit-linear-gradient(top, #969da5, #707c88);
	background-image: -moz-linear-gradient(top, #969da5, #707c88);
	background-image: -ms-linear-gradient(top, #969da5, #707c88);
	background-image: -o-linear-gradient(top, #969da5, #707c88);
	background-image: linear-gradient(top, #969da5, #707c88);
}

.navbtns .ui-btn-hover-g {
	background: #5a6b77;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#858c94),
		to(#5a6b77) );
	background-image: -webkit-linear-gradient(top, #858c94, #5a6b77);
	background-image: -moz-linear-gradient(top, #858c94, #5a6b77);
	background-image: -ms-linear-gradient(top, #858c94, #5a6b77);
	background-image: -o-linear-gradient(top, #858c94, #5a6b77);
	background-image: linear-gradient(top, #858c94, #5a6b77);
}

.ui-footer {
	background: none;
	/*margin-top: 1.2em*/
}

.ui-footer.ui-bar-c {
	border-top: none;
}

	.rtl .ui-footer.ui-bar-c .dark {
		padding: 0.6em 8px;
		text-align: right;
	}

.ui-footer ul {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.4em auto;
	padding: 0.6em 0 0.8em;
	width: 98%;
}

	.rtl .ui-footer ul {
		margin-top: 10px;
		overflow: hidden;
	}

.ui-footer li {
	display: inline-block;
	list-style: none;
	line-height: 1em;
	width: 18%
}

	.rtl .ui-footer li {
		float: right;
		width: 20%;
	}

.ui-footer p {
	margin: 0.8em 0
}

.ui-footer a.ui-link,.ui-footer a.ui-link:visited {
	color: #3d4d59;
	display: block;
	font-size: 12px;
	text-decoration: none;
	text-align: center
}

.ui-footer .disable {
	width: 15%
}

	.rtl .ui-footer .disable {
		float: right;
		width: 15%;
	}

.dark,.black,.gray {
	color: #fff;
	clear: left;
	font-weight: 700;
	padding: 0.6em 0 0.6em 8px;
	text-shadow: none;
	min-width: 90%
}

	.rtl .dark, .rtl .black, .rtl .gray {
		padding: 0.6em 8px;
		text-align: right;
	}

.dark {
	background-color: #394a5a;
	font-size: 10px;
	font-weight: 100
}

.gray {
	background-color: #e7ecf2;
	font-size: 14px;
	color: #60676d
}

/* No carousel navigation in SMOB */
.billboard .carousel .flex-direction-nav {display:none !important;}

/*style for checkbox in modelwalk accordion*/
.model-walk-accordion{
	.ui-checkbox{display: inline-block;
		input[type=checkbox]{top:0; left:0;}
	}
}

.vehicle-modal{
	.modal-content{
		.select-models{
			.model-container{
				.model-data{
					.model-select{padding-left: 0;
						input{top:0; left:0;}
						h2{margin-left: 30px;}
					}
					&.selected{
						.model-select{
							h2{margin-left: 0px;}
						}
					}
				}
			}
		}
	}
}

.model-walk{
	.model-select{padding-left: 0 !important;
		.ui-checkbox{
			.checker{
				input[type=checkbox]{top:0; left:0;}
			}
		}
		h2{margin-left: 30px !important;
			a{font-weight: bold;}
			}
	}
	.model-content{
		.price{margin-left: 30px !important;}
		}
    .mobile-button .ui-btn-text{
      text-shadow: none;
      opacity: 0.7;
    }
	&.model-enhance{
		.model-select{
			h2{margin-left: 5px !important;}
		}
		.model-content{
			.price{margin-left: 5px !important;}
		}	
	}
}

.inner-popup{
	.content{
		ul{
			li{font-family: $body-font-family;}
		}
	}
}

/*Start of Mobile - RTL Styles*/
.attribute-bar{
	.wrap{
		.offers{
			p, a{font-family:$body-font-family;}
			a:hover{color:$text-gray;}
		}
	}
	.details{
		.primary, .secondary {
			p{font-family:$body-font-family;}
		}
		
	}
	.seat{
		p{font-family:$body-font-family;}
	}
}

.gallery-trigger{
	p{font-family:$body-font-family;}
}

.rotate-slider{
	.ui-link{font-family:$body-font-family;}
}

.colorizer{
	.click-text{font-family:$body-font-family;}
}

.buzz{
	.quote-wrap{font-family:$body-font-family;}
}

.media-overlay{
	font-family: $body-font-family;
}
/*end of Mobile - RTL Styles*/

/*homepage smob styles*/
.brand-gallery{
	font-family: $body-font-family;
}

.showcase{
	.price{font-family: $font-family-medium; color:$dark-blue;}
	.specs{
		ul{
			li{font-family: $body-font-family; color:$dark-blue;}
		}
	}
}

.mini-dealer{
	.dealer-items{
		.carousel{
			.slides{
				.ui-link{font-family: $body-font-family; }
			}
		}
	}
}
/*end of homepage styling*/