@import "common/common";

// CSS only for tablets
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	/*// for fixing iPad page scale issue
	#page-wrapper {width:1024px;}*/
	
	/*this is for ipad page scale issue (ftd-page header)*/
	#header, #nav-footer, #footer {
		@include transform(scale(0.75)); position:relative; left:-12.5%;
	}
	.rtl{
		#header, #nav-footer, #footer {right:-12.5%; left:auto;}
	}

	/** Simple Menu **/
	#header #nav .menu {width:140px;}

	// overlays
	.modal-open {height:100%;
	    .modal.video-flip {
			.modal-dialog {margin:0 auto;
				.modal-content {-webkit-overflow-scrolling:touch; overflow-y:scroll;
					.icon-close {@include scale-element(1,1); right:0; top:0;}
					.modal-body {-webkit-transform:translate3d(0, 0, 0); margin:48px auto 0;}
				}
			}
		}
		.modal.media-overlay {
			.modal-dialog {
				.modal-content {-webkit-overflow-scrolling:touch; overflow-y:scroll;
					&.video .icon-close {top:8px;}
					&.video .modal-body {margin-top:64px;}
					.modal-body {-webkit-transform:translate3d(0, 0, 0);}
				}
			}
		}
	}
	
	.rtl.modal-open {
		.modal.video-flip, .modal.media-overlay {
			.modal-dialog {margin:64px auto 0;}
		}
	}

	.key-features{
		.slides{
			.image{
				.icon-m-play{font-size:rem-calc(50) !important; margin-left:-25px; margin-top:-25px}
			}
		}
	}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	// overlays
	.modal-open {height:100%; width:100%;
		.modal.video-flip {
			.modal-dialog {width:100%;
				.modal-content {width:auto; margin:0 60px;}
				.content{
					.title {
						h2 {padding:31px 35px 21px;}
						.hide-details {
							a {right:36px;}
						}
					}
					p {padding:0 35px;}
					.multi-buttons{padding:8px 35px 25px;}
				}
			}	
		}
		.modal.media-overlay {
			.modal-dialog {width:100%;
				.modal-content {width:auto;}
				.content{
					p {padding:0 26px;}
					.multi-buttons{padding:8px 27px 25px;}
				}
			}	
		}
	}
	.modal { 
		.fullwidth {
			width: auto!important;
		}
	}
}





