<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<title>Ford</title>
	<!-- Framework and library -->
	<link rel="stylesheet" href="../../src/themes/ftdsmob/css/jquery.mobile-1.3.1.min.css" />
	<!--
		<link rel="stylesheet" href="themes/ftdsmob/css/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="themes/ftdsmob/js/lib/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="themes/ftdsmob/js/lib/jquery.mobile-1.0.min.js"></script>
	-->
	<!-- Site css and js -->
	<link rel="stylesheet" href="../../src/themes/ftdsmob/css/smobile.css?v=1"/>
	<script type="text/javascript" src="../../src/themes/loader/js/live/prod.min.js"></script>
	<script type="text/javascript">window.appLoader && appLoader("../../src/themes/ftdsmob/js/lib/jquery-1.8.3.js");</script>
	<script type="text/javascript">
		   // $wait(function(){window.appLoader("http://foa.ndmgt.corp.nextdigital.com/fps/script/Ford/AUS");});
		   $wait(function(){window.appLoader("../../src/themes/ftdsmob/js/live/dev.debug.js");});
	</script>
</head>
<body class="rtl">
<div data-role="page">
	<div data-role="header" data-theme="c" data-position="inline">
		<a data-icon="back-btn" data-role="button" class="back back-button">Back</a>
		<h1>
			<a href="smart_home.html">
				<img src="../../src/themes/ftdsmob/img/logo.png" />
			</a>
		</h1>
		<a data-inline="true"
				data-theme="c"
				data-rel="dialog"
				href="smart_menu.html">Menu</a>
	</div>
	<div data-role="header">
		<div data-role="controlgroup" data-type="horizontal">
			<a href="smart_dealer.html" data-role="button" data-theme="b" class="ctx-pc">
				<span class="icon-dealer"></span>
				Dealer Locator
			</a>
			<a href="smart_showroom.html" data-role="button" data-theme="b">
				<span class="icon-showroom"></span>
				View Showroom
			</a>
			<a href="http://touch.ford.com.au/latest-offers/national" data-role="button" data-theme="b" class="overlay-hotdeals">
				<span class="icon-promo"></span>
				See Latest Offers
			</a>
			<a href="http://touch.ford.com.au/build-and-quote" data-role="button" data-theme="b">
				<span class="icon-promo"></span>
				Build &amp; Quote
			</a>
		</div>
	</div>
	<div data-role="header">
		<div class="black">Showroom: All Ford Cars, SUVs & Utes</div>
	</div>
	<div data-role="content">
			<img src="media/home_01.jpg" width="100%">
			<div class="navbtns">
				<a href="http://touch.ford.com.au/cars/fiesta/introduction" data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false">
					<span class="icon-benefits"></span>
					Introduction
				</a>
				<a href="http://touch.ford.com.au/cars/fiesta/models" data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false">
					<span class="icon-services"></span>
					Models
				</a>
				<a href="http://touch.ford.com.au/cars/fiesta/colours-trims" data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false">
					<span class="icon-services"></span>
					Colours/Trims
				</a>
				<a href="http://touch.ford.com.au/cars/fiesta/features" data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false">
					<span class="icon-benefits"></span>
					Features
				</a>
				<a href="http://touch.ford.com.au/cars/fiesta/gallery" data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false">
					<span class="icon-benefits"></span>
					Gallery
				</a>
				<a href="http://touch.ford.com.au/cars/fiesta/video" data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false">
					<span class="icon-benefits"></span>
					Videos
				</a>
			</div>
			<div class="navbtns">
				<a href="https://www.ford.com.au/request-brochure" data-role="button" data-theme="g" class="ctx-voi">
					<span class="icon-benefits"></span>
					Request a Brochure
				</a>
				<a href="https://www.ford.com.au/test-drive" data-role="button" data-theme="g">
					<span class="icon-benefits"></span>
					Request a Test Drive
				</a>
				<a href="http://touch.ford.com.au/locate-dealer" data-role="button" data-theme="g" class="ctx-pc">
					<span class="icon-benefits"></span>
					Find a Dealer
				</a>
			</div>
		</div>
	<div data-role="footer" data-theme="c">
		<div class="dark">© 2014 Ford Motor Company of Australia Limited</div>
		<ul>
			<li>
				<a href="http://touch.ford.com.au/">Home</a>
			</li>
			<li>
				<a href="https://touch.ford.com.au/contact-us" title="Contact Us">Contact Us</a>
			</li>
			<li>
				<a href="http://touch.ford.com.au/privacy" title="Privacy">Privacy</a>
			</li>
			<li>
				<a href="http://touch.ford.com.au/disclaimer" title="Disclaimer">Disclaimer</a>
			</li>
			<li>
				<a href="http://touch.ford.com.au/site-map" title="Site Map">Site Map</a>
			</li>
		</ul>
	</div>
	<script id="tmpl-price-links" type="text/x-jquery-tmpl">
	{{if postcode}}
	<div class="calc-price">
		<a href="calculate-price" data-role="button" class="with-title postcode get-postcode-usage" data-corners="false">
			<span class="title">Post Code</span>
			<span>${postcode}</span>
		</a>
		<p>Prices shown for ${usageLabel} buyer usage and postcode ${postcode}. Not correct? Click to change.</p>
	</div>	
	{{else error}}
	<p>
		${error}
		<a href="calculate-price" class="get-postcode-usage">Want to see prices? Press to find out how.</a>
	</p>
	{{else loading}}
	<p>
		Loading<span class="loading"></span>	
	</p>
	{{else}}
		  <a href="calculate-price" class="wide get-postcode-usage" data-role="button" data-shadow="false" data-corners="false" data-icon="arrow-r" data-iconshadow="false" data-iconpos="right">Want to see prices? Press to find out how.</a>
	{{/if}}
	</script>
	<script id="tmpl-price-main" type="text/x-jquery-tmpl">
		<div class="price">
			
				<span class="label">Drive away price* from</span> <strong class="">${displayPrice}</strong>
			
		</div>
	</script>
	<script id="tmpl-price-hotdeal-main" type="text/x-jquery-tmpl">
		{{if hotDealSmobUrl}}
			<div class="latest-offer" data-role="button" data-corners="false" data-theme="b" data-icon="arrow-r" data-iconpos="right">
				
				<a class="offers" href="${hotDealSmobUrl}" title="Latest offers"> <b>Latest offers</b>
					<span class="label">or see latest offer</span>				
				</a>
			</div>
		{{/if}}
	</script>
	<script id="price-urls" type="text/x-json">{
				"xhr-calcprice-data": "/servlet/Satellite?pagename=DFY/Tools/CalculatePriceJSON&site=FOA&sitetype=smob"
				,"xhr-calcprice-form":"/servlet/Satellite?c=DFYArticle&cid=1249045349741&pagename=FOA%2Fcontroller-smobile&site=FOA&sitetype=smob&view=Module%2Fcalculate-price-form"
			}</script>
	<script id="tmpl-hotdeals-links" type="text/x-jquery-tmpl">
		<span class="hotdeals-postcode">
		{{if error}}
			${error}
		{{/if}}
		{{if postcode}}
				<a href="" class="force-overlay-hotdeals with-title postcode" data-role="button" data-corners="false" data-transition="slidedown" data-rel="popup"><span class="title">Post Code</span><span>${postcode}</span></a>	
		{{else wrongPostcode}}
				Your chosen postcode is outside of this region.
				<a href="" class="force-overlay-hotdeals">Not your postcode? Click to change your postcode.</a>
        		<a href="your-region">Click to see your region</a>
		{{else}}
				<a href="" class="force-overlay-hotdeals with-title postcode" data-role="button" data-corners="false" data-transition="slidedown" data-rel="popup"><span class="title">Post Code</span><span>-</span></a>
		{{/if}}
		</span>
	</script>
	<script id="hotdeals-data" type="text/x-json">{"xhr-hotdeals-data":"/servlet/ContentServer?pagename=DFY/HotDeals/Regionator&site=FOA&sitetype=smob","xhr-hotdeals-form":"/servlet/Satellite?c=DFYArticle&cid=1249045349735&pagename=wrapper&site=FOA&sitetype=smob&view=Module%2Fcalculate-region-form"}</script>
	<script id="bing-config" type="text/x-json">{
				"bing-maps-key": "AjfiPJJCCzRcx3L-DmwmJtzDxRP6ELYA5xbt78c8JNdtRMsDjmhLeWoYIj5rbgEj"
				
			}</script>
	<script id="current-position-config" type="text/x-json">{
				"error-trans-denied-access" : "User denied the request for Geolocation",
				"error-trans-loc-unavail" : "Location information is unavailable",
				"error-trans-req-timeout" : "The request to get user location timed out",
				"error-trans-unknown" : "General error message"
			}</script>
	<script id="common-config" type="text/x-json">
{
  "cookieDomain": ".touch.ford.com.au",
  "site": "FOA",
  "priceZone": "1137384063721",
  "locale": ""
}
</script>
	<script id="rest-services" type="text/x-json">
{
  "common.user-agent": "/servlet/rest/common/user-agent",
  "owner.status": "/servlet/rest/owner/status",
  "owner.dealer": "/servlet/rest/owner/{site}/dealer",
  "pts.yearmodel": "/servlet/rest/pts/yearmodels/{site}/{locale}",
  "pts.yearvehicle": "/servlet/rest/pts/yearvehicle/{site}/{year}/{model}/{locale}",
  "pts.vin": "/servlet/rest/pts/vin/{site}/{vin}/{locale}",
  "dealer.code": "/servlet/rest/dealers/{site}/code/{code}",
  "recalls.vin": "/servlet/rest/gcamp/process/{site}/{vin}",
  "owner.campaign": "/servlet/rest/owner/usercampaign/{site}/campaigns",
  "voiUrl": "/servlet/rest/tools/vdm/{site}/{makeName}/voi?exclude=",
  "colorUrl": "/servlet/rest/tools/buildandprice/{site}/{priceZone}/derivative/{derivative}/colours-trims",
  "dealer.byCityUrl": "/servlet/rest/dealers/{site}/city/{city}",
  "dealer.byRegionCityUrl": "/servlet/rest/dealers/{site}/region/{region}/city/{city}",
  "dealer.byRegionUrl": "/servlet/rest/dealers/{site}/region/{region}",
  "dealer.byAddressUrl": "/servlet/rest/dealers/{site}/location/{location}"
}
</script>
	<script id="dealer-translations" type="text/x-json">
	{
  "selectDealer": "No Preference",
  "selectCity": "Please select a city",
  "selectState": "Please select a state",
  "selectStateOrCity": "No Preference",
  "pleaseWait": "Please wait for dealers to load",
  "noDealersFound": "No dealers found"
}
</script>
</div>
</body>
</html>