a{
cursor:pointer!important;
}
.f14{
font-size:14px!important;
}
.f16{
font-size:16px!important;
}
.hero-tips{
font-size:16px;
margin-top:20px;
}
.reg-form,.login-form{
float:left;
width:500px;
}
.reg-tips,.login-tips{
float:left;
}
.fr{
float:right;
}
.fl{
float:left;
}
.add-wall-btn{
float:right;
margin-right:15px;
margin-bottom:20px;
}
.settings-form{
width:450px;
float:left;
}
.settings-textarea textarea{
height:150px;
}
.settings-sidebar{
float:right;
padding-right:50px;
}
.w-line{
border-bottom:1px solid #CCC;
padding-bottom:8px;
}
.w-choose{
float:left;
width:30px;
height:30px;
}
.w-avatar{
float:left;
width:60px;
}
.w-avatar img{
width:50px;
height:50px;
}
.w-content{
float:left;
width:750px;
font-size:13px;
}
.w-time{
color:#CCC;
font-size:13px;
}
.w-admin{
float:right;
width:60px;
}
.w-admin a{
display:block;
font-size:13px;
}
.tab-admin{
margin-bottom:20px;
}