/* Style of ford careers page goes here */
.careers A:focus {outline: none;}
.careers UL {padding: 0;}
.careers UL > LI {padding: 0; background: none;}
.careers .highlight {color: #137EBC;}
.careers.rotating-banner .position {height: 100%;}

/* ie8 */
.careers.rotating-banner.ie8 .slider .position {width: auto;}
.careers.rotating-banner.ie8 .bx-wrapper {right: 0; overflow: visible;}

/* touch */
.touch .careers .overlay-wrap .banner {margin-top: 1px;}

/* bxslider for careers page only */
.careers .bx-wrapper .bx-viewport {border: none; box-shadow: none; left: 0;}
.careers .bx-wrapper .bx-prev {background: url("../img/careers/careers-icon.png") no-repeat scroll 0 -15px;}
.careers .bx-wrapper .bx-prev:HOVER {background-position: 0 -1000px;}
.careers .bx-wrapper .bx-next {background: url("../img/careers/careers-icon.png") no-repeat scroll 0 -114px;}
.careers .bx-wrapper .bx-next:HOVER {background-position: 0 -1099px;}
.careers .bx-wrapper .bx-controls-direction A {height: 36px; width: 34px;}
.careers .bx-wrapper .bx-controls-direction A.disabled {display: block;}
.careers .bx-wrapper .bx-controls-direction A.disabled.bx-prev {background-position: 0 -214px;}
.careers .bx-wrapper .bx-controls-direction A.disabled.bx-next {background-position: 0 -315px;}
.careers .bx-wrapper .bx-pager,
.careers .bx-wrapper .bx-controls-auto {width: 53%; bottom: 126px; right: 0; z-index: 60;}
.careers .bx-wrapper .bx-pager.bx-default-pager A {background: url("../img/careers/careers-icon.png") no-repeat scroll 3px -439px;}
.careers .bx-wrapper .bx-pager.bx-default-pager A.active {background: url("../img/careers/careers-icon.png") no-repeat scroll 3px -539px;}

/* overlay */
.careers.noscroll {overflow: visible;}
.careers .overlay-wrap {overflow-y: hidden;}
.careers .overlay-wrap {background: url("../img/careers/bg-image-overlay.png") repeat scroll;}
.careers .overlay-wrap .overlay-content {width: 938px; left: 11px; position: fixed; top: 50%; left: 50%; margin-top: -224px; margin-left: -458px;}
.careers .overlay-wrap .overlay-content .banner {width: 638px; float: left;}
.careers .overlay-wrap .overlay-content .section {float: left; width: 300px; margin: 0; overflow: hidden; word-wrap: break-word;}
.careers .overlay-wrap .overlay-content .controls {display: none;}
.careers .overlay-wrap .overlay-content .article {padding: 0 15px;}
.careers .overlay-wrap .overlay-content .article:first-child {padding-top: 45px; padding-bottom: 45px;}
.careers .overlay-wrap .overlay-content .article H2 {font-size: 30px; font-weight: normal; padding-bottom: 18px; font-family : "Antenna-Bold", Arial, Helvetica, sans-serif;}
.careers .overlay-wrap .overlay-content .article P {font-size: 14px; font-family: "Antenna-Light", Arial;}
.careers .overlay-wrap .top-close {height: auto; min-width: 0; float: none; position: absolute; right: 13px; top: 10px; z-index: 100;}
.careers .overlay-wrap .top-close A {width: 16px; height: 16px; background-position: 107% -109px;}
.careers .overlay-wrap .top-close SPAN {display: none;}
.careers .overlay-wrap .bx-wrapper {margin: 0;}
.careers .overlay-wrap .bx-wrapper .bx-pager .bx-pager-item,
.careers .overlay-wrap .bx-wrapper .bx-controls-auto .bx-controls-auto-item {width: 16px; height: 16px; overflow: hidden; margin-right: 5px; background-color: #137EBC;}
.careers .overlay-wrap .bx-wrapper .bx-pager,
.careers .overlay-wrap .bx-wrapper .bx-controls-auto {width: 95%; bottom: 12px; left: 14px; text-align: left;}
.careers .overlay-wrap .bx-wrapper .bx-pager.bx-default-pager A {width: 16px; height: 16px; margin: 0; padding: 0; text-align: center; text-indent: 0; color: #FFFFFF; font-size: 11px; font-family: "Antenna-Regular", Tahoma, sans-serif; background: none;}
.careers .overlay-wrap .bx-wrapper .bx-pager.bx-default-pager A:HOVER {text-decoration: none;}
.careers .overlay-wrap .bx-wrapper .bx-pager.bx-default-pager A.active {border-radius: 0; color: #747474; background-color: #FFFFFF;}

.careers #secondary-nav {width: 100%; height: 48px; background-color: #FFFFFF;}
.careers #secondary-nav.sticky {height: 46px; position: fixed; top: 0; left: 0; z-index: 100; box-shadow: 0 2px 2px #B7B7B7; /*IE 8*/-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#B7B7B7')";}
.careers #secondary-nav.sticky + DIV {margin-top: 48px;} /*work with js "sticky secondary navgation" together to set the empty space when the navigation flyout, value of the margin is the height of the flyout navigation*/
.careers #principal {min-height: 565px; margin-bottom: 102px;}
.careers #body .gallery {margin: 0 0 89px; padding: 0;}
.careers #content {margin-bottom: 60px; overflow: hidden; word-wrap: break-word;}
.careers #content A:HOVER {text-decoration: none;}
.careers #content > DIV > H3 {font-size: 48px; font-weight: normal; font-family: "Antenna-Bold", Arial, Helvetica, sans-serif; text-align: center; padding: 0 85px;}
.careers #content > DIV > P {font-size: 18px; font-family: "Antenna-Regular", Tahoma, sans-serif; text-align: center; padding: 0 85px 32px 85px; line-height: 23px;}
.careers #content > .vacancy > P {padding-bottom: 8px;}
.careers .nav-content {width: 960px; margin: 0 auto;}
.careers .nav-content UL {padding-right: 25px;}
.careers .nav-content UL:first-child {padding-left: 30px; padding-right: 0;}
.careers .nav-content UL.left-align {float: left;}
.careers .nav-content UL.right-align {float: right;}
.careers .nav-content UL.right-align > LI {font-size: 14px;}
.careers .nav-content UL > LI {display: inline; font-size: 18px; line-height: 48px; padding-left: 19px; font-family: "Antenna-Regular", Tahoma, sans-serif;}
.careers .nav-content UL > LI:first-child {padding-left: 0;}
.careers .nav-content UL > LI A {color: #70767d;}
.careers .nav-content UL > LI A[href="#"] {cursor: default;}
.careers .nav-content UL > LI A:HOVER {text-decoration: none;}
.careers .banner-content {width: 464px; min-height: 200px; position: absolute; left: 160px; bottom: 55px; overflow: hidden; word-wrap: break-word; background-color: #137EBC;}
.careers .banner-content P {color: #FFFFFF; line-height: 17px; padding: 0 30px 20px 15px; font-size: 14px; font-family: "Antenna-Extra-Light", Arial;}
.careers .banner-content .large {line-height: 34px; padding-top: 22px; padding-bottom: 11px; font-size: 29px; font-family: "Antenna-Medium", Arial;}
.careers .slider {margin-top: 0; min-height: 565px;}
.careers .slider .position {max-width: 1280px; top: 0; left: -160px; right: -160px;}
.careers .slider .banner-content {display: none;}
.careers .slider .bx-wrapper .banner-content {display: block;}
.careers .gallery .subtitle {font-size: 36px; text-align: left; line-height: 38px; padding: 44px 40px 0 36px; color: #FFFFFF; font-family: "Antenna-Bold", Arial, Helvetica, sans-serif;}
.careers .gallery .img-carousal {width: 461px; float: left; position: relative; z-index: 10;}
.careers .gallery .img-carousal .thumbnail.clone {width: 180px; height: 180px; position: absolute; z-index: 10; box-shadow: 2px 2px 2px #808080; /*IE 8*/-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#808080')";}
.careers .gallery .img-carousal .thumbnail.clone > IMG {width: 100%; height: 100%;}
.careers .gallery .img-carousal .thumbnail.clone .caption {height: 66px; background-color: #137EBC;}
.careers .gallery .img-carousal .thumbnail.clone .caption P {padding: 14px 32px 0; font-size: 14px;}
.careers .gallery .img-carousal .caption {position: absolute; bottom: 0; left: 0; right: 0; height: 53px; background-color: #8A939C;}
.careers .gallery .img-carousal .caption P {color: #FFFFFF; padding: 11px 14px 0 14px; line-height: 15px; font-size: 12px; font-family: "Antenna-Medium", Arial;}
.careers .gallery .img-carousal .title-content {height: 222px; width: 461px; overflow: hidden; word-wrap: break-word; background-color: #00478b;}
.careers .gallery .detail {width: 499px; height: 497px; float: left; margin-top: 35px;}
.careers .gallery .detail > LI {display: none; position: absolute;}
.careers .gallery .detail > LI:first-child {display: block;}
.careers .gallery .detail .description {width: 258px; height: 310px; position: absolute; bottom: 0; left: -6px; overflow: hidden; word-wrap: break-word; background: url("../img/careers/careers-icon.png") no-repeat scroll -25px -522px;}
.careers .gallery .detail .description > DIV {height: 260px; margin-left: 6px; padding: 25px 20px 25px 30px; font-size: 12px; font-family: "Antenna-Regular",Tahoma,sans-serif; background-color: #FFFFFF;}
.careers .gallery .detail .description H4 {padding-bottom: 30px; font-size: 24px; font-weight: normal; font-family: "Antenna-Medium", Arial;}
.careers .gallery .detail .description P {font-size: 14px; font-family: "Antenna-Light", Arial;}
.careers .gallery .detail .description A {display: inline-block; margin-top: 32px;}
.careers .gallery .bx-wrapper .bx-controls-direction a {top: 210px; z-index: 99;}
.careers .gallery .bx-wrapper .bx-next {right: 22px;}
.careers .gallery .bx-wrapper .bx-prev {right: 119px; left: auto;}
.careers .vacancy {float: left;}
.careers .vacancy .img-banner {width: 960px; position: relative;}
.careers .vacancy .vacancy-list {float: left; box-shadow: 1px 1px 2px #E9E9E9; /*IE 8*/-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#E9E9E9')"; background-color: #FFFFFF;}
.careers .vacancy .vacancy-list > LI {width: 319px; height: 158px; float: left; overflow: hidden; word-wrap: break-word; border-right: 1px solid #E1E1E1; border-bottom: 1px solid #E1E1E1; font-family: "Antenna-Regular", Tahoma, sans-serif;}
.careers .vacancy .vacancy-list > LI:first-child {width: 318px; border-left: 1px solid #E1E1E1;}
.careers .vacancy .vacancy-list > LI:HOVER {background-color: #FAFAFA;}
.careers .vacancy .vacancy-list > LI > DIV {height: 117px; padding: 41px 31px 0 31px;}
.careers .vacancy .vacancy-list > LI > DIV A {color: #137EBC;}
.careers .vacancy .vacancy-list > LI > DIV > A:first-child {color: #000000; font-size: 18px; font-weight: normal; padding-bottom: 0;}
.careers .vacancy .vacancy-list > LI > DIV > A:first-child + P {margin-top: 14px;}
.careers .vacancy .vacancy-list > LI P {font-size: 11px;}
.careers .vacancy .vacancy-list > LI.view-all {word-break: break-all;}
.careers .vacancy .vacancy-list > LI.view-all > DIV {display: table-cell; vertical-align: middle; width: 320px; height: 159px; padding: 0 31px; text-align: center;}
.careers .vacancy .vacancy-list > LI.view-all > DIV A {color: #137EBC; display: inline-block; max-height: 158px;}
.careers .vacancy .banner-content {height: 138px; min-height: 0; left: -3px; top: 0; display: table; table-layout: fixed; box-shadow: 2px 2px 2px #77767c; /*IE 8*/-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#77767c')";}
.careers .vacancy .banner-content > DIV {display: table-cell; vertical-align: middle; padding: 22px;}
.careers .vacancy .banner-content > DIV P {padding: 12px 0 0;}
.careers .vacancy .banner-content > DIV P:first-child {padding-top: 0;}
.careers .vacancy .banner-content .large {font-size: 36px;}
