#colour-picker {
  width: 720px;
  min-height: 400px;
  padding: 2.4556% 2.7285% 2.7285% 2.7285%;
  margin-bottom: 2.7285%;
  background-color: #f7f7f7;
}
#colour-picker * {
  font-family: Antenna-Regular, Arial, Helvetica, san-serif;
  padding: 0;
}
#colour-picker .cp-help-text {
  color: #949494;
  font-size: .75em;
  letter-spacing: .3em;
  margin-top: 1.6371%;
}
#colour-picker .cp-sub-title {
  color: #333333;
  font-size: 1em;
}
#colour-picker h3 {
  color: #22a3e6;
  font-weight: 100;
  font-size: 2.1em;
  letter-spacing: .03em;
  margin: 0 0 10px 0;
}
#colour-picker h3 .cp-sub-title {
  font-size: .60em;
}
#colour-picker #cp-options-column {
  width: 66.45%;
  overflow: hidden;
}
#colour-picker #cp-options-column #cp-derivative-selector select {
  height: 38px;
  width: 100%;
  margin-bottom: 20px;
  color: #333333;
  padding: 0 0 0 5px;
  font-size: 1.8em;
}
.rtl #colour-picker #cp-options-column #cp-derivative-selector select{
    padding: 0 5px 0 0;
}
#colour-picker #cp-options-column #cp-car {
  margin-bottom: 22px;
  min-height: 232px;
}
#colour-picker #cp-options-column #cp-car img {
  width: 100%;
}
#colour-picker #cp-options-column #cp-colour-selector #cp-colour-list {
  overflow: hidden;
  padding-left: 2px;
}
#colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li {
  margin: 2px 5px 3px 0;
  list-style: none;
  background: none;
  width: 11.2936%;
}
#colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li:hover {
  border: 2px solid #666666;
  padding: 0;
  margin: 0 3px 1px -2px;
}
#colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li.cp-active {
  border: 2px solid #22a3e6;
  padding: 0;
  margin: 0 3px 1px -2px;
}
#colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li a {
  text-decoration: none;
}
#colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li a.cp-color-item {
  width: 96.36%;
  height: 40px;
  margin: 1px auto;
  display: block;
}
#colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li .shine {
  background: url('../img/cp-shine.png') repeat-x;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#colour-picker #cp-details-column {
  width: 30.6957%;
}
#colour-picker #cp-details-column #cp-trim .cp-sub-title {
  min-height: 58px;
  display: block;
}
#colour-picker #cp-details-column #cp-trim .cp-selected-trim {
  margin-bottom: 8px;
  min-height: 110px;
  width: 100%;
}
#colour-picker #cp-details-column #cp-trim .cp-selected-trim img {
  width: 100%;
}
#colour-picker #cp-details-column #cp-trim-selector #cp-trim-list {
  padding: 0;
  overflow: hidden;
}
#colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li {
  list-style: none;
  background: none;
  width: 24.44%;
}
#colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li:hover {
  border: 2px solid #666666;
  padding: 0;
  margin-top: 0;
}
#colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li.cp-active {
  border: 2px solid #22a3e6;
  padding: 0;
  margin-top: 0;
}
#colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li a {
  text-decoration: none;
}
#colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li a.cp-trim-item {
  margin: 1px auto;
  display: block;
}
#colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li a.cp-trim-item img {
  width: 100%;
}
#colour-picker .cp-lazy {
  background: url('../img/small-loader.gif') no-repeat transparent center center;
}
.ltr #colour-picker #cp-options-column {
  margin-right: 2.7285%;
  float: left;
}
.ltr #colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li {
  float: left;
}
.ltr #colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li a.cp-color-item {
  margin-left: 1px;
}
.ltr #colour-picker #cp-details-column {
  float: right;
}
.ltr #colour-picker #cp-details-column #cp-trim-selector #cp-trim-list {
  padding: 2px 0 0 5px;
}
.ltr #colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li {
  float: left;
  margin: 0 7px 5px -2px;
}
.ltr #colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li:hover {
  margin: -2px 5px 3px -4px;
}
.ltr #colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li.cp-active {
  margin: -2px 6px 3px -4px;
}
.rtl #colour-picker #cp-options-column {
  margin-left: 2.7285%;
  float: right;
}
.rtl #colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li {
  float: right;
}
.rtl #colour-picker #cp-options-column #cp-colour-selector #cp-colour-list li a.cp-color-item {
  margin-right: 1px;
}
.rtl #colour-picker #cp-details-column {
  float: right;
}
.rtl #colour-picker #cp-details-column #cp-trim-selector #cp-trim-list {
  padding: 2px 8px 0 0;
}
.rtl #colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li {
  float: right;
  margin: 0 -3px 5px 9px;
}
.rtl #colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li:hover {
  margin: -2px -5px 3px 7px;
}
.rtl #colour-picker #cp-details-column #cp-trim-selector #cp-trim-list li.cp-active {
  margin: -2px -6px 3px 6px;
}
#colour-picker {
  /* Styles for screens that are at least 768px */
  /* Styles for screens that are at least 977px (960px + 17px to cater for FF/IE adding the scrolbar to the pixel count) */
}
@media only screen and (min-width: 48em) {
  #colour-picker .cp-help-text {
    font-size: .80em;
    letter-spacing: .15em;
  }
  #colour-picker .cp-sub-title {
    font-size: 1.2em;
  }
  #colour-picker h3 {
    font-size: 2.4em;
  }
  #colour-picker h3 .cp-sub-title {
    font-size: .65em;
  }
  #colour-picker #cp-options-column #cp-derivative-selector select {
    font-size: 2em;
  }
}
@media only screen and (min-width: 62.1em) {
  #colour-picker .cp-help-text {
    font-size: .95em;
    letter-spacing: .17em;
  }
  #colour-picker .cp-sub-title {
    font-size: 1.4em;
  }
  #colour-picker h3 {
    font-size: 2.7em;
  }
  #colour-picker h3 .cp-sub-title {
    font-size: .75em;
  }
  #colour-picker #cp-options-column #cp-derivative-selector select {
    font-size: 2.2em;
  }
}
