/***** Experience layer slider styles *****/

a.experience-anchor {
	background: url('../img/c520_experience/btn_start-here.png') no-repeat;
	cursor: pointer;
	display: block; 
	position: absolute; 
	z-index: 10; 
	height: 263px; 
	width: 263px; 
	left: 0; 
	top: 45px;
	opacity: .8;
	text-indent: -999em;
}

a:hover.experience-anchor {
	opacity: 1;
}

.experience-wrap {
	clear: both;
	height: 579px;
	margin: 0 0 50px 0;
	position: relative;
	width: 960px;
}

.banner-wrap {
	height: 579px;
	left: 0;
	position: absolute;
	top: 0;
	width: 960px;
}

#intro-slider {
	z-index: 2;
}

#experience-slider {
	z-index: 1;
}

.banner-slide {
	clear: both;
	padding: 20px 0;
}

.jslider-wrapper, .intro-wrapper {
	font-size: 1.5em;
}

.jslider-wrapper a, .intro-wrapper a {
	color: #fff;
}

.jslider-wrapper a:hover, .intro-wrapper a:hover {
	text-decoration: none;
}

ul.jslider {
	font-size: 1em;
	line-height: 1em;
	position: relative;
	list-style: none;
	overflow: hidden;
	display: none;
	margin: 0;
	padding: 0;
}

li.jslider-slide, .ltr ul > li.jslider-slide {
	background: none;
	position: absolute;
	display: none;
	padding: 0;
}

ul.jslider-controls {
	list-style: none;
	z-index: 9999;
	margin: 0;
	padding: 0;
}

ul.jslider-controls li a {
	-moz-box-shadow: inset 0 0 13px #a64f15;
   	-webkit-box-shadow: inset 0 0 13px #a64f15;
   	box-shadow: inset 0 0 13px #a64f15;
	background: #e8910d url('../img/c520_experience/sprite.png') no-repeat;
	color: #fff;
	display: block;
	height: 37px;
	left: 446px;
	outline: none;
	position: absolute;
	text-indent: -99em;
	width: 34px;
	z-index: 9999;
}

ul.jslider-controls li a:hover {
	background-color: #ffba01;
}

ul.jslider-controls li a:active {
	background-color: #ffd669;
}

ul.jslider-controls li.jslider-next a {
	background-position: 12px -25px;
	left: 480px;
	top: 308px;
}

ul.jslider-controls li.jslider-prev a {
	background-position: 8px 7px;
	top: 271px;
}

ul.jslider-controls li a.disabled {
	-moz-box-shadow: inset 0 0 13px #707070;
   	-webkit-box-shadow: inset 0 0 13px #707070;
   	box-shadow: inset 0 0 13px #707070;
	background-color: #868686;
	cursor: default;
	width: 34px;
}

ul.jslider-controls li.jslider-prev a.disabled {
	background-position: 8px -58px;
}

ul.jslider-controls li.jslider-next a.disabled {
	background-position: 13px -90px;
}

ol.jslider-markers {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

ol.jslider-markers li {
	display: inline;
}

ol.jslider-markers li a {
	display: inline-block;
}

.jslider-slide > .content, .left-mask.content, .right-mask.content {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	height: 579px;
	overflow: hidden;
	width: 480px;
}

.reveal-left-mask.content, .reveal-right-mask.content {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.jslider-slide > .content p, .mask.content p {
	color: #fff;
	margin-left: 60px;
	width: 345px;
}

.jslider-slide > .content img, .left-mask.content img, .right-mask.content img, .reveal-left-mask.content img, .reveal-right-mask.content img {
	margin-left: 60px;
}

.banner-slide .content h2 { 
	background-position: center 0 !important;
	background-repeat: no-repeat !important;
	color: #fff;
	font-size: 3.3em;
	font-weight: 400;
	height: 100px;
	letter-spacing: -2px;
	margin: 76px auto 0;
	width: 80%;
}

.banner-slide .content p {
	font-size: 0.750em;
	line-height: 1.5em;
}

.left-mask.content, .right-mask.content, .reveal-left-mask, .reveal-right-mask { 
	width: 0;
}

.left-mask, .right-mask, .reveal-left-mask, .reveal-right-mask {
	transition: width 500ms cubic-bezier(.2,.99,.74,.94); 
    -moz-transition: width 500ms cubic-bezier(.2,.99,.74,.94); 
    -webkit-transition: width 500ms cubic-bezier(.2,.99,.74,.94);  
	height: 579px;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
}

.left-mask, .reveal-left-mask {
	right: 480px;
}

.reveal-left-mask, .reveal-right-mask, .left-mask, .right-mask {
	background-position: right top !important;	
}

.left-mask.previous-mask {
	transition: width 500ms cubic-bezier(.2,.99,.74,.94); 
    -moz-transition: width 500ms cubic-bezier(.2,.99,.74,.94); 
    -webkit-transition: width 500ms cubic-bezier(.2,.99,.74,.94); 
    background-position: left top !important;	
	left: 0;
}

.right-mask.previous-mask {
	transition: width 500ms cubic-bezier(.2,.99,.74,.94); 
    -moz-transition: width 500ms cubic-bezier(.2,.99,.74,.94); 
    -webkit-transition: width 500ms cubic-bezier(.2,.99,.74,.94); 
    background-position: left top !important;	
	left: 480px;
}

.btn_build-quote {
	background: url('../../../media/c520_experience/btn_start-build-quote.png') no-repeat;
	bottom: 0;
	display: none;
	height: 135px;
	left: -132px;
	position: absolute;
	text-indent: -999em;
	width: 270px;
	z-index: 4;
}

.btn_build-quote:hover {
	background-position: 0 -140px;
}

.btn_build-quote a {
	display: block;
	height: 135px;
	width: 270px;
}


/***** Positional options for description/images/buttons and controls *****/

body.ltr .desc.position2, body.ltr .desc.position3, body.ltr .desc.position4 {
	left: 40px;
	text-align: left;
	top: 150px;
	width: 400px;
}

body.ltr .desc.position3 {
	top: 270px;
}

body.ltr .desc.position4 {
	bottom: 30px;
	top: auto;
}

.content img.position2, .content img.position3 {
	position: absolute;
	top: 230px;
	left: 40px;
	margin: 0;
}

.content img.position3 {
	top: 340px;
}

.content img.position4 {
	top: 380px;
	left: 130px;
}

.cta.position2 {
	top: 360px;
	left: 310px;
}

.cta.position3 {
	top: 200px;
	left: 310px;
}

.cta.position4 {
	top: 400px;
	left: 70px;
}

ul.jslider-controls li.jslider-prev a.default {
	left: 15px;
	top: 45%;
}

ul.jslider-controls li.jslider-next a.default {
	left: auto;
	right: -465px;
	top: 45%;
}


/***** Intro slider styles *****/

a.start-experience {
	-moz-box-shadow: inset 0 0 13px #a64f15;
   	-webkit-box-shadow: inset 0 0 13px #a64f15;
   	box-shadow: inset 0 0 13px #a64f15;
	background: #f9a42b url('../../../media/c520_experience/start.png') 50% 24px no-repeat;
	bottom: 182px;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 80px;
	left: 440px;
	position: absolute;
	text-align: center;
	text-indent: -999em;
	width: 80px;
	z-index: 10;
}

a:hover.start-experience {
	background-color: #ffba01;
}

a:active.start-experience {
	background-color: #ffd669;
}

.intro-text {
	color: #fff;
	font-size: 1.3em;
	position: absolute;
	top: 277px;
	width: 440px;
	z-index: 10;
	left: 257px;
	text-align: center;
}

#intro-slider h2.intro-heading {
	background: url('../../../media/c520_experience/title_getin-findout.png') no-repeat;
	height: 95px;
	left: 375px;
	position: absolute;
	text-indent: -999em;
	top: 160px;
	width: 281px;
	z-index: 10;
}


/***** Experience layer slider CTA styles *****/

.cta {
	background: url('../img/c520_experience/sprite.png') 0 -133px no-repeat;
	bottom: 78px;
	height: 48px;
	left: auto;
	right: 31px;
	position: absolute;
	width: 140px;
}

.previous-mask .cta {
	left: 309px;
}

.cta.video {
	background-position: 0 -133px;
}

.cta:hover {
	background-position: 0 -192px;
}

.cta.video:hover {
	background-position: 0 -192px;
}

.cta.link {
	background-position: 0 -250px;
}

.cta.link:hover {
	background-position: 0 -309px;
}

.cta a {
	display: block;
	font-size: 0.8em;
	height: 37px;
	padding: 11px 0 0 53px;
	line-height: 1.1;
}

.desc, body.ltr div.desc {
	bottom: 13px;
	font-size: 0.8em;
	line-height: 1.3em;
	right: 150px;
	position: absolute;
	text-align: center;
	width: 180px;
}

.previous-mask .desc, body.ltr .previous-mask div.desc {
	left: 150px;
	right: auto;
}


/***** iPad/Tablet styles *****/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.banner-slide * {
		-webkit-backface-visibility: hidden;
		
	}

	.jslider-controls a {
		margin: 0;
		padding: 0;
	}

	.desc, body.ltr div.desc {
		font-size: 0.7em;
		line-height: 1.4em;
	}
}