html,body{
	height: 100%;
	background: url('../img/apafleet/gradient.gif') repeat-x;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Antenna-bold;
}
.banner-small .principal-content {
	min-height: 420px;
}
.tech-heading {
	padding-top: 0px;
	text-align: center !important;
	
}
.tech-heading .btn,#buttons .btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url('../img/tech-section/btn-sprites.png') 0 -50px repeat-x;
	color: #fff;
	margin-top: 12px;
	padding: 0px 95px;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-family: Antenna-bold;
	margin-bottom: 30px;
	font-weight: 400;
	text-decoration: none;
	
}
.tech-heading .btn:hover,#buttons .btn:hover {
	background: #3a93c0;
}
#buttons .btn{
	margin-left: auto;
	margin-right: auto;
	}
#buttons{
	text-align:center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	}
.tech-heading p.sub {
	font-size: 18px;
	margin-top:270px;
}
.tech-heading p {
	padding: 0;
	color: #FFF;
	font-family:Antenna-Regular;
	font-size: 38px;
	text-align: center;
	line-height: 1.2em;
}
.tech-heading p span{font-family: Antenna-bold;}
#benefits{font-size: 0;}
#benefits #head{
	background-color: #efefee;
	-moz-box-shadow:  3px 2px 5px #999999;
   	-webkit-box-shadow: 3px 2px 5px #999999;
   	box-shadow:   3px 2px 5px #999999;
  
   	display: inline-block;
   	margin-bottom: 3px;
  	/*background:  url("../img/apafleet/shadow.png");*/
   	
	}

.ie8 #benefits #head{
	
	margin-bottom: 0px;
	border-bottom: 3px solid #999;
}
#benefits #head>div{
	float: left;
	
	width: 160px;

	height: 40px;
	text-align: center;
	border-top: 5px solid #6f757c;
	border-left: 1px solid #70767d;
	padding-top: 5px;
	padding-bottom:5px;
	/*background-color: #efefee;*/
	
}
#benefits #head>div:FIRST-CHILD{
	width: 288px;
	border-top: 5px solid #4DA5DD;
	text-align: left;
	padding-top: 0px;
	border-left:none;
	padding-left: 28px;
	height: 45px;
	line-height: 45px;
	
}
#benefits #head>div:FIRST-CHILD h3{
	line-height: 45px;
}
#benefits #head h3,#benefits #head h5{
	
	padding: 0;
	
	font-family: Antenna-Light;
	
}
#benefits #head h3{font-size: 18px;}
#benefits #head h5{
	font-size: 12px;
	font-weight: normal;
	font-family: Antenna-Regular;	
}
#benefits #group #item>div{
	float: left;
	width: 161px;
	display: block;
	padding-top: 6px;
}
#benefits #group #item{
	display: inline-block;
	padding-top:1px;
	background:  url("../img/apafleet/line.png") repeat top center;
}
#benefits #group #item:FIRST-CHILD{
	background: #efefee;
	padding-top: 0px;
}
#benefits #group #item>div:FIRST-CHILD{
	width: 260px;
	text-align: left;
	padding-left: 28px;
	padding-right:28px;
	font-size: 12px;
	padding-top: 12px;
	min-height: 48px;
	font-family: Antenna-Regular;	
	
}
span.ticked{
	display: block;
	width: 32px;
	height: 37px;
	margin: 5px auto auto;
}
span.silver{
	background: url("../img/apafleet/silvertick.png") no-repeat;
}
span.blue{
	background: url("../img/apafleet/bluetick.png") no-repeat;
}
span.plat{
	background: url("../img/apafleet/plattick.png") no-repeat;
}
span.gold{
	background: url("../img/apafleet/yellowtick.png") no-repeat;
}
#benefits #service {
	display: inline-block;
	border-top: 5px solid #6f757c;
}
#benefits #service #phoneinfo,#benefits #service #disclaimer{
	float:left;
	width: 316px;
	height: 100%;
	display: inline-block;
	color: #37609e;
}
#benefits #service #disclaimer{
	font-weight: bold;	
}
#benefits #service #phoneinfo{font-family: Antenna-Bold;}
#benefits #service ul,#benefits #service ul li p{
	font-family:  Antenna-Regular;
	font-size: 10px;
	color: #000;
	line-height: normal;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

#benefits #service ul li{
	background: url("../img/apafleet/li.png") no-repeat center left;
	color: #000;
	line-height:normal;
	padding: 0;
	margin: 0;
	margin-left:10px;
	padding-left: 6px;
	font-family:  Antenna-Regular;
}
#benefits #service ul{
	padding: 3px 0;
}

#benefits #service #phoneinfo.first{
	width: 318px;
	border-right:  4px solid #FFF;
}
#benefits #service #phoneinfo span{
	font-family: Antenna-Regular;
	color: #939393;
	padding-right: 8px;
	font-weight: normal;
	padding-left:28px;
	background: url("../img/apafleet/telicon.png") no-repeat center left;
}
#benefits #service #phoneinfo{
	text-align: center;
	font-size: 18px;
	width: 322px;
	
}
#benefits p.moreinfo{
	font-size: 11px;
	font-family: Antenna-Regular;
	text-indent: 10px;
	padding: 16px 0 16px 16px;
	color: #000;
	
}
#benefits .fleetexpand span.more,#benefits .fleetexpand span.less{text-decoration: underline;cursor: pointer;}
#benefits .fleetexpand span.less,#benefits  p.moreinfo{display: none;}

#articlegroup{
	margin-top: 100px;
	
}
#articlegroup h2{
	font-size: 36px;
	text-align: center;
	font-family: Antenna-bold;
	padding: 0 0 30px;
}
#articlegroup .arrow-down{
	
	display: block;
	width: 100%;
	height: 30px;
	background: url("../img/apafleet/titlebg.jpg") no-repeat top left;
}
#articlegroup  h3,#articlegroup  p{width: 428px;}
#articlegroup #left h3{
	padding: 20px 0 10px;
}
#articlegroup #left h3{
	padding: 20px 0 10px;
}
#articlegroup  h3{
	font-size: 24px;
	font-family: Antenna-bold;
	color: #37609e;
}
#articlegroup  ul{
	width: 420px;
	padding: 14px 0;
}
#articlegroup  li{
	
	padding: 0 0 12px 25px;
	background: url("../img/apafleet/articleli.png") left 2px no-repeat;
}
#articlegroup  p,#articlegroup  li{
	font-size: 14px;
	color: #333333;
	font-family: Antenna-Regular;
	
	
}
#articlegroup  p{
	line-height: 1.3em;
}
#articlegroup #right,#articlegroup #left{
	margin-top: 50px;
	background-repeat: no-repeat !important;
}
#articlegroup #left{
	padding-left: 520px;
	background-position: left center !important;
}
#articlegroup #right{
	background-position: right center !important;
}
#columns {
	display: table;
	border-spacing: 16px;
	text-align: center;
	width: 960px;
	
}
#columns #column{
	display: table-cell;
	position: relative;
	width: 176px;
	border: 2px solid #40a8df;
	padding: 40px 20px 90px;
	margin-left: 16px;
	text-align: center;
}

#columns #column:FIRST-CHILD{
	margin-left: 0;
}
#columns #column h3{
	font-size: 18.5px;
	font-family: Antenna-bold;
	padding: 20px 0;
}
#columns #column p{
	font-size: 12px;
	font-family: Antenna-light;
	color: #333;
	text-align: left;
	line-height: normal;
	display: block;
}
#columns #column>div{
	display:inline-block;
	text-align: center;
	margin-top: 30px;
	}
#columns #column #img,#columns #column #colinfo{
	margin-top: 0px;
	display: inline-block;
}
#columns #column>div>a{
	background: #5aaade;
	font-size: 12px;
	color: #fff;
	text-transform:uppercase;
	text-decoration:none;
	padding: 4px 22px;
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	font-family: Antenna-Light;
	font-weight: bold;
	display: inline-block;
	height: 19px;
	line-height: 19px;
}
#columns #column>div>a:HOVER{
	background: #3a93c0;
}
#servicedetail{display: inline-block;width: 100%;}
#servicedetail #colservice{
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 34px;
}
#servicedetail #colservice p,#servicedetail #colservice a{
	
	font-size: 18px;
	font-family: Antenna-Regular;
	color: #939393;
	height: 40px;
	padding: 0;
	display: inline-block;
	padding-left: 40px;
	text-align: left;
	background-position: left center !important;
	background-repeat: no-repeat !important;
}
#servicedetail #colservice p{
	line-height: 20px;
	}
#servicedetail #colservice a{
	line-height: 40px;
	}
#servicedetail #colservice a:hover{
	text-decoration:underline;
}	
#servicedetail #colservice p span,#servicedetail #colservice p span a{font-family: Antenna-Bold; color: #37609e;}
#availablelist{
	margin-top:30px;
}
#availablelist h3{
	font-family: Antenna-Bold;
	font-size: 12px;
	text-align: center;
	font-weight: 400;
}
#availablelist .arrow-down{
	display: block;
	width: 100%;
	height: 30px;
	background: url("../img/apafleet/availabbg.png") no-repeat 50% 0;
}
#availablelist #availableitem{padding: 0 45px; margin-bottom: 60px;}
#availablelist #availableitem #caritem a>*{float: left;line-height: 60px; margin: 0; padding: 0;}
#availablelist #availableitem #caritem h2{padding-left: 20px;font-size: 1.7em;font-family: Antenna-Bold;font-weight:normal;color:#333333;}
#availablelist #availableitem #caritem>a{
	display: block;
	height: 60px;
	border-top: 1px solid #e8edee;
	clear: both;
	background: url('../img/apafleet/cararrow.png') right -47.5px no-repeat;
	padding: 2.5px 0;
	outline: none;
	text-decoration: none;
	}
#availablelist #availableitem #caritem>a.active{
	background-position: right -110.5px;
}
#availablelist #availableitem #caritem>a:HOVER h2 {
	color: #49acdf;
}
#availablelist #availableitem #caritem:FIRST-CHILD>a {
	border-top:none;
}
#availablelist #carinfo{
	display: inline-block;
	width: 100%;
}
#availablelist #caritem #carinfoitem{
	display: block;
	width: 200px;
	padding-left: 23px;
	text-align: center;
	float: left;
	margin-top: 35px;
}
#availablelist #caritem #carinfoitem:FIRST-CHILD{
	padding-left: 0;
}
#availablelist #caritem #detail{
	background: #eeeeee;
	padding: 20px 16px;
	margin-top: 10px;
}
#availablelist #caritem #img{
	text-align: center;
}
#availablelist #carinfoitem h5{
	font-size: 18px;
	color: #000;
	font-family: Antenna-Regular;
	font-weight: normal;
	padding: 10px 0;
}
#availablelist #carinfoitem h4{
	
	font-family: Antenna-Bold;
	font-size: 14px;
	
}
#availablelist #carinfoitem li{
	font-size: 14px;
	padding-left:4px;
	font-family: Antenna-Regular;
	color:#000;
	background: url("../img/apafleet/li.png") no-repeat center left;
}

#availablelist #caritem #buttons .btn{
	padding: 0 70px;
	margin: 40px 0;
}
#content{
	margin-top:38px;
}
.banner-small .principal-content {
    margin-top: 30px;
}

#columns #colinfo + DIV {position: absolute; left: 0; right: 0; bottom: 40px; margin-top: 0;}