/* CSS changes for new, better SEO Heading implementation */

/* Logo */
#badge h1 {
	padding: 0;
}


/* Main Nav */
.ltr #nav .mega-menu .items .item .head a.btn {
	background: url("../img/models.png")  0 bottom no-repeat;
	color: #000;
	float: left;
	font-size: 1.3em;
	font-weight: bold;
    line-height: 1.3em;
    padding: 0 0 5px;
    text-transform: uppercase;
    width: 147px;
}

.ltr #nav .mega-menu .items .item .head a.btn span {
	background: url("../img/models.png") -250px 0 no-repeat;
	color: #000;
	display: block;
	float: left;
    min-height: 20px;
    padding: 9px 2px 0;
    text-align: center;
    width: 143px;
}

#nav .mega-menu .items .item .head:hover a.btn {
    background-position: -500px bottom;
}

#nav .mega-menu .items .item .head:hover a.btn span {
    background-position: -750px 0;
    color: #FFFFFF;
}

#nav .mega-menu .bottom ul .model .details a {
	color: #5F6062;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 1.3em;
    margin: 0;
    padding-bottom: 0;
}

.ltr #nav .mega-menu .items a.title {
    color: #196DB6;
    display: inline;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    left: 4px;
    padding: 10px 0 5px;
    position: absolute;
    top: 0;
}


/* Content Headings */
.ltr #subnav h1 {
    float: left;
    font-size: 1.8em;
    padding: 0 0 0.4em;
    text-transform: uppercase;
    width: 226px;   
}

.dark #subnav h1, .dark .principal-content h2 {
    color: #fff;
}

.principal-content h2 {
    font-size: 2.6em;
    padding-top: 0;
}


/* Feature Carousel */
.featurecarousel h3 {
    font-size: 1em;
}


.featurecarousel h3 a:hover {
    text-decoration: none;
}


/* Fat Footer */
#nav-footer h4 {
    background: #F8F8F8;
    border: 1px solid #E1E1E1;
    color: #626262;
    font-size: 1.3em;
    padding: 5px 14px;
}