/***** Positional options for description/images/buttons and controls *****/
#badge-footer a{
	text-indent: -99999px;
}
body.ltr .desc.position2, body.ltr .desc.position3, body.ltr .desc.position4 {
	left: 40px;
	text-align: left;
	top: 150px;
	width: 400px;
}

body.ltr .desc.position3 {
	top: 270px;
}

body.ltr .desc.position4 {
	bottom: 30px;
	top: auto;
}

.content img.position2, .content img.position3 {
	position: absolute;
	top: 230px;
	left: 40px;
	margin: 0;
}

.content img.position3 {
	top: 340px;
}

.content img.position4 {
	top: 380px;
	left: 130px;
}

.cta.position2 {
	top: 360px;
	left: 310px;
}

.cta.position3 {
	top: 200px;
	left: 310px;
}

.cta.position4 {
	top: 400px;
	left: 70px;
}

ul.jslider-controls li.jslider-prev a.default {
	left: 15px;
	top: 45%;
}

ul.jslider-controls li.jslider-next a.default {
	left: auto;
	right: -465px;
	top: 45%;
}


/***** Intro slider styles *****/

a.start-experience {
	-moz-box-shadow: inset 0 0 13px #a64f15;
   	-webkit-box-shadow: inset 0 0 13px #a64f15;
   	box-shadow: inset 0 0 13px #a64f15;
	background: #f9a42b url('../img/start.png') 50% 24px no-repeat;
	bottom: 182px;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 80px;
	left: 440px;
	position: absolute;
	text-align: center;
	text-indent: -999em;
	width: 80px;
	z-index: 10;
}

a:hover.start-experience {
	background-color: #ffba01;
}

a:active.start-experience {
	background-color: #ffd669;
}

.intro-text {
	color: #fff;
	font-size: 1.3em;
	position: absolute;
	top: 277px;
	width: 440px;
	z-index: 10;
	left: 257px;
	text-align: center;
}

#intro-slider h2.intro-heading {
	
	height: 95px;
	left: 375px;
	position: absolute;
	text-indent: -999em;
	top: 160px;
	width: 281px;
	z-index: 10;
}
/*fleet tabs*/
.fleet.banner-small .principal-content {

	min-height: 324px;
}

.fleet.banner-small #banner{

	min-height: 467px;
}
#fleet_tabs{

	display: table;
	width: 960px;
	
}
#fleet_tabs>ul{

	
	width: 100%;
	padding: 0;
}
#fleet_tabs>ul li{

	display:block;
	
	list-style: none;
	width: 25%;
	background: url('../img/fleet/arrow.png') 0 0 no-repeat ;
	padding: 9px 0px;
	cursor: pointer;
}

.ltr #fleet_tabs>ul li{

	float: left;
	
	background-position: right center;
	
	
}

.rtl #fleet_tabs>ul li{

	float: right;
	background-position: left center;
}
.ltr #fleet_tabs>ul li.active{

	background-position: right 26px;
}
.rtl #fleet_tabs>ul li.active{

	background-position: left 26px;
}

#fleet_tabs>ul li>*{

	padding: 0px;
	
	color: #F3F3F3;
	
	
}

.ltr #fleet_tabs>ul li>*{
 padding-left: 10px;
}

.rtl #fleet_tabs>ul li>*{
 padding-right: 10px;
}

#fleet_tabs>ul li>h3{

	font-size: 1.6em;
	text-transform: uppercase;
}
#fleet_tabs>ul li>h4{

	font-size: 1.2em;
	text-transform: uppercase;
}
#fleet_tabs .tab_blue{

	background-color: #60aeda;
	
}
#fleet_tabs .tab_grey{

	background-color: #a6a6a6;
}
#fleet_tabs .tab_yellow{

	background-color: #d3a532;
}
#fleet_tabs .tab_dark{

	background-color: #748796;
}

.fleet_tabs_content .tab_blue{

	/*background:#60aeda;
	background-image: -webkit-linear-gradient(top, #60aeda, #96d1f2);
	background-image: -moz-linear-gradient(top, #60aeda, #96d1f2);
	background-image: -ms-linear-gradient(top, #60aeda, #96d1f2);
	background-image: linear-gradient(top, #60aeda, #96d1f2);
    */
}

.fleet_tabs_content .tab_grey{

	/*background-color: #a6a6a6;
	background-image: -webkit-linear-gradient(top, #a6a6a6, #cfcece);
	background-image: -moz-linear-gradient(top, #a6a6a6, #cfcece);
	background-image: -ms-linear-gradient(top, #a6a6a6, #cfcece);
	background-image: linear-gradient(top, #a6a6a6, #cfcece);*/
    
}

.fleet_tabs_content .tab_yellow{

	/*background:#d3a532;
	background-image: -webkit-linear-gradient(top, #d3a532, #d4b464);
	background-image: -moz-linear-gradient(top, #d3a532, #d4b464);
	background-image: -ms-linear-gradient(top, #d3a532, #d4b464);
	background-image: linear-gradient(top, #d3a532, #d4b464);*/
    
}

.fleet_tabs_content .tab_dark{

	/*background:#748796;
	background-image: -webkit-linear-gradient(top, #748796, #94adc0);
	background-image: -moz-linear-gradient(top, #748796, #94adc0);
	background-image: -ms-linear-gradient(top, #748796, #94adc0);
	background-image: linear-gradient(top, #748796, #94adc0);*/
    
}

#fleet_tabs .tab_blue TD{

	border-color: #60aeda;
}
#fleet_tabs .tab_grey TD{

	border-color: #a6a6a6;
}
#fleet_tabs .tab_yellow TD{

	border-color: #d3a532;
}
#fleet_tabs .tab_dark TD{

	border-color: #748796;
}
.fleet_tabs_content .tab_blue .ctabutton{

	border-color: #2898d8;
}
.fleet_tabs_content .tab_grey .ctabutton{

	border-color: #5f5e5e;
}
.fleet_tabs_content .tab_yellow .ctabutton{

	border-color: #937323;
}
.fleet_tabs_content .tab_dark .ctabutton{

	border-color: #515e68;
}
.fleet_tabs_content .tab_blue THEAD TD{

	color: #60aeda;
}
.fleet_tabs_content .tab_grey THEAD TD{

	color: #a6a6a6;
}
.fleet_tabs_content .tab_yellow THEAD TD{

	color: #d3a532;
}
.fleet_tabs_content .tab_dark THEAD TD{

	color: #748796;
}

.fleet_tabs_content>div.tab_blue>div>a{

	color: #60aeda;
}
.fleet_tabs_content>div.tab_grey>div>a{

	color: #a6a6a6;
}
.fleet_tabs_content>div.tab_yellow>div>a{

	color: #d3a532;
}
.fleet_tabs_content>div.tab_dark>div>a{

	color: #748796;
}

.fleet_tabs_content{

	display: table;
}
.fleet_tabs_content>Div{

	display: table;
}

.fleet_tabs_content>Div>*{

	display: none;
}

.fleet_tabs_content>Div.active>*{

	display: block;
}

.fleet_tabs_content h5{

	color: #FFF;
	font-size: 1.2em;
}

.fleet_tabs_content>div>*{

	
	width: 50%;
}
.ltr .fleet_tabs_content>div>*{

	float: left;
}
.rtl .fleet_tabs_content>div>*{

	float: right;
}
.fleet_tabs_content>div>*>*{

	
	color: #FFF;
	padding-top: 25px;
}
.fleet_tabs_content>div>*>H5,.fleet_tabs_content>div>*>TAble{
  width: 480px;
}

.fleet_tabs_content>div H2,.fleet_tabs_content>div p{

	width: 420px;
}
.fleet_tabs_content>div p{

	font-size: 1.4em;
	padding-top:0px;
	padding-bottom: 35px;
	
}

.fleet_tabs_content .ctabutton{

	display:table;
	
	font-size: 1.8em;
	padding-top:0px;
	margin-bottom: 35px;
	font-weight: bold;
	width: auto;
	padding: 9px 50px !important;
	background-color: #FFFFFF;
	border: 3px solid #54a2c6;
	-moz-box-shadow:  1px 3px 5px rgba(0,0,0,0.2);
   	-webkit-box-shadow:  1px 3px 5px rgba(0,0,0,0.2);
   	box-shadow:  1px 3px 5px rgba(0,0,0,0.2);
}
#thumbs .ctabutton{

	margin-left: 0px;
	margin-right: 0px;
}
.fleet_tabs_content h3{

	color: #FFF;
	font-size: 1.8em;
	width: 900px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 30px;
	margin-right: 30px;
}

.fleet_tabs_content #thumbs{

	margin-left: 30px;
	margin-right: 30px;
	width: 900px;
	
}
.fleet_tabs_content #thumbs>ul{

	display:table;
	padding: 0px !important;
	margin: 0px !important;
	padding-bottom: 50px !important;
}
.fleet_tabs_content #thumbs li{

	padding: 0;
	margin: 0;
	background: none;
}

.fleet_tabs_content #thumbs li>a>img{

	width: 200px;
}

.fleet_tabs_content #thumbs li>a{

	padding: 0px !important;
	display: table;
	
	margin-bottom: 30px;
	
}


.ltr .fleet_tabs_content #thumbs li{
	
	float: left;
	margin-right: 30px;
}

.rtl .fleet_tabs_content #thumbs li{
	
	float: right;
	margin-left: 30px;
}

.ltr .fleet_tabs_content .ctabutton{

	margin-left: 30px;
}

.rtl .fleet_tabs_content .ctabutton{

	margin-right: 30px;
}

.fleet_tabs_content>div>*>H2{

	font-size: 36pt;
	font-weight: bold;
}
.fleet_tabs_content TABLE{

	border-collapse: separate;
	
}
.fleet_tabs_content THEAD{

	text-transform: uppercase;
}

.fleet_tabs_content THEAD TD{

	background: #fcffff;
	font-weight: bold;
	font-size: 1.2em;
	
}

.fleet_tabs_content THEAD TD:FIRST-CHILD{

	width: 303px;
	
}
#fleet_tabs SPAN.close{

	width: 54px;
	height: 28px;
	text-indent:-999em;
	margin-top:45px;
	display: block;
	position: absolute;
	cursor:pointer;
	background: url('../img/fleet/close.png') 0 0 no-repeat ;
	visibility: hidden;
}

.ltr #fleet_tabs SPAN.close{

	right:120px;
	background-position: right 0;
}

.rtl #fleet_tabs SPAN.close{

	left:120px;
	background-position: left 0;
}

#fleet_tabs SPAN.select{

	width:100%;
	height:30px;
	display:block;
	background: url('../img/fleet/selected.png') 0px 0 no-repeat ;
}

#fleet_tabs .tab_blue SPAN.select{

	background-position: center 0;
}
#fleet_tabs .tab_grey SPAN.select{

	background-position: center -40px;
}
#fleet_tabs .tab_yellow SPAN.select{

	background-position: center -80px;
}
#fleet_tabs .tab_dark SPAN.select{

	background-position: center -120px;
}
.fleet_tabs_content THEAD TD:LAST-CHILD,.fleet_tabs_content TBODY TD:LAST-CHILD{

	text-align: center;
}
.fleet_tabs_content  TD{

	border-bottom: 3px solid;
	
	border-left: 3px solid;
	height: 35px;
	
	padding: 2px 10px;
	vertical-align: middle;
	
	
	
}
.fleet_tabs_content TBODY TD{

	background: #e0f1f9;
}

.ltr .fleet_tabs_content>div>*>*{

	padding-left: 30px;
}
.rtl .fleet_tabs_content>div>*>*{

	padding-right: 30px;
}
.fleet .columns2>*{

	padding: 30px;
}
.fleet .columns2>h2{

	font-size: 28pt;
	font-weight: bold;
	color: #b1b1b1;
	padding-bottom: 0px;
}
.fleet .columns2 p{

	font-size: 1.2em;
	color: #4e4e4e;
}
.fleet .columns2>div{

	width: 420px;
}
.ltr.fleet .columns2>div{

	float: left;
}
.rtl.fleet .columns2>div{

	float: right;
}

/* Fleet vehicle range accordion */
@font-face {
	font-family: "Antenna-Bold";
	src: url("../fonts/ftd/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-2.eot");
	src: url("../fonts/ftd/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-2.eot?iefix")
		format("embedded-opentype"),
		url("../fonts/ftd/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-3.woff")
		format("woff"),
		url("../fonts/ftd/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-1.ttf")
		format("truetype"),
		url("../fonts/ftd/Antenna-Bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-4.svg#Antenna-Bold")
		format("svg");
}

.range-accordion {
	clear: both;
	margin: 0 auto;
	width: 870px;
}

.range-accordion > ul {
	padding: 15px 0 0;
	margin: 0 0 80px;
}

.range-accordion > ul li {
	background: none;
	border-bottom: 1px solid #c2cacc;
	padding: 0;
}

.range-accordion .tab-area {
	background: url("../img/fleet/accordion-arrows.png") right 24px no-repeat;
	cursor: pointer;
	overflow: hidden;
}

.range-accordion .active .tab-area {
	background-position: right -160px;
}

.range-accordion .tab-area img {
	float: left;
	padding-right: 10px;
}

.range-accordion h4 {
	color: #0a4a5d;
	font-family: "Antenna-Bold", sans-serif;
	font-size: 1.667em;
	font-weight: 400;
	margin: 22px 0 0;
}

.range-accordion .dropdown {
	margin: 0px -45px;
	overflow: hidden;
}

.range-accordion .benefits {
	background: #ebebeb;
	margin: 6px 0;
	overflow: hidden;
	padding: 0;
}

.range-accordion .benefits li {
	border-bottom: 0;
	color: #5e5e5e;
	float: left;
	height: 75px;
	overflow: hidden;
	width: 160px;
}

.range-accordion .benefits h5 {
	background: url("../img/fleet/benefits-at-glance.png") no-repeat;
	height: 75px;
	overflow: hidden;
	padding: 0;
	text-indent: -999px;
	width: 160px;
}

.range-accordion .benefits li.fuel {
	background: url("../img/fleet/benefits_fuel.png") no-repeat;
}

.range-accordion .benefits li p {
	color: #5F6062;
	font-size: 1.5em;
	font-weight: bold;
	margin: 16px 0 0 58px;
	padding: 0;
}

.range-accordion .benefits li span {
	display: block;
	font-size: 1.167em;
	font-weight: bold;
	margin: -3px 0 0 58px;
}

.range-accordion .benefits li.co2 {
	background: url("../img/fleet/benefits_co2.png") no-repeat;
}

.range-accordion .benefits li.co2 p, .range-accordion .benefits li.co2 span {
	margin-left: 62px;
}

.range-accordion .benefits li.bluetooth {
	background: url("../img/fleet/benefits_bluetooth.png") no-repeat;
	text-indent: -999px;
}

.range-accordion sup, .range-accordion sub {
	font-size: 65%;
}

.range-accordion table {
	width: 960px;
}

.range-accordion thead th, .range-accordion tbody td {
	background: none;
	border-right: 1px solid #fff;
}

.range-accordion table th {
	background-color: #387bae;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-family: "Antenna-Bold", sans-serif;
	font-size: 1.167em;
	padding: 16px 0;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 25%;
}

.range-accordion table td {
	background-color: #d6ecfd;
	color: #2f6f9f;
	font-size: 1.25em;
	padding: 15px 17px;
}

.range-accordion table td ul {
	padding: 5px 0 12px;
}

.range-accordion table td li {
	background: url("../img/fleet/table-list-bullet.png") 0 7px no-repeat;
	border-bottom: none;
	color: #2f6f9f;
	line-height: 1.3em;
	padding-bottom: 4px;
	padding-left: 10px;
}

.range-accordion table td li > ul {
	padding-left: 24px;
}

.range-accordion table td li > ul > li {
	background: url("../img/fleet/table-list-bullet2.png") 0 8px no-repeat;
}

.range-accordion table th.last, .range-accordion table td.last {
	border-right: none;
}

.range-accordion .fine-print {
	margin: 0 10px;
}

.range-accordion .fine-print p {
	color: #8b9297;
	font-size: 1em;
	line-height: 1.167em;
}

.range-accordion .fine-print a {
	text-decoration: underline;
}

.range-accordion a.learn-btn {
	background: #3f88bf url("../img/fleet/btn_arrow.png") right center no-repeat;
	color: #fff;
	float: right;
	font-family: "Antenna-Bold", sans-serif;
	display: inline-block;
	margin: 12px 0 46px;
	padding: 24px 80px 20px 70px;
	font-size: 1.417em;
	text-transform: uppercase;
}

.range-accordion a:hover.learn-btn, .range-accordion a:focus.learn-btn {
	background-color: #387bae;
	text-decoration: none;
}

.range-accordion .benefits li.four-lines p {
	margin: 3px 0 0 58px;
}

.range-accordion .benefits li.four-lines span {
	margin-top: -5px;
}

.range-accordion .benefits li.four-lines span.small {
	font-size: 0.917em;
	line-height: 1.2em;
	margin-top: -3px;
	padding-top: 4px;
}

body.ltr div.divide {
	background: url("../img/fleet/divide.png") 0 30px no-repeat;
	clear: both;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	height: 48px;
	width: 960px;
	padding-top: 10px;
	text-transform: uppercase;
}


/***** Experience layer slider CTA styles *****/

.cta {
	background: url('../img/c520_experience/sprite.png') 0 -133px no-repeat;
	bottom: 78px;
	height: 48px;
	left: auto;
	right: 31px;
	position: absolute;
	width: 140px;
}

.previous-mask .cta {
	left: 309px;
}

.cta.video {
	background-position: 0 -133px;
}

.cta:hover {
	background-position: 0 -192px;
}

.cta.video:hover {
	background-position: 0 -192px;
}

.cta.link {
	background-position: 0 -250px;
}

.cta.link:hover {
	background-position: 0 -309px;
}

.cta a {
	display: block;
	font-size: 0.8em;
	height: 37px;
	padding: 11px 0 0 53px;
	line-height: 1.1;
}

.desc, body.ltr div.desc {
	bottom: 13px;
	font-size: 0.8em;
	line-height: 1.3em;
	right: 150px;
	position: absolute;
	text-align: center;
	width: 180px;
}

.previous-mask .desc, body.ltr .previous-mask div.desc {
	left: 150px;
	right: auto;
}
/*RHS*/
.ltr #rhs{

	right: 0;
}
.rtl #rhs{

	left: 0;
}

#rhs{
	position: absolute;
    top: 0;
    width: 173px;
    padding: 0 0 0px;
   
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
    margin: 0px;
    background: url("../img/rhsbg.png");
}

#rhs .pricing {
	width: 166px;
	padding: 0 0 0px;
	color: #fff;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.ltr #rhs .pricing {
	float: left;
}

#rhs .pricing>DIV {
	width: 154px;
	padding: 8px 10px 0;
}

.ltr #rhs .pricing>DIV {
	float: left;
}

#rhs .pricing STRONG {
	display: block;
	line-height: 1.4em;
	font-size: 19px;
}

#rhs .matrix {
	width: 180px;
	font-size: 10px;
	line-height: 1.5em;
}

.ltr #rhs .matrix {
	float: left;
	padding: 5px 0 0 0px;
}

.rtl #rhs .matrix {
    float: right;
    padding: 5px 0px 0 0;
}

#rhs .matrix LI {
	width: 54.5px;
	padding: 0 0 2px;
    background: url("../img/rhsli.png");
	
}

.ltr #rhs .matrix LI {
	float: left;
	margin: 0 5px 5px 0;
}
.rtl #rhs .matrix LI {
   float: right;
   margin: 0 0 5px 5px;
}

#rhs .matrix LI DIV {
	width: 54.5px;
	height: 35px;
	padding: 8px 0 3px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	
}

#rhs .matrix LI DIV STRONG {
	display: block;
	padding: 2px 0 0;
	font-size: 18px;
}

.ltr #rhs .matrix LI DIV {
    float: left;
}

.rtl #rhs .matrix LI DIV {
    float: right;
}

#rhs P {
	clear: both;
	font-size: 1.1em;
}

.ltr #rhs P {
	padding: 0px 0 3px 10px;
}

.rtl #rhs P {
    padding: 3px 10px 3px 0;
}

.dark #rhs P A, #rhs P A{
	color: #fff;
}

.ltr #rhs .actions {
	float: left;
}
.rtl #rhs .actions{

	float: right;
}
#rhs .actions{
	width: 174px;
	padding: 0;
	font-size: 1.3em;
	line-height: 1em;
}
.ltr .linkdescription{
	
	text-align: left;
	float: left;
	
}
.rtl .linkdescription{
	
	text-align: right;
	float: right;
}
.linkdescription{
	
	padding:7px 10px;
	font-size: 1.15em;
	color: #FFF;
}
.linkdescription a{
	
	color: #FFF;
	text-decoration: underline;
	cursor: pointer;
}
.linkdescription a:HOVER{
	color: #31a1db;
	
}
#rhs .actions LI{
	display: inline;
	width: 173px;
	padding: 4px 0 6px;
	margin: 0;
	cursor: pointer;
	background:#798492;
	
	background-image: -webkit-linear-gradient(top, #798492, #626d7a);
	background-image: -moz-linear-gradient(top,  #798492, #626d7a);
	background-image: -ms-linear-gradient(top,  #798492, #626d7a);
	background-image: linear-gradient(top, #798492, #626d7a);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#798492',endColorstr='#626d7a',GradientType=0);
}
#rhs .actions LI:hover{

	background:#305473;
	background-image: -webkit-linear-gradient(top, #2e6390, #305473);
	background-image: -moz-linear-gradient(top, #2e6390, #305473);
	background-image: -ms-linear-gradient(top, #2e6390, #305473);
	background-image: linear-gradient(top, #2e6390, #305473);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e6390',endColorstr='#305473',GradientType=0);
}
.ltr #rhs .actions LI{
	float: left;
}

.ltr #rhs .icon {
	
	padding-left: 24px !important;
}
.rtl #rhs .icon {
    padding-right: 24px !important;
}


.rtl #rhs .actions LI{

	float: right;
}
#rhs .actions LI A {
	width: 162px;
	min-height: 21px;
	padding: 0 3px 0;
	color: #fff;
	font-weight: bold;
}
.ltr #rhs .actions LI A {
	float: left;
	padding-left: 8px;
}
.rtl #rhs .actions LI A{

	float: right;
	padding-right: 8px;
}

#rhs .actions LI A SPAN {
	display: block;
	min-height: 18px;
	padding-top: 6px;
	cursor: pointer;
}
#rhs .actions LI A:hover{
	text-decoration: none;
}

.rtl #rhs .pricing {
    float: right;
}
.rtl #rhs .pricing > DIV {
    float: right;
}

#rhs .actions .top-corner  LI{

	border-top-left-radius:6px;
	border-top-right-radius:6px;
}

#rhs .actions .bottom-corner  LI{

	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}

#rhs .actions .corner  LI{

	border-radius:6px;
	
}
#rhs .phone{

	padding: 11px 11px 3px;
	color: #FFF;
	
}
#rhs .phone h3,#rhs .phone p{

	color: #FFF;
}
#rhs .phone h3{

	font-size: 19px;
	padding: 0.1em 0 0.2em;
	width: 154px;
}

#rhs>div>h3{

	padding: 6px 10px;
	color: #FFF;
	font-size: 12px;
	width: 154px;
	text-align: center;
	font-weight: 600;
}
.ltr #rhs>div>h3{

	float: left;
}

.rtl #rhs>div>h3{

	float: right;
	
}

.ltr #rhs .phone{

	float: left;
}
.rtl #rhs .phone{

	float: right;
}
/*NEW SYNC ICON white*/

.syncicon-voice-n-white{
	
	background-position:left -1390px !important;
	
}
.syncicon-package-n-white{
	
	background-position:left -1475px !important;
}
.syncicon-vidplay-n-white{
	
	background-position:left -1822px !important;
}
.syncicon-wifi-n-white{
	
	background-position:left -1735px !important;
}
.syncicon-drveffi-n-white{
	
	background-position:left -1994px !important;
}
.syncicon-mediahub-n-white{
	
	background-position:left -1905px !important;
}
.syncicon-colorcode-n-white{
	
	background-position:left -2080px !important;
}
.syncicon-audible-n-white{
	
	background-position:left -1560px !important;
}
.syncicon-applink-n-white{
	
	background-position:left -2166px !important;
}
.syncicon-devicecomp-n-white{
	
	background-position:left -1648px !important;
}

/*RHS icons*/

.ltr .rhs-icon-buildprice{background-position: 0px -3726px; }
.rtl .rhs-icon-buildprice{background-position: right -3726px; }
.ltr .rhs-icon-brochures{background-position: 0px -3845px; }
.rtl .rhs-icon-brochures{background-position: right -3845px; }
.ltr .rhs-icon-comparison{background-position: 0px -3964px; }
.rtl .rhs-icon-comparison{background-position: right -3964px; }
.ltr .rhs-icon-hotdeals{background-position: 0px -4083px; }
.rtl .rhs-icon-hotdeals{background-position: right -4083px; }
.ltr .rhs-icon-testdrive{background-position: 0px -4202px; }
.rtl .rhs-icon-testdrive{background-position: right -4202px; }
.ltr .rhs-icon-locateadealer{background-position: 0px -4321px; }
.rtl .rhs-icon-locateadealer{background-position: right -4321px; }
.ltr .rhs-icon-usedvehicles{background-position: 0px -4440px; }
.rtl .rhs-icon-usedvehicles{background-position: right -4440px; }
.ltr .rhs-icon-fordservice{background-position: 0px -4559px; }
.rtl .rhs-icon-fordservice{background-position: right -4559px; }
.ltr .rhs-icon-warranty{background-position: 0px -4678px; }
.rtl .rhs-icon-warranty{background-position: right -4678px; }
.ltr .rhs-icon-accessories{background-position: 0px -4797px; }
.rtl .rhs-icon-accessories{background-position: right -4797px; }
.ltr .rhs-icon-merchandise{background-position: 0px -4916px; }
.rtl .rhs-icon-merchandise{background-position: right -4916px; }
.ltr .rhs-icon-fordparts{background-position: 0px -5035px; }
.rtl .rhs-icon-fordparts{background-position: right -5035px; }
.ltr .rhs-icon-newsroom{background-position: 0px -5154px; }
.rtl .rhs-icon-newsroom{background-position: right -5154px; }
.ltr .rhs-icon-careers{background-position: 0px -5273px; }
.rtl .rhs-icon-careers{background-position: right -5273px; }
.ltr .rhs-icon-fordcorporate{background-position: 0px -5392px; }
.rtl .rhs-icon-fordcorporate{background-position: right -5392px; }
.ltr .rhs-icon-community{background-position: 0px -5511px; }
.rtl .rhs-icon-community{background-position: right -5511px; }
.ltr .rhs-icon-environment{background-position: 0px -5630px; }
.rtl .rhs-icon-environment{background-position: right -5630px; }
.ltr .rhs-icon-keepmeinformed{background-position: 0px -5749px; }
.rtl .rhs-icon-keepmeinformed{background-position: right -5749px; }
.ltr .rhs-icon-checkbox{background-position: 0px -5868px; }
.rtl .rhs-icon-checkbox{background-position: right -5868px; }
.ltr .rhs-icon-key{background-position: 0px -5987px; }
.rtl .rhs-icon-key{background-position: right -5987px; }
.ltr .rhs-icon-information{background-position: 0px -6106px; }
.rtl .rhs-icon-information{background-position: right -6106px; }
.ltr .rhs-icon-sync{background-position: 0px -6225px; }
.rtl .rhs-icon-sync{background-position: right -6225px; }
.ltr .rhs-icon-wrench{background-position: 0px -6344px; }
.rtl .rhs-icon-wrench{background-position: right -6344px; }
/*end RHS*/


/*********************************** Full Screen Overlay **********************************************/
.overlayBg {display:none; position:fixed; width:100%; height:100%; z-index:900; top:0; left:0; background-color:rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); overflow:scroll; overflow-y:scroll; overflow-x:hidden; position:fixed; top:0; left:0; z-index:999;}
.overlay-wrap {width:100%; height:100%; min-height:500px; background-color:rgba(0,0,0,0.7); overflow-y:scroll; overflow-x:hidden; position:fixed; top:0; left:0; right:0; bottom:0; z-index:999;}
.ie8 .overlay-wrap {background:transparent url("../img/tech-section/bg-image-overlay.png") scroll repeat 0 0;}
.overlay-wrap .overlay-content {width:963px; margin:0 auto; position:relative; z-index:1000;}
.overlay-wrap .content-wrap {width:963px; margin:0 auto; position:relative; z-index:1001;}
.overlay-wrap .content {float:left; background-color:#fff;}

.overlay-wrap .overlay-content .intro {padding:30px 40px 10px 40px;}
.overlay-wrap .overlay-content .intro h1 {padding:0 0 0.3em 0; font-size:5em; font-family:Antenna-Regular; text-align:center; font-weight:normal; color:#333; line-height:1em;}
.overlay-wrap .overlay-content .intro p {padding:0; font-size:1.94em; font-family:Antenna-Regular; text-align:center; color:#b3b3b3;}

.overlay-wrap .overlay-content .section {margin-top:10px;}
.overlay-wrap .overlay-content .section:first-child {margin-top:0;}
.overlay-wrap .overlay-content .section .title {text-align:center; color:#333; font-family:Antenna-Bold;}
.overlay-wrap .overlay-content .article-wrap {position:relative; z-index:1; background:transparent url("../img/tech-section/bg-overlay-section-repeater.gif") scroll repeat-x 0 0;}
.overlay-wrap .overlay-content .article-wrap .sign {display:block; width:31px; height:15px; position:absolute; top:0; left:48.5%; background:transparent url("../img/tech-section/overlay-section-arrow-down.png") scroll no-repeat 50% 0;}
.overlay-wrap .overlay-content .article ul {font-size:1.4em; width:43%; padding:0 0 0 48px;}
.overlay-wrap .overlay-content .article ul li {padding:0 0 20px 33px; color:#333; background:transparent url("../img/tech-section/tech-sprite.png") scroll no-repeat 0 -2030px;}
.rtl .overlay-wrap .overlay-content .article ul li {padding:0 33px 20px 0; background:transparent url("../img/tech-section/tech-sprite-rtl.png") scroll no-repeat 100% -2030px;}
.overlay-wrap .overlay-content .article h2 {font-size:3em; font-family:Antenna-Regular;}
.overlay-wrap .overlay-content .article p {font-size:1.5em; color:#333;}
.overlay-wrap .overlay-content .article .sub-title {font-family:Antenna-Bold;}

.overlay-wrap .top-close {float:right; min-width:96px; height:44px; background-color:#fff;}
.rtl .overlay-wrap .top-close {float:left;}
.overlay-wrap .top-close a {display:block; width:100%; height:44px; line-height:44px; text-align:center; font-size:1.2em; font-family:Antenna-Bold; color:#333; background:transparent url("../img/tech-section/overlay-controls-sprite.png") scroll no-repeat 69% 17px;}
.rtl .overlay-wrap .top-close a {background:transparent url("../img/tech-section/overlay-controls-sprite-rtl.png") scroll no-repeat 30% 17px;}
.overlay-wrap .top-close a span {padding-right:18px;}
.rtl .overlay-wrap .top-close a span {padding-right:0; padding-left:18px;}
.overlay-wrap .top-close a:hover {text-decoration:none; color:#49acdf; background-position:70% -95px;}
.rtl .overlay-wrap .top-close a:hover {background-position:30% -95px;}

.overlay-wrap .overlay-content .controls {float:left; width:100%; min-height:30px; padding:4px 0 61px 0; position:relative; z-index:1; background:#fff url("../img/tech-section/bg-overlay-controls.gif") scroll no-repeat 50% 50%;}
.rtl .overlay-wrap .overlay-content .controls {float:right; padding:4px 0 61px 0; background:#fff url("../img/tech-section/bg-overlay-controls-rtl.gif") scroll no-repeat 50% 50%;}
.overlay-wrap .overlay-content .controls a {font-size:1.2em; font-family:Antenna-Bold; color:#333; position:absolute; z-index:2;}
.overlay-wrap .overlay-content .controls a {text-decoration:none;}
.overlay-wrap .overlay-content .controls .backToTop {padding:0 34px 0 14px; left:420px; top:40%; background:#fff url("../img/tech-section/overlay-controls-sprite.png") scroll no-repeat 90% -52px;}
.rtl .overlay-wrap .overlay-content .controls .backToTop {padding:0 14px 0 34px; left: 420px; background:#fff url("../img/tech-section/overlay-controls-sprite-rtl.png") scroll no-repeat 12% -52px;}
.overlay-wrap .overlay-content .controls .close {padding:0 20px 0 16px; right:47px; top:40%; background:#fff url("../img/tech-section/overlay-controls-sprite.png") scroll no-repeat 100% 4px;}
.rtl .overlay-wrap .overlay-content .controls .close {padding:0 16px 0 20px; right: 850px; background:#fff url("../img/tech-section/overlay-controls-sprite-rtl.png") scroll no-repeat left 3px;}
.overlay-wrap .overlay-content .controls .close:hover {color:#49acdf; background-position:100% -108px;}
.rtl .overlay-wrap .overlay-content .controls .close:hover {background-position:left -109px;}
.overlay-wrap .overlay-content .controls .backToTop:hover {color:#49acdf; background-position:90% -156px;}
.rtl .overlay-wrap .overlay-content .controls .backToTop:hover {background-position:12% -156px;}

.overlay-wrap .loader {display:block; width:50px; height:50px; position:absolute; left:48%; top:48%; z-index:2; background:transparent url("../img/ajax-loader.gif") scroll no-repeat 50% 50%;}

.overlay-wrap .banner {position:relative; width:100%; min-height:400px; background:transparent url("../img/tech-section/loader.gif") scroll no-repeat 50% 50%;}

.tech-section .errors {display:none;}
.overlay-wrap .errors {display:block;}
.overlay-wrap .msg {float:left; width:100%; padding:100px 0px; margin:0 auto; background-color:#fff; text-align:center;}
.overlay-wrap .msg p {padding:0 10px; font-size:1.5em; font-family:Antenna-Regular;}

/* Social links */
.overlay-wrap .social {margin:0 0 0 50px;}
.rtl .overlay-wrap .social {margin:0 50px 0 0;}
.overlay-wrap .social p {float:left; font-family:Antenna-Bold; margin-right:11px;}
.rtl .overlay-wrap .social p {float:right; margin-left:11px;}
.overlay-wrap .addthis_toolbox {float:left;}
.rtl .overlay-wrap .addthis_toolbox {float:right;}
.overlay-wrap .addthis_toolbox a {display:inline-block; width:20px; height:20px; margin-right:5px;}
.rtl .overlay-wrap .addthis_toolbox a {margin-left:5px;}
.overlay-wrap .addthis_toolbox a:hover {text-decoration:none;}

/* iPad */
/*.touch .overlay-wrap .top-close a {line-height:35px;}*/
.touch .overlay-wrap .overlay-content .controls {margin-top:-1px;}
.touch .overlay-wrap .overlay-content .controls a {font-size:1.4em;}
.touch .overlay-wrap .overlay-content .controls a:hover {color:#666;}
.touch .overlay-wrap .overlay-content .controls .backToTop {left:420px; top:38%; background-position:90% -50px;}
/*.touch .overlay-wrap .overlay-content .controls .close {right:48px; top:38%}*/
.touch .overlay-wrap .social p {padding:5px 0 0 0;}
.touch .overlay-wrap .banner {margin-top:-1px;}

/*********************************** End of Full Screen Overlay **********************************************/

/*********************************** ISOTOPE animation style **********************************************/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.rtl .isotope .isotope-item {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
     -moz-transition-property: right, top, -moz-transform, opacity;
      -ms-transition-property: right, top, -ms-transform, opacity;
       -o-transition-property: right, top, -o-transform, opacity;
          transition-property: right, top, transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/*********************************** End of ISOTOPE animation style **********************************************/


/***********************************CSS changes for new, better SEO Heading implementation*********************************************/

/* Logo */
#badge h1 {
	padding: 0;
}


/* Main Nav */
.ltr #nav .mega-menu .items .item .head a.btn {
	background: url("../img/models.png")  0 bottom no-repeat;
	color: #000;
	float: left;
	font-size: 1.3em;
	font-weight: bold;
    line-height: 1.3em;
    padding: 0 0 5px;
    text-transform: uppercase;
    width: 147px;
}

.ltr #nav .mega-menu .items .item .head a.btn span {
	background: url("../img/models.png") -250px 0 no-repeat;
	color: #000;
	display: block;
	float: left;
    min-height: 20px;
    padding: 9px 2px 0;
    text-align: center;
    width: 143px;
}

.ltr #nav .mega-menu .items .item .head a.btn span span,.rtl #nav .mega-menu .items .item .head a.btn span span {
	float: none;
}
.rtl #nav .mega-menu .items .title {
	float: right;
	right: 4px;
	display: inline;
	position: absolute;
	top: 0;
	padding: 10px 0 5px;
	font-size: 1.2em;
	font-weight: bold;
}
.rtl #nav .mega-menu .items .item .head a.btn {
	float:right;
	width: 147px;
	padding: 0 0 5px;
	font-size: 1.3em;
	text-transform: uppercase;
	background: transparent url('../img/models.png') no-repeat 0 bottom;
}
.rtl #nav .mega-menu .items .item .head a.btn span {
	
	display: block;
	width: 143px;
	font-weight:bold;
	min-height: 20px;
	padding: 9px 2px 0;
	color: #fff;
	text-align: center;
	color: #000000;
	background: transparent url('../img/models.png') no-repeat -250px 0;
	float: right;
}
#subnav h1{
	
	width: 226px;
	text-transform: uppercase;
	font-size: 1.8em;
	padding: 0 0 0.4em;
}
#nav .mega-menu .items .item .head:hover a.btn {
    background-position: -500px bottom;
}
.rtl #subnav H1 {
	
	float: right;	
}

#nav .mega-menu .items .item .head:hover a.btn span {
    background-position: -750px 0;
    color: #FFFFFF;
}

#nav .mega-menu .bottom ul .model .details a {
	color: #5F6062;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 1.3em;
    margin: 0;
    padding-bottom: 0;
}

.ltr #nav .mega-menu .items a.title {
    color: #196DB6;
    display: inline;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    left: 4px;
    padding: 10px 0 5px;
    position: absolute;
    top: 0;
}


/* Content Headings */
.ltr #subnav h1 {
    float: left;
    font-size: 1.8em;
    padding: 0 0 0.4em;
    text-transform: uppercase;
    width: 226px;   
}

.dark #subnav h1, .dark .principal-content h2 {
    color: #fff;
}

.principal-content h2 {
    font-size: 2.6em;
    padding-top: 0;
}


/* Feature Carousel */
.featurecarousel h3 {
    font-size: 1em;
}


.featurecarousel h3 a:hover {
    text-decoration: none;
}


/* Fat Footer */
#nav-footer h4 {
    background: #F8F8F8;
    border: 1px solid #E1E1E1;
    color: #626262;
    font-size: 1.3em;
    padding: 5px 14px;
}

.aside-rhs{
	position: relative;
	clear: both;
}
#aside .aside-rhs .actions LI A{
	background: none;
}
#aside .aside-rhs .actions {
	margin: 0;
}
#aside .aside-rhs #rhs{
	position: relative;
	margin-bottom: 10px;
}
#aside .aside-rhs #rhs>div{
	display: table;
}
.ltr .aside-rhs #rhs {
	right: auto;
}
.rtl .aside-rhs #rhs {
	left: auto;
}


/**************custom rotating banner bxslider********************************/
.rotating-banner .find-out-more {
    width:109px;
    display:inline-block;
    height:19px;
    position:absolute;
    left:500px;
    top:200px;
    z-index:10;
    background-color: #FFFFFF;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.rotating-banner .bx-wrapper .bx-pager,.rotating-banner .bx-wrapper .bx-controls-auto {
    bottom: 180px;
    position: absolute;
    width: 100%;
}
.rotating-banner ul > li {
	background : none;
	padding-left : 0;
}
.rotating-banner .bx-wrapper .bx-prev,.rotating-banner .bx-wrapper .bx-next {
	background: url("../img/bar-slider.png");
}
.rotating-banner .bx-wrapper .bx-prev {
    left : 55px;
    background-position: 0 -100px;
}
.rotating-banner .bx-wrapper .bx-next {
    right:60px;
    background-position: 0 -300px;
}
.rotating-banner .bx-wrapper .bx-prev,.rotating-banner .bx-wrapper .bx-next{
    height : 65px;
    width : 50px;
    top: 271px;
}
.rotating-banner .bx-wrapper .bx-pager.bx-default-pager a {
    background: url("../img/carousel.png");
    background-position: -68px -385px;
    width:15px;
    height:13px;
    
}
.rotating-banner .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url("../img/carousel.png");
    background-position: -35px -385px;
}

.rotating-banner .position {
    height: 640px;
}

.rotating-banner .bx-wrapper .bx-viewport {
	border: none;
	left : 0;
}
.rotating-banner{
	min-width:1200px;
}
.rotating-banner #footer-wrapper{
	min-width:1200px;
}

.rotating-banner .find-out-more img {
	height: 100%;
}
.ie8.rotating-banner .bx-prev,.ie8.rotating-banner .bx-next{
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=’true’, sizingMethod=’crop’)" !important;
}
.ie8.rotating-banner .slider .position{
	width:1196px;
}
.ie8.rotating-banner .bx-wrapper{
	overflow:hidden;
	right:2px;
}
/**************change h3 style for derivative html only********************************/
.banner-principal .featurepanel .items h3{
	 font-size: 1em;
}


.syncicon-usb {background-position: 0px -2389px !important;margin-left: -11px;}
.syncicon-voice {background-position: 0px -2488px !important;margin-left: -11px;}
.syncicon-package {background-position: 0px -2588px !important;margin-left:-10px;}
.syncicon-audible {background-position: 0px -2683px !important;margin-left:-11px;}
.syncicon-wifi {background-position: 0px -2784px !important;margin-left:-11px;}
.syncicon-vidplay {background-position: 0px -2881px !important;margin-left:-11px;}
.syncicon-mediahub {background-position: 0px -2988px !important; margin-left: -17px;}
.syncicon-drveffi {background-position: 0px -3086px !important;margin-left:-10px;}
.syncicon-colorcode {background-position: 0px -3186px !important;margin-left:-10px;}
.syncicon-applink {background-position: 0px -2266px !important; margin-left: -11px;}
.syncicon-tower {background-position: 0px -3388px !important;margin-left:-10px;}
.syncicon-flag {background-position: 0px -3587px !important; margin-left: -17px;}

.syncicon-usb-white {background-position: 1px -1644px !important;}
.syncicon-voice-white {background-position: -1px -1387px !important;}
.syncicon-package-white {background-position: 1px -1471px !important;}
.syncicon-audible-white {background-position: 1px -1557px !important;}
.syncicon-wifi-white {background-position: -1px -1732px !important;}
.syncicon-vidplay-white {background-position: -1px -1819px !important;}
.syncicon-mediahub-white {background-position: 3px -1903px !important;}
.syncicon-drveffi-white {background-position:  -1px -1991px !important;}
.syncicon-colorcode-white {background-position:  1px -2077px !important;}
.syncicon-applink-white {background-position: 0px -2164px !important;}
.syncicon-tower-white {background-position: 1px -3286px !important;}
.syncicon-flag-white {background-position: 3px -3485px !important}

#allfeatures .links > div:hover .syncicon-usb {background-position: 0px -1646px !important;}
#allfeatures .links > div:hover .syncicon-voice {background-position: 0px -1388px !important;}
#allfeatures .links > div:hover .syncicon-package {background-position: 0px -1472px !important;}
#allfeatures .links > div:hover .syncicon-audible {background-position: 0px -1560px !important;}
#allfeatures .links > div:hover .syncicon-wifi {background-position: 0px -1733px !important;}
#allfeatures .links > div:hover .syncicon-vidplay {background-position: 0px -1821px !important;}
#allfeatures .links > div:hover .syncicon-mediahub {background-position: -2px -1904px !important;}
#allfeatures .links > div:hover .syncicon-drveffi {background-position:  0px -1992px !important;}
#allfeatures .links > div:hover .syncicon-colorcode {background-position: 2px -2080px !important;}
#allfeatures .links > div:hover .syncicon-applink {background-position: 0px -2166px !important;}
#allfeatures .links > div:hover .syncicon-tower {background-position: 0px -3288px !important;}
#allfeatures .links > div:hover .syncicon-flag {background-position: 0px -3487px !important;}


/*nameplate experience*/
.btn_build-quote {
	background: url('../img/btn_start-build-quote.png') no-repeat;
	bottom: 0;
	display: none;
	height: 135px;
	left: -132px;
	position: absolute;
	text-indent: -999em;
	width: 270px;
	z-index: 4;
}

.btn_build-quote:hover {
	background-position: 0 -140px;
}

.btn_build-quote a {
	display: block;
	height: 135px;
	width: 270px;
}


/*loan calculator overlay*/
.loan-calc.overlay-box{background:#f5f4f2;}
.loan-calc-overlay{float:left;min-height:160px;padding:20px;width:540px;}
.loan-calc-overlay .column{width:250px;min-height:140px;float:left;padding:10px;}
.loan-calc-overlay .column:first-child{padding-right:40px;width:220px;}
.loan-calc-overlay .column .title{border-bottom:1px #cecdcb solid;margin-bottom:10px;}
.loan-calc-overlay .column .title p, .loan-calc-overlay .column .title span{font-size:15px;font-weight:bold;color:#040301;padding:0;}
.loan-calc-overlay .column .title.location p{text-align:center;}
.loan-calc-overlay .column .row{padding:10px 0 0;}
.loan-calc-overlay .column .row label{color:#255c9d;display:block;font-size:13px;font-weight:normal;margin:5px 0;}
.loan-calc-overlay .column .row input{border-color:#d6d6d6;height:25px;width:100%;-moz-appearance:textfield;-webkit-appearance:none;border-radius:3px;box-shadow:none;}
.loan-calc-overlay .column .row input::-webkit-inner-spin-button{-webkit-appearance:none;}
.loan-calc-overlay .column .row.short input{width:80%;}
.loan-calc-overlay .column .row.short span{font-size:12px;padding-left:8px;}
.loan-calc-overlay .column .row .error{display:block;text-align:right;visibility:hidden;}
.loan-calc-overlay .column .row.invalid .error{visibility:visible;}
.loan-calc-overlay .column .row.short .error{width:80%;}
.loan-calc-overlay .column .row.invalid input{border-color:#f00;background:url("../../rad/img/sprite-forms.png") no-repeat scroll right -114px #fff;}
.loan-calc-overlay .column p.loc{padding-top:15px;}
.loan-calc-overlay .column .result{font-size:15px;font-weight:bold;padding:20px;}
.loan-calc-overlay .column .result span{display:block;line-height:25px;}
.loan-calc-overlay .column .result span.symbol,.loan-calc-overlay .column .result span.price{display:inline;}
#overlay .loan-calc-overlay .disclaimer{position:relative;clear:both;left:0;padding:10px;}
.loan-calc-overlay .disclaimer,.loan-calc-overlay .disclaimer p{text-shadow:none;}
#overlay.loan-calc.overlay-box .close-button{right:0;top:0;height:30px;background:url("../../rad/img/icons.png") no-repeat scroll 57px -3639px #fff;}
#overlay.loan-calc.overlay-box .close-button span{background:none;}
#overlay.loan-calc.overlay-box .close-button span a{color:#000;font-size:12px;font-weight:bold;line-height:30px;padding:0 30px 0 15px;}
/*loan calculator btn*/
.derivative-price h4{display:block;background:url("../img/derivatives.png") no-repeat scroll -500px bottom transparent;width:221px;padding:0 0 5px;}
.derivative-price h4 a{background:url("../img/derivatives.png") no-repeat scroll -750px 0 transparent;color:#fff;text-align:center;text-decoration:none;display:block;padding-top:5px;}
/************/



/*hot deals latest offer with form*/
.newsinglelo .feature-sections .feature-content.half-a{width:445px;}
.newsinglelo .feature-sections .feature-content.half-b{margin-top:1em;}
.newsinglelo .feature-sections .feature-content{padding:0;}
.newsinglelo .feature-sections .feature-content h3{font-size:1.5em;padding-bottom:0.8em;}
.newsinglelo .feature-sections .feature-content+.feature-content{padding-left:20px;}
.newsinglelo .principal-content .principal-hero{min-height:0;margin-bottom:20px;}
.newsinglelo .fbform div LABEL.alt3{width:400px;}
.newsinglelo .fbform > p{padding:0;}
.newsinglelo .fbform > p.mandatory{padding:0.6em 0;}
.newsinglelo .fbform .title{font-size:2em;color:#000;font-weight:bold;}
.newsinglelo .fbform .subtitle{color:#000;font-weight:bold;padding:0.6em 0 1em;display:block;font-size:1.2em;}
.newsinglelo #body .switch{float:left;margin-bottom:20px;}
/************/

.fbform div#FormSales_Dealer.form-sales-dealer-box{margin-bottom: 1em; height: 264px;overflow: auto;border: 1px solid rgb(121,121,121);width: 50%;box-shadow: none;}
.fbform .dealer-container input[type="radio"]{width: auto; box-shadow: none;border: 0;}
.fbform .dealer-container div.dealer-item{padding: 0 1em; width: auto;}
.fbform .dealer-container span.dealer-place-font{font-family: \'Arial Normal\',\'Arial\';font-weight: 400;font-style:normal;}
/*fleet ie8 "range-accordion" floating issue fixed*/
.ie8.fleet .range-accordion > UL {padding-bottom: 80px; margin-bottom: 0;}
.ie8.fleet #footer-wrapper {overflow: hidden;}
/* fixed overlay incorrect display on touch*/
.touch .techsection .overlay-wrap {left: auto; right: auto;}

/***** iPad/Tablet styles *****/

/**************Keep the media queries at the bottom of the CSS********************************/
/**************There is more than 1 media query!********************************/


/* ----------- iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	
	html {width:980px;}
	#subnav h2 {font-size: 1.7em;}
	
	.button-white.back-to-top {margin: 1em 0;}
	.ltr .back-to-top a {padding: 3px 5px 3px 10px;}
	
	.banner-alternative .principal-content {margin-top: 50px;}
	#banner, #banner-clone {max-width: 983px; min-width: 0; }
	
	.gallery .row .item H4 { font-size: 1.2em;}
	
	/*hot spots*/
	.ltr.banner-large #body .hotspots { margin: -182px 0 0 0;}
	.banner-large #body .hotspots {position: relative; z-index: 50; width:960px}
	#body .hotspots {}
	.ltr #body .hotspots {width: 960px; margin:0}
	.ltr .hotspots .hotspot {margin: 0 12px 0 0;}
	.ltr .hotspots .hotspot:last-child {margin:0 0 0 0}
	.hotspot:hover .img {display:block;}
	.hotspot.double:hover .img {display:block;}
	.hotspot .body {display:none!important}
	#aside .hotspots .hotspot {clear:both}
	#body #aside .hotspots, .ltr #body #aside .hotspots {width:231px;}
	
	
	/*sub nav*/
	#subnav {padding: 15px 0 0;}
	/* nkircher fix */
	#subnav ul { font-size: 1.1em; float:left}
	.ltr #subnav ul{float:left}
	/* end fix */
	.ltr #subnav ul li { margin: 0 0 0 29px;}
	.ltr .button-white > div { padding: 0 20px 3px 15px;}
	
	/*menu*/
	#vehiclematrix .actions li a, #aside .actions li a, .guidelinks .actions li a {font-size: 0.9em; padding:2px 3px 3px 3px}
	#vehiclematrix .actions li a span.icon, #aside .actions li a span.icon, .guidelinks .actions li a span.icon {padding: 6px 0 0 20px !important;}
	.rtl #vehiclematrix .actions li a span.icon, .rtl #aside .actions li a span.icon, .rtl .guidelinks .actions li a span.icon {padding: 6px 20px 0 0 !important;}
	.ltr #vehiclematrix p {font-size: 0.95em;}
	.banner-alternative #vehiclematrix { margin: 0 0 0 0;}
	.banner-alternative #subnav li a, .dark #subnav a { text-shadow: 0.1em 0.1em 1em #333;}
	
	/*360 button*/
	.ltr.banner-alternative .view360-button, .rtl.banner-alternative .view360-button, #car-swapper { bottom: 19px;}
	.principal-content .view360-button {bottom: 30px;}
	.banner-alternative .view360-button div {padding: 0 15px 10px 0;}
	.ltr .view360-button a, .rtl .view360-button a {padding: 0 0 0 5px; font-size: 1.3em; text-decoration:none}
	

	/*follow*/
	.socialmedia-wrapper {bottom: 62px;}
	.banner-alternative .socialmedia {height: 100%!important;}
	.ltr.banner-alternative .socialmedia-wrapper {bottom: 55px;}
	.socialmedia p {padding: 0 0 2px 0; line-height:1.3em; font-size: 0.95em}
	.socialmedia ul {padding: 0 !important}
	
	.ltr .socialmedia ul li { padding: 0 15px 5px 0;}
	.ltr.banner-alternative .socialmedia ul li { padding: 0 15px 0 0;}
	
	#footer .rss-addthis .fb-like {float:left}
	#footer .fb_iframe_widget iframe, .fb_iframe_widget span, .rtl .rss-addthis .fb-like {width:50px!important; margin-left:0; margin-right:5px}
	
	/*colouriser*/
	#coloriser {bottom: 20px;   background: url("../img/coloriser-tablet.png") no-repeat scroll 0 0 transparent; }
	.ltr #coloriser {left: 275px;}
	#coloriser label {padding: 10px 10px 0 4px; height:33px; background: url("../img/coloriser-tablet.png") no-repeat 0 -46px ; }
	#coloriser ul {background: url("../img/coloriser-tablet.png") no-repeat right -46px ; height:38px; }
	#coloriser > div {height: 38px;}
	#coloriser ul li {height: 30px; width: 43px;}
	#coloriser ul li a:hover, #coloriser ul li.current a {height: 30px; width: 35px;}
	#coloriser ul li a {padding:0; height: 30px; width: 35px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
	.ltr #coloriser {left: 275px;}
	#coloriser ul li a span, #coloriser ul li.two-color a span span {background:url("../img/coloriser-tablet.png") no-repeat scroll 0 -100px transparent; height: 30px; width: 35px;}
	#coloriser ul li a:hover span, #coloriser ul li.current a span, #coloriser ul li.two-color a:hover span span, #coloriser ul li.two-color.current a span span {background: url("../img/coloriser-tablet.png") no-repeat scroll 0 -140px transparent; height: 30px; width: 35px;  left: 0; top: 0;}
	#coloriser ul li.two-color a, #coloriser ul li.two-color a:hover, #coloriser ul li.two-color.current a {height:17px; width:35px}
	#coloriser ul li.two-color a span, #coloriser UL LI.two-color A:hover span, #coloriser UL LI.two-color.current A span  {height:15px; width:35px; top: 15px;  -moz-border-radius-bottomright: 3px;  -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-right-radius: 3px;  -webkit-border-bottom-left-radius: 3px; border-bottom-right-radius:3px; border-bottom-left-radius:3px; }
	#coloriser ul li.two-color a span span,  #coloriser ul li.two-color a:hover span span, #coloriser ul li.two-color.current a span span {top: -15px;}
	
	/*carousel*/
	.featurecarousel .controls a {padding:0}
	.featurecarousel .controls .page {margin: 0 10px; background:url("../img/carousel.png") no-repeat scroll 0 -381px; width:15px; height:15px; }
	.featurecarousel .controls .page a {width:15px; height:15px; margin: -4px 0 0 -20px; padding:5px 20px; }
	.featurecarousel .controls .page.current {background-position: 0 -365px!important; height:12px;}
	.featurecarousel .controls .next a, .featurecarousel .controls .previous a {width:23px;}
	.ltr .featurecarousel .controls .previous a {background:url("../img/carousel.png") no-repeat scroll 10px -11px }
	.ltr .featurecarousel .controls .previous.unclickable a {background-position: 10px -70px !important;}
	.ltr .featurecarousel .controls .previous a:hover {background-position:10px -41px;}
	.featurecarousel .featureslink {position: static;}
	div.gallery-fullscreen div.carousel-wrapper div.featurecarousel .controls .page.current {background-position: -95px -365px!important;}
	div.gallery-fullscreen DIV.carousel-wrapper div.featurecarousel .controls .page {background-position: 0 -350px;}
	div.gallery-fullscreen .featurecarousel .controls .page {height: 13px; width: 13px;}

	/*buzz*/
	.article H3 { font-size: 1.6em;}
	#aside .section .buzz-twitter { font-size: 1.3em;}
	
	/*pagination*/
	.ltr .pagination li.page { padding: 0 12px 0 9px;}
	.pagination li a, .ltr .pagination li a, .rtl .pagination li  a {padding:0 5px}
	
	/*derivatives*/
	.derivative .body p {font-size: 1.4em;}
	
	/*specs*/
	.specs label {font-size: 1.3em;}
	
	/*Forms*/
	.fbform label {font-size: 1.3em;}
	.fbform select, .fbform input { font-size: 1.4em;}
	.fbform input, .usrfm input { height:30px;}
	.fbform select, .usrfm select { height:35px;}
	#ctd .fbform input {height:25px;}
	#ctd .fbform select {height:30px;}
	.fbform .group DIV { padding: 0.8em 0 0.4em;}
	.usrfm .btns a {padding:11px 10px 16px 10px;}
	
	/*tables*/
	td, th { font-size: 1.2em; vertical-align: top;}
	td, th, caption {padding: 0.7em 10px;}
	
	/* sync homepage slider */
	.slider {margin-top: 43px;}
	/*solution for SYNC centering -*/ 
	
	/* These are hack fixes to fix issues that arise with the backround of the footer being cut off the sides with the tablet centering fix -nkircher */
	body.bannerSlider { margin:0 10%; background: url("../img/footer.gif") repeat-x scroll 0 0 #ffffff; background-position: center bottom;}
	body.bannerSlider #footer-wrapper {background: url("../img/footer.gif") repeat-x scroll 0 0 transparent}
	
	
	body.gallery-popup {
		min-height: 1300px;
	}
	#position {
		min-height: 1300px;
	}
	
	/* button fixes */
	.overlay-box div.view-gallery, .overlay-box DIV.view-gallery a.btn-fullscreen {
		height: 16px;
	}
	
	.overlay-box DIV.controls UL LI A {
		height: 21px !important; /* Sorry about the important keywords... */
	}
	
	.feature-overlay .head p {
		margin-bottom: 8px;
	}
	/*jscrollpane*/
	.accessory-tab-content .jspVerticalBar { padding: 0; margin-right:3px; width: 10px; }
	/*.accessory-tab-content .jspTrack {display:none}*/
	.accessory-tab-content .jspArrowUp {background: url("../img/scrollbar-arrows.png") 0px 0px transparent; width: 10px; height: 7px; border-bottom: solid 7px #ffffff;}
	.accessory-tab-content .jspArrowDown {background: url("../img/scrollbar-arrows.png") 0px -7px transparent; width: 10px; height: 7px; border-top: solid 7px #ffffff;}
	.customise .vehicle-display button.view-switch {font-size:1.3em; width: 200px}
	.customise .vehicle-display span.arrow-right {left: 565px;}
	.customise .vehicle-display span.arrow-left, .customise .vehicle-display span.arrow-right {width:35px;}
	
	/*Shopping tools*/
	body.shoppingtool {background:none}
	.buildbar p {font-size:1.1em}
	.accessory-tab-content {height: 282px;}
	#select-nameplate div.scrollbar-wrapper {height: 230px;}
	ul.accessories-list li .info { width:185px; margin-left: 100px;}
	ul.accessories-list li .info p {font-size:1.3em}
	ul.accessories-list li {border-bottom:1px solid #eee; width: 295px;}
	ul.accessories-list li:hover{background:none; }
	ul.accessories-list li .message .details-link {display:block!important; font-size: 1.3em;}
	ul.accessories-list li .selection span.select, ul.accessories-list li .selection:hover span.select {height: 30px; width: 31px; background: url("../img/derivative-tick-tablet.png") no-repeat 0 0;}
	ul.accessories-list li.active .selection span.select, ul.accessories-list li.active .selection:hover span.select {background-position: 0 -30px;}
	.buildmenu ul .num {padding: 19px 31px;}
	.buildmenu ul .num b {background: url("../img/step-circles.png") repeat scroll 0 1px transparent;}
	.buildmenu ul .cur b{background-position: 0 -16px;color:#198ac5;}
	.buildmenu ul .num:hover {color: #ADAFB2;}
	.buildmenu ul .num:hover b {background-position: 0 1px;}
	.buildmodel .items li h3 {font-size:1.3em}
	.buildmodel .items li b {font-size:1.1em}
	.configuration .details-links .accordion ul > li .itemized ul > li span.price, .configuration .details .accordion ul > li .itemized ul > li p.item {font-size: 1.1em;}
	.configuration .details .accordion ul > li.child-node {font-size: 50%;padding-left: 16px;}
	.configuration .details .accordion ul > li h4 {font-size: 1.3em;}
	.customise .vehicle-display button.view-switch {font-size:1.3em; width: 200px}
	.customise .vehicle-display span.arrow-right {left: 565px;}
	.customise .vehicle-display span.arrow-left, .customise .vehicle-display span.arrow-right {width:35px;}
	.customise .options-panel .paints ul.choice > li a, .customise .options-panel .trims ul.choice > li a {padding:0;}
	.sps_close { background: url("../img/spclose.png") no-repeat 20px 20px; padding: 15px; background-size:15px}
	.disclaimerpanel {padding: 0 10px 10px; top: -99px; z-index: 999;}
	.disclaimerpanel p {font-size: 13px; }
	.seedisclaimer {position:absolute; z-index:900; padding:20px}
	.buildmodel .featurecarousel .items li {width: 166px;}
	.latestoffer .buildmodel .items li a.details-button { top: 250px;}
	.latestoffer .price-suffix {vertical-align: top;}
	
	/*overlay*/
	.overlay-box div.view-gallery {bottom:20px;}
	.feature-overlay .head p {font-size: 1.2em}
	
	
	/*feature pages*/
	body.featuregeneric {background-position:90% 0 !important; width:960px; height:100%;}
	.feature-sections, body.featuregeneric #principal {background:#fff}
	.featuregeneric .feature-sections .feature-content.title_center p {font-size:15px}
	.featuregeneric #car-swapper, .featuregeneric .watchvideo-button, .featuregeneric .view360-button {bottom: 28px!important;}
	.featuregeneric #car-swapper ul a { font-size: 1.3em; padding: 7px 20px 12px 5px!important}
	.featuregeneric .watchvideo-button a {padding:0;}
	.ltr.featuregeneric .principal-content .view360-button {left: 170px!important;}
	.ltr.featuregeneric .featurebtn span.icon-featurebtn {padding-left: 15px!important}

	/*forms*/
	/*request a brochure*/
	#Cust_Address_Line_1, #Cust_Address_Line_2, #Cust_Address_Division_2, #Cust_Address_Division_1, #Email_PP, #Cust_Phone_STD_Home_Phone  {width: 190px !important;}
	/*india test drive banner forms*/
	#ctd .fbform p {font-size: 1em}
	#ctd .fbform input, #ctd .fbform .group div  {padding:0; }
	#ctd .fbform label {padding-top:3px;}
	#ctd .fbform p.mandatory {font-size: 0.9em!important; }
	/*test drive*/
	.fbform .halfl {width:340px!important; padding-top:8px!important;}
	.fbform .halfr {width:320px!important;}
	.fbform .halfl label, .fbform .halfr label {width:120px!important;}
	.formtest_subtitle > b, .formtestadd > b {font-size:1.4em!important;}
	/*general*/
	.fbform input.radio, .fbform input.check, .fbform input.checkAlt {border:1px solid #ccc !important;}
	.fbform label, .fbform p {font-size: 1.4em;  }

	/*external links*/
	a.external-disclaimer {
		margin-top:-2px
	}

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.banner-slide * {
		-webkit-backface-visibility: hidden;
	}
	.jslider-controls a {
		margin: 0;
		padding: 0;
	}
	.desc, body.ltr div.desc {
		font-size: 0.7em;
		line-height: 1.4em;
	}
}
/**/

@media only screen and (orientation:portrait){
	.featurecarousel h4 { font-size: 1.2em;}
	.hotspot .head h2 {font-size: 1.4em;}
	.hotspot .foot a {font-size: 1.2em;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.ltr #rhs .icon {padding-left:20px !important;}
	.rtl #rhs .icon {padding-right:20px !important;}
	.experienceb299 .logo:hover{
		background: transparent url("../img/b299/logo.png") no-repeat center top;
	}
	.experienceb299  .bx-prev:hover,.experienceb299  .bx-prev{
		background:  url("../img/b299/pre.png") no-repeat 7px top;
	}
	.experienceb299  .bx-next:hover,.experienceb299  .bx-next{
		background:  url("../img/b299/next.png") no-repeat 7px top; 
	}
	.experienceb299 #hotspot .video:hover {
		background-position: top left;
	}
	.kwicks-horizontal .imgborder {
		left:-1px;
		top:-1px;
		height:582px;
	}

}


/**************Keep the media queries at the bottom of the CSS********************************/
/**************Please note there is more than 1 media query!********************************/