/**********************************
	
	Ford Motorcraft Styles 2012

**********************************/


body {
	background-color: #ededed;
}
a {
	color: #df0a22;
}


/******	Typography		******/

h2, h3, h4, h5 {
	color: #df0a22;
	font-size: 1.8em;
	line-height: 1.223em; 
}
h4, h5 {
	color: #555;
}
h1 {
	color: #111;
	font-size: 2.4em;
	letter-spacing: -1px;
}
h2 {
	font-weight: bold;
	padding: 0;
}
h3 {
	font-weight: normal;
}
.ltr input#captcha {

	margin-left: 230px;
}
.rtl input#captcha {

	
	margin-right: 242px;
}
h5 {
	font-weight: normal;
}
h6 {
	color: #666;
	font-size: 1.5em;
	line-height: 1.334em; 
}
p {
	color: #333;
	font-size: 1.5em;
	line-height: 1.334em; 
}
sub {
    vertical-align: -0.4em;
}
sup {
	vertical-align: 0.5em;
}
.ltr ul, ul {
	padding-left: 20px;
}
ul li, .ltr ul > li {
	background: url('../img/motorcraft/list_square-bullet.gif') 0 7px no-repeat;
	color: #333;
	font-size: 1.25em;
	line-height: 1.334em;
	list-style: none;
	padding-left: 10px;
}
ul li {
	padding-bottom: 10px;
}
/*Bug 175311 - Captcha - Motorcraft - Testing - Captcha text is not align to the Captcha */
.fbform img#captchaimage, .usrfm img#captchaimage{

	padding: 5px;	
}
.fbform input#captcha{

	float: left !important;
}
/*Bug 175320 - Captcha - Motorcraft - Error message should be under the Captcha box when the captcha validation is failed.*/

.fbform #captchaerror, .fbform #captchasystemerror, .usrfm #captchaerror, .usrfm #captchasystemerror {

width: 100%;

}

/******	Tables			******/

table {
	width: 643px;
	margin: 0.5em 0 1.5em;
}
thead th, thead td {
	background: #343434 none;
	color: #fff;
	font-size: 1.4em;
	padding: 0.55em 10px;
	text-transform: uppercase;
}
tbody td {
	color: #000;
	font-size: 1.3em;
	padding: 0.55em 10px
}
tbody tr.odd td, tbody tr.odd th {
	background: #ededed;
}
tbody tr.even td, tbody tr.even th {
	background: #dedede;
}


/******	Header			******/

#header {
	height: 97px;
}
#badge {
	height: 48px;
	width: 269px;
	top: 6px;
}
#badge a {
	background-position: 0 0;
	height: 48px;
	width: 269px;
}
.light.ltr #badge a {
	background-position: 0 0;
}
#eyebrow {
	margin: 21px 0 0;
}
#eyebrow li {	
	list-style: none;
}
#eyebrow li a, .light #eyebrow li a {
	color: #333;
	font-size: 0.857em;
	font-weight: bold;
}


/******	Main Nav		******/

#nav {
	font-size: 1.2em;
	height: 31px;
	width: 956px;
}
#nav li.first {
	margin-left: 12px;
}
.ltr #nav, #nav {
	background: #df0a22 none;
	border: 1px solid #82000a;
	box-shadow: inset 0 0 0 1px #f53249;
	padding: 1px;
}
.ltr #nav li, #nav li {
	background: url('../img/motorcraft/nav_divide.gif') right 2px no-repeat;
	list-style: none;
}
.ltr #nav li.last, #nav li.last {
	background: none;
}
#nav li .nav-item {
	text-transform: none;
}
.ltr #nav li .nav-item, #nav li .nav-item {
	padding: 0 4px 1px 0;
}
.ltr #nav li a:hover.nav-item, #nav li a:hover.nav-item {
	text-decoration: underline;
}
.ltr #nav li .nav-item > span, #nav li .nav-item > span {
	padding: 5px 10px 0 14px;
}
.ltr #nav li.current .nav-item, #nav li.current .nav-item, .ltr #nav li.current .nav-item > span, #nav li.current .nav-item > span {
	background: #780512 none;
	border-radius: 4px;
	margin: 0 1px;
}
.ltr #nav li.current .nav-item > span, #nav li.current .nav-item > span {
	padding: 5px 8px 0 12px;
}


/******	Principal		******/

#banner {
	top: 97px;
}
.banner-alternative .principal-content {
	margin-top: 76px;
	min-height: 402px;
}
.banner-principal h1 {
	color: #666;
	font-size: 1.8em;
	letter-spacing: 0;
	padding: 0;
}
.principal-content .principal-hero {
	min-width: 760px;
	min-height: 327px;
	width: 760px;
}
.ltr .principal-content .principal-hero, .principal-content .principal-hero {
	padding: 0;
}
#vehiclematrix {
	background: url('../img/motorcraft/mc_matrix.png') 0 bottom no-repeat;
	margin-right: 0;
	padding: 0 0 2px;
	width:  186px;
}
.light #vehiclematrix {
	margin-top: 18px;
}
#vehiclematrix > div {
	background: url('../img/motorcraft/mc_matrix.png') -200px 0 no-repeat;
	width: 178px;
}
#vehiclematrix .actions {
	width: 178px;
}
#vehiclematrix .actions li {
	background: url('../img/motorcraft/mc_matrix.png') -400px bottom no-repeat;
	font-size: 1em;
	margin: 0 0 4px;
	width: 178px;
}
#vehiclematrix .actions li a {
	background: url('../img/motorcraft/mc_matrix.png') -590px 0 no-repeat;
	padding: 0;
	width: 178px;
}
#vehiclematrix .actions li:hover {
	background-position: -780px bottom;
}
#vehiclematrix .actions li:hover a {
	background-position: -970px 0;
}
#vehiclematrix .actions li a span {
	background: none !important;
	padding: 5px 10px 2px 10px !important;
}


/******	Carousel		******/

.featurecarousel-wrapper {
	background: #fff url('../img/motorcraft/carousel-bar.png') no-repeat;
	margin: 0 0 15px;
	padding: 19px 0 0;
}
.featurecarousel {
	background: url('../img/motorcraft/carousel-bar.png') 0 bottom no-repeat;
	padding: 5px 59px 19px;
}
.featurecarousel a, .featurecarousel .items li.active h4 a {
	color: #333;
}

.featurecarousel h4 {
	font-size: 1.182em;
	line-height: 15px;
	padding-left: 3px;
}
.featurecarousel p {
	padding-left: 3px;
}
.featurecarousel .items li .img {
	padding: 0 0 3px;
}
.featurecarousel ul li.item > div {
	height: 152px;
}
.has-js .featurecarousel .jcarousel-container .items li, .has-js .no-carousel li {
	background: url('../img/motorcraft/carousel-border.png') no-repeat;
	border-radius: 0;
	font-size: 1em;
	min-height: 156px;
}
.has-js .featurecarousel .jcarousel-container .items li:hover, .has-js .no-carousel li:hover {
	background: url('../img/motorcraft/carousel-border.png') 0 -170px no-repeat;
}
.ltr .featurecarousel .controls .previous a, .featurecarousel .controls .previous a, .featurecarousel .controls .next a {
	height: 23px;
	width: 23px;
}
.ltr .featurecarousel .controls .previous.unclickable a, .featurecarousel .controls .previous.unclickable a,
.ltr .featurecarousel .controls .previous a, .featurecarousel .controls .previous a {
	background: url('../img/motorcraft/carousel-sprite.png') 0 0 no-repeat !important;
}
.ltr .featurecarousel .controls .next a, .featurecarousel .controls .next a,
.ltr .featurecarousel .controls .next.unclickable a, .featurecarousel .controls .next.unclickable a {
	background: url('../img/motorcraft/carousel-sprite.png') -27px 0 no-repeat !important;
}
.ltr .featurecarousel .controls .previous, .featurecarousel .controls .previous {
	left: 10px;
	top: 91px;
}
.ltr .featurecarousel .controls .next, .featurecarousel .controls .next {
	right: 10px;
	top: 91px;
}
.featurecarousel .controls {
	padding: 7px 0 5px;
}
.featurecarousel .controls li {
	list-style: none;
}
.featurecarousel .controls .page {
	background: url('../img/motorcraft/carousel-sprite.png') -38px -40px no-repeat;
	height: 12px;
	margin: 0 4px;
	width: 12px;
}
.featurecarousel .controls .page.current {
	background: url('../img/motorcraft/carousel-sprite.png') 0 -40px no-repeat;
}
.featurecarousel .controls .page a {
	height: 12px;
	width: 12px;
}
.featurecarousel .controls .page:hover {
	background-position: 0 -40px;
}


/******	Hotspots		******/

.ltr #body .hotspots, #body .hotspots {
	padding-bottom: 0;
}
#body .hotspots .switch li {
	list-style: none;
	margin-right: 12px;
}
#body .hotspots .switch li.last {
	margin-right: 0;
}


/******	Breadcrumb		******/

.banner-large #breadcrumb, .banner-small #breadcrumb {
	display: inline;
	padding-bottom: 10px;
}
.banner-principal #breadcrumb, .banner-large #breadcrumb, .banner-small #breadcrumb {
	padding: 5px 0 5px;
}
#breadcrumb li, .ltr #breadcrumb li {
	background: url('../img/motorcraft/nav-divide.png') right 4px no-repeat;
	font-size: 1.091em;
}
#breadcrumb a {
	color: #DF0A22;
}
.has-aside #breadcrumb, .ltr #body #breadcrumb, #body #breadcrumb {
	padding: 0 0 10px 0;
}
#breadcrumb li.last {
	background: none;
}


/******	Sub Nav 		******/

#subnav {
	padding: 7px 0 0;
}
#subnav h2 {
	color: #111;
	font-size: 2.4em;
	letter-spacing: -1px;
	padding: 0 0 3px;
	text-transform: none;
}


/******	Content 		******/

.page-title {
	padding: 0.25em 0 0.5em;
}
.rss-addthis {
	padding-top: 15px;
}
.banner-principal .rss-addthis {
	padding: 0;
	margin-top: -24px;
}
#content {
	background: #fff;
}
.banner-small #content {
	background: none;
}
#content .cms {
	margin-bottom: 20px;
	padding: 15px 50px 15px 15px;
}
#body.has-aside #content {
	min-height: 140px;
}
a.button, input.button, .group.buttons .buttonleft, .group.buttons .buttonright {
	background: #df0a22;
	color: #fff;
	display: inline-block;
	font-size: 1.4em;
	font-weight: bold;
	padding: 8px 15px 7px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover.button, input:hover.button, .group.buttons input:hover.buttonleft, .group.buttons input:hover.buttonright {
	background: #000;
}
.ltr a.back-to-top, a.back-to-top {
	background: url('../img/motorcraft/bg_up-arrow.png') 0 6px no-repeat;
	float: right;
	font-size: 1.2em;
	padding-left: 12px;
}


/******	Aside	 		******/

#body.has-aside #aside {
	width: 231px;
}
#leftnav {
	background: none;
	float: left;
	margin: 0 0 30px 0;
	padding: 0;
	width: 231px;
}
#leftnav ul {
	background: none;
	float: none;
	margin: 0;
	padding: 0;
	width: 231px;
}
#leftnav ul li, .ltr #leftnav ul li {
	background: none;
	border: 0;
	float: none;
	margin-bottom: 1px;
	padding: 0;
	width: 231px;
}	
#leftnav ul li a, .ltr #leftnav ul li a, .ltr #leftnav ul li.current a {
	background: #666 url('../img/motorcraft/list_black-circle-arrow.png') 9px 11px no-repeat;
	color: #fff;
	display: block;
	float: none;
	padding: 8px 10px 7px 30px;
	text-decoration: none;
	width: 191px;
}
#leftnav ul li a:hover, .ltr #leftnav ul li a:hover {
	background: #000 url('../img/motorcraft/list_black-circle-arrow.png') 9px 11px no-repeat;
}
#leftnav ul li a:active, ul.aside-menu li.current a, .ltr #leftnav ul li.current a {
	background-color: #df0a22;
}
.has-aside #vehiclematrix {
	float: left;
	margin: 10px 0 0;
	position: static;
}
.has-aside #vehiclematrix ul {
	margin: 0;
}
#aside ul.actions {
	background: #d3d3d3;
	border-radius: 4px;
	float: left;
	margin: 0;
	padding: 4px 4px 0 4px;
	position: static;
	width: 178px;
}
#aside ul.actions li {
	background: url('../img/motorcraft/mc_matrix.png') -400px bottom no-repeat;
	font-size: 1em;
	margin: 0 0 4px;
	width: 178px;
}
#aside ul.actions li a {
	background: url('../img/motorcraft/mc_matrix.png') -590px 0 no-repeat;
	padding: 0;
	width: 178px;
}
#aside .actions li:hover {
	background-position: -780px bottom;
}
#aside .actions li:hover a {
	background-position: -970px 0;
}
#aside ul.actions li span {
	background: none !important;
	padding: 5px 10px 2px 10px !important;
}
#aside .section {
	padding: 0 0 30px;
	width: 231px;
}
#aside .section h2 {
	background: #d3d3d3;
	color: #343434;
	margin: 0 0 10px;
	width: 231px;
}
#aside .section h2 span {
	background: none;
	font-size: 0.824em;
	padding: 7px 15px 11px 10px;
	width: 206px;
}
.ltr #aside .section .buzz-socialmedia, #aside .section .buzz-socialmedia {
	padding: 0 0 0 10px;
}
.ltr #aside .section .buzz-socialmedia li, #aside .section .buzz-socialmedia li {
	text-align: left;
	width: 40px;
}
.ltr #aside .section .body, #aside .section .body {
	padding: 0 5px 0 0;
}
#aside .section .twitter-panel {
	background: #fff;
	border: 2px solid #df0a22;
	float: left;
}
#aside .section .buzz-twitter {
	background: #fff;
	border-top: 2px solid #DF0A22;
	border-left: 2px solid #DF0A22;
	border-right: 2px solid #DF0A22;
	padding: 9px 0;
	width: auto;
}
#aside .section .buzz-twitter li {
	margin: 0 0 0 10px;
	width: 208px;
}
#aside .section .buzz-twitter li a {
	color: #df0a22;
}
#aside .section .buzz-twitter li .tweet_time {
	font-size: 1.018em;
	font-weight: bold;
}
#aside .section .buzz-twitter li .tweet_text {
	display: block;
	font-size: 0.873em;
	line-height: 1.25em;
}
.rtl .pagination-dots li.current, .ltr .pagination-dots li.current, .pagination-dots li.current {
	background: #df0a22 none;
}
.rtl .pagination-dots li:hover.current, .ltr .pagination-dots li:hover.current, .pagination-dots li.current {
	background: #df0a22 none;
	border: 1px solid #df0a22;
}
.pagination-dots li, .rtl .pagination-dots li, .ltr .pagination-dots li {
	background: none;
	border: 1px solid #df0a22;
	height: 12px;
	margin: 0 5px;
	width: 12px;
}
.rtl .pagination-dots li:hover, .ltr .pagination-dots li:hover, .pagination-dots li:hover {
	background: #000 none;
	border: 1px solid #000;
}
.pagination-dots, .ltr .pagination-dots {
	background: #fff;
	border-left: 2px solid #DF0A22;
	border-right: 2px solid #DF0A22;
	border-bottom: 2px solid #DF0A22;
	height: 14px;
	margin: 0 auto;
	padding: 0 0 10px 3px;
}


/******	Showroom 		******/

.showroom {
	float: none;
	margin: 0;
	padding: 7px 0 3px 8px;
	width: 952px;
}
.ltr .showroom .row, .showroom .row {
	float: none;
}
.ltr .showroom .item, .showroom .item {
	padding: 0 4px 4px 0;
}
.showroom .item .head {
	background: url('../img/motorcraft/product-border.png') 0 0 no-repeat;
	height: 160px;
	margin: 0;
	padding: 0;
}
.showroom .item .head:hover {
	background: url('../img/motorcraft/product-border.png') 0 -200px no-repeat;
}
.showroom .item .head:hover div {
	background: none;
}
.showroom .item .head h3 {
	background: none;
	text-transform: none;
}
.showroom .item .head h3 a {
	background: none;
	color: #333;
	font-weight: bold;
	text-align: left;
	padding: 2px 2px 0 6px;
}
.showroom .item .head:hover h3 a {
	color: #333;
}
.showroom .item .head div {
	padding: 3px 0 0 3px;
}
.showroom .item .head img {
	margin: 0;
}


/******	Gallery 		******/

.ltr .gallery, .gallery {
	margin: 6px 0 0 -9px;
	padding: 0;
}
.ltr .gallery .row .item, .gallery .row .item {
	margin: 0 10px 0 0;
	padding-bottom: 2px;
}
.gallery .item a span.btn-video-play {
	background-image: url('../img/motorcraft/btn_mc-video-play.png');
}
.gallery .row .item a img {
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 1px;
}
.gallery .row .item:hover a {
	width: 168px;
	height: 93px;
	border: 1px solid #343434;
}
.gallery .row .item:hover a img {
	margin: -5px;
}
.gallery .row .item:hover a span {
	display: block;
	width: 160px;
	height: 85px;
	overflow: hidden;
	border: 4px solid #df0a22;
}
.gallery .item a img {
	height: 91px;
	width: 166px;
}
.gallery .row .item p {
	color: #333;
	font-size: 1.2em;
	font-weight: bold;
}
.gallery .item div.tooltip p {
	font-size: 1.3em;
	font-weight: normal;
}
div.tooltip h5 {
	color: #4c4c4c;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0 0 0.35em;
}
.gallery .item div.tooltip-top {
    margin-top: -143px;
}
.ltr div.tooltip, div.tooltip {
	background: url('../img/motorcraft/mc_tooltip.png') no-repeat;
}
div.tooltip > div {
	background: url('../img/motorcraft/mc_tooltip.png') -301px bottom no-repeat;
}
.ltr .gallery .item.last div.tooltip-top, .gallery .item.last div.tooltip-top {
	background-position: -1509px bottom;
}
.ltr div.tooltip-top, div.tooltip-top {
	background-position: -909px bottom;
}
.overlay-box div.controls ul li.pagination p {
	color: #7b7e83;
}


/******	News & Events	******/

.tabtitle {
	left: 5px;
	top: -36px;
	width: 683px;
}
.tabtitle h2 {
	background: transparent;
}
.tabtitle h2 span {
	border: none;
	color: #333;
	font-size: 1.5em;
	padding: 8px 0;
}
.article-wrapper {
	border: none;
	margin: 42px 0 10px 0;
	padding: 20px 20px 0 5px;
}
.article h3 {
	font-size: 1.8em;
}
.article h3 a {
	color: #df0a22;
	font-weight: bold;
}
a.btn-readmore {
	background: none;
	color: #df0a22;
	padding: 0;
}
a.btn-readmore:hover {	
	color: #df0a22;
	text-decoration: underline;
}
a.btn-readmore em {
	background: none;
	float: none;
	font-weight: normal;
	height: auto;
	line-height: normal;
	padding: 0;
}
.ltr .article .img, .article .img {
	background: url('../img/motorcraft/news_article-border.png') no-repeat;
	height: 139px;
	margin: 0 0 28px 10px;
	padding: 2px 0 0 2px;
	width: 240px;
}
.ltr .article div:hover.img, .article div:hover.img {
	background: url('../img/motorcraft/news_article-border.png') 0 -169px no-repeat;
}
.ltr .pagination li.page, .pagination li.page {
	background: none;
}
ul.pagination li, .ltr ul.pagination li {
	color: #999;
	font-size: 1.182em;
	padding: 0 3px;
}
.ltr .pagination li.page, .pagination li.page {
	padding: 0 13px;
}
.ltr .pagination li.page.last, .pagination li.page.last {
	padding-right: 13px;
}
.ltr .pagination, .pagination {
	padding: .5em 0 2em;
}
.ltr .pagination li.current a, .pagination li.current a {
	color: #999;
	cursor: default;
	text-decoration: none;
}
a.image-download {
	display: block;
	height: 146px;
	margin: 29px auto 33px auto;
	position: relative;
	width: 462px;
}
a.image-download img {
	padding: 9px 0 0 8px;
}
a.image-download span.border {
	background: url('../img/motorcraft/article_download-bg.png') no-repeat;
	height: 146px;
	left: 0;
	position: absolute;
	width: 462px;
}
a:hover.image-download span.border {
	background-position: 0 -178px;
	cursor: pointer;
}


/******	Sitemap 		******/

.sitemap h2 {
	font-size: 1.8em;
	padding: 1em 0;
}
.sitemap ul li {
	background: none;
	padding: 0;
}


/******	Contact Form 	******/

.fbform p {
	font-size: 1.5em;
}
.fbform label {
	color: #333;
	cursor: pointer;
	font-size: 1.5em;
	text-transform: uppercase;
	width: 222px;
}
.fbform input, .fbform select, .fbform textarea {
	border: 1px solid #999;
	color: #333;
	font-size: 1.5em;
}
.fbform input, .fbform textarea {
	padding: 5px;
	width: 327px;
}
.fbform select {
	padding: 3px;
	width: 228px;
}
.fbform textarea {
	resize: vertical;
}
.fbform label.radio-label {
	padding-bottom: 12px;
	width: 280px;
}
.fbform p.mandatory {
	color: #333;
}
.fbform .group div {
	padding: .7em 0;
}
.fbform input[type='radio'] {
	border: none;
	vertical-align:middle;
	width: auto;
}
.fbform input[type='radio'] + label {
	display: inline;
	margin: 0 5px 0 0;
	padding: 1px 0 0 4px;
	text-transform: none;
	vertical-align:middle;
	width: 110px;
}
.fbform div.group div div {
	width: auto;
}
.fbform div.group div div div, .fbform div.group div div div {
	width: auto;
}
.group.buttons .buttonleft, .group.buttons .buttonright {
	border: none;
	color: #fff;
	cursor: pointer;
	height: auto;
	padding-left: 34px;
	padding-right: 34px;
	width: auto;
}
.group.buttons input:focus.buttonleft, .group.buttons input:focus.buttonright {
	outline: 1px dotted black;
}
.group.buttons .buttonleft {
	float: left;
}
.group.buttons .buttonright {
	float: right;
	margin-right: 15px;
}
.group.buttons input:hover.buttonleft, .group.buttons input:hover.buttonright {
	border-bottom: none;
}


/******	Dealer Locator 	******/

.hotpanel.mini-dealer-form p {
	color: #df0a22;
	font-size: 1.7em;
	font-weight: bold;
	padding: 15px 10px 5px 10px;
	text-transform: capitalize;
}
.mini-dealer-form {
	background: #fff;
	float: left;
	margin-top: 0 !important;
}
div.dealer-results-map .print {
	border-width: 0;
	background-color: #df0a22;
	padding: 3px 18px 3px;
	right: -18px;
	top: -496px;
}
#aside .fbform, #aside .fbform div.group, 
#aside .fbform div.group div, 
#aside .mini-dealer-form .fbform div.buttons, 
#aside .mini-dealer-form .fbform div.buttons div {
	width: 211px;
}
#aside .fbform label {
	color: #df0a22;
	font-weight: bold;
	text-transform: none;
}
#aside .fbform input {
	width: 199px;
}
#aside .fbform input.buttonleft, #aside .fbform input.buttonright {
	float: none;
	width: auto !important;
}
#content .content-high {
	float: left;
	padding: 10px 0;
}
.dealer-results-controls p {
	width: 280px;
}
.dealer-results-controls ul li form button {
	color: #df0a22;
}
.dealer-results-controls ul li form button:hover {
	border-bottom: 1px solid #df0a22;
}
.ltr .dealer-results-controls ul, .dealer-results-controls ul {
	padding: 22px 0 0 0;
	width: 380px;
}
.dealer-results-map table .block {
	width: 20px;
}
.dealer-results-map table {
	border: none;
}
.dealer-results-map table tbody {
	border-right: none;
	border-bottom: none;
	border-left: none;	
}
.dealer-results-map table tr td.first, .dealer-results-map table tr td.last {
	border-left: none;
	border-right: none;
}
.dealer-results-controls ul li, .ltr .dealer-results-controls li {
	border: none;
	color: #999;
	font-size: 1.083em;
	padding: 0 5px;
}
.dealer-results-controls ul li.pagenumber, .ltr .dealer-results-controls li.pagenumber {
	padding: 0 12px;
}
.dealer-results-controls ul li a {
	color: #df0a22;
	font-weight: normal;
	text-decoration: none;
}
.dealer-results-controls ul li a:hover {
	text-decoration: underline;
}
tbody .even td, tbody .even th, .dealer-results-map table tr.alpha td {
	background: #ededed;
}
.dealer-icon {
	background: #df0a22 none;
	height: 20px;
	line-height: 20px;
	width: 20px;
}
.ltr .dealer-results-map table .block, .dealer-results-map table .block {
	float: right;
}
.dealer-results-map table tr td.dealername {
	padding-top: 1em;
	width: 230px;
}
.dealer-results-map table tr td.contact {
	padding-top: 1em;
	width: 190px;
}
.dealer-results-map table tr td.service {
	padding-top: 1em;
	width: 145px;
}
.dealer-results-map table tr td.distance {
	padding: 1em 0 0;
	width: 31px;
}
.dealer-results-map table tr td.first {
	padding: 12px 0 12px 7px;
	width: 20px;
}
#dealer-results-map th.first {
	padding: 8px 6px 8px 7px;
	width: 20px;
}
.dealer-results-map table td {
	line-height: 1.385em;
	padding-top: .6em;
}
.dealer-results-map table td.dealername .select-dealer-form button {
	border: none;
	color: #df0a22;
	font-size: 1.077em;
	font-weight: bold;
	line-height: 1em;
	text-transform: uppercase;
}
.dealer-results-map table td.dealername .select-dealer-form button:hover, .dealer-results-map table tr.hover td.dealername .select-dealer-form button:hover {
	border-bottom: 2px solid #df0a22;
	cursor: pointer;
}
.dealer-results-map table tr.hover td.dealername .select-dealer-form button {
	border: none;
}
.dealer-results-map table tr.hover td {
	background-color: #c6c6c6;
}
.dealer-results-controls p, .ltr .dealer-results-controls p {
	color: #df0a22;
	font-size: 1.8em;
	font-weight: bold;
	padding-top: 20px;
}
.dealer-results-controls p span {
	color: #000;
	font-size: 0.833em;
	font-weight: normal;
}


/****** eCatalog Styles	******/

.ecatalog-select {
	margin: 12px 0;
}
/*.ecatalog-select .form-wrap {
	min-height: 230px;
}*/
.ecatalog-select p {
	font-size: 1.2em;
}
.ecatalog-select div {
	min-height: 29px;
	padding: 0 0 19px;
}
.ecatalog-select label {
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5em;
	font-weight: normal;
	padding: 0 0 0 110px;
	text-transform: uppercase;
	width: 190px;
}
.ecatalog-select select {
	border: 1px solid #999;
	color: #333;
	font-size: 1.4em;
	font-weight: bold;
	padding: 4px 3px 4px 4px;
	width: 248px;
}
.ecatalog-select .ajax-error {
	font-size: 1.5em;
	font-weight: bold;
}
.ecatalog-select #completed {
	border-top: 1px solid #b4b4b4;
	display: none;
	margin: 10px 0 0;
	padding:8px 0 5px;
	text-align: center;
}
.ecatalog-select #completed p {
	color: #333;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.9em;
	padding: 0;
}
.ecatalog-select .buttons {
	border-top: 1px solid #b4b4b4;
	display: none;
	margin: 10px 0 0;
	padding: 28px 0 0;
}
.ecatalog-select .buttons a:hover {
	background: #000;
}
.ecatalog-select .group.buttons .buttonleft, .ecatalog-select .group.buttons .buttonright {
	margin: 0;
}
.ecatalog-select .group.buttons .buttonright {
	padding-left: 16px;
	padding-right: 16px;
}
.ajax-loader {
	background-image: url('../img/loading-white.gif');
	height: 48px;
	left: 52%;
	margin: 501px 0 0 0;
	position: absolute;
	top: 0;
	width: 48px;
}


/******	Addthis			******/

.ltr #footer .rss-addthis, #footer .rss-addthis {
	left: 0;
	top: -35px;
}
.ltr .rss-addthis .rss, .rss-addthis .rss {
	display: none;
}


/******	Disclaimer		******/

#disclaimer {
	padding: 20px 0 50px 0;
}
#disclaimer p, #site-disclaimer p, .ie7 #disclaimer p {
	color: #333;
	font-size: 1.2em;
	line-height: 1.25em;
}


/******	Footer			******/

.ltr #nav-footer, #nav-footer {
	padding: 0;
}

#footer-wrapper {
	background: #de1014 none;
	float: left;
	margin-top: 140px;
	width: 100%;
}
#footer {
	min-height:  81px;
	padding: 0;
}
.ltr #footer-links, #footer-links {
	left: 0;
	top: 21px;
}
#footer-links ul {
	padding: 0 0 0.5em;	
}
.ltr #footer-links ul li, #footer-links ul li {
	background: url('../img/motorcraft/footer_divide.gif') right 2px no-repeat;
	font-size: 1em;
}
.ltr #footer-links ul li.last, #footer-links ul li.last {
	background: none;
}
#badge-footer {
	height: 48px;
	top: 16px;
	width: 269px;
}
#badge-footer a {
	height: 48px;
	width: 269px;
}


/******	Utilities		******/

.clearfix:before, .clearfix:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }