.rtl .syncbuttons, .rtl.synccols.bqsyl_body .bgwrap > a {background: url("../img/rtl-icon1.jpg") no-repeat right top !important;padding-right:21px !important; padding-left:18px !important; display: inline-block;}

.rtl .cols3 .col{float:right;}

.rtl .synccols .cols3 .whitecol h2{padding-right:0 !important; padding-left:85px !important;}

.rtl #at15s a, .rtl #at15s span{direction:rtl !important;}

.rtl .loginform{float:left;}

.rtl DIV.package-titles TABLE UL.info{left:auto; right:0;}

.rtl DIV.features-grid TABLE TH DIV, .rtl DIV.features-grid TABLE TD DIV{}

.rtl DIV.features-grid TABLE TH.package-heading, .rtl DIV.package-titles TABLE TH.package-heading{padding-left:0; padding-right:15px;}

.rtl DIV.column-unknown.features-grid.wide-title TABLE TH.package-heading, .rtl DIV.column-unknown.package-titles.wide-title TABLE TH.package-heading{text-align:right;}

.rtl DIV.features-grid TABLE TD.sub-title{text-align:right; padding:8px 15px 8px 0;}

.rtl DIV.features-grid TABLE UL.package-list LI{background-position: left center;}

.rtl DIV.tab-nav UL LI{float:right;}

.rtl DIV.tab-nav UL LI.syncicon-guide.active, .rtl DIV.tab-nav UL LI.syncicon-compatibility:hover{background-position:-83px -83px;}

.rtl DIV.tab-nav UL LI.user-guide.active, .rtl DIV.tab-nav UL LI.compatibility-chart:hover{background-position:-83px -83px;}

.rtl DIV#body DIV.tab-nav UL LI{float:right;}

.rtl DIV.tab-nav UL LI A SPAN{float:right; padding:10px 70px 0 40px;}
.rtl DIV.tab-nav UL LI.syncicon-guide A, .rtl DIV.tab-nav UL LI.user-guide A, .rtl DIV.tab-nav UL LI.compatibility-chart A{background-position:right 30px top 20px;}
.rtl DIV.tab-nav UL LI A SPAN {background:transparent url('../img/rtl-tab-nav-arrow.png') no-repeat scroll left -70px;}
.rtl DIV.tab-nav UL LI.syncicon-compatibility A{background-position:right 30px top 20px;}

.rtl.sync-feature-content.featuregeneric .feature-sections .feature-content.textrightpanel{padding-left:0; padding-right:508px;}

.rtl.sync_generic.featuregeneric .feature-sections .feature-content.textleftpanel{padding-right:0; padding-left:508px;}

.rtl.sync_generic.featuregeneric .feature-sections .feature-content.textleftpanel > div{text-align:left;}

.rtl #allfeatures .header>span.closed, .rtl #allfeatures .header>span.expand:hover{background-position:left top;}
.rtl #pageselect>DIV:first-child{float:right; padding:6px 65px 6px 15px;}


.rtl DIV.nextbuttons>A{padding-right:0; padding-left:20px; background-position:left top;}
.rtl #pageselect>DIV.prebuttons{text-align:right;}
.rtl #pageselect > div:first-child > span{float:right;}
.rtl #pageselect > div:first-child > span{margin-left:0; margin-right:-65px;}
.rtl DIV.prebuttons>A{padding-left:0; padding-right:20px; background-position:right -16px;}

.rtl #pageselect DIV.nextbuttons > span{float:left; margin-right:0; margin-left:-55px; margin-top:-12px;}
.rtl #pageselect DIV.nextbuttons{text-align:left; float:left; padding:6px 15px 6px 65px; margin: 0px 0 20px 0; background-color: #626061; display: inline-block; cursor: pointer; width: 290px;}
.rtl #pageselect DIV.nextbuttons:hover{background-color: #40bad1;}

.rtl #pageselect DIV.nextbuttons A {color: #FFF;font-size: 14px;margin: 0;font-weight: bold;display: block;height: 14px;margin-top: 8px; text-decoration: none;}
.ie8.rtl #pageselect DIV.nextbuttons{padding-bottom:0;}

.rtl.synccols .col.last{margin-right:0 !important;}

.rtl.synccols .cols3 .whitecol h2{padding-right:0 !important; padding-left:85px !important; text-align:right; }
.rtl.synccols .cols3>h4{left:122px; background-position:right 30px top 26px; }

.ie8.rtl.synccols .cols3>h4{left:122px; background-position: 140px 26px; }

.rtl DIV.features-grid TABLE TD.data.list-container,.rtl DIV.features-grid TABLE TD.list-clone{padding:0 !important;}

.rtl DIV.tab-nav UL LI.syncicon-guide.active, .rtl DIV.tab-nav UL LI.syncicon-compatibility:hover, .rtl DIV.tab-nav UL LI.syncicon-guide:hover{background: transparent url('../img/tab-nav-bg.png') no-repeat scroll -83px -83px;}

.rtl DIV.tab-nav UL LI.syncicon-compatibility.active{background: transparent url('../img/tab-nav-bg.png') no-repeat scroll -83px -83px;}

.rtl.sync-feature-content .featurebg.feature-sections h2{padding:11px 0 22px 30px; margin-right:0;}
.rtl .featurebg.feature-sections p{padding:0px 0px 19px 30px;}

.rtl .featurebg.feature-sections .textleftpanel p{padding:0 30px 19px 0;}

.ie8.rtl.synccols.bqsyl_body .clickable a>span, .ie8.rtl.syncbuttons>span, .ie8.rtl.synccols .col>div>a>span{display:inline-block;}

.ie8.rtl #allfeatures .links{width:930px;}

.ie8.rtl.synccols.bqsyl_body .clickable a>span, .ie8.rtl.syncbuttons >span, .ie8.rtl.synccols .col>div>a >span{display:inline-block !important;}

.ie8.rtl #allfeatures .links > div, .ie8.rtl #allfeatures .links .clickable,  .ie8.rtl #allfeatures .links div{ float:right;  font-size: 14px; font-weight: bold; width: 230px; display: inline-table; min-height: 20px; position:relative; margin-bottom:20px;}

.ie8.rtl #allfeatures .links .clickable:hover{background-color:#38b8d5 !important;}
.ie8.rtl #allfeatures .links .clickable:hover a{color:#fff !important;}
.ie8.rtl #allfeatures .links .clickable{padding:9.5px 15px 9.5px 20px;}

.ie8.rtl #allfeatures .links div span.link-arrow{width: 50px;height: 50px;margin-left: inherit;position: absolute;right: 272px;top: 10px;background: transparent url('../img/link-arrowbg-rtl.png') no-repeat scroll left bottom;}

.ie8.rtl #allfeatures .links div:hover .syncicon-music{background-position:0px -451px !important;}

.ie8.rtl #allfeatures .links div:hover .syncicon-climate{background-position:0px -301px !important;}

.ie8.rtl #allfeatures .links div:hover .syncicon-cross{background-position: 0px -501px !important;}

.ie8.rtl #allfeatures .links div:hover .syncicon-message{background-position:0px -351px !important; }

.ie8.rtl #allfeatures .links a{font-size: 15px; padding-right: 45px; padding-left: 25px; display: table-cell; vertical-align: middle;}

.ie8.rtl #allfeatures .links div:hover span.link-arrow {background-position:left top;}

.ie8.rtl #allfeatures .links div span.syncicon{position: absolute; margin-right:-12px;}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){

}

/* iPads (portrait and landscape) ----------- */
@media only screen  and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
	
}