/* Don't be included in the normal pages. 
 * Only for full flash microsites 
 */
html, body { height:100%;}
body { margin:0; padding:0; overflow:hidden;}
#position {width:100%; height:100%; text-align:center;}
 .flash {margin:0 auto;}
#jumplinks, .accessible, .screen-reader {position:absolute !important; left:-9999em !important; top:0px !important;}

.has-flash .flash {display:none;}
.has-flash .flash-loaded {display:block;}
