body.techsection {font-size:62.5%;}
body.noscroll {padding-right: 20px}
body.rtl.noscroll {padding-left:20px; padding-right:0;}
.rtl .body.noscroll {padding-right: 0;padding-left: 20px;}
.techsection a {-webkit-tap-highlight-color: rgba(0,0,0,0);}
.tech-heading {padding-top:60px; text-align:center !important;}
.tech-heading p {padding:0; color:#FFF; font-family:Antenna-Thin; font-size:7em; text-align:center; line-height:1.2em;}
.tech-heading p.sub {font-family:Antenna-Light; font-size:2.4em; line-height:1.4em;}
.tech-heading .btn {    -webkit-border-radius: 3px; -moz-border-radius: 3px;
    border-radius: 3px;
    background: url('../img/tech-section/btn-sprites.png') 0 -50px repeat-x;
    color: #fff;
    margin-top:28px;
    padding:0px 50px;
    font-size: 1.5em;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-family:Antenna-Medium;
}
.rtl .tech-heading .btn {background: url('../img/tech-section/btn-sprites.png') right -50px repeat-x;}

.tech-heading .btn:hover {text-decoration:none; background-position: 0 -100px;}
.rtl .tech-heading .btn:hover {background-position: right -100px;}

.tech-section {float:left; width:100%; padding-top:7px;}
.rtl .tech-section {float:right;}
.tech-section .filter {float:left; width:100%; padding:0 0 26px 0; font-size:1.5em; text-align:center; font-family:Antenna-Regular;}
.rtl .tech-section .filter {float:right;}
.tech-section .sticky {padding:22px 0 21px 0; position:fixed; z-index:10; top:0; background-color:#fff;}
.tech-section .filter li {display:inline-block; margin-left:5px; padding:5px 22px; background:none; border-radius:5px;}
.rtl .tech-section .filter li {margin-left:0;margin-right:5px;}
.tech-section .filter li:first-child {margin-left:0;}
.rtl .tech-section .filter li:first-child {margin-right:0;}
.tech-section .filter li.active {background-color:#48acde; position:relative; z-index:1;}
.tech-section .filter li.active:after {content:""; margin-left:-2.5px; border-right:5px solid transparent; border-left:5px solid transparent; border-top:5px solid #48acde; position:absolute; z-index:1; left:50%; bottom:-5px;}
.tech-section .filter li.active a {color:#FFF;}
.tech-section .filter a {padding:0 0 0 25px; color:#333; outline:none; background:transparent url("../img/tech-section/tech-sprite.png") scroll no-repeat 0 4px;}
.rtl .tech-section .filter a {padding:0 25px 0 0; background:transparent url("../img/tech-section/tech-sprite-rtl.png") scroll no-repeat right 4px;}
.tech-section .filter a:hover {text-decoration:none; color:#49acdf;}
.tech-section .filter a.fuel-economy {background-position:0 -71px;}
.rtl .tech-section .filter a.fuel-economy {background-position:right -71px;}
.tech-section .filter a.safety {padding-left:26px; background-position:0 -152px;}
.rtl .tech-section .filter a.safety {padding-left:0;padding-right:26px; background-position:right -152px;}
.tech-section .filter a.driving-dynamics {padding-left:30px; background-position:0 -233px;}
.rtl .tech-section .filter a.driving-dynamics {padding-left:0;padding-right:30px; background-position:right -233px;}
.tech-section .filter a.simplicity {padding-left:40px; background-position:0 -297px;}
.rtl .tech-section .filter a.simplicity {padding-left:0;padding-right:40px; background-position:right -297px;}

.tech-section .filter li a.all:hover {background-position:0 -1524px;}
.rtl .tech-section .filter li a.all:hover {background-position:right -1524px;}
.tech-section .filter li a.fuel-economy:hover {background-position:0 -1614px;}
.rtl .tech-section .filter li a.fuel-economy:hover {background-position:right -1614px;} 
.tech-section .filter li a.safety:hover {background-position:0 -1687px;}
.rtl .tech-section .filter li a.safety:hover {background-position:right -1687px;}
.tech-section .filter li a.driving-dynamics:hover {background-position:0 -1758px;}
.rtl .tech-section .filter li a.driving-dynamics:hover {background-position:right -1758px;}
.tech-section .filter li a.simplicity:hover {background-position:0 -1819px;}
.rtl .tech-section .filter li a.simplicity:hover {background-position:right -1819px;}

.tech-section .filter li.active a.all {background-position:0 -1132px;}
.rtl .tech-section .filter li.active a.all {background-position:right -1132px;}
.tech-section .filter li.active a.fuel-economy {background-position:0 -1198px;}
.rtl .tech-section .filter li.active a.fuel-economy {background-position:right -1198px;}
.tech-section .filter li.active a.safety {background-position:0 -1269px;}
.rtl .tech-section .filter li.active a.safety {background-position:right -1269px;}
.tech-section .filter li.active a.driving-dynamics {background-position:0 -1342px;}
.rtl .tech-section .filter li.active a.driving-dynamics {background-position:right -1342px;}
.tech-section .filter li.active a.simplicity {background-position:0 -1452px;}
.rtl .tech-section .filter li.active a.simplicity {background-position:right -1452px;}

.tech-section .tiles {float:left; width:100%;}
.rtl .tech-section .tiles {float:right;}
.tech-section .element {float:left; margin:0px; overflow:hidden; position:relative; z-index:2; width:300px; height:263px;}
.rtl .tech-section .element {float:right;}
.tech-section .element > a {display:block; width:100%; height:100%;}
.tech-section .element:hover {cursor:pointer;}
.tech-section .large {width:630px; height:526px;}
.tech-section .element p {padding:0.7em 0 0 0; color:#1b1b1b; font-size:1.3em; line-height:1.2em; font-family:Antenna-Bold;}
.tech-section .element a:hover {text-decoration:none;}
.tech-section .element .imagePan {width:100%; height:215px; overflow:hidden;}
.tech-section .large .imagePan {height:480px;}

.tech-section .element .overlay {width:100%; height:215px; position:absolute; z-index:1; top:-100%; left:0; background-color:rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);/* -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out;*/}
.rtl .tech-section .element .overlay {right:0;}
.tech-section .large .overlay {height:480px;}
.tech-section .element .overlay p {width:70%; padding:0 15%; text-align:center; font-size:1.5em; color:#fff; font-family:Antenna-Light; position:absolute; z-index:2; top:40%;}
.tech-section .large .overlay p {top:43%;}
.tech-section .element .overlay p.more {color:#2fcbeb; top:auto; bottom:20px;}
.tech-section .large .overlay p.more {bottom:24px;}



.overlay-wrap .overlay-content .deeper {padding-bottom:80px;}
.overlay-wrap .overlay-content .deeper .invisible {text-indent:-9999px;}
.overlay-wrap .overlay-content .deeper .content-left {padding-top:172px;}
.rtl .overlay-wrap .overlay-content .deeper .content-left {padding-left:0; padding-right:48px;}
.overlay-wrap .overlay-content .deeper .content-right {float:right; width:40%; padding:76px 85px 0 15px;}
.rtl .overlay-wrap .overlay-content .deeper .content-right {float:left; padding:76px 15px 0 85px;}

.overlay-wrap .overlay-content .deeper .know {width:50%; padding:175px 0 0 80px;}
.rtl .overlay-wrap .overlay-content .deeper .know {padding:175px 80px 0 0;}

.overlay-wrap .motorlist {padding:25px 47px 7px 47px; text-align:center;}
.overlay-wrap .motorlist li {float:left; width:100%; height:65px; padding:0px; background:none; border-top:1px solid #e8edee; background:transparent url("../img/tech-section/tech-sprite.png") scroll no-repeat 100% -735px;}
.rtl .overlay-wrap .motorlist li {float:right; background:transparent url("../img/tech-section/tech-sprite-rtl.png") scroll no-repeat left -735px;}
.overlay-wrap .motorlist li:first-child {border:none;}
.overlay-wrap .motorlist h4 {float:left; padding:0 0 0 25px; text-align:center; font-size:1.5em; line-height:65px; color:#333; font-family:Antenna-Bold; font-weight:normal;}
.rtl .overlay-wrap .motorlist h4 {float:right; padding:0 25px 0 0;}
.overlay-wrap .motorlist a {float:left; width:100%; outline:none;}
.rtl .overlay-wrap .motorlist a {float:right;}
.overlay-wrap .motorlist a:hover {text-decoration:none}
.overlay-wrap .motorlist a div {float:left;}
.rtl .overlay-wrap .motorlist a div {float:right;}
.overlay-wrap .motorlist li:hover {background-position:100% -1911px;}
.rtl .overlay-wrap .motorlist li:hover {background-position:left -1911px;}
.overlay-wrap .motorlist li:hover h4 {color:#49acdf;}

.overlay-wrap .hotspots .spot {position:absolute; width:50px; height:60px; /*z-index:1;*/}
.overlay-wrap .hotspots .spot .outer {width:50px; height:60px; position:absolute; z-index:1; left:0; top:0; background:transparent url("../img/tech-section/bg-hotspot.png") scroll no-repeat 0 0;}
.rtl .overlay-wrap .hotspots .spot .outer {right:0;}
.overlay-wrap .hotspots .spot .outer:hover {cursor:pointer; background-position:0 -60px;}

.overlay-wrap .hotspots .spot .inner {display:block; width:50px; height:60px; line-height:50px; text-align:center; font-size:1.4em; font-family:"Antenna-Bold";}
.rtl .overlay-wrap .hotspots .spot .inner {right:0; left:12px;}
.overlay-wrap .hotspots .spot .outer:hover .inner {color:#FFF;}
.overlay-wrap .hotspots .spot h4 {padding:0; font-size:1.5em; color:#49acdf; font-family:"Antenna-Bold"; font-weight:normal;}
.overlay-wrap .hotspots .spot p {padding:0; font-size:1.2em; color:#333; font-family:"Antenna-Regular";}
.overlay-wrap .hotspots .detail {opacity:0; width:165px; padding:10px 14px; border-radius:5px; background-color:#fff; position:absolute; top:2px; right:62px; z-index:1;  transition:all 0.5s; /*transition:opacity 0.5s, right 0.5s;*/ -webkit-transition:all 0.5s; -ms-transition:all 0.5s;}
.rtl .overlay-wrap .hotspots .detail {right:auto; left:62px;}
.overlay-wrap .hotspots .detail:after {content:""; border-top:7px solid transparent; border-bottom:7px solid transparent; border-left:7px solid #fff; position:absolute; z-index:1; right:-7px; top:15px;}
.csstransitions .rtl .overlay-wrap .hotspots .detail:after {border-left:none; border-right:7px solid #fff; right:auto; left:-7px;}
.overlay-wrap .hotspots .active .detail {right:59px; opacity:1; z-index:2;}
.rtl .overlay-wrap .hotspots .active .detail {right:auto; left:59px;}
.overlay-wrap .hotspots .active .outer {z-index:1;}

.overlay-wrap .hotspots .leftBottom .detail {top:-20px;}
.overlay-wrap .hotspots .leftBottom .detail:after {top:auto; bottom:15px;}

.overlay-wrap .hotspots .middleTop .detail {top:auto; bottom:69px; left:-72px; transition:all 0.5s; /*transition:opacity 0.5s, top 0.5s, bottom 0.5s, left 0.5s;*/}
.rtl .overlay-wrap .hotspots .middleTop .detail {left:auto; right:-72px; bottom:69px;}
.overlay-wrap .hotspots .middleTop .detail:after {top:auto; bottom:-14px; left:89.5px; right:auto; border-top:7px solid #FFF; border-left:7px solid transparent; border-right:7px solid transparent;}
.csstransitions .rtl .overlay-wrap .hotspots .middleTop .detail:after {border-left:7px solid transparent; border-right:7px solid transparent; right:89.5px; left:auto;}
.overlay-wrap .hotspots .middleTop.active .detail {bottom:72px;}
.rtl .overlay-wrap .hotspots .middleTop.active .detail {bottom:72px;}

.overlay-wrap .hotspots .middleBottom .detail {top:63px; left:-71px; transition:all 0.5s; /*transition:opacity 0.5s, top 0.5s, left 0.5s;*/}
.rtl .overlay-wrap .hotspots .middleBottom .detail {left:auto; right:-72px;}
.overlay-wrap .hotspots .middleBottom .detail:after {top:-14px; left:90px; right:auto; border-bottom:7px solid #FFF; border-left:7px solid transparent; border-right:7px solid transparent;}
.csstransitions .rtl .overlay-wrap .hotspots .middleBottom .detail:after {border-left:7px solid transparent; border-right:7px solid transparent; left:89.5px; right:auto;}
.overlay-wrap .hotspots .middleBottom.active .detail {top:66px;}


.overlay-wrap .hotspots .rightTop .detail {left:56px; transition:all 0.5s;/*transition:opacity 0.5s,left 0.5s;*/}
.rtl .overlay-wrap .hotspots .rightTop .detail {left:auto; right:56px;}
.overlay-wrap .hotspots .rightTop .detail:after {left:-14px; right:auto; border-bottom:7px solid transparent; border-top:7px solid transparent; border-left:7px solid transparent; border-right:7px solid #FFF;}
.csstransitions .rtl .overlay-wrap .hotspots .rightTop .detail:after {right:-14px; left:auto; border-right:7px solid transparent; border-left:7px solid #FFF;}
.overlay-wrap .hotspots .rightTop.active .detail {left:59px;}
.rtl .overlay-wrap .hotspots .rightTop.active .detail {left:auto; right:59px;}

.overlay-wrap .hotspots .rightBottom .detail {left:56px; top:-25px; transition:all 0.5s; /*transition:opacity 0.5s, left 0.5s,top 0.5s,bottom 0.5s;*/}
.rtl .overlay-wrap .hotspots .rightBottom .detail {left:auto; right:56px; top:-25px;}
.overlay-wrap .hotspots .rightBottom .detail:after {bottom:15px; top:auto; left:-14px; right:auto; border-bottom:7px solid transparent; border-top:7px solid transparent; border-left:7px solid transparent; border-right:7px solid #FFF;}
.csstransitions .rtl .overlay-wrap .hotspots .rightBottom .detail:after {right:-14px; left:auto; border-right:7px solid transparent; border-left:7px solid #FFF;}
.overlay-wrap .hotspots .rightBottom.active .detail {left:59px;}
.rtl .overlay-wrap .hotspots .rightBottom.active .detail {left:auto; right:59px;}

.overlay-wrap #video-inner_jwplayer_display_iconBackground {width:87px !important; height:87px !important; left:44.7% !important; top:41% !important; background-position:0 0 !important; background-repeat:no-repeat !important;}
.overlay-wrap #video-inner_jwplayer_display_icon {width:56px !important; height:56px !important; background-position:-155px 10px !important; left:15px !important; top:15px !important; background-repeat:no-repeat !important;}
.rtl .overlay-wrap #video-inner_jwplayer_display_icon {background-image:url('../skin/tech/display/video-play-rtl.png') !important; background-position:-165px 10px !important;}
.overlay-wrap #video-inner_jwplayer_display_iconBackground:hover {background-position:0 -113px !important;}
.overlay-wrap #video-inner_jwplayer_display_iconBackground:hover div {background-position:-155px -103px !important;}
.rtl .overlay-wrap #video-inner_jwplayer_display_iconBackground:hover div {background-position:-165px -103px !important;}

/* bxslider style overwrite */
.overlay-wrap .bx-wrapper {margin:0;}
.overlay-wrap .bx-wrapper .bx-viewport {border:none; box-shadow:none; left:0;}
.rtl .overlay-wrap .bx-wrapper .bx-viewport {right:0;}
.overlay-wrap .bx-wrapper ul {padding:0;}
.overlay-wrap .bx-wrapper ul li {padding:0;}
.overlay-wrap .bx-wrapper .bx-pager, .overlay-wrap .bx-wrapper .bx-controls-auto {bottom:19px; z-index:55;}
.overlay-wrap .bx-wrapper .bx-pager.bx-default-pager a {width:12px; height:12px; margin:0 11px 0 0; background:transparent url("../img/tech-section/slider-controls.png") scroll no-repeat 0 -116px;}
.overlay-wrap .bx-wrapper .bx-pager.bx-default-pager a.active {background-position:0px -188px;}
.overlay-wrap .bx-wrapper .bx-controls-direction a {width:35px; height:66px; margin-top:-39px;  background:transparent url("../img/tech-section/slider-controls.png") scroll no-repeat 0 0;}
.rtl .overlay-wrap .bx-wrapper .bx-controls-direction a {background:transparent url("../img/tech-section/slider-controls.png") scroll no-repeat right 0;}
.overlay-wrap .bx-wrapper .bx-controls-direction .bx-next {background-position:100% 0;}
.rtl .overlay-wrap .bx-wrapper .bx-controls-direction .bx-next {background-position:left 0;}
.overlay-wrap .bx-wrapper .bx-prev {left:47px;}
.rtl .overlay-wrap .bx-wrapper .bx-prev {left:auto; right:47px;}
.overlay-wrap .bx-wrapper .bx-next {right:47px;}
.rtl .overlay-wrap .bx-wrapper .bx-next {right:auto; left:47px;}
.overlay-wrap .banner#slider li>img{width: 963px;height: 400px;}
.overlay-wrap .addthis_toolbox a,.overlay-wrap .addthis_toolbox img{outline: none;}

/* IE8/IE9 */
.no-csstransitions .overlay-wrap .hotspots .active .detail {display:block;} 
.no-csstransitions .overlay-wrap .hotspots .detail {display:none;}
.no-csstransitions .rtl .overlay-wrap .hotspots .detail:after {border-top:7px solid transparent; border-bottom:7px solid transparent; border-left:7px solid #fff;}

.no-csstransitions .rtl .overlay-wrap .hotspots .detail:after {right:auto; left:-7px;}
.no-csstransitions .rtl .overlay-wrap .hotspots .rightTop .detail:after {right:-14px; left:auto; border-bottom:7px solid transparent; border-top:7px solid transparent; border-left:7px solid transparent; border-right:7px solid #FFF;}
.no-csstransitions .rtl .overlay-wrap .hotspots .rightBottom .detail:after {right:-14px; left:auto; border-bottom:7px solid transparent; border-top:7px solid transparent; border-left:7px solid transparent; border-right:7px solid #FFF;}
.no-csstransitions .rtl .overlay-wrap .hotspots .middleTop .detail:after {left:89.5px; right:auto; border-top:7px solid #FFF; border-left:7px solid transparent; border-right:7px solid transparent;}
.no-csstransitions .rtl .overlay-wrap .hotspots .middleBottom .detail:after {top:-14px; left:90px; right:auto; border-bottom:7px solid #FFF; border-left:7px solid transparent; border-right:7px solid transparent;}

/* IE8 fix */
.no-csstransitions .ie8 .rtl .overlay-wrap .hotspots .detail:after {left:-7px;}
.no-csstransitions .ie8 .rtl .overlay-wrap .hotspots .rightTop .detail:after {right:-13px;}
.no-csstransitions .ie8 .rtl .overlay-wrap .hotspots .rightBottom .detail:after {right:-14px;}
.no-csstransitions .ie8 .rtl .overlay-wrap .hotspots .middleBottom .detail:after {left:91px;}