/* Global Full Reset as per http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html,body,div,span,applet,object,iframe,h1, h2, h3, h4, h5, h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit;}
:focus {outline:0;}
strong{font-weight:bold;}
body {line-height:1; color:black; background:white; font-family:"ProximaNova-Reg-Roman",Arial,SimSun,宋体,STSong,"华文宋体",sans-serif; font-size:62.5%; line-height:normal; text-align:center;overflow-y:scroll;} 
body.ltr div {text-align:left;}
.light-brown{color:#B45F1A;}
.hidden {left: -999px;position: absolute;top: -999px;}
.noscroll {overflow:hidden;padding-right: 17px;}
/* forms */
form input[type="text"], form input[type="password"], form input[type="email"], form input[type="number"], .validate input[type="tel"], form input[type="tel"], form input {border: 1px solid #cdcccc;color: #4F4C43;height: auto;box-shadow: inset 0px 0px 5px 1px #eaeaea;margin: 0;font-family:ProximaNova-Reg-Roman,宋体,Arial,sans-serif;text-indent:5px;}
form input[type="submit"]{box-shadow:none;}
.search-tool form input[type="text"]{font-size:1em; padding: 2px 5px;width: 122px;  text-indent: 0;box-shadow:none;}
/* ul's need a background, li's check IE6.css when you change the li's*/
ul, ol {font-size:1.2em; line-height:1.5em;}
ol {list-style:decimal;padding:0 0 0.5em 30px;}
	.rtl ol {padding:0 30px 0.5em 0;}
ol > li {padding-left:0px;background:none;}
ul {list-style:none;padding:0 0 0.5em 10px;}
	.rtl ul {padding:0 10px 0.5em 0;}
ul.slideritemwrap {padding:0;} 
.overlay-content .bx-wrapper .bx-viewport {/*height:534px !important;*/ overflow:hidden;}
li {color:#4F4C43;}
.article ul > li {padding-left:20px; background:url('../../lincoln-nonresponsive/img/bullet.png') 6px 0.6em no-repeat;}
	.rtl .article ul > li {padding-left:0; padding-right: 20px; background:url('../../lincoln-nonresponsive/img/bullet.png') 553px 0.6em no-repeat;}
/* clear float*/
.clearfix:before, .clearfix:after {content: "."; display: block; height: 0; visibility: hidden;}
.clearfix:after {clear:both;}
.clearfix {*zoom:1;} /* IE < 8 */ 
/* Table Elements */
table {border-collapse:collapse;}
td, th {border:1px solid #A9A9A9; color:#5f6062; font-size:1.2em; vertical-align:top;}
td, th, caption {padding:0.4em 10px;}
/* Misc */
img {border:solid 1px #A9A9A9; padding:4px; vertical-align:bottom; font-size:1em; font-weight:bold;}
/* Global Typography */
h1, h2, h3, h4, h5, h6 {line-height:1.3em; font-family:"Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
h1 {color:#222; font-size:1.8em; padding:1em 0 0.4em;}
h2 {color:#000; font-size:1.8em; padding:0 0 0.4em;letter-spacing: 0.05em;}
	.rtl h2 {text-align: right;}
h3 {color:#000; font-size:1.5em; padding:0 0 0.4em;}
h4 {color:#000; font-size:1.4em; padding:0 0 0.4em;}
h5 {color:#000; font-size:1.3em; padding:0 0 0.4em;}
h6 {color:#000; font-size:1.2em; padding:0 0 0.4em;}
p, dt, dd, blockquote {padding:0 0 0.7em; color:#4F4C43; font-size:1.2em; line-height:1.5em;}
/* Accessibility Elements */
#jumplinks, .accessible, .screen-reader {position:absolute; top:0px;left:-9999em;}
	.rtl #jumplinks, .accessible, .screen-reader {left:auto; right:-9999em; overflow:hidden; width:960px;}
/* Inline Elements */
a {color:#A9A9A9; text-decoration:none; outline:none;}
a:hover{text-decoration:none;color:#B45F1A;}
#body a,#body li{color:#4F4C43;}
#body a:hover{color:#B45F1A;}
/* For fixing active color when tap on mobile devices */

/* Structural Elements */
#position {position:relative; margin:0 auto; min-width:960px; max-width:1200px;}
#page {width:960px; margin:0 auto;}
.has-aside #content {float:right;width:584px; min-height:400px;}
	.rtl .has-aside #content {float:left; text-align:right;}
.feature .has-aside #content{float:none;min-height:0;width:auto;}
.content-wrap{float: right;min-height: 400px;width: 584px;}
	.rtl .content-wrap {float: left; text-align: right;}
#content #aside,.has-aside #aside{float: left;width: 335px;}
	.rtl #content #aside, .rtl .has-aside #aside{float: right; text-align: right;}
.feature #aside{width:172px;}
#footer-wrapper {margin-top:85px;clear:both;}
/* Close button */
.mega-menu .close-button {position:absolute; top:7px; z-index:2;right:25px;}
.mega-menu .close-button a {display:block; font-size:0.85em; color:#AAAAAA;padding-right:22px; background:url("../img/icons.png") no-repeat right -1797px;}
/* icons */
.pdf-icon{background: url("../../lincoln-common/img/tools_sprite.png") no-repeat -4px -110px;}
	.rtl .pdf-icon{background: url("../../lincoln-common/img/tools_sprite-rtl.png") no-repeat -186px -110px;}
.pdf-icon:hover,.pdf-icon.active{background-position:-110px -110px;}
	.rtl .pdf-icon:hover,.rtl .pdf-icon.active{background-position:-80px -110px;}
.save-icon{background: url("../../lincoln-common/img/tools_sprite.png") no-repeat -4px -167px;}
	.rtl .save-icon{background: url("../../lincoln-common/img/tools_sprite-rtl.png") no-repeat -181px -167px;}
	.rtl .overlay-wrap .save-icon{background: url("../../lincoln-common/img/tools_sprite-rtl.png") no-repeat -185px -167px;}
.save-icon:hover,.save-icon.active{background-position:-110px -167px;}
	.rtl .save-icon:hover, .rtl .save-icon.active{background-position:-75px -167px;}
	.rtl .overlay-wrap .save-icon:hover, .rtl .overlay-wrap .save-icon.active{background-position:-79px -167px;}
.share-icon{background: url("../../lincoln-common/img/tools_sprite.png") no-repeat -4px -228px;}
	.rtl .share-icon{background: url("../../lincoln-common/img/tools_sprite-rtl.png") no-repeat right -208px;}
.share-icon:hover,.share-icon.active{background-position:-110px -228px;}
	.rtl .share-icon:hover, .rtl .share-icon.active{background-position:right -246px;}
.share-icon-nohover{background: url("../../lincoln-common/img/tools_sprite.png") no-repeat -4px -228px;}
    .rtl .share-icon-nohover{background: url("../../lincoln-common/img/tools_sprite-rtl.png") no-repeat right -208px;}
.kmi-icon{background: url("../../lincoln-common/img/tools_sprite.png") no-repeat -5px -291px;}
	.rtl .kmi-icon{background: url("../../lincoln-common/img/tools_sprite-rtl.png") no-repeat -44px -291px; width: 200px;}
.kmi-icon:hover,.kmi-icon.active{background-position: -216px -291px;}
	.rtl .kmi-icon:hover, .rtl .kmi-icon.active{background-position: 167px -291px;}
.pdf-icon,.share-icon,.share-icon-nohover,.save-icon,.kmi-icon{display:inline-block;height:30px;text-decoration:none;font-size: 1.2em;}
.overlay-wrap .kmi-icon {font-size: 1.4em; color: #4F4C43; font-family:"Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
#nav-footer .pdf-icon,#nav-footer .share-icon, #nav-footer .pdf-icon,#nav-footer .share-icon-nohover,#nav-footer .save-icon,#nav-footer .kmi-icon{font-size:1em;}
.btn-icon-link{line-height:31px;padding-left:33px;white-space: nowrap;}
	.rtl .btn-icon-link{padding-left:0; padding-right:33px;}
.share-btn-wrapper .btn-icon-link{cursor: pointer;}
.kmi-icon .btn-icon-link{padding-left:35px;}
	.rtl .kmi-icon .btn-icon-link{padding-left:33px; padding-right:35px;}
/* action buttons*/
body.ltr .actions{overflow:hidden;text-align:center;}
.derivative .actions{margin-top:45%;}
.arrow-btn {display:inline-block;padding-bottom:2px;}
.arrow-btn span {background: url("../../lincoln-common/img/triangle-arrow.png") no-repeat scroll right center #4F4C43;color: #FFFFFF;display: inline-block; font-family:"Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif; font-size: 16px;padding: 9px 40px 8px 20px;margin-top:10px;}
	.rtl .arrow-btn span {background: url("../../lincoln-common/img/triangle-arrow-rtl.png") no-repeat scroll left center #4F4C43;padding: 9px 20px 8px 40px;}
.arrow-btn:hover{border-bottom:2px solid #B45F1A;}
.top-close {float: right;}
.rtl .top-close {float: left;}
.top-close span{text-indent: -999em;display:block;width:40px;height:40px;background: url("../../lincoln-common/img/close.jpg") no-repeat;}

/* mask */
.mask{/*display:none;*/ position:absolute; background:transparent url("../../lincoln-nonresponsive/img/bg-image-overlay.png") repeat scroll 0 0; height:100%; width:100%; z-index: 99;top:0;}
.ie8 .mask {display:none;}