.brightcove{ width: 100%; position: relative;
	.outer-container{ position: relative; height: 0; padding-bottom: 56.25%; z-index: 1;}
	.BrightcoveExperience{width:100%; height:100%; position:absolute; left:0; top:0;}
	.preview-image{width:100%; position: absolute; left: 0; top: 0; z-index: 2; overflow: hidden; background: #000;
		a{ display: block;
			img{ margin: 0; width:100% !important;}
			.play-button{display: inline-block; width: 75px; height: 50px;  background: url('#{$img-path}/icons.png') no-repeat right -360px; position: absolute; left: 50%; top: 50%; margin-left: -37px; margin-top: -25px; z-index: 3;}
		}
	}

	@media #{$large-up}{width: 435px; height:250px;
		.BrightcoveExperience {width:435px; height:250px;}
		.preview-image {
			img {width:auto;}
		}
	}
}