.carousel{ background: url("#{$img-path}/carousel-bg.jpg"); background-size: 100% 100%; border-top: solid 4px #FFF;
	.flexslider{
		.slides{
			.rightfloat{ float: right!important;}
			.leftfloat{ float: left!important;}
			.content{ padding: 20px 10px 40px 10px; 
				.item-wrap{ display: table; text-align: center; width: 100%; height: 100%; min-height:250px;}
				.item{ display: table-cell; text-align: center; vertical-align: middle; width: 100%; height: 100%;
					picture{ display: block;}
					img{ width: auto; max-width: 100%; display: inline-block;}
				}
				.text-content{ color: #FFF; font-family: $font-serifa-light; font-size: rem-calc(18px);
					h2{ color: #FFF; font-size: rem-calc(25px); font-family: $font-serifa-roman; margin-bottom: 0; font-weight: bold;}
					h3{ color: #FFF; font-size: rem-calc(20px); font-family: $font-serifa-roman; margin-bottom: 0; font-weight: bold;}
					p{ font-size: rem-calc(18px);}
					.btn-link{ margin: 30px auto 0; background-color: $primary-orange; color: #FFF; font-size: rem-calc(16px); font-weight: bold; font-family: $font-gotham; text-shadow: 1px 1px 2px #d57c20; cursor: pointer; padding: 20px 15px; width: 220px; display: block;}
				}
				.heading-content{ padding: 20px;}				
			}
		}
	}

	@media #{$medium-up}{
		.flex-direction-nav .flex-prev{ left: 15px; }
		.flex-direction-nav .flex-right{ right: 15px; }
		.flexslider{
			.slides{
				.content{ padding: 80px 50px 50px 40px; 
					.text-content{ color: #FFF; font-family: $font-serifa-light; font-size: rem-calc(18px);
						h2{ color: #FFF; font-size: rem-calc(35px);}
						h3{ font-size: rem-calc(25px);}
					}
				}
			}
		}		
	}

	@media #{$large-up}{ border-top: none; border-bottom: solid 2px #FFF;
		.flex-direction-nav .flex-prev{ left: 30px; }
		.flex-direction-nav .flex-right{ right: 30px; }
		.flexslider{
			.slides{
				.content{ 
					.item-wrap{}					
				}
			}
		}
	}
}

