.content{ position: relative; padding: 40px 0 15px 0;
	h1{ line-height: 1; padding: 0; margin-bottom: 20px;}
	a { color: $tertiary-orange;}
	ul{ list-style-type: square; list-style-position: outside;}
	img { margin-bottom: 10px;}
	
	
	.image-wrapper{ text-align: center; margin-bottom: 20px;
		img { margin: 0 10px 10px 0;}

		@media #{$medium-up} {
			text-align: left;
		}
	}
	.three-column{ list-style: none; margin: 0; padding: 0;
		li {display: inline-block; max-width: 40%; margin: 0 10px 0px 0;}
		
		@media #{$medium-up}{
			li{ max-width: 32%; margin: 0;}
		}

		@media #{$large-up}{
			li{ max-width: 100%; margin: 0 50px 0 0;}
		}
	}
	.figure-layout{ padding-top: 20px;
		.figure{ text-align: center;}
		img {background-color: #FFF; margin-bottom: 10px;}

		@media #{$medium-up} {
			.figure{ text-align: left;}
		}
	}
	.feed-layout{
		h2 { margin-bottom: 30px;}
		.feed{ margin-bottom: 30px;
			.primary-img{ margin-bottom: 20px;}
			ul li{ margin-top: 15px;
				&:first-child{ margin-top: 0;}
			}
		}
	}

	.bordered-img img{ border: solid 1px $primary-grey;}
	.inline{ display: inline-block;}
	.article-img{ float: right; margin: 0 0 10px 20px;}
	.article-img-alt{ float: left; margin: 0 20px 10px 0;}
	.side-content{ border: solid 1px $primary-grey; padding: 20px 10px; background-color: $secondary-white;
		h1{ text-align: center;}

		@media #{$medium-up}{
			border: none; background-color: transparent; padding: 0;

			h1{ text-align: left;}
		}
	}

	.side-content-wrapper {
		section{ margin-top: 40px; position: relative;
			&:first-child{ margin-top: 0;}
		}
	}


	.share-icon-wrapper{ display: none;}

	@media #{$large-up}{
		.share-icon-wrapper{ position: absolute; top: 0; right: 0; display: block;
			a{ color: $primary-blue!important;
				.share-icon{ margin-right: 5px;}
			}
		}
	}

	.article{ position: relative;
		.share-icon-wrapper{ right: 10px;}
		p, ol li, ul li{ font-size: rem-calc(16px);}
		ul{ list-style-type: disc;}
	}
}





