.mini-dealer.alt-theme{display:none;
	#map-container{display:none;}
	.dealer-unaware {
		.wrap{
			h1{display:block;float:none;font-size:rem-calc(33);text-indent:0;}
			h2{display:none;}
			>.location-icon{width:50px;height:50px;display:block;margin:0 auto 20px;background: url(#{$img-path}/svg/icons.svg) no-repeat -57px -770px;}
			.search-panel{				
				.btn-current{margin:20px 0 10px 0;}
				.nested-options{
					.dropdown{margin-bottom:5px;background:#ffffff;text-align:left;width:100%;}
					input[type=text]{height:50px;font-style:normal;}
					.disabled{opacity: 0.5; filter:alpha(opacity=50);}
				}
				.actions-bar{
					.button{width:100%;height:50px;margin:0;
						.label-link{vertical-align:middle;}
						&.disabled{background:$text-gray;border-color:$text-gray;}
					}	
					.error{position:relative;text-align:left;padding:25px 60px 25px 25px;width:100%;margin:auto;
						&.active{display:block;}
						.icon-error{position:absolute; right:20px; top:0; bottom:0; margin:auto;width:31px; height:28px; background:url(#{$img-path}/icons/icons.png) no-repeat -791px -133px;display:inline-block;}
					}			
				}
				.des{color:$dark-blue;margin:5px 0;
					span{color:#ff0000;}
				}
			}
			
		}
		

		@media #{$medium-up}{
			.wrap{
				.search-panel{width:100%;}
			}
		}
		
		@media #{$large-up}{
			.wrap{
				.text-panel {float:none; width:100%;margin:20px 0 10px 0;
					p {margin:0; height:50px; line-height:50px; padding:0 0 0 19px; color:#FFF; font-size:rem-calc(14);}
				}
			}
		}

		@media #{$xlarge-up}{
			.wrap{ padding:0;width:100%;
				h1{display:block;float:none;text-indent:0;}
				h2{display:block;float:none;padding:0;width:100%;text-align:center;margin:10px 0 40px;font-size:rem-calc(18);
					span{color:#ff0000;}
				}
				.text-panel {float:left; width:20%; margin:0;}
				.search-panel{display:block;float:none;width:100%;
					> .controllers{@include clearfix();display:block;}
					.btn-current{float:left;height:50px;width:20%;margin:0;					
						.icon{margin:-11px 0 0; float:left;transform:scale(0.5, 0.5);}
					}
					.nested-options{width:18%;margin:0 0 0 2.5%;float:left;
						.dropdown{height:50px;float:left;margin:0;
							span{color:$dark-blue;}
						}
						input[type=text]{height:50px;margin:0;color:$dark-blue;}
						&.no-padding{margin:0;}
					}
					.actions-bar{
						.button{width:247px;height:50px;margin:35px auto 0;}
						.error{width:247px;}
					}
					.des{display:none;}
				}
			}
		}

		@media #{$xxlarge-up}{
			.wrap{width:1300px;
				h1{font-size:rem-calc(33);}
				.search-panel{
					.btn-current{width:260px;
						.btn-label{font-size:rem-calc(14);}
					}
					.nested-options{display:inline;width:245px;margin:0 0 0 20px;
						.dropdown{
							span{font-size:rem-calc(14);}
						}
						input[type=text]{font-size:rem-calc(14);}
					}
					.actions-bar{width:100%;float:none;@include clearfix();
						.button{font-size:rem-calc(16);}
						&:before{clear:both;content:'';overflow:hidden;}
					}
				}
				.text-panel {width: 260px;}
			}
		}
	}

	&.alt{
		@media #{$large-up}{
			.wrap{ padding:0;width:100%;
				.search-panel{
					> .controllers{@include clearfix();display:inline-block;}
					.btn-current{width:245px;margin:0;padding:10px 0;float:left;height:50px;					
						.icon{margin:-11px 0 0; float:left;transform:scale(0.5, 0.5);}
					}
					.nested-options{display:inline;width:235px;margin:0 0 0 15px;float:left;
						&.no-padding{margin:0;}
					}
					.actions-bar{
						.button{width:240px;height:50px;margin:35px auto 0;}
						.error{width:240px;}
					}
					.des{display:none;}
				}
				.text-panel {float:left; width:235px; margin:0;
					p {margin:0; height:50px; line-height:50px; padding:0 0 0 19px; color:#FFF; font-size:rem-calc(14);}
				}
			}
		}
		@media #{$xxlarge-up}{
			.wrap{width:1300px;
				.search-panel{
					.btn-current{width:260px;}
					.nested-options{width:245px;margin:0 0 0 20px;}					
				}
			}
		}
	}
}