.hotspots{ display: none;

	@media #{$medium-up}{
		display: block; background-color: $primary-grey; padding: 20px 0 5px 0;

		.hotspot{ background-color: #FFF; padding: 30px 15px; margin: 10px 0;
			a{ display: block;}
			img{ width: 100%;}
		}
	}

	@media #{$large-up}{
		.hotspot{ 
			h2{ margin-top: 15px;}
		}
	}
}