.main-links{
	ul{ margin: 0; padding: 0; list-style: none;
		li{  display: block; border: $secondary-grey solid 1px; border-top: none;
			a{ padding: 15px 10px; display: block; color: $tertiary-orange; font-weight: bold; @include single-transition(background-color, 0.2s,ease-in);}
			&:first-child{ border-top: $secondary-grey solid 1px; }
		}
	}

	.primary{
		li{ border-color: $border-blue;
			a{ background-color: $light-blue; color: #FFF; text-transform: uppercase; font-size: rem-calc(19px); letter-spacing: 1px; font-weight: 500;}
		}
	}
}