$font-family-light: $font-gotham;
$font-family-RE: $font-gotham;
$border-gray: $primary-grey;
$text-gray: $primary-grey;
$gray-back: $tertiary-grey;
$header-font-family: $font-gotham;
$font-family-regular: $font-gotham;
$font-family-bold: $font-gotham;
$cta-blue: $primary-blue;

.dealer-locator{padding: 20px 0; position: relative;
	.row.fullwidth { width: 100%; max-width: 100%;}
  .container2{ max-width: 1430px; position: relative; width: 100%; margin: 0 auto;}

  .icon {display: block;}
  .dealer-unaware {padding: 0;
     .search-panel {
       .btn-current {line-height: 57px;}
       .keyword-field {line-height: 27px; font-family: $font-family-RE; font-size:rem-calc(12);}
       .text-panel {background-color:$cta-blue; 
        p {padding-left:15px; margin:0; height:58px; line-height:58px; color:#FFF; text-align:left; font-size:rem-calc(16);}
      }
     }
     .btn-search { top: 9px; border:0; text-indent:-999em; background-color:transparent; @include scale-element(0.6,0.6);}
     .error {position:relative; color: $error-red; padding: 25px 60px 25px 25px; margin: 0; text-align: left; font-size: rem-calc(12); font-family: $font-family-light; display:none;
        .icon-error { position:absolute; right:20px; top:0; bottom:0; margin:auto; width:31px; height:28px; background:url(#{$img-path}/icons/icons.png) no-repeat -791px -133px; display:inline-block; }
     }
  }
  .dealer-map {margin: 0 30px;}
  
  /* dealer location accordions */
  .accordion {
    .collapse-btn { position: absolute; right: 20px; top: 0; bottom: 0; margin: auto; width:19px; height:19px; background:url(#{$img-path}/icons/icons.png) no-repeat -206px -143px; }
    .control { position:relative; }
    > .active {
      .collapse-btn { background-position: -226px -143px; }
    }
  }
  

  .remove-padding{padding-left: 0; padding-right: 0;}
  /* dealer search result */
  .dealer-result-container{background-color: #ffffff; display:none;
    
    .phone-icon,
    .fax-icon {display: inline-block;}
    .view-all-dealers,
    .show-list { display:none; }
    
    /* filter bar */
    .dealer-filter-bar { position:relative;
      .filter-header {height: 50px; padding-left: 20px; background-color: #2d96cd;
        p,a {margin: 0; line-height: 50px;}
        .filter-toggler { display: none!important;}
        p{ font-weight: 400; font-size: rem-calc(14px);}
      }
      .filter-toggler {position:relative; float: right; font-family: $font-family-light;  
        & > span { position:absolute; top:0; right:20px; bottom:0; width:29px; height:15px; margin:auto; background:url(#{$img-path}/icons/icons.png) no-repeat -448px -145px; display:inline-block; }
      }
      .filter-count {float: left; color: #FFF;}
      .filter-toggler {color: #ffffff; padding: 0 65px 0 18px; display: block; background-color: $cta-blue;
        &:hover {background-color: $cta-blue;}
      }
      .filter-accordion {display: none;}

      &.active {
        .show-list { display:block; }
        .count, .view-all-dealers { display:none; }
      }
    }
    .dealer-filter-bar.active {
      .filter-accordion {display: block;}
      .filter-toggler {background-color: #b0b0b0;}

      + .result-list { display:none; }
    }
    .filter-accordion { /* position:absolute;  */top:100%; left:0; right:0; background:#ffffff; z-index:10; border-bottom:1px solid $border-gray; padding-bottom:20px;

      &:after {
        display:block;
      }

      .control {position:relative; display: block; height: 62px; line-height: 62px; padding: 0 18px; font-size: rem-calc(22); font-family: $font-family-light; background-color: #f7f7f7;
        span { float:right; margin-right:30px;}
        .collapse-btn { margin:auto; }
      }
      .control-content {display: none; padding: 0 18px;}
      
      span {/* float: right;  */color: $text-gray; font-size: rem-calc(16); margin-right:7px;}
      & > div {border-bottom: 1px solid $border-gray;}
      & > div:first-child {border-top: 1px solid $border-gray;}
      & > a {display: block; padding: 15px 30px; text-align: center; font-family: $font-family-light;}
      .submit {width:50%; margin: 20px auto; display: block; padding: 2px 0; text-align: center; font-family: $font-family-light; background-color: $cta-blue; color: #ffffff; line-height: 34px; font-size: rem-calc(15); border:0; cursor:pointer;
        &:hover {background-color: $cta-blue;}
      }
      .viewSaved {margin-top: 10px; font-size: rem-calc(18);
        & > span { float:none; width:25px; height:25px; margin:-3px 10px 0; display:inline-block; background:url(#{$img-path}/icons/icons.png) no-repeat -275px -80px; vertical-align:middle;}
        &:hover > span { width:26px; background-position: -301px -80px; margin-left:9px;}
      }
      .group.active {
        .control {background-color: #ffffff;}
        .control-content {display: block;}
        
      }

      .filter-distance .values { border:1px solid #e2e2e2;
        & > dt { margin:0; color:$cta-blue; text-indent:15px; line-height:45px; position:relative; border-bottom:1px solid #e2e2e2;
          a { display:block; }
          & .collapse-btn {width:15px; height:9px; background:url(#{$img-path}/icons/icons.png) no-repeat -389px -148px; }
        }
        
        & > dd { line-height:45px; margin:0; text-indent:15px; display:none;
          a { display:block; }
          & + dd {border-top:1px solid $gray-back;}
        }
        &.active {
          .collapse-btn { background-position:-373px -148px; }
          dd { display:block; }
        } 


      }


      .content-toolbar { padding:0 0 10px;
        .filter-clear {float: right; font-size: 14px; line-height: normal;}
        h3 {float: left; font-size: 14px;}
      }
      .group-list { margin:0; padding:0; list-style:none;

        & > li { position:relative; width:auto; height: 40px;
          
          & > label {position: relative; float:left; text-transform:capitalize;}
          
          .view-details {width: 23px; height: 20px; float: right; margin:3px 20px 0 0; cursor: pointer; background:url(#{$img-path}/icons/icons.png) no-repeat -257px -142px;
            &.active { background-position: -280px -142px;
              & + .popover { display:block; }
            }
          }
        }
      }
    }
    
    .popover {display: none; position: absolute; right: 0; top: 34px; max-width: 276px; min-width:220px; z-index: 1; border: 1px solid #e2e2e2; box-shadow: 2px 2px 1px rgba(0,0,0,.25); background-color: #ffffff;
      .popover-title {margin: 0; padding: 8px 14px;font-size: rem-calc(16); font-family: $header-font-family;}
      .popover-content {padding: 9px 14px; font-size: rem-calc(12);}
      .popover-arrow { position:absolute; bottom:100%; right:19px; width:0; height:0; margin:0 auto -1px; border:10px solid; border-color:transparent transparent #ffffff;}
      .popover-arrow.border { border-color:transparent transparent #e2e2e2; margin-bottom:1px;}
      .close-info { position:absolute; top:7px; right:10px; width:24px; height:24px; background:url(#{$img-path}/icons/icons.png) no-repeat -414px -140px;; text-indent:-999em; display:inline-block;}
    }

    .save-dealer-btn { position:absolute; right:0; top:38px; height:22px; margin:auto 20px auto; font-size:rem-calc(12);
     span { width:27px; height:26px; background-size:18px 18px; background:url(#{$img-path}/icons/icons.png) no-repeat -549px -137px; display:inline-block; vertical-align:middle; @include transform(scale(0.7, 0.7)); margin: -3px 0 0 0; }
     em { font-style:normal; }
    }
    .save-dealer-btn.saved span { background-position:-577px -137px;}
    
    /* results-list */
    .dealer-result {position:relative; background-color: #f7f7f7; margin: 15px; padding:30px 0 10px;
      .saved { display:none; }
      &.active .dealer-num { background-color:$border-orange;}
      &.preferred .saved { display:block; cursor: default;}
    }

    .result-list .error { padding:10px 20px; }

    .dealer-icon {padding: 0 30px;}
    .dealer-num {height: 37px; width: 37px; line-height:37px; border-radius: 50%; display: inline-block; text-align: center; background-color: $primary-orange; font-family: $font-family-regular;}
    .icon-number {color: #FFFFFF; padding: 0; display: inline-block; font-size: rem-calc(17);}
    .distance {font-size: rem-calc(12); margin-left: 6px;}
      
    .dealer-heading {margin-top: 17px; margin-bottom: 2px; padding: 0 30px;
      .dealer-heading-name {font-size: rem-calc(26); font-family: $font-gotham; font-weight: 400;}
    }
    
    .dealer-details {padding: 0 30px;
      p {font-size: rem-calc(14); font-family: $font-family-regular; margin-bottom: 18px; line-height: 18px;}
      .dealer-hours {font-size: rem-calc(12);}
    }
    .dealer-phone {margin-top: 32px;}
    .dealer-phone + .dealer-phone {margin-top: 0;}
    .contact-icon {
      .icon {width:28px; height:28px; margin-right:5px; vertical-align:middle; background-image:url(#{$img-path}/icons/icons.png)}
      a {color: $body-font-color; cursor:default;}
      .phone-icon {background-position: -487px -141px;}
      .fax-icon {background-position : -3px -279px;}
    }
    
    .dealer-contact {margin: 31px auto 0 auto; max-width: 370px; @include clearfix(); text-align:center;
      p {text-align: center; margin:0;}
      a {
        &:hover { color: $primary-orange;
          .icon-search {background-position: -172px -80px;}
          .icon-send { background-position:-403px -80px; }
        }

        &.disabled .icon-details { background-position:-563px -942px;
          + .label-link {color:$border-gray; }
        }
      }
      .item { width: 30%; margin-bottom:20px; position:relative; display:inline-block; }
      .show-directions {font-family: $font-family-light;}
      .icon {margin: 0 auto; vertical-align:middle; background-image:url(#{$img-path}/icons/icons.png)!important;}
      .icon-phone{ background-position: -635px -80px; width: 32px; height: 32px;}
      .icon-direction{ background-position: -453px -944px; width: 28px; height: 38px; transform: scale(0.8, 0.8); -ms-transform: scale(0.8, 0.8); -webkit-transform: scale(0.8, 0.8); } 
      .icon-details{ background-position: -537px -943px; width: 19px; height: 38px; transform: scale(0.8, 0.8); -ms-transform: scale(0.8, 0.8); -webkit-transform: scale(0.8, 0.8); }

      .label-link{ font-weight: 400; font-size: rem-calc(14px);}
    }
    .result-list {margin: 0; padding-bottom:20px;
      
        .cta-btn { display: inline-block; padding: 15px 30px; cursor: pointer; color: #ffffff; font-size: rem-calc(22); font-family: $font-family-light; background-color: $cta-blue; }
        
        .cta-btn {
          &:hover {background-color: transparent; color:$cta-blue; border:1px solid $cta-blue; padding:14px 30px;}
        }

      &.selected {
       .dealer-result {background-color: #ffffff; margin: 0; padding:30px 0 0 0;}
      }
     

       .dealer-view-more {text-align: center; margin-top: 25px;}

      ul { position:relative; margin:0; padding:0; list-style:none; }

      + .result-list { display:none; }

    }
       
    .dealer-accordion {margin: 28px 0 0;
        .cell-inner {display: none;}
        .cell.active {
          .control {background-color: #ffffff;}
          .cell-inner { display:block; }
        }
        select,
        .sales-phone,
        .discliamer,
        .pro-cta {font-family: $font-family-light;}

        .control {display: block; border-top: 1px solid #d4d4d4; line-height: 28px; padding: 10px 15px 10px 40px; color: $primary-orange; cursor: pointer; font-size: rem-calc(20); font-weight: 400; background-color: #f7f7f7;}
        .hours-wrap {margin-top: 20px;
          li {list-style: none; margin-bottom: 7px; font-family: $font-family-light;}
          .hour {float: right;}
          .comments { font-size: rem-calc(11); }
          .sched {display: none;}
          .sched:first-child {display: block;}
        }
        .sales-phone {font-size: rem-calc(16); margin-bottom:0;}
        .phone-icon {display: none;}
        .discliamer { margin-top:20px; }
        .text-small {line-height: 12px; font-size: rem-calc(9); font-family: $font-family-light;}
        .call-sales-cta {text-align: center; margin-top:20px;
           .icon-phone {margin: 0 auto; background-image:url(#{$img-path}/icons/icons.png); background-position: -484px -942px; width: 40px; }   
        }
        .cell-service {padding: 15px 35px;
          p {margin-bottom: 7px; font-family: $font-family-light; text-transform:capitalize;}
        }
        .cell-hours {padding: 15px 35px;
          ul {margin-left: 0;}
          ul + ul { display:none; }
        }
        .cell-pro {margin: 15px 15px 45px; padding: 10px; background-color: #f7f7f7;
          img {width: 100%}
          .text-small {padding: 0 15px;}

          &.text {
            
            header { padding:0 15px; }

            header h1 { color:$cta-blue; font-size:rem-calc(40); margin:0; line-height:1; 
              span { width:10px; height:10px; margin:-1px 0 0 5px; background:url(#{$img-path}/icons/icons.png) no-repeat -527px -147px; display:inline-block; vertical-align:middle }
            }

            header p { font-size:rem-calc(18); color:$cta-blue; }

            .promo { padding:0 15px; }

            a span { width:20px; height:20px; margin:-1px 0 0 5px; background:url(#{$img-path}/icons/icons.png) no-repeat -157px -280px; display:inline-block; vertical-align:middle }
            a:hover {
              span {background-position: -196px -280px;}
            }
    

            strong { display:block; font-weight:normal; line-height:1; font-size:rem-calc(30); font-family:"Myriad Pro", Arial, Helvetica, sans-serif; }
            .small { font-size:rem-calc(14); }
          }
        }
        .pro-cta {margin: 15px 0; padding: 0 15px; color: $cta-blue; text-align: center;
          .icon {margin:0 -12px; display: inline-block; @include scale-element(0.4,0.4); vertical-align: middle; background-position:-500px top;}
          a:hover .icon { background-position:-552px top; }
        }
       }
  }
  
  /* dealer-result-detail */
 .dealer-result-container.detailed {
   // .dealer-result {background-color: #ffffff; margin: 0; padding-bottom: 0;
   // }
  .save-dealer-btn { top:0; bottom:0; margin-right:15px; display:none; }
   
  .dealer-icon { position:relative; }
    
    .count { display:none; }
    .view-all-dealers { display:block; color: #FFF; font-weight: 400; font-size: rem-calc(14px);}

    .save-dealer { position:relative; margin:0 -10px 20px; padding:30px; background:#ececec; display:none;
      > p { width:90%; }
      .view-details { position:absolute; top:30px; right:30px; width: 20px; height: 20px; text-align:center; line-height:20px; border:1px solid $cta-blue; border-radius:50%; }
      .popover { top: 60px; left: 0; padding: 50px 20px 20px; right: 0; max-width: 100%; margin: 0 10px; display:none;
        .popover-arrow { left:auto; right:20px; }
        .close-info { top:10px; right:15px; }
      }

   //    .cta-btn { display:block; text-align:center; }

   //    .btns {
   //      .cta-btn { margin:10px 0; font-size:rem-calc(16); 
   //        &.light { padding:14px 30px; background:#ffffff; border:1px solid $border-gray; color:$text-gray; }
   //        &:hover { color:$cta-blue; border-color:$cta-blue; }
   //      }
   //    }

   //    label { font-size:rem-calc(12); line-height:16px; }
    }

   // .result-list {margin: 0;}
   .dealer-view-more {margin: 25px 30px 0;
     .cta-btn {display: block; margin: 15px 0; line-height: 27px; font-size: rem-calc(19);}
   }
   
   .dealer-reveal {border-top: 1px solid #d4d4d4; margin: 0 30px; padding:0;
     p {margin:10px 0 0;}
     a {display: inline-block;}
     span { width:10px; height:10px; margin:-1px 0 0 5px; background:url(#{$img-path}/icons/icons.png) no-repeat -527px -147px; display:inline-block; vertical-align:middle }
   }
 }
  
  /* dealer-disambiguation */
  .dealer-disambiguation {padding: 25px 0; background-color: #ffffff; text-align:left; display:none;
    .label {color: $text-gray; padding: 0 15px 15px; font-size: rem-calc(16); font-style: italic; background-color: #ffffff;}
    & > ul {margin: 0;
      & > li {list-style: none; cursor: pointer; font-size: rem-calc(18); font-family: $font-family-bold;
        a {display: block; padding: 6px 15px;
          &:hover {background-color: #f6f6f6;}
        }
        &.active a {background-color: #f6f6f6; color:$cta-blue; }
      }
    }
  }

  .dealer-map-container {
    img { max-width:inherit; }

    .dealer-map-field { min-height:200px;}
    .dealer-map-field.show {display: block;}
    .dealer-map-landing.hide {display: none;}
    .map-marker img { max-width:100%; max-height: 100%;}
    .map-default img,
    .dealer-landing img { width:100%; }
  }
 
  .send-to-phone-modal { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; z-index: 10; background:rgba(0,0,0,0.5); display:none;

    .popover {position: absolute; top: 100px; right: 0; bottom: auto; left: 0; margin: auto; width: 650px; height: 300px; }
    .modal-close { width:50px; height:50px; background:url(#{$img-path}/icons/icons.png) no-repeat -468px -70px; margin:0 auto; display:block; text-indent:-999em; overflow:hidden;
      &:hover { background-position:-528px -70px;}
    }

    form { padding:20px 40px; margin-top:20px; background:#ececec;
      & > p strong { font-size: rem-calc(24); font-weight:normal; }
      p { clear:both; }
      
      label,
      select { width:45%; display:inline-block; vertical-align:top; }

      label input,
      select { border-left:2px solid $cta-blue; }
      
      select { width:38%; border-color:$border-gray; }

      & > span { margin:0 28px; font-size:rem-calc(30); font-family:"Antenna-Extra-Light"; vertical-align:middle; }

      .button {padding: 10px 0; width: 38%; float: right;
        &:hover {background-color: transparent; color:$cta-blue; border:1px solid $cta-blue; padding:9px 0; }
      }

    }

  }
  
  .MicrosoftMap .MapPushpinBase {background: none;}
  /* buttons */
  .button {
    .icon-link {display: inline;}
  }
  .multi-buttons{
    .button {display: block;}
  }

  .info-window .content p a{font-weight: 400;}

  
  @media #{$large-up}{ padding: 40px 0;
    .remove-padding{padding-left: 0.83333rem; padding-right: 0.83333rem;}

    .dealer-map-container {padding: 0;min-height: 400px;
        .dealer-map-field { min-height:700px; display: none;}
        .dealer-landing {width: 100%;}
    }

    .search-info-column { position: absolute; z-index: 1; top: 40px; left: 15px; }
    .dealer-unaware,
    .dealer-result-container,
    .dealer-disambiguation {width: 100%; min-width: 370px; max-width: 430px; padding: 0; box-shadow: 2px 2px 1px rgba(0,0,0,.25);}
        .wrap {width: auto; padding: 0;
        .search-panel {width: 100%;
          .keyword-field {font-size: rem-calc(14);}
          .btn-current {font-size: rem-calc(16);}
          .button {padding: 0 15px;}
        }
        .input-panel {border: none;
          .keyword-field {height: 60px; margin:0;}
          .btn-search {height: 48px; padding-right:20px; right:8px; @include scale-element(0.8,0.8);}
        }
    }
    .dealer-unaware {
      .error {border-top: 1px solid #d4d4d4; background:#ffffff;}
      .btn-current {
        .icon {@include scale-element(0.6,0.6);}
      }
    }
    
    /* dealer search result */
   .pos {position: absolute; top: 0;}
   .dealer-result-container {position:absolute; top: 168px; left: 31px; margin-top:15px;
      /* results-list */
      .result-list,
      .filter-accordion {height: 450px; overflow: auto;
        .submit {width: 60%; padding: 7px 0; font-size: rem-calc(18);}
      }
      .dealer-result {margin: 0; border-bottom: 1px solid #f3f3f3; background-color: #ffffff;}
      
      .dealer-heading { line-height:1;
        .dealer-heading-name {font-size: rem-calc(26);}
      }
      .dealer-contact {padding-left: 30px; margin: 0; text-align:left;
        // .item {width: 40%;}
        .icon {position:absolute; top:3px; left:5px; display: inline-block; vertical-align: middle;}
        p {text-align: left;}
        
        
        .icon-direction{ background-position: -453px -944px; width: 28px; height: 38px; transform: scale(0.5, 0.5); -ms-transform: scale(0.5, 0.5); -webkit-transform: scale(0.5, 0.5); top: -4px; left: 0px; }


        .icon-send + .label-link { white-space:nowrap;}
        .item {float:left; padding-left:30px; width:40%;
          &.call { display:none; }
        }

        a{
          .icon-details {background-position: -537px -943px; width: 19px; height: 38px; transform: scale(0.5, 0.5); -ms-transform: scale(0.5, 0.5); -webkit-transform: scale(0.5, 0.5); top: -4px; left: 2px;}
          &:hover {
            .icon-details { background-position:-537px -943px }
            .icon-direction{ background-position: -453px -944px; }
          }
          &.disabled{
            .icon-details{ background-position:-563px -942px;}
          }
        }
      }
      .result-list {margin: 0;
        .dealer-view-more {padding: 10px 0 20px;}
      }
      
      .filter-accordion { position:absolute;
        .group-list {
          li { width:100%;}
        }
      }
      .dealer-accordion {
        .phone-icon {display: inline-block;}
      }
      
      .dealer-icon,
      .dealer-heading,
      .dealer-details { padding:0 30px; }
    }

    
    /* dealer-result-detail */
    .dealer-result-container.detailed {
      .dealer-reveal {border: none; padding:0; }
      .dealer-view-more {margin-top: 0;}
      .dealer-result {border-bottom: none;}
      .dealer-accordion {
        .cell-inner {margin-bottom: 15px;}
        .control { padding-left:35px; }
      }

      .save-dealer { margin-left:-30px; margin-right:-30px;
        .btns .cta-btn { display:inline-block; text-align:center; width:45%; 
          &.light { margin-left:15px; }
        }
      }
    }
    
    /* dealer-disambiguation */
   .dealer-disambiguation {top: 158px; padding-top: 25px; padding-bottom: 25px; border-top: 1px solid #d4d4d4;}
    
  }

  @media #{$xlarge-up}{
    .dealer-unaware {
       .btn-current {
          .icon {margin: -3px -5px;}
       }
       .input-panel {
          .btn-search {top: 9px;}
          .keyword-field {padding-top: 19px; padding-bottom: 19px; font-size: rem-calc(16);}
       }
    }
  }

  @media #{$xxlarge-up}{
   
  }
}