@charset "GBK";
/* line 331, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.2.3/";
}

/* line 335, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 340, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:30.063em)/";
  width: 30.063em;
}

/* line 345, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:48em)/";
  width: 48em;
}

/* line 350, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:62em)/";
  width: 62em;
}

/* line 355, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:75em)/";
  width: 75em;
}

/* line 360, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 367, ../scss/foundation-components/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 372, ../scss/foundation-components/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 377, ../scss/foundation-components/foundation/components/_global.scss */
html,
body {
  font-size: 14px;
}

/* line 380, ../scss/foundation-components/foundation/components/_global.scss */
body {
  background: white;
  color: #1b394e;
  padding: 0;
  margin: 0;
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 393, ../scss/foundation-components/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 396, ../scss/foundation-components/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 398, ../scss/foundation-components/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 404, ../scss/foundation-components/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 409, ../scss/foundation-components/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 410, ../scss/foundation-components/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 183, ../scss/foundation-components/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 184, ../scss/foundation-components/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 412, ../scss/foundation-components/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 418, ../scss/foundation-components/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 421, ../scss/foundation-components/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 431, ../scss/foundation-components/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 434, ../scss/foundation-components/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 5, ../scss/ie.scss */
body {
  *text-align: center;
}

/* line 6, ../scss/ie.scss */
.nosupport {
  *top: 0;
  *left: 0;
  width: 100%;
  *height: 100%;
  *position: absolute;
}

/* line 7, ../scss/ie.scss */
.nosupport .white-overlay-bg {
  *top: 0;
  *left: 0;
  width: 100%;
  *height: 100%;
  *position: absolute;
  *background: white;
}

/* line 8, ../scss/ie.scss */
.nosupport .overlay-bg {
  *top: 0;
  *left: 0;
  width: 100%;
  *height: 100%;
  *overflow: hidden;
  *display: block;
  *position: absolute;
  *background: black;
  filter: alpha(opacity=80);
}

/* line 9, ../scss/ie.scss */
.nosupport .content-holder {
  *top: 5%;
  *bottom: -300px;
  position: relative;
  *background: #FFF;
  margin: 0 auto;
  width: 1024px;
  *min-width: 1024px;
  height: 90%;
  max-height: 730px;
  max-width: 1300px;
  filter: none;
  *display: inline-block;
}

/* line 10, ../scss/ie.scss */
.nosupport .content-holder .inner .close-icon {
  display: block;
  position: absolute;
  *top: 0;
  *right: 20px;
  *left: auto;
}

/* line 11, ../scss/ie.scss */
.nosupport .content-holder .inner {
  margin: 100px auto auto;
  filter: none;
  display: inline-block;
  *height: auto;
  vertical-align: middle;
  overflow: hidden;
}

/* line 12, ../scss/ie.scss */
.nosupport .content-holder .inner img {
  display: block;
  margin: 20px auto;
  z-index: 10;
  position: relative;
  behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:((this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "/themes/gux/img/transparent.gif")),this.pngSet=true));
}

/* line 21, ../scss/ie.scss */
.nosupport .content-holder .title {
  text-align: center;
  color: #616161;
}

/* line 22, ../scss/ie.scss */
.nosupport .content-holder .title h1, p {
  font-family: "SimSun", "宋体", sans-serif;
}

/* line 23, ../scss/ie.scss */
.nosupport .content-holder table {
  text-align: center;
  margin: 50px auto;
}

/* line 24, ../scss/ie.scss */
.nosupport .content-holder table td {
  width: 100px;
  text-align: center;
}

/* line 25, ../scss/ie.scss */
.nosupport .content-holder table img, .nosupport .content-holder table span {
  display: block;
  color: #616161;
}
