@charset "GBK";
/* line 331, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.2.3/";
}

/* line 335, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 340, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:30.063em)/";
  width: 30.063em;
}

/* line 345, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:48em)/";
  width: 48em;
}

/* line 350, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:62em)/";
  width: 62em;
}

/* line 355, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:75em)/";
  width: 75em;
}

/* line 360, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 367, ../scss/foundation-components/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 372, ../scss/foundation-components/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 377, ../scss/foundation-components/foundation/components/_global.scss */
html,
body {
  font-size: 14px;
}

/* line 380, ../scss/foundation-components/foundation/components/_global.scss */
body {
  background: white;
  color: #1b394e;
  padding: 0;
  margin: 0;
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 393, ../scss/foundation-components/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 396, ../scss/foundation-components/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 398, ../scss/foundation-components/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 404, ../scss/foundation-components/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 409, ../scss/foundation-components/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 410, ../scss/foundation-components/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 183, ../scss/foundation-components/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 184, ../scss/foundation-components/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 412, ../scss/foundation-components/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 418, ../scss/foundation-components/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 421, ../scss/foundation-components/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 431, ../scss/foundation-components/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 434, ../scss/foundation-components/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 6, ../scss/smob.scss */
#header {
  width: 100%;
  height: auto;
  margin: 0;
  position: static;
}

/* line 8, ../scss/smob.scss */
.hidden {
  display: none !important;
}

/* line 12, ../scss/smob.scss */
.disable {
  visibility: hidden;
}

/* line 16, ../scss/smob.scss */
.ui-mobile .ui-page {
  background-color: #fff;
  overflow: hidden;
}

/* line 21, ../scss/smob.scss */
.ui-body-c {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/* line 25, ../scss/smob.scss */
.ui-body-c .ui-link {
  font-weight: normal;
}

/* line 30, ../scss/smob.scss */
.ui-body-c .button.ui-link,
.ui-body-c .multi-buttons .ui-link {
  color: #FFF;
}

/* line 37, ../scss/smob.scss */
.ui-body-c .button.ui-link:hover,
.ui-body-c .button.ui-link:focus,
.ui-body-c .multi-buttons .ui-link:hover,
.ui-body-c .multi-buttons .ui-link:focus {
  color: #003478;
}

/* line 41, ../scss/smob.scss */
.ui-body-c .button.alt {
  position: absolute;
}

/* line 46, ../scss/smob.scss */
.ui-body-c .button.alt.ui-link,
.ui-body-c .multi-buttons .ui-link.alt {
  color: #2d96cd;
}

/* line 53, ../scss/smob.scss */
.ui-body-c .button.alt.ui-link:hover,
.ui-body-c .button.alt.ui-link:focus,
.ui-body-c .multi-buttons .ui-link.alt:hover,
.ui-body-c .multi-buttons .ui-link.alt:focus {
  color: #003478;
}

/* line 57, ../scss/smob.scss */
.ui-body-c .button.active.ui-link {
  color: #003478;
}

/* line 61, ../scss/smob.scss */
.ui-body-c, .ui-overlay-c {
  text-shadow: none;
  background: none;
}

/* line 66, ../scss/smob.scss */
.ui-header.ui-bar-c {
  background: none;
  border: none;
}

/* line 71, ../scss/smob.scss */
.ui-header.ui-bar-c:first-child {
  margin: 0.6em 0 0.4em;
}

/* line 75, ../scss/smob.scss */
.ui-header .ui-btn-left {
  background: none;
  border: none;
  color: #296aa4;
  margin-top: 2px;
}

/* line 82, ../scss/smob.scss */
.rtl .ui-header .ui-btn-left {
  left: auto;
  right: 5px;
}

/* line 87, ../scss/smob.scss */
.back.ui-btn-left .ui-btn-inner {
  border: medium none;
  padding-left: 17px;
  text-indent: 0;
  text-shadow: none;
}

/* line 94, ../scss/smob.scss */
.ui-btn-up-b:active, .ui-btn-up-b a.ui-link-inherit:active {
  color: #FFF;
}

/* line 98, ../scss/smob.scss */
.rtl .back.ui-btn-left .ui-btn-inner {
  padding-left: 0;
  padding-right: 22px;
}

/* line 103, ../scss/smob.scss */
.ui-header .ui-btn-right {
  border-radius: 0.4em;
  margin-top: 1px;
}

/* line 108, ../scss/smob.scss */
.rtl .ui-header .ui-btn-right {
  left: 5px;
  right: auto;
}

/* line 113, ../scss/smob.scss */
.ui-icon-back-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: url("../../ftdsmob/img/icons.png") no-repeat scroll 0 -1236px transparent;
  border-radius: 0;
}

/* line 122, ../scss/smob.scss */
.rtl .ui-icon-back-btn {
  background: url("../../ftdsmob/img/icons-rtl.png") no-repeat scroll -34px -1236px;
}

/* line 128, ../scss/smob.scss */
.ui-header .ui-controlgroup-horizontal {
  margin: 0;
}

/* line 132, ../scss/smob.scss */
.ui-header .ui-controlgroup-horizontal .ui-controlgroup-controls {
  width: 100%;
}

/* line 136, ../scss/smob.scss */
.ui-header .ui-controlgroup-horizontal .ui-btn {
  border: none;
  border-radius: 0;
  float: left;
  width: 25%;
  margin: 0;
}

/* line 144, ../scss/smob.scss */
.rtl .ui-header .ui-controlgroup-horizontal .ui-btn {
  float: right;
}

/* line 148, ../scss/smob.scss */
.ui-header .ui-controlgroup-horizontal .ui-btn-inner {
  border: 1px solid #145072;
  border-radius: 0;
  font-size: 12px;
  line-height: 14px;
  white-space: normal;
  padding: 0;
  height: 56px;
}

/* line 158, ../scss/smob.scss */
.icon-dealer, .icon-showroom, .icon-assist, .icon-share, .icon-promo, .icon-newsroom, .icon-next, .icon-alert, .icon-brochures, .icon-testdrive, .icon-dealer {
  background: url("../../ftdsmob/img/icons.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 20px;
  margin: 2px auto;
  width: 20px;
}

/* line 166, ../scss/smob.scss */
.icon-showroom {
  background-position: 0 -57px;
}

/* line 170, ../scss/smob.scss */
.icon-assist {
  background-position: 0 -113px;
}

/* line 174, ../scss/smob.scss */
.icon-share {
  background-position: 0 -176px;
}

/* line 178, ../scss/smob.scss */
.icon-promo {
  background-position: 0 -240px;
}

/* line 182, ../scss/smob.scss */
.icon-newsroom {
  background-position: 0 -302px;
}

/* line 186, ../scss/smob.scss */
.icon-next {
  background-position: 0 -354px;
}

/* line 190, ../scss/smob.scss */
.icon-testdrive {
  background-position: 0 -1110px;
}

/* line 194, ../scss/smob.scss */
.icon-brochures {
  background-position: 0 -1157px;
}

/* line 198, ../scss/smob.scss */
.icon-alert {
  background-position: 0 -1205px;
}

/* line 202, ../scss/smob.scss */
.imglink {
  margin-bottom: 1em;
}

/* line 206, ../scss/smob.scss */
.txtbtn {
  margin: 0 0.5em;
  height: 2em;
}

/* line 211, ../scss/smob.scss */
.txtbtn b {
  color: #333;
  display: block;
  float: left;
  text-shadow: none;
  margin: 0.8em 0 0 0.4em;
}

/* line 219, ../scss/smob.scss */
.rtl .txtbtn b {
  float: right;
  margin: 0.8em 0.4em 0 0;
}

/* line 224, ../scss/smob.scss */
.txtbtn .ui-btn {
  border-radius: 0.2em;
  float: right;
}

/* line 229, ../scss/smob.scss */
.rtl .txtbtn .ui-btn {
  float: left;
}

/* line 233, ../scss/smob.scss */
.txtbtn .ui-btn-inner {
  border-radius: 0.2em;
  padding: 0.4em 1em;
  font-size: 14px;
}

/* line 239, ../scss/smob.scss */
.wrapper {
  background: none #3D4D5A;
  height: 110%;
  position: relative;
  width: 100%;
}

/* line 246, ../scss/smob.scss */
.share {
  background-color: #fff;
  box-shadow: 0px 2px 2px #ccc inset;
  margin: 0 0.5em;
  padding: 0 0 0.5em 0;
  border-radius: 0 0 0.4em 0.4em;
}

/* line 254, ../scss/smob.scss */
.share .txtbtn {
  font-size: 14px;
  height: 2.4em;
}

/* line 259, ../scss/smob.scss */
.share .txtbtn .ui-btn-inner {
  padding: 0.4em 0.5em;
}

/* line 263, ../scss/smob.scss */
.share .navbtns {
  margin: 1em auto 0.2em;
  width: 96%;
}

/* line 268, ../scss/smob.scss */
.share .navbtns .ui-btn-up-g, .share .navbtns .ui-btn-hover-g {
  margin: 0.3em 0.4em;
}

/* line 272, ../scss/smob.scss */
.navbtns {
  margin: 0.5em auto;
  width: 95.4%;
}

/* line 277, ../scss/smob.scss */
.navbtns .ui-btn {
  border-radius: 0.4em;
  margin: 0.3em 5px;
}

/* line 282, ../scss/smob.scss */
.navbtns .ui-btn-inner {
  border-radius: 0.4em;
  font-size: 14px;
  text-align: left;
  line-height: 25px;
  padding: 0.3em 12px;
}

/* line 290, ../scss/smob.scss */
.rtl .navbtns .ui-btn-inner {
  text-align: right;
}

/* line 294, ../scss/smob.scss */
.navbtns .ui-btn-text span {
  float: left;
  margin-right: 0.6em;
}

/* line 299, ../scss/smob.scss */
.rtl .navbtns .ui-btn-text span {
  float: right;
  margin-left: 0.6em;
  margin-right: 0;
}

/* line 305, ../scss/smob.scss */
.navbtns .ui-btn-icon-left .ui-btn-inner {
  text-indent: 0.8em;
  padding: 10px 12px;
}

/* line 310, ../scss/smob.scss */
.rtl .navbtns .ui-btn-icon-left .ui-btn-inner .ui-icon-arrow-l {
  background-position: -108px -1px;
  left: auto;
  right: 10px;
}

/*theme override*/
/* line 318, ../scss/smob.scss */
.navbtns .ui-btn-up-a .ui-btn-inner, .navbtns .ui-btn-hover-a .ui-btn-inner {
  text-indent: 1.8em;
}

/* line 322, ../scss/smob.scss */
.navbtns .ui-btn-up-c, .navbtns .ui-btn-hover-c {
  margin: 0.2em 5px;
}

/* line 327, ../scss/smob.scss */
.navbtns .ui-btn-up-c .ui-btn-inner, .navbtns .ui-btn-hover-c .ui-btn-inner {
  text-indent: 0;
  font-size: 13px;
}

/* line 332, ../scss/smob.scss */
.navbtns .ui-btn-up-g, .navbtns .ui-btn-hover-g {
  border: none;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  text-shadow: none;
  margin: 0.4em;
}

/* line 341, ../scss/smob.scss */
.navbtns .ui-btn-up-g {
  background: #707c88;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#969da5), to(#707c88));
  background-image: -webkit-linear-gradient(top, #969da5, #707c88);
  background-image: -moz-linear-gradient(top, #969da5, #707c88);
  background-image: -ms-linear-gradient(top, #969da5, #707c88);
  background-image: -o-linear-gradient(top, #969da5, #707c88);
  background-image: linear-gradient(top, #969da5, #707c88);
}

/* line 352, ../scss/smob.scss */
.navbtns .ui-btn-hover-g {
  background: #5a6b77;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#858c94), to(#5a6b77));
  background-image: -webkit-linear-gradient(top, #858c94, #5a6b77);
  background-image: -moz-linear-gradient(top, #858c94, #5a6b77);
  background-image: -ms-linear-gradient(top, #858c94, #5a6b77);
  background-image: -o-linear-gradient(top, #858c94, #5a6b77);
  background-image: linear-gradient(top, #858c94, #5a6b77);
}

/* line 363, ../scss/smob.scss */
.ui-footer {
  background: none;
  /*margin-top: 1.2em*/
}

/* line 368, ../scss/smob.scss */
.ui-footer.ui-bar-c {
  border-top: none;
}

/* line 372, ../scss/smob.scss */
.rtl .ui-footer.ui-bar-c .dark {
  padding: 0.6em 8px;
  text-align: right;
}

/* line 377, ../scss/smob.scss */
.ui-footer ul {
  border-bottom: 1px solid #CCCCCC;
  margin: 0.4em auto;
  padding: 0.6em 0 0.8em;
  width: 98%;
}

/* line 384, ../scss/smob.scss */
.rtl .ui-footer ul {
  margin-top: 10px;
  overflow: hidden;
}

/* line 389, ../scss/smob.scss */
.ui-footer li {
  display: inline-block;
  list-style: none;
  line-height: 1em;
  width: 18%;
}

/* line 396, ../scss/smob.scss */
.rtl .ui-footer li {
  float: right;
  width: 20%;
}

/* line 401, ../scss/smob.scss */
.ui-footer p {
  margin: 0.8em 0;
}

/* line 405, ../scss/smob.scss */
.ui-footer a.ui-link, .ui-footer a.ui-link:visited {
  color: #3d4d59;
  display: block;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

/* line 413, ../scss/smob.scss */
.ui-footer .disable {
  width: 15%;
}

/* line 417, ../scss/smob.scss */
.rtl .ui-footer .disable {
  float: right;
  width: 15%;
}

/* line 422, ../scss/smob.scss */
.dark, .black, .gray {
  color: #fff;
  clear: left;
  font-weight: 700;
  padding: 0.6em 0 0.6em 8px;
  text-shadow: none;
  min-width: 90%;
}

/* line 431, ../scss/smob.scss */
.rtl .dark, .rtl .black, .rtl .gray {
  padding: 0.6em 8px;
  text-align: right;
}

/* line 436, ../scss/smob.scss */
.dark {
  background-color: #394a5a;
  font-size: 10px;
  font-weight: 100;
}

/* line 442, ../scss/smob.scss */
.gray {
  background-color: #e7ecf2;
  font-size: 14px;
  color: #60676d;
}

/* No carousel navigation in SMOB */
/* line 449, ../scss/smob.scss */
.billboard .carousel .flex-direction-nav {
  display: none !important;
}

/*style for checkbox in modelwalk accordion*/
/* line 453, ../scss/smob.scss */
.model-walk-accordion .ui-checkbox {
  display: inline-block;
}
/* line 454, ../scss/smob.scss */
.model-walk-accordion .ui-checkbox input[type=checkbox] {
  top: 0;
  left: 0;
}

/* line 463, ../scss/smob.scss */
.vehicle-modal .modal-content .select-models .model-container .model-data .model-select {
  padding-left: 0;
}
/* line 464, ../scss/smob.scss */
.vehicle-modal .modal-content .select-models .model-container .model-data .model-select input {
  top: 0;
  left: 0;
}
/* line 465, ../scss/smob.scss */
.vehicle-modal .modal-content .select-models .model-container .model-data .model-select h2 {
  margin-left: 30px;
}
/* line 469, ../scss/smob.scss */
.vehicle-modal .modal-content .select-models .model-container .model-data.selected .model-select h2 {
  margin-left: 0px;
}

/* line 479, ../scss/smob.scss */
.model-walk .model-select {
  padding-left: 0 !important;
}
/* line 482, ../scss/smob.scss */
.model-walk .model-select .ui-checkbox .checker input[type=checkbox] {
  top: 0;
  left: 0;
}
/* line 485, ../scss/smob.scss */
.model-walk .model-select h2 {
  margin-left: 5px !important;
}
/* line 486, ../scss/smob.scss */
.model-walk .model-select h2 a {
  font-weight: bold;
}
/* line 490, ../scss/smob.scss */
.model-walk .model-content .price {
  margin-left: 5px !important;
}
/* line 492, ../scss/smob.scss */
.model-walk .mobile-button .ui-btn-text {
  text-shadow: none;
  opacity: 0.7;
}

/* line 501, ../scss/smob.scss */
.inner-popup .content ul li {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/*Start of Mobile - RTL Styles*/
/* line 510, ../scss/smob.scss */
.attribute-bar .wrap .offers p, .attribute-bar .wrap .offers a {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}
/* line 511, ../scss/smob.scss */
.attribute-bar .wrap .offers a:hover {
  color: #616161;
}
/* line 516, ../scss/smob.scss */
.attribute-bar .details .primary p, .attribute-bar .details .secondary p {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}
/* line 521, ../scss/smob.scss */
.attribute-bar .seat p {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/* line 526, ../scss/smob.scss */
.gallery-trigger p {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/* line 530, ../scss/smob.scss */
.rotate-slider .ui-link {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/* line 534, ../scss/smob.scss */
.colorizer .click-text {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/* line 538, ../scss/smob.scss */
.buzz .quote-wrap {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/* line 541, ../scss/smob.scss */
.media-overlay {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/*end of Mobile - RTL Styles*/
/*homepage smob styles*/
/* line 547, ../scss/smob.scss */
.brand-gallery {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/* line 552, ../scss/smob.scss */
.showcase .price {
  font-family: "Antenna-Medium", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
  color: #1b394e;
}
/* line 555, ../scss/smob.scss */
.showcase .specs ul li {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
  color: #1b394e;
}

/* line 564, ../scss/smob.scss */
.mini-dealer .dealer-items .carousel .slides .ui-link {
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
}

/*end of homepage styling*/
