@charset "GBK";
/* line 331, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.2.3/";
}

/* line 335, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 340, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:30.063em)/";
  width: 30.063em;
}

/* line 345, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:48em)/";
  width: 48em;
}

/* line 350, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:62em)/";
  width: 62em;
}

/* line 355, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:75em)/";
  width: 75em;
}

/* line 360, ../scss/foundation-components/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 367, ../scss/foundation-components/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 372, ../scss/foundation-components/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 377, ../scss/foundation-components/foundation/components/_global.scss */
html,
body {
  font-size: 14px;
}

/* line 380, ../scss/foundation-components/foundation/components/_global.scss */
body {
  background: white;
  color: #1b394e;
  padding: 0;
  margin: 0;
  font-family: "Antenna-Light", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 393, ../scss/foundation-components/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 396, ../scss/foundation-components/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 398, ../scss/foundation-components/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 404, ../scss/foundation-components/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 409, ../scss/foundation-components/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 410, ../scss/foundation-components/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 183, ../scss/foundation-components/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 184, ../scss/foundation-components/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 412, ../scss/foundation-components/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 418, ../scss/foundation-components/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 421, ../scss/foundation-components/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 431, ../scss/foundation-components/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 434, ../scss/foundation-components/foundation/components/_global.scss */
select {
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*// for fixing iPad page scale issue
  #page-wrapper {width:1024px;}*/
  /*this is for ipad page scale issue (ftd-page header)*/
  /* line 10, ../scss/tablet.scss */
  #header, #nav-footer, #footer {
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    position: relative;
    left: -12.5%;
  }

  /* line 14, ../scss/tablet.scss */
  .rtl #header, .rtl #nav-footer, .rtl #footer {
    right: -12.5%;
    left: auto;
  }

  /** Simple Menu **/
  /* line 18, ../scss/tablet.scss */
  #header #nav .menu {
    width: 140px;
  }

  /* line 21, ../scss/tablet.scss */
  .modal-open {
    height: 100%;
  }
  /* line 23, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog {
    margin: 0 auto;
  }
  /* line 24, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog .modal-content {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  /* line 25, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog .modal-content .icon-close {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    right: 0;
    top: 0;
  }
  /* line 26, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog .modal-content .modal-body {
    -webkit-transform: translate3d(0, 0, 0);
    margin: 48px auto 0;
  }
  /* line 32, ../scss/tablet.scss */
  .modal-open .modal.media-overlay .modal-dialog .modal-content {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  /* line 33, ../scss/tablet.scss */
  .modal-open .modal.media-overlay .modal-dialog .modal-content.video .icon-close {
    top: 8px;
  }
  /* line 34, ../scss/tablet.scss */
  .modal-open .modal.media-overlay .modal-dialog .modal-content.video .modal-body {
    margin-top: 64px;
  }
  /* line 35, ../scss/tablet.scss */
  .modal-open .modal.media-overlay .modal-dialog .modal-content .modal-body {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 43, ../scss/tablet.scss */
  .rtl.modal-open .modal.video-flip .modal-dialog, .rtl.modal-open .modal.media-overlay .modal-dialog {
    margin: 64px auto 0;
  }

  /* line 50, ../scss/tablet.scss */
  .key-features .slides .image .icon-m-play {
    font-size: 3.57143rem !important;
    margin-left: -25px;
    margin-top: -25px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 59, ../scss/tablet.scss */
  .modal-open {
    height: 100%;
    width: 100%;
  }
  /* line 61, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog {
    width: 100%;
  }
  /* line 62, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog .modal-content {
    width: auto;
    margin: 0 60px;
  }
  /* line 65, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog .content .title h2 {
    padding: 31px 35px 21px;
  }
  /* line 67, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog .content .title .hide-details a {
    right: 36px;
  }
  /* line 70, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog .content p {
    padding: 0 35px;
  }
  /* line 71, ../scss/tablet.scss */
  .modal-open .modal.video-flip .modal-dialog .content .multi-buttons {
    padding: 8px 35px 25px;
  }
  /* line 76, ../scss/tablet.scss */
  .modal-open .modal.media-overlay .modal-dialog {
    width: 100%;
  }
  /* line 77, ../scss/tablet.scss */
  .modal-open .modal.media-overlay .modal-dialog .modal-content {
    width: auto;
  }
  /* line 79, ../scss/tablet.scss */
  .modal-open .modal.media-overlay .modal-dialog .content p {
    padding: 0 26px;
  }
  /* line 80, ../scss/tablet.scss */
  .modal-open .modal.media-overlay .modal-dialog .content .multi-buttons {
    padding: 8px 27px 25px;
  }

  /* line 86, ../scss/tablet.scss */
  .modal .fullwidth {
    width: auto !important;
  }
}
