<!--#include file="common/head-mobile.html" -->

<!--[if IE 8]><body class="ie8 light"><![endif]-->
<!--[if IE 9 ]><body class="ie9 light"><![endif]-->
<!--[if !IE]><!-->
<body class="light">
<!--<![endif]-->
    <div id="jumplinks">
            <p>Welcome, skip to the <a href="#content" title="Skip to content">content</a>.</p>
    </div>
    <div id="page-wrapper">
        <!--#include file="common/noscript.html" -->
        <!--#include file="common/page-header-mobile.html" -->        
        <div id="navigation">
        <!-- Start of Secondary Navigation -->          
        <!--#include file="common/credit-secondary-navigation.html" -->
        <!-- End of Secondary Navigation -->
        </div>
        <div id="content">
            <link type="text/css" rel="stylesheet" href="../../src/themes/gux/css/markets/cn/market-cn.css" />
            <!--[if IE 8]>
            <link type="text/css" rel="stylesheet" href="../../src/themes/gux/css/markets/cn/market-cn-ie8.css" />
            <![endif]-->
            <script type="text/javascript">
                    $wait(function(){window.appLoader("../../src/themes/gux-china/js/live/dev.debug.js");});
            </script>
            <div class="loading" pet-butter-bar></div>
            <div ng-view></div>
        </div>
            <!-- Start of Disclaimer -->
            <!--#include file="common/disclaimer.html" -->
            <!-- End of Disclaimer -->
            <!--#include file="common/page-footer.html" -->
    </div>            
    <!-- Start of Common Config -->
    <!--#include file="common/json/common-config.html" -->
    <!-- End of Common Config -->
    <!--#include file="common/json/mpz-config.html" -->
    <!-- Start of NG VIEW -->        
    <!-- Start of Nameplate Template -->        
    <script type="text/ng-template" id="pet-nameplate-template">
        
            <section class="gux-payment-presenter payment-presenter-alt"  pet-module-nameplate-loader>
                <div pet-nameplate-container></div>
            </section>
            <div pet-showroom-container></div>
    </script>
    <!-- End of Nameplate Template -->  
    <!-- Start of Nameplate&Model Template -->  
    <script type="text/ng-template" id="pet-model-template">
        <section class="gux-payment-presenter payment-presenter-alt">
            <div pet-nameplate-container></div>
            <div class="loading" pet-model-butter-bar></div>
            <div pet-module-model-loader>
                <div pet-model-container></div>
                <div pet-payment-presenter-accordion></div>
                <div pet-model-compare-accordion></div>
                <div pet-preserve-container></div>
            </div>        
        </section>
        <div pet-showroom-container></div>
    </script>
    <!-- Start of Nameplate&Model Template -->  
    <!-- Start of error page -->
    <script type="text/ng-template" id="pet-error-page-template">
        <div class="error-page">
            <i class="icon-d-warning"></i>
            <span data-ng-bind="appValue.errorPage"></span>
            <a data-ng-href="{{appValue.rootUrl}}">贷款计算器首页</a>
        </div>
    </script>
    <!-- End of error page -->
    <!-- End of NG VIEW -->
    <!-- Start of Nameplate Container -->
    <script type="text/ng-template" id="pet-nameplate-container-template">    
        <div class="model-container">            
            <div class="row fullwidth">
                <div class="small-12 large-4 columns">
                    <div class="nameplate-holder">
                        <div class="nameplate-content">
                            <div class="model-title">
                                <h1><span data-ng-bind="appValue.selectedNameplate.name"></span></h1>
                            </div>                                    
                            <div class="change-model">
                                <label for="sort-area" class="show-for-large-up">配置</label>
                                    <div class="small-8 small-offset-2 large-12 large-offset-0 columns">
                                        <div class="sort-area">
                                            <div class="sort-dropdown" data-ng-click="toggleModelClass($event)">
                                                <span class="text">
                                                    <span></span>
                                                    <div class="context">
                                                        <a data-ng-bind="appValue.currentModel.name"></a>
                                                    </div>
                                                </span>
                                                <ul class="dropdown-list">
                                                    <li data-ng-repeat="model in appValue.selectedNameplate.models" >
                                                        <a data-ng-bind="model.name" data-ng-click="changeModel(model)"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="change-nameplate">
                                <a class="button alt ui-link" href="#" data-ng-click="changeNameplate($event)">更改车型</a>
                            </div>                                        
                        </div>
                    </div>
                </div>
                <div class="small-12 large-4 columns">
                    <div class="model-image">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="http://10.3.104.31/{{appValue.currentModel.image}}" media="(min-width: 768px)">
                            <!--[if IE 9]></video><![endif]-->

                            <!--[if lt IE 9]>
                            <img data-ng-src="http://10.3.104.31/{{appValue.currentModel.image}}" alt="desktop">
                            <![endif]-->

                            <!--[if !lt IE 9]> <!-->
                            <img data-ng-src="http://10.3.104.31/{{appValue.currentModel.smobImage}}" alt="mobile">
                            <!-- <![endif]-->
                        </picture>
                    </div>
                </div>
                <div class="small-12 large-3 columns">
                    <div class="model-options">
                        <ul>
                            <li>
                                <div class="model-price">
                                    <div class="inner-popup">
                                        <a class="close-popup" href="#" data-ng-click="togglePriceClass($event)"></a>
                                        <div class="header">
                                            <h5>市场指导价</h5>
                                        </div>
                                        <div class="error-msg" data-ng-hide="appValue.priceInd">
                                            <span class="icon-d-warning"></span>
                                            <span data-ng-bind="appValue.priceMsg"></span>
                                        </div>
                                        <div class="content">
                                            <input type="text" data-ng-model="appValue.currentModel.price" data-ng-change="changePrice()" data-ng-focus="onFocusPrice()" data-ng-blur="onBlurPrice()">
                                        </div>
                                    </div>
                                    <span class="model-header">市场指导价</span>
                                
                                    <span class="model-details">
                                        <strong data-ng-bind="appValue.price | petCurrency"></strong>
                                    </span>
                                
                                    <a class="button alt ui-link citation" href="#" data-ng-click="togglePriceClass($event)" data-ng-if="appValue.dealerVersion"  data-ng-class="{'disabled':appValue.invalidData}">编辑价格</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- End of Nameplate Container -->    
    <!-- Start of Model Container--> 
    <script type="text/ng-template" id="pet-model-container-template">
        <div class="derivative-container">
            <div class="row fullwidth">     
                <div class="small-12 columns">
                    <div class="tabs-wrap">                        
                        <div pet-tab-switch></div>
                        <div class="tabs-content">
                            <div class="tab-content active" data-tab="financing">
                                <div class="financial-options">
                                    <form id="terms-dropdown" action="#">
                                        <div class="group">
                                            <div class="terms-container"></div>
                                            <div class="row">
                                                <div class="small-10 small-offset-1 large-4 large-offset-0 columns">
                                                    <div class="left-column">
                                                        <div class="title">
                                                            <label for="downpayments">首付金额</label>
                                                            <a class="citation fill-by-text" data-title="this is a title4">
                                                                <span class="icon-d-info"></span>
                                                                <span class="text">this is a paragrah4</span>
                                                            </a>                                                        
                                                            <div class="error-msg" data-ng-hide="appValue.downPaymentInd">
                                                                <span class="icon-d-warning"></span>
                                                                <span data-ng-bind="appValue.downPaymentMsg"></span>
                                                            </div>
                                                        </div>
                                                        <input type="text" data-ng-model="appValue.currentProduct.downPayment" data-ng-focus="onFocusDownPayment()" data-ng-change="changeDownPayment()" data-ng-blur="onBlurDownPayment()" data-ng-disabled="!appValue.editable" data-ng-class="{'disabled':!appValue.editable}">
                                                    </div>
                                                </div>
                                                <div class="small-10 small-offset-1 large-4 large-offset-0 columns">
                                                    <div class="middle-column">
                                                        <div class="title">
                                                            <label for="downpaymentpercent">首付比例</label>
                                                            <a class="citation fill-by-text" data-title="this is a title1">
                                                                <span class="icon-d-info"></span>
                                                                <span class="text">this is a paragrah1</span>
                                                            </a>
                                                        </div>
                                                        <div class="percentage row">
                                                            <div id="slider" data-pet-slider class="slider small-9 small-offset-1 large-10 large-offset-0 columns"></div>
                                                                    <span>{{appValue.currentProduct.downpaymentPercent}}%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-10 small-offset-1 large-4 large-offset-0 columns end">
                                                    <div class="right-column">
                                                        <div class="title">
                                                            <label for="amountfinanced">贷款金额</label>
                                                            <div class="error-msg" data-ng-hide="appValue.amountFinancedInd">
                                                                <span class="icon-d-warning"></span>
                                                                <span data-ng-bind="appValue.amountFinancedMsg"></span>
                                                            </div>
                                                        </div>
                                                        <input type="text" data-ng-model="appValue.currentProduct.amountFinanced" data-ng-focus="onFocusAmountFinanced()" data-ng-change="changeAmountFinanced()" data-ng-blur="onBlurAmountFinanced()"  data-ng-disabled="!appValue.editable" data-ng-class="{'disabled':!appValue.editable}">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                             <div class="row">
                                                <div class="small-10 small-offset-1  large-4  large-offset-0 columns">
                                                    <div class="left-column">
                                                        <div class="title">
                                                            <label for="terms">贷款期数</label>
                                                        </div>
                                                        <div class="change-term" >
                                                            <div class="sort-area">
                                                                <div class="sort-dropdown" data-ng-class="{'disabled':!appValue.editable}" data-ng-click="toggleTermClass($event)"  data-ng-cloak >
                                                                    <span class="text">
                                                                        <span></span><p>{{appValue.currentProduct.currentTerm.term}}月</p>
                                                                    </span>
                                                                    <ul class="dropdown-list">
                                                                        <li data-ng-repeat="term in appValue.currentProduct.termList">
                                                                            <span data-ng-click="selectTerm(term,appValue.currentProduct)">{{term}}月</span>
                                                                        </li>                                                                
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-10 small-offset-1 large-4 large-offset-0 columns end">
                                                    <div class="middle-column">
                                                        <div class="title">
                                                            <label for="ewpackage">延保套餐</label>
                                                            <a class="citation fill-by-text" data-title="this is a title2">
                                                                <span class="icon-d-info"></span>
                                                                <span class="text">this is a paragrah2</span>
                                                            </a>
                                                        </div>
                                                        <div class="change-package">
                                                            <div class="sort-area">
                                                                <div class="sort-dropdown" data-ng-class="{'disabled':!appValue.editable||!appValue.currentProduct.hasPackage}" data-ng-click="togglePackageClass($event)"  data-ng-cloak>
                                                                    <span class="text">
                                                                        <span></span>
                                                                        <p data-ng-bind="appValue.currentProduct.currentPackage.name"></p>
                                                                    </span>
                                                                    <ul class="dropdown-list">
                                                                        <li data-ng-repeat="ewpackage in appValue.currentProduct.packageList">
                                                                             <span data-ng-bind="ewpackage.name" data-ng-click="selectPackage(ewpackage,appValue.currentProduct)"></span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="product-carousel" pet-product-carousel></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- End of Model Container-->
    
    <!-- Start of Program Switch -->
    <script type="text/ng-template" id="pet-tab-switch-template">
        <div class="tabs-switch">
            <div class="tab-options">
                <ul class="options">
                    <div class="row">
                        <div class="small-10 small-offset-1 large-12 large-offset-0 columns">
                            <div class="programs" >
                                <div class="title hide-for-large-up">
                                    <p data-ng-bind="appValue.currentProgram.name" ></p><span class="icon"></span>
                                </div>
                                <ul>
                                    <li data-ng-repeat="program in appValue.modelDetail.model.programs" >
                                        <p data-ng-bind="program.name" data-ng-click="changeProgram(program)" data-ng-class="{'active':(program.type===appValue.currentProgram.type)}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </script>
    <!-- End of Program Switch -->
    <!-- Start of Citation 
    <script type="text/ng-template" id="pet-citation-template">
        <a class="citation fill-by-text" data-title="this is a title">
            <span class="icon-d-info"></span>
            <span class="text">this is a paragrah</span>
        </a>
    </script>
    End of Citation -->
    <!-- Start of Product Carousel -->
    <script type="text/ng-template" id="pet-product-carousel-template">
        <section class="pet-carousel" >
            <article >
                <div class="carousel-holder"   data-ng-repeat="program in appValue.modelDetail.model.programs" data-ng-if="program.type==appValue.currentProgram.type"  data-ng-class="{'trans':appValue.carouselVisibility}">
                    <div class="carousel carousel-mobile-only noloop flexslider" data-slide-width="390">
                        <ul class="slides">
                            <li data-pet-on-finish-render  data-ng-repeat="product in program.products" >
                                <div class="item" data-ng-class="{'active':(product.type===appValue.currentProduct.type),model:product.isModel}" data-ng-click="changeProduct(product)" >
                                    <div class="header"><span data-ng-bind="product.name"></span></div>
                                        <div class="payment-terms">
                                            <span class="title">月供</span>
                                            <span class="price"><span data-ng-bind="product.currentTerm.monthlyPayment | petCurrency"></span></span>
                                        </div>
                                        <div class="fix-rate">
                                            <span class="title">期数</span>
                                            <span class="price"><span class="currency">X </span><span data-ng-bind="product.currentTerm.term"></span>月</span>
                                        </div>
                                    <div class="ewpackage"  data-ng-show="product.hasPackage">
                                        <div class="content">
                                            <span>+ </span><span data-ng-bind="product.currentPackage.price | petCurrency"></span><span>延长质保产品</span>
                                            <a class="citation fill-by-text" data-title="this is a title" >
                                                <span class="icon-d-info"></span>
                                                <span class="text">this is a paragrah</span>
                                            </a>
                                        </div>
                                    </div> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
    </script>
    <!-- End of Product Carousel -->   
    <!-- Start of Payment Presenter Accordion -->
    <script type="text/ng-template" id="pet-payment-presenter-accordion-template">
        <div class="row fullwidth">
            <section class="accordion-block credits-accordion">
                <div class="tab-item">
                    <div class="tab-nav">方案总结
                        <div class="icon-holder right">
                            <span class="icon icon-acc-arrow"></span>
                        </div>
                    </div>
                    <div class="tab-contents">
                        <div class="tab-data">
                          <div class="content-holder">
                               <div class="payment-details">                                
                                        <div class="price-holder">市场指导价<span class="price" ><span data-ng-bind="appValue.currentModel.price"></span></span>
                                        </div>
                                        <div class="amount-holder" data-ng-if="appValue.dealerVersion">客户利率  
                                            <span class="price" ><span data-ng-bind="appValue.currentProduct.currentTerm.customerRate"></span>%
                                            </span>
                                        </div>
                                        <div class="price-holder" data-ng-if="appValue.dealerVersion">产品代码  
                                            <span class="price" ><span data-ng-bind="appValue.currentProduct.currentTerm.productCode"></span>
                                            </span>
                                        </div>
                                        <div class="amount-holder" data-ng-if="appValue.dealerVersion">贴息总额  
                                            <span class="price" ><span data-ng-bind="appValue.currentProduct.currentTerm.totalSubvention | petCurrency"></span>
                                            </span>
                                        </div>
                                        <ul data-ng-if="appValue.dealerVersion">
                                            <li>厂家贴息 
                                                <span class="price" >
                                                    <div class="monthly-payment" data-ng-bind="appValue.currentProduct.currentTerm.oemCSubvention | petCurrency"></div>
                                                </span>
                                            </li>
                                            <li>经销商贴息 
                                                <span class="price" >
                                                    <div class="monthly-payment" data-ng-bind="appValue.currentProduct.currentTerm.dealerSubvention | petCurrency"></div>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="amount-holder">首付金额  
                                            <span class="price" ><span data-ng-bind="appValue.currentProduct.downPayment | petCurrency"></span>
                                            </span>
                                        </div>
                                        <ul>
                                            <li>贷款金额 
                                                <span class="price" >
                                                    <div class="monthly-payment" data-ng-bind="appValue.currentProduct.amountFinanced | petCurrency"></div>
                                                </span>
                                            </li>
                                            <li>贷款期数 
                                                <span class="terms">
                                                    <div data-ng-bind="appValue.currentProduct.currentTerm.term"></div><div>月</div> 
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="amount-holder">月供金额
                                            <span class="price" >
                                                <span data-ng-bind="appValue.currentProduct.currentTerm.monthlyPayment | petCurrency"></span>
                                            </span>
                                        </div>
                                        <ul data-ng-show="appValue.currentProduct.hasPackage">
                                            <li >内含
                                                <div class="monthly-payment" data-ng-bind="appValue.currentProduct.currentPackage.name">
                                                </div>延保套餐 
                                                <span class="price" >
                                                    <div class="monthly-payment" data-ng-bind="appValue.currentProduct.currentPackage.price | petCurrency"></div>
                                                </span>
                                            </li>
                                        </ul>
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </script>
    <!-- End of Payment Presenter Accordion -->
    <!-- Start of Model Compare -->
    <script type="text/ng-template" id="pet-model-compare-accordion-template">
        <div class="row fullwidth" >
            <section class="accordion-block credits-accordion">
                <div class="tab-item">
                    <div class="tab-nav open">
                          方案比较
                          <div class="icon-holder right">
                                <span class="icon icon-acc-arrow"></span>
                          </div>
                    </div>
                    <div class="tab-contents">
                        <div class="model-compare row">
                            <div class="small-6 large-3 columns"  data-ng-repeat="model in appValue.compareModels" >    
                                <div class="container"  data-ng-class="{'trans':appValue.compareVisibility}">
                                        <div class="img">
                                            <img data-ng-src="http://10.3.104.31/{{model.image}}">
                                        </div>
                                        <div class="head">
                                            <div>
                                                <div class="text">
                                                    <span data-ng-bind="model.nameplateName"></span>
                                                </div>
                                                <div class="text">
                                                    <span class="configure" data-ng-bind="model.modelName"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div  class="package">
                                            <div class="text">
                                                <span data-ng-bind="model.programName" ></span>
                                            </div>
                                            <div class="text">
                                                <span data-ng-bind="model.productName"></span>
                                            </div>
                                        </div>
                                        <div  class="content">
                                            <div class="node">
                                                市场指导价<div><span data-ng-bind="model.price"></span></div>
                                            </div>
                                            <div class="node">
                                                首付金额<div><span data-ng-bind="model.downPayment | petCurrency"></span></div>
                                            </div>
                                            <div class="node">
                                                贷款金额<div><span data-ng-bind="model.amountFinanced | petCurrency"></span></div>
                                            </div>
                                            <div class="node">
                                                贷款期数<div><span data-ng-bind="model.term"></span><span>月</span></div>
                                            </div>
                                            <div class="node">
                                                月供金额<div><span data-ng-bind="model.monthlyPayment | petCurrency"></span></div>
                                            </div>
                                            <div class="node" data-ng-show="model.hasPackage">
                                                内含<div class="ewpackage" data-ng-bind="model.currentPackagename"></div>延保套餐
                                                <div><span data-ng-bind="model.currentPackageprice | petCurrency"></span></div>
                                            </div>
                                        </div>
                                        <div class="remove-button">
                                            <a class="button alt ui-link" data-ng-click="removeCompare($index)">移除比较</a>
                                        </div>
                                </div>
                            </div>
                            <div class="small-6 large-3 columns end" data-ng-show="appValue.compareModels.length<appValue.maxModelCompare">
                                <div class="container"   data-ng-class="{'disabled':appValue.invalidData}">
                                    <div class="model-data">                                                                        
                                        <div class="img">
                                            <img data-ng-src="../../src/themes/gux-china/img/model-compare.png">
                                        </div>
                                    </div>
                                    <div class="head">
                                        <span class="add">添加方案</span><span></span>
                                    </div>
                                    <div  class="package">
                                        <div class="plus-center">
                                            <a class="icon-m-circled-plus" data-ng-click="addCompare()" ></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </script>
    <!-- End of Model Compare -->
    <!-- Start of Preserve Way -->
    <script type="text/ng-template" id="pet-preserve-container-template">
        <div class="preserve-container show-for-xlarge-up" >
            <ul class="action-holder">
                    <li>
                        <a data-ng-href="mailto:?body={{appValue.mailbody}} %0D%0A {{appValue.pdfurl}}?mid={{appValue.currentModel.vehicleAssetId}}%26dt={{appValue.startTime}}%26fpg={{appValue.currentProgram.type}}%26fpd={{appValue.currentProduct.type}}%26pr={{appValue.modelDetail.model.price}}%26dp={{appValue.downPayment}}%26af={{appValue.amountFinanced}}%26tr={{appValue.currentProduct.currentTerm.term}}%26mp={{appValue.currentProduct.currentTerm.monthlyPayment}}%26ew={{appValue.currentProduct.currentPackage.id}}  %0D%0A {{appValue.mailsender}}">
                            <div class="font-icon">
                                    <span class="icon-m-email"></span>
                            </div>
                            <h3>EMAIL</h3>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" data-ng-href="http://10.3.104.31/servlet/rest/pe/FOA/pe-pdf/payment_estimator?mid={{appValue.currentModel.vehicleAssetId}}&dt={{appValue.startTime}}&fpg={{appValue.currentProgram.type}}&fpd={{appValue.currentProduct.type}}&pr={{appValue.modelDetail.model.price}}&dp={{appValue.downPayment}}&af={{appValue.amountFinanced}}&tr={{appValue.currentProduct.currentTerm.term}}&mp={{appValue.currentProduct.currentTerm.monthlyPayment}}&ew={{appValue.currentProduct.currentPackage.id}}">
                            <div class="font-icon">
                                    <span class="icon-print"></span>
                            </div>
                            <h3>PRINT</h3>
                        </a>
                    </li>
            </ul>
        </div>
    </script>
    <!-- End of Preserve Way -->
    
    <!-- Start of the Overlay -->
    <script type="text/ng-template" id="pet-showroom-container-template">
        <section class="showroom-container mini-showroom reveal-modal" id="mini-showroom" data-reveal>
            <div class="row fullwidth">
                <div class="large-12 columns">
                    <div class="vehicle-list" >
                        <div class="vehicle-wrap">
                            <header class="heading">
                                <h1><span class="show-for-small">Vehicle Selection</span><span class="show-for-large-up">Select a Vehicle</span></h1>
                                <span class="icon-close icon-m-close-solid" data-ng-click="selectNameplate('close')"></span>
                            </header>
                            <div data-ng-repeat="category in appValue.category" class="section-cars row">
                                <header class="columns">
                                    <h2 data-ng-bind="category"></h2>
                                </header>
                                <div data-ng-repeat="nameplate in appValue.nameplates.nameplates" data-ng-if="nameplate.category==category" class="vehicle-container small-6 large-4 xlarge-3 columns">
                                    <div class="vehicle-data" data-ng-click="selectNameplate(nameplate)">
                                        <div class="vehicle">
                                            <img data-ng-src="http://10.3.104.31/{{nameplate.models[0].smobImage}}" alt="image" />
                                            <div>
                                                    <h3 class="head">
                                                        <strong class="name" data-ng-bind="nameplate.name"></strong>
                                                    </h3>
                                            </div>
                                            <div class="vehicle-content">
                                                <ul>
                                                    <li>
                                                        <span>Starting MSRP </span><span data-ng-bind="nameplate.startingPrice"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="vehicle-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </script>
    <!-- End of the Overlay -->
    <script  type="text/ng-template" id="inner-popup">
        <div class="inner-popup">
            <a class="close-popup" href="#"></a>
                <div class="header">
                    <h5>Disclosure</h5>
                </div>
            <div class="content"></div>
        </div>
    </script>
    <!--#include file="common/json/rest-services.html" -->
    <!--#include file="common/json/mpz-config.html" -->
    <script type="text/ng-template" id="payment-estimator-config">
        {
            "nameplateUrlLester": "http://10.3.104.31/servlet/rest/pe/FOA/getallnameplates",
            "modelUrlLester": "http://10.3.104.31/servlet/rest/pe/FOA/getproducts/model/:model",
            "nameplateUrlLocal": "./rest/pp/FOA/nameplates.json",
            "modelUrlLocal": "./rest/pp/FOA/:model.json",
            "minDownpaymentPercent":20,
            "minEEBDownpaymentPercent":20,
            "minFFDownpaymentPercent":50,
            "minFinancedAmount":40000,
            "standardProgram":2,
            "timelimitedProgram":1,
            "dealerProgram":3,
            "FFProductType":2,
            "products":[
                        {"type":3,"name":"EW-Bundled"},
                        {"type":1,"name":"Equal"},
                        {"type":2,"name":"50-50"}
                        ],
            "maxModelCompare":4,
            "errorMessage" : {
                "minDownpaymentPercent"     : "首付金额不能小于市场指导价的:value%",
                "maxFinancedAmountPercent"  : "贷款金额不能大于市场指导价的:value%",
                "minFinancedAmount"         : "贷款金额不能小于RMB  :value",
                "illegalCharacter"          : "只能输入数字",
                "outofPriceScope"           : "输入的价格不得低于厂方指导价的一半或高出一半",
                "errorPage"                 : "您输入的网址不存在，如需继续请访问"
            },
            "email":{
                "body":"Hi,%0D%0A%0D%0AThank you for visiting Credit website.%0D%0A%0D%0ATo view PDF for {year}{model}{derivative},simply click on this link and feel free to send it through email to anyone you like.",
                "pdf":"/servlet/rest/pe/FOA/pe-pdf/payment_estimator?mid={model_id}&dt={date_in_long_format}&fpg={financial_program_type}&fpd={product_type}&pr={price}&dp={downpayment}&af={amount_financed}&tr={term}&mp={monthly_payment}&ew={ew_package_id}",
                "sender":"%0D%0A%0D%0AYours sincerely%0D%0AChina Credit Team"
            },
            "dealerVersion":true,
			"monetaryDecimalSeparator": ".",
			"groupingSeparator": ",",
			"currencySymbol": "$%1",
			"priceFormat": "true,0"

        }
    </script>
</body>