<!--#include file="common/head.html" -->

<!--[if IE 8]><body class="ie8 light"><![endif]-->
<!--[if IE 9 ]><body class="ie9 light"><![endif]-->
<!--[if !IE]><!--><body class="light"><!--<![endif]-->
<div id="jumplinks">
    <p>Welcome, skip to the <a href="#content" title="Skip to content">content</a>.</p>
</div>
<div id="page-wrapper" itemscope itemtype="http://schema.org/Product">
<!--#include file="common/noscript.html" -->
<!--#include file="common/page-header.html" -->

<div id="navigation">
    <!-- Start of Secondary Navigation -->
    <!--#include file="common/secondary-navigation.html" -->
    <!-- End of Secondary Navigation -->
</div>

<div id="content" class="model-enhance">
    <!-- Start of ModelDetails Billboard -->
    <div class="module-loader loading">
        <section class="billboard billboard-nameplate">
            <div class="row fullwidth">
                <div class="large-12 columns">
                    <div class="carousel flexslider" data-rotate-on="tablet">
                        <ul class="slides">
                            <li>
                                <article>
                                    <div class="heading grey">
                                        <h1 class="model-name">ECOBOOST PREMIUM
                                        </h1>
                                        <a href="model-enhance-details.html?modelId=1178838995425" class="button btn-det"><span class="label-link">Lorem Ipsum</span></a>
                                    </div>
                                    <picture>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="media/modeldetails/mustang1.png" media="(min-width: 768px)">
                                        <source srcset="media/modeldetails/mustang1.png">
                                        <!--[if IE 9]></video><![endif]-->

                                        <!--[if lt IE 9]>
                                        <img src="media/modeldetails/mustang1.png" alt="billboard 3 desktop" itemprop="image">
                                        <![endif]-->

                                        <!--[if !lt IE 9]> <!-->
                                        <img src="media/modeldetails/mustang1.png" alt="billboard 3 mobile" itemprop="image">
                                        <!-- <![endif]-->
                                    </picture>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div class="heading grey">
                                        <h1 class="model-name">ECOBOOST PREMIUM
                                        </h1>
                                        <a href="model-enhance-details.html?modelId=1178838995425" class="button btn-det"><span class="label-link">Lorem Ipsum</span></a>
                                    </div>
                                    <picture>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="media/modeldetails/mustang2.png" media="(min-width: 768px)">
                                        <source srcset="media/modeldetails/mustang2.png">
                                        <!--[if IE 9]></video><![endif]-->

                                        <!--[if lt IE 9]>
                                        <img src="media/modeldetails/mustang2.png" alt="nameplate billboard desktop" itemprop="image">
                                        <![endif]-->

                                        <!--[if !lt IE 9]> <!-->
                                        <img src="media/modeldetails/mustang2.png" alt="billboard1 mobile" itemprop="image">
                                        <!-- <![endif]-->
                                    </picture>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div class="heading grey">
                                        <h1 class="model-name">ECOBOOST PREMIUM
                                        </h1>
                                        <a href="model-enhance-details.html?modelId=1178838995425" class="button btn-det"><span class="label-link">Lorem Ipsum</span></a>
                                    </div>
                                    <picture>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="media/modeldetails/mustang3.png" media="(min-width: 768px)">
                                        <source srcset="media/modeldetails/mustang3.png">
                                        <!--[if IE 9]></video><![endif]-->

                                        <!--[if lt IE 9]>
                                        <img src="media/modeldetails/mustang3.png" alt="billboard2 desktop" itemprop="image">
                                        <![endif]-->

                                        <!--[if !lt IE 9]> <!-->
                                        <img src="media/modeldetails/mustang3.png" alt="billboard2 mobile" itemprop="image">
                                        <!-- <![endif]-->
                                    </picture>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End of ModelDetails Billboard -->
    <!-- Start of Attribute Bar -->
    <section class="attribute-bar">
        <div class="row fullwidth">
            <div class="wrap clearfix">
                <div class="large-6 columns price body derivative-price" data-derivativeid="1178840220080">
				</div>
                <div class="large-6 small-12 columns offers">
					<div class="pricing">
						<div class="inner need-price"></div>                  
					</div>
				</div>
            </div>
            
            <div class="small-12 medium-9 large-7 columns details">
                <div class="small-5 columns primary">
                    <p>EPA-Est. MPG
                        <span>City/Hwy</span>
                    </p>
                </div>
                <div class="small-7 columns secondary">
                    <p>
                        <span class="small-6 columns medium-12">Standard</span> 
                        <span class="small-6 columns medium-12">18/29</span>
                    </p>
                    <p>
                        <span class="small-6 columns medium-12">Ecoboost</span>
                        <span class="small-6 columns medium-12">23/31</span>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 large-5 columns seat">
                <p>
                    <span class="small-6 columns medium-12">Seating for</span>
                    <span class="small-6 columns medium-12">5</span>
                </p>
            </div>
        </div>
    </section>
    <!-- End of Attribute Bar -->
   <!-- Start of Model Detail Accordion -->
    <div class="row fullwidth">
        <section class="accordion-block">
            <div class="tab-item">
                <div class="tab-nav">
                      Technical Specification
                      <div class="icon-holder right">
                        <span class="icon icon-acc-arrow"></span>
                      </div>
                </div>
                <div class="tab-contents">
                    <div class="tab-data">
                      <div class="content-holder small-12">
                        <div class="feature-item">
                            <h1>TECHNICAL SPECIFICATIONS</h1>                            
                        </div>
						<div class="feature-item">
                            <div class="specs">
                                <h1>Engine and Transmission</h1>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Duratec 1.5L Ti-VCT DOHC 4-Cylincer<span class="icon icon-info vertical-middle-tooltip" title="it is a tooltip"></span></td>
                                            <td>(Standard)</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>5-Speed manual transmission</td>
                                            <td>(Standard)</td>
                                        </tr>
                                        <tr>
                                            <td>PowerShift@with 6-speed sequential sports shift</td>
                                            <td>(Optional)</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Maximum power output ISO(kw/rpm)</td>
                                            <td>82kW@6300rpm</td>
                                        </tr>
                                        <tr>
                                            <td>Maximum torque output ISO(kW/rmp)</td>
                                            <td>140Nm@4400rpm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
							<div class="specs">
                                <h1>Fuel</h1>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Fuel type(petrol)</td>
                                            <td>91-98RON</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Fuel consumption - petrol(ADR8V02 combined dycle)(L/100km)</td>
                                            <td>5.8</td>
                                        </tr>
                                        <tr>
                                            <td>CO2 emissions  - petrol(g/km)</td>
                                            <td>139</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Emission leve</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>Fuel tank capacity(litres)</td>
                                            <td>42</td>
                                        </tr>
										<tr class="odd">
                                            <td>Ford Easy Fuel@</td>
                                            <td>(Standard)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="tab-item">
                <div class="tab-nav">
                      Exterior
                      <div class="icon-holder right">
                        <span class="icon icon-acc-arrow"></span>
                      </div>
                </div>
                <div class="tab-contents">
                    <div class="tab-data">
                      <div class="content-holder small-12 no-side-padding">
                        <div class="feature-item">
                            <h1>Climate</h1>
                            <div class="standard">
                                <h2>Standard</h2>
                                <p>Manual Air-Conditioning</p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <h1>Climate</h1>
                            <div class="standard">
                                <h2>Standard</h2>
                                <p>Manual Air-Conditioning</p>
                                <ul>
                                    <li>Map Pockets <span class="icon icon-info vertical-middle-tooltip" title="E-Gas engine available on XR6 from July 2009 production."></span></li>
                                    <li>2 power points <a class="icon icon-compare-image vertical-middle-image trackable open-media-overlay active-overlay" href="/servlet/Satellite?c=DFYArticle&amp;cid=1178843611814&amp;pagename=FOA/controller&amp;site=FOA" data-media-type="image"></a></li>
                                    <li>2 covered cupholder</li>
                                    <li>Black locking console with full armrest</li>
                                    <li>Black floor mats</li>
                                    <li>Glass Paint Center Stack</li>
                                </ul>
                            </div>
                            <div class="optional">
                                <h2>Optional</h2>
                                <p>Manual Air-Conditioning</p>
                                <ul>
                                    <li>Map Pockets</li>
                                    <li>2 power points</li>
                                    <li>2 covered cupholder</li>
                                    <li>Black locking console with full armrest</li>
                                    <li>Black floor mats</li>
                                    <li>Glass Paint Center Stack</li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="feature-item">
                            <div class="specs">
                                <h1>Specifications</h1>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Head Room - Front</td>
                                            <td>38.1</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Head Room - Rear</td>
                                            <td>40</td>
                                        </tr>
                                        <tr>
                                            <td>Leg Room - Front</td>
                                            <td>41.9</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Head Room - Front</td>
                                            <td>38.1</td>
                                        </tr>
                                        <tr>
                                            <td>Head Room - Rear</td>
                                            <td>40</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Leg Room - Front</td>
                                            <td>41.9</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="tab-item">
                <div class="tab-nav">
                      Interior
                      <div class="icon-holder">
                        <span class="icon icon-acc-arrow"></span>
                      </div>
                </div>
                <div class="tab-contents">
                    <div class="tab-data">
                      <div class="content-holder">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae est inventore nemo doloribus aut temporibus adipisci, aliquam facere veniam, voluptates magni? Autem incidunt vero odio nulla necessitatibus. Odit, exercitationem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus maxime eos odit voluptatem porro, eum laudantium dolor quibusdam unde accusantium sunt labore explicabo nemo, consequuntur sit aperiam architecto corporis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae est inventore nemo doloribus aut temporibus adipisci, aliquam facere veniam, voluptates magni? Autem incidunt vero odio nulla necessitatibus. Odit, exercitationem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus maxime eos odit voluptatem porro, eum laudantium dolor quibusdam unde accusantium sunt labore explicabo nemo, consequuntur sit aperiam architecto corporis.</p>
                        
                        <!-- Start of 3 Column Table -->
                        <div class="table-holder">
                            <h2>Lorem 1</h2>
                            <table class="table-layout  table-border">
                              <thead>
                                <tr>
                                  <th>Heading 1</th>
                                  <th>Heading 2</th>
                                  <th>Heading 3</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                </tr>
                                <tr>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                            <!-- End of 3 Column Table -->

                            <!-- Start of 2 Column Table -->
                            <div class="table-holder">
                                <h2>Lorem 1</h2>
                                <table class="table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 1</th>
                                      <th>Heading 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>$20,000</td>
                                      <td>$20,000</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <!-- End of 2 Column Table -->
                            
                            <!-- Start of Borderless fullwidth on small table -->
                            <div class="table-holder fullwidth">
                                <h2>Lorem 1</h2>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 1</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <!-- End of Borderless fullwidth on small table -->

                            <div class="show-for-small-only"><a class="close-accordion" href="#">Close</a></div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tab-item">
                <div class="tab-nav">
                      Interior
                      <div class="icon-holder">
                        <span class="icon icon-acc-arrow"></span>
                      </div>
                </div>
                <div class="tab-contents">
                    <div class="tab-data">
                      <div class="content-holder">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae est inventore nemo doloribus aut temporibus adipisci, aliquam facere veniam, voluptates magni? Autem incidunt vero odio nulla necessitatibus. Odit, exercitationem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus maxime eos odit voluptatem porro, eum laudantium dolor quibusdam unde accusantium sunt labore explicabo nemo, consequuntur sit aperiam architecto corporis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae est inventore nemo doloribus aut temporibus adipisci, aliquam facere veniam, voluptates magni? Autem incidunt vero odio nulla necessitatibus. Odit, exercitationem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus maxime eos odit voluptatem porro, eum laudantium dolor quibusdam unde accusantium sunt labore explicabo nemo, consequuntur sit aperiam architecto corporis.</p>
                        
                        <!-- Start of 3 Column Table -->
                        <div class="table-holder">
                            <h2>Lorem 1</h2>
                            <table class="table-layout  table-border">
                              <thead>
                                <tr>
                                  <th>Heading 1</th>
                                  <th>Heading 2</th>
                                  <th>Heading 3</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                </tr>
                                <tr>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                            <!-- End of 3 Column Table -->

                            <!-- Start of 2 Column Table -->
                            <div class="table-holder">
                                <h2>Lorem 1</h2>
                                <table class="table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 1</th>
                                      <th>Heading 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>$20,000</td>
                                      <td>$20,000</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <!-- End of 2 Column Table -->
                            
                            <!-- Start of Borderless fullwidth on small table -->
                            <div class="table-holder fullwidth">
                                <h2>Lorem 1</h2>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 1</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <!-- End of Borderless fullwidth on small table -->

                            <div class="show-for-small-only"><a class="close-accordion" href="#">Close</a></div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tab-item">
                <div class="tab-nav">
                      Safety
                      <div class="icon-holder">
                        <span class="icon icon-acc-arrow"></span>
                      </div>
                </div>
                <div class="tab-contents">
                    <div class="tab-data">
                      <div class="content-holder">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae est inventore nemo doloribus aut temporibus adipisci, aliquam facere veniam, voluptates magni? Autem incidunt vero odio nulla necessitatibus. Odit, exercitationem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus maxime eos odit voluptatem porro, eum laudantium dolor quibusdam unde accusantium sunt labore explicabo nemo, consequuntur sit aperiam architecto corporis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae est inventore nemo doloribus aut temporibus adipisci, aliquam facere veniam, voluptates magni? Autem incidunt vero odio nulla necessitatibus. Odit, exercitationem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus maxime eos odit voluptatem porro, eum laudantium dolor quibusdam unde accusantium sunt labore explicabo nemo, consequuntur sit aperiam architecto corporis.</p>
                        
                        <!-- Start of 3 Column Table -->
                        <div class="table-holder">
                            <h2>Lorem 1</h2>
                            <table class="table-layout  table-border">
                              <thead>
                                <tr>
                                  <th>Heading 1</th>
                                  <th>Heading 2</th>
                                  <th>Heading 3</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                </tr>
                                <tr>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                            <!-- End of 3 Column Table -->

                            <!-- Start of 2 Column Table -->
                            <div class="table-holder">
                                <h2>Lorem 1</h2>
                                <table class="table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 1</th>
                                      <th>Heading 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>$20,000</td>
                                      <td>$20,000</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <!-- End of 2 Column Table -->
                            
                            <!-- Start of Borderless fullwidth on small table -->
                            <div class="table-holder fullwidth">
                                <h2>Lorem 1</h2>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 1</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <!-- End of Borderless fullwidth on small table -->

                            <div class="show-for-small-only"><a class="close-accordion" href="#">Close</a></div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tab-item">
                <div class="tab-nav">
                      Technology
                      <div class="icon-holder">
                        <span class="icon icon-acc-arrow"></span>
                      </div>
                </div>
                <div class="tab-contents">
                    <div class="tab-data">
                      <div class="content-holder">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae est inventore nemo doloribus aut temporibus adipisci, aliquam facere veniam, voluptates magni? Autem incidunt vero odio nulla necessitatibus. Odit, exercitationem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus maxime eos odit voluptatem porro, eum laudantium dolor quibusdam unde accusantium sunt labore explicabo nemo, consequuntur sit aperiam architecto corporis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae est inventore nemo doloribus aut temporibus adipisci, aliquam facere veniam, voluptates magni? Autem incidunt vero odio nulla necessitatibus. Odit, exercitationem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus maxime eos odit voluptatem porro, eum laudantium dolor quibusdam unde accusantium sunt labore explicabo nemo, consequuntur sit aperiam architecto corporis.</p>
                        
                        <!-- Start of 3 Column Table -->
                        <div class="table-holder">
                            <h2>Lorem 1</h2>
                            <table class="table-layout  table-border">
                              <thead>
                                <tr>
                                  <th>Heading 1</th>
                                  <th>Heading 2</th>
                                  <th>Heading 3</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                </tr>
                                <tr>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                  <td>$20,000</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                            <!-- End of 3 Column Table -->

                            <!-- Start of 2 Column Table -->
                            <div class="table-holder">
                                <h2>Lorem 1</h2>
                                <table class="table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 1</th>
                                      <th>Heading 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>$20,000</td>
                                      <td>$20,000</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <!-- End of 2 Column Table -->
                            
                            <!-- Start of Borderless fullwidth on small table -->
                            <div class="table-holder fullwidth">
                                <h2>Lorem 1</h2>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 1</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="small-12 large-4 columns table-layout">
                                  <thead>
                                    <tr>
                                      <th>Heading 3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <!-- End of Borderless fullwidth on small table -->

                            <div class="show-for-small-only"><a class="close-accordion" href="#">Close</a></div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </div>
    <!-- End of Model Detail Accordion -->
            <!-- Start of Models Display -->
        <div class="module-loader loading">
            <section class="model-display">
                <div class="row fullwidth">
                    <div class="large-12 columns">
                        <article>
                            <div class="heading" itemscope itemtype="http://schema.org/webPage">
                                <h1>Fiesta Model</h1>
                                <a href="http://intpublish.dragonfly.ford.com/gux/compare?sitetype=web&amp;site=FOA" class="button alt show-for-large-up" itemprop="relatedLink">Compare Models</a>
                            </div>

                            <div class="model-display-items" itemtype="http://schema.org/ItemList">
                                <div class="carousel flexslider carousel-limit carousel-model light" data-item-limit='{"small":"1", "medium":"2", "large":"3", "xlarge":"4"}' data-slide-width="280">
                                    <ul class="slides">
                                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Car">
                                            <a href="#" itemprop="url">
                                                <img src="media/showroom/img1.jpg" alt="V6" itemprop="image" />
                                            </a>
                                            <h2>
                                                <a href="#" itemprop="url"><span itemprop="name">V6</span></a>
                                            </h2>
											<div class="model-content body derivative-price" data-derivativeid="1178838995425">
											<p itemscope itemtype="https://schema.org/Offer">
                                                <span itemprop="price" itemprop="price">
                                                    EPA Est. MPG 30 city 42 hwy
                                                </span>
                                            </p>
											</div>
                                            
                                            <div class="columns buttons">
                                                <a href="#" class="button">
                                                        <span class="label-link">Model Details</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Car">
                                            <a href="#" itemprop="url">
                                                <img src="media/showroom/img2.jpg" alt="ECOBOOST"  itemprop="image" />
                                            </a>
                                            <h2>
                                                <a href="#" itemprop="url">
                                                    <span itemprop="name">ECOBOOST&reg;</span>
                                                </a>
                                            </h2>
                                            <div class="model-content body derivative-price" data-derivativeid="1178856483570">
											<p itemscope itemtype="https://schema.org/Offer">
                                                <span itemprop="price" itemprop="price">
                                                    EPA Est. MPG 30 city 42 hwy
                                                </span>
                                            </p>
											</div>
											
                                            <div class="columns buttons">
                                                <a href="#" class="button">
                                                        <span class="label-link">Model Details</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Car">
                                            <a href="#" itemprop="url">
                                                <img src="media/showroom/img3.jpg" alt="ECOBOOST Premium" itemprop="image"/>
                                            </a>
                                            <h2>
                                                <a href="#" itemprop="url">
                                                    <span itemprop="name">ECOBOOST&reg; Premium</span>
                                                </a>
                                            </h2>
											<div class="model-content body derivative-price" data-derivativeid="1178838995426">
											<p itemscope itemtype="https://schema.org/Offer">
                                                <span itemprop="price" itemprop="price">
                                                    EPA Est. MPG 30 city 42 hwy
                                                </span>
                                            </p>
                                            </div>
                                            <div class="columns buttons">
                                                <a href="#" class="button">
                                                        <span class="label-link">Model Details</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Car">
                                            <a href="#" itemprop="url">
                                                <img src="media/showroom/img4.jpg" alt="GT" itemprop="image"/>
                                            </a>
                                            <h2>
                                                <a href="#" itemprop="url">
                                                    <span itemprop="name">GT</span>
                                                </a>
                                            </h2>
											<div class="model-content body derivative-price" data-derivativeid="1178856483571">
											<p itemscope itemtype="https://schema.org/Offer">
                                                <span itemprop="price" itemprop="price">
                                                    EPA Est. MPG 30 city 42 hwy
                                                </span>
                                            </p>
                                            </div>
                                            <div class="columns buttons">
                                                <a href="#" class="button">
                                                        <span class="label-link">Model Details</span>
                                                </a>
                                            </div>
                                        </li>

                                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Car">
                                            <a href="#" itemprop="url">
                                                <img src="media/showroom/img4.jpg" alt="GT" itemprop="image"/>
                                            </a>
                                            <h2>
                                                <a href="#" itemprop="url">
                                                    <span itemprop="name">GT</span>
                                                </a>
                                            </h2>
                                            <div class="model-content body derivative-price" data-derivativeid="1178838995427">
											<p itemscope itemtype="https://schema.org/Offer">
                                                <span itemprop="price" itemprop="price">
                                                    EPA Est. MPG 30 city 42 hwy
                                                </span>
                                            </p>
                                            </div>
											<div class="columns buttons">
                                                <a href="#" class="button">
                                                        <span class="label-link">Model Details</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <a href="#" class="button alt hide-for-large-up mobile-cta" itemprop="relatedLink">
                                <span>
                                    <span class="icon icon-link"></span>
                                    <span class="label-link">Compare Models</span>
                                </span>
                            </a>
                        </article>
                    </div>
                </div>
            </section>
        </div>
        <!-- End of Models Display -->
    <!-- Start of KBA Font Icons-->
    <section class="feature-kba">
        <div class="row">
            <div class="large-4 columns" itemscope itemtype="http://schema.org/webPage">
                <a href="#" itemprop="relatedLink">
                    <div class="font-icon">
                        <span class="icon-compare-competitors-solid"></span>
                    </div>
                    <h3>Build and Price</h3>
                    <p class="show-for-large-up"></p>
                </a>
            </div>
            <div class="large-4 columns" itemscope itemtype="http://schema.org/webPage">
                <a href="http://www.ford.com.au/latest-offers/national" itemprop="relatedLink">
                    <div class="font-icon">
                        <span class="icon1-Solid-Dollar">
						</span>
                    </div>
                    <h3>Latest Offers</h3>
                    <p class="show-for-large-up"></p>
                </a>
            </div>
            <div class="large-4 columns" itemscope itemtype="http://schema.org/webPage">
                <a href="#" itemprop="relatedLink">
                    <div class="font-icon">
                        <span class="icon-get-brochure-solid"></span>
                    </div>
                    <h3>Search Inventory</h3>
                    <p class="show-for-large-up"></p>
                </a>
            </div>
        </div>
    </section>
    <!-- End of KBA Font Icons -->
    
    
</div>

<!-- Start of Disclaimer -->
<!--#include file="common/disclaimer.html" -->
<!-- End of Recall -->


<!--#include file="common/page-footer.html" -->



<script id="mpz-config" type="text/x-json">
{
	"monetaryDecimalSeparator": ".",
	"country": "AUS",
	"decimalSeparator": ".",
	"lang": "en",
	"groupingSeparator": ",",
	"locale": "",
	"name": "FOA",
	"currencySymbol": "$%1",
	"default": "true",
	"priceFormat": "true,0",
	"countryISO2": "AU",
	"id": "1137384063721"
}
</script>
<script id="modelDetails-config" type="text/x-json">
{
    "formattedDate": "../../carve/gux/rest/common/dateformat/FOA/formatted-date.json?{yyyyMMdd}",
    "modelData": "../../carve/gux/rest/tools/comparator/FOA/results/derivatives/derivatives.json?{modelIds}",
    "modelDetailsUrl":"model-enhance-details.html",
    "modelCompareUrl":"#"
}
</script>

<!--start of getprice -->        

<script id="tmpl-price-main" type="text/x-jquery-tmpl">
<p class="price noReadMore">Drive away price<span><sup>0</sup></span> from <span class="blockStyle">${price}<span class="citation"><sup data-disclosure="1">1</sup></span></span>
{{if hotDealUrl}}
<a class="offers" href="${hotDealUrl}" title="Latest Offers">
	<span class="icon icon-offer"></span>
	<span class="label-link">View All Offers</span>
</a>
{{/if}}
</p>
</script>
<script id="tmpl-price-links" type="text/x-jquery-tmpl">
{{if postcode}}
	<p class="calc-price noReadMore">
		<span class="prices-shown">Prices for <span class="priceDate"></span> <br />Postcode <a href="needjs.html" class="get-postcode-usage postcode">${postcode}</a> Usage Type <a href="needjs.html" class="get-postcode-usage">${usageLabel}</a></span>
		<a class="citation fill-by-text" data-title="Disclaimer Heading - Postcode Detected">
			<span class="icon icon-info"></span>
			<span class="text">this is the disclaimer text. postcode detected, edited by jenny</span>
	    </a>
	</p>
{{else error}}
	<p class="noReadMore">
		${error}
		<span class="block">To determine price for <span class="priceDate"></span></span>
		<a href="needjs.html" class="get-postcode-usage">Enter a Location</a>
		<a class="citation fill-by-text" data-title="Disclaimer Heading - No Postcode Detected">
			<span class="icon icon-info"></span>
			<span class="text">this is the disclaimer text. postcode detected, edited by jenny</span>
		</a>
	</p>
{{else loading}}
	<p class="noReadMore">
		Working.
		<br /><span class="loading"></span>
	</p>
{{else}}
	<p class="noReadMore">
		<span class="block">To determine price for <span class="priceDate"></span></span>
		<a href="needjs.html" class="get-postcode-usage">Enter a Location</a>
		<a class="citation fill-by-text" data-title="Disclaimer Heading - No Postcode Detected">
			<span class="icon icon-info"></span>
			<span class="text">this is the disclaimer text. postcode detected, edited by jenny</span>
		</a>
	</p>
{{/if}}
</script>
<script id="price-urls" type="text/x-json">
{
    "xhr-calcprice-data":"rest/common/polk/GetPrices.js",
    "xhr-calcprice-form":"overlay-calculateprice.html?v2",
	"latest-offer-backimg":"../../src/themes/gux/img/view-offers.png"
}
</script>

<!-- Start of popup modal -->
<div id="modalWrap" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <a href="#" class="icon icon-close" data-dismiss="modal">close</a>
        <div class="modal-content">
            <div class="row fullwidth">
                <div class="large-12 columns">
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of popup modal -->

<script id="inner-popup" type="text/template">
	<div class="inner-popup">
		<a class="close-popup" href="#"></a>
			<div class="header">
				<h5>Disclosure</h5>
			</div>
		<div class="content"></div>
	</div>
</script>
</body>