<!--#include file="common/head.html" -->

<!--[if IE 8]><body class="ie8 light"><![endif]-->
<!--[if IE 9 ]><body class="ie9 light"><![endif]-->
<!--[if !IE]><!--><body class="light"><!--<![endif]-->
<div id="jumplinks">
    <p>Welcome, skip to the <a href="#content" title="Skip to content">content</a>.</p>
</div>
<div id="page-wrapper" itemscope itemtype="http://schema.org/Product">
<!--#include file="common/noscript.html" -->
<!--#include file="common/page-header.html" -->

<div id="navigation">
    <!-- Start of Secondary Navigation -->
    <!--#include file="common/secondary-navigation.html" -->
    <!-- End of Secondary Navigation -->
</div>

<div id="content">

<!-- Start of Model Walk -->
<section class="model-walk model-enhance">
<div class="mw-wrapper">


<div class="row fullwidth mw-header">
    <div class="large-12 columns">
        <div class="large-6 small-12 columns">
            <h1>Models &amp; Specifications</h1>
            <img class="hide-for-large-up" src="media/mustang-walk-header@2x.png" alt="Model Walk" itemprop="image">
           
        </div>
        <div class="large-6 small-12 columns end">
            <div class="pricing">
                <div class="inner need-price"></div>                  
            </div>
        </div>
    </div>
</div>


<div class="row fullwidth mw-content">
    <div class="large-12 columns">
        <section class="select-models">
            
                <div class="model-container small-12 large-4 xlarge-3 columns">
					<a href="#" class="close-vehicle"></a>
                    <div class="model-data">
                        <div class="model-placeholder">
                            <a class="disabled"><img class="show-for-large-up" src="media/showroom/img1.jpg" alt="image 1" itemprop="image" /></a>
                        </div>
                        <div class="model-select">
                            <h2><a class="disabled" >V6 Fastback</a></h2>
                        </div>
                        <div class="model-content body derivative-price" data-derivativeid="1178838995425">
                        </div>
                        <div class="model-cta">
                            <a href="model-enhance-detail.html" class="button btn-det">
                                <span class="label-link">Model Details</span>
                            </a>
                            <a href="#" class="button btn-com">
                                <span class="label-link">Compare Model</span>
                            </a>
                        </div>  
                    </div>
                </div>
                <div class="model-container small-12 large-4 xlarge-3 columns">
                    <a href="#" class="close-vehicle"></a>
                    <div class="model-data">
                        <div class="model-placeholder">
                            <a href=""><img class="show-for-large-up" src="media/showroom/img2.jpg" alt="image 2" itemprop="image" /></a>
                        </div>
                        <div class="model-select">
                            <h2><a href="">EcoBoost<sup>&reg;</sup> Fastback</a></h2>
                        </div>
                        <div class="model-content body derivative-price" data-derivativeid="1178856483570">
                        </div>
                        <div class="model-cta">
                            <a href="model-enhance-detail.html" class="button btn-det">
                                <span class="label-link">Model Details</span>
                            </a>
                            <a href="#" class="button btn-com">
                                <span class="label-link">Compare Model</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="model-container small-12 large-4 xlarge-3 columns">
                    <a href="#" class="close-vehicle"></a>
                    <div class="model-data">
                        <div class="model-placeholder">
                            <a href=""><img class="show-for-large-up" src="media/showroom/img3.jpg" alt="image 3" itemprop="image" /></a>
                        </div>
                        <div class="model-select">
                            <h2><a href="">EcoBoost<sup>&reg;</sup> Premium Fastback</a></h2>
                        </div>
                        <div class="model-content body derivative-price" data-derivativeid="1178838995426">
                        </div>
                        <div class="model-cta">
                            <a href="model-enhance-detail.html" class="button btn-det">
                                <span class="label-link">Model Details</span>
                            </a>
                            <a href="#" class="button btn-com">
                                <span class="label-link">Compare Model</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="model-container small-12 large-4 xlarge-3 columns">
                    <a href="#" class="close-vehicle"></a>
                    <div class="model-data">
                        <div class="model-placeholder">
                            <a href=""><img class="show-for-large-up" src="media/showroom/img4.jpg" alt="image 3" itemprop="image" /></a>
                        </div>
                        <div class="model-select">
                            <h2><a href="">GT Fastback</a></h2>
                        </div>
                        <div class="model-content body derivative-price" data-derivativeid="1178856483571">
                        </div>
                        <div class="model-cta">
                            <a href="model-enhance-detail.html" class="button btn-det">
                                <span class="label-link">Model Details</span>
                            </a>
                            <a href="#" class="button btn-com">
                                <span class="label-link">Compare Model</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="model-container small-12 large-4 xlarge-3 columns">
                    <a href="#" class="close-vehicle"></a>
                    <div class="model-data">
                        <div class="model-placeholder">
                            <a href=""><img class="show-for-large-up" src="media/showroom/img5.jpg" alt="image 3" itemprop="image" /></a>
                        </div>
                        <div class="model-select">
                            <h2><a href="">GT Premium Fastback</a></h2>
                        </div>
                        <div class="model-content body derivative-price" data-derivativeid="1178838995427">
                        </div>
                        <div class="model-cta">
                            <a href="model-enhance-detail.html" class="button btn-det">
                                <span class="label-link">Model Details</span>
                            </a>
                            <a href="#" class="button btn-com">
                                <span class="label-link">Compare Model</span>
                            </a>
                        </div>                            
                    </div>
                </div>
                <div class="model-container small-12 large-4 xlarge-3 columns end">
                    <a href="#" class="close-vehicle"></a>
                    <div class="model-data">
                        <div class="model-placeholder">
                            <a href=""><img class="show-for-large-up" src="media/showroom/img6.jpg" alt="image 3" itemprop="image" /></a>
                        </div>
                        <div class="model-select">
                            <h2><a href="">Trend</a></h2>
                        </div>
                        <div class="model-content body derivative-price" data-derivativeid="1178840220080">
                        </div>
                        <div class="model-cta">
                            <a href="model-enhance-detail.html" class="button btn-det">
                                <span class="label-link">Model Details</span>
                            </a>
                            <a href="#" class="button btn-com">
                                <span class="label-link">Compare Model</span>
                            </a>
                        </div>                            
                    </div>
                </div>
            
        </section>
    </div>
</div>


<div class="row fullwidth mw-footer"></div>


</div>
</section>
 
<!-- End of Model Walk -->

<!-- Start of Disclaimer -->
<!--#include file="common/disclaimer.html" -->
<!-- End of Recall -->

</div>

<!--#include file="common/page-footer.html" -->

</div>
<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

<script id="rest-services" type="text/x-json">
{
	"common.user-agent": "/servlet/rest/common/user-agent",
	"owner.status": "/servlet/rest/owner/status",
	"owner.dealer": "/servlet/rest/owner/{site}/dealer",
	"pts.yearmodel": "/servlet/rest/pts/yearmodels/{site}/{locale}",
	"pts.yearvehicle": "/servlet/rest/pts/yearvehicle/{site}/{year}/{model}/{locale}",
	"pts.vin": "/servlet/rest/pts/vin/{site}/{vin}/{locale}",
	"dealer.code": "/servlet/rest/dealers/{site}/code/{code}",
	"recalls.vin": "/servlet/rest/gcamp/process/{site}/{vin}",
	"owner.campaign": "/servlet/rest/owner/usercampaign/{site}/campaigns",
	"voiUrl": "/servlet/rest/tools/vdm/{site}/{makeName}/voi?exclude=",
	"colorUrl": "/servlet/rest/tools/buildandprice/{site}/{priceZone}/derivative/{derivative}/colours-trims",
	"dealer.byCityUrl": "/servlet/rest/dealers/{site}/city/{city}",
	"dealer.byRegionCityUrl": "/servlet/rest/dealers/{site}/region/{region}/city/{city}",
	"dealer.byRegionUrl": "/servlet/rest/dealers/{site}/region/{region}",
	"dealer.byAddressUrl": "/servlet/rest/dealers/{site}/location/{location}",
	"dealer.name": "/servlet/rest/dealers/{site}/name/{name}",
	"dealer.byLocationName": "/servlet/rest/dealers/{site}/location/{location}/name/{name}",
	"model.derivatives": "/servlet/rest/tools/tool2/{site}/{priceZone}/models-derivatives",
	"derivative.category-features": "/servlet/rest/tools/tool2/{site}/{priceZone}/results/derivatives/all/{categoryids}",
	"brochure.request": "/servlet/rest/tools/buildandprice/{site}/{priceZone}/brochures",
	"sync.update": "/servlet/rest/vin/{site}/download",
	"capped.pricevehicles": "/servlet/rest/cappedprice/cappedpricecalc/{site}?model=allvehicles",
	"capped.pricemodel": "/servlet/rest/cappedprice/cappedpricecalc/{site}?model={model}",
	"capped.pricepdf": "/servlet/rest/tools/cappedpricecalcpdf/{site}?model={model}&style={style}&engine={engine}&interval={months}",
	"applink.request": "/servlet/rest/tools/appcatalog?category={applinksarg}",
	"captcha.validation": "/servlet/rest/forms/validate-captcha",
	"psn": "/servlet/rest/psn/content/{site}/WEB/{assettype}/{contentid}",
	"nameplates": "/servlet/ContentServer?pagename=Foundation/Json/nameplate-collections&nameplate={nameplate}&type={type}&site={site}",
	"rvv": "/servlet/rest/tools/buildandprice/{site}/{priceZone}/models",
	"offersURL.region": "/hotdeals/{site}/region/{region}",
	"xhr-hotdeals-data": "/servlet/ContentServer?pagename=DFY/HotDeals/Regionator&site=FOA&sitetype=web"
}
</script>

<script id="controlTexts" type="text/x-json">
{
	"more":" ...more",
	"less":" less &#9652;"
}
</script>


<script id="modelwalk-config" type="text/x-json">
{
	"formattedDate": "../../carve/gux/rest/common/dateformat/{site}/formatted-date.json?{yyyyMMdd}",
	"modelData": "../../carve/gux/rest/tools/comparator/FOA/results/derivatives/derivatives.json?{modelIds}",
	"compareTemplate": "../../carve/gux/model-walk-compare.html",
	"imageUrl": "../../carve/gux/media/showroom/img2.jpg",
	"formattedPrice": "$%1",
	"overlayUrl": "/servlet/Satellite?c=DFYArticle&cid={overlayId}&pagename={site}/controller&site={site}",
	"selectMsg": {
	    "zero" : "Compare Selected Models",
	    "one" : "Select a model",
	    "other" : "Select {} Models"
	}
}
</script>

<!--<script id="modelwalk-config" type="text/x-json">-->
<!--{-->
<!--"formattedDate": "/servlet/rest/common/dateformat/{site}/{yyyyMMdd}",-->
<!--"modelData": "/servlet/rest/tools/comparator/{site}/results/derivatives/{modelIds}",-->
<!--"compareTemplate": "../../carve/gux/model-walk-compare.html",-->
<!--"imageUrl": "../../carve/gux/media/showroom/img2.jpg"-->
<!--}-->
<!--/script-->

<!--#include file="common/json/common-config.html" -->

<!--#include file="common/json/mpz-config.html" -->



<script id="tmpl-price-main" type="text/x-jquery-tmpl">
<p class="price">Drive away away price from <span class="blockStyle">${price}<span class="citation"><sup data-disclosure="1">1</sup></span></span>
{{if hotDealUrl}}
<a class="offers" href="${hotDealUrl}" title="Latest Offers">
    <span class="icon icon-offer"></span>
    <span class="label-link">View all offers</span>
</a>
{{/if}}
</p>
</script>
        
<script id="tmpl-price-links" type="text/x-jquery-tmpl">
    {{if postcode}}
    <p class="calc-price">
        <span class="prices-shown">Prices for <span class="priceDate"></span> <br />Postcode <a href="needjs.html" class="get-postcode-usage postcode">${postcode}</a> Usage Type <a href="needjs.html" class="get-postcode-usage">${usageLabel}</a></span>
        <a class="citation fill-by-text" data-title="this is a title">
            <span class="icon icon-info"></span>
            <span class="text">this is a paragrah</span>
        </a>
    </p>
    {{else error}}
    <p>
        ${error}
        <span class="block">To determine price for <span class="priceDate"></span></span> 
        <a href="needjs.html" class="get-postcode-usage">Enter a Location</a>
        <a class="citation fill-by-text" data-title="this is a title">
            <span class="icon icon-info"></span>
            <span class="text">this is a paragrah</span>
        </a>
    </p>
    {{else loading}}
    <p>
        Working.
        <br /><span class="loading"></span> 
    </p>
    {{else}}
    <p>
        <span class="block">To determine price for <span class="priceDate"></span></span> 
        <a href="needjs.html" class="get-postcode-usage">Enter a Location</a>
        <a class="citation fill-by-text" data-title="this is a title">
            <span class="icon icon-info"></span>
            <span class="text">this is a paragrah</span>
        </a>
    </p>
    {{/if}}
</script>
<script id="price-urls" type="text/x-json">
{
    "xhr-calcprice-data":"rest/common/polk/GetPrices.js",
    "xhr-calcprice-form":"overlay-calculateprice.html?v2"
}
</script>

<!-- Start of popup modal -->
<div id="modalWrap" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <a href="#" class="icon icon-close" data-dismiss="modal">close</a>
        <div class="modal-content">
            <div class="row fullwidth">
                <div class="large-12 columns">
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of popup modal -->
<script id="inner-popup" type="text/template">
	<div class="inner-popup">
		<a class="close-popup" href="#"></a>
			<div class="header">
				<h5>Disclosure</h5>
			</div>
		<div class="content"></div>
	</div>
</script>
</body>