

    #body .mobile-only{display:none;}
    #body .mobile-hide{display:block;}

    .cal-progress{margin:32px auto;}

    .cal-section > .head{margin:0 10px;}
	.cal-section > .head.arrow h3{background:url("../../lincoln-common/img/arrow_right.png") no-repeat scroll right center;}
	.cal-section > .head.arrow.active h3{background:url("../../lincoln-common/img/arrow_down.png") no-repeat scroll right center;}

    .cal-section .row{margin:10px auto 15px;position:relative;}
    .cal-section .row .item{padding:0 10px;position:relative;}
    .cal-section .row.series{padding:0 4px;margin:10px auto 20px;}
    .cal-section .row.series .item{width:33.3%;padding:0 7.5px;}
    .cal-section .row.model .item{width:50%;}
    .cal-section .row.model .item .info .title{margin:0;}
    .cal-section .row.grid-3 .item{width:33.3%;}
    .cal-section .row.grid-4 .item{width:25%;}
    .cal-section .row.grid-5 .item{width:20%;}
    .cal-section .row.grid-extra .item{width:33.3%;}
 	.cal-section .row.grid-extra .item.extra{width:50%;}
 
    .cal-section .row .item .info {margin-top: 0;}
    .cal-section .row .item .info, .cal-section .row .item .controller{width:70%;}
    .cal-section .row.series .item .info, .cal-section .row.series .item .controller{width:85%;}
    .cal-section .row.series .item .info .title{font-size:17px;margin:0;}
    .cal-section .row.series.grid-4 .item .info .title, .cal-section .row.series.grid-5 .item .info .title{font-size:14px;}
    .cal-section .row.series.grid-4 .item .info .price, .cal-section .row.series.grid-5 .item .info .price{font-size:14px; color:#000;}
    .cal-section .row.series.grid-4 .item .info .price .tag{vertical-align: 4px;}
    .cal-section .row.model .item .info .price, .cal-section .row.model .item.selected .info .price{padding:10px 0 0 0;}
    .cal-section .row.model .item .info .price, .cal-section .row.series .item .price{margin:0;}
    .cal-section .row.model .item.selected .info .title{border-bottom: 1px solid #4f4c43;}

    .cal-section .row.model .item.selected .info, .cal-section .row.model .item.selected .controller{background:none;color:#000;margin: auto;}

    .cal-section .row.model .item.unselected{display:block;}
    .cal-section .row.series .item .controller{display:none;}
    .cal-section .row.series .item .info .price{margin: 0;}
    .cal-section .row.series .item .info .price .controller{width:auto;display:inline-block;padding:0 15px 0 0;vertical-align:sub;}

    .cal-section > .error{padding:5px 15px;margin-top: 20px;}

    .cal-section .row.large{margin:30px auto 34px;padding:0 90px;}
    #body .cal-section .row.large .change-vehicle{position:relative;top:0;width:20%;}

    .cal-section .row.summary{margin:0;padding:0 90px;}
    .cal-section .row.summary .column{padding:0 10px 0 0;width:50%;}
    .cal-section .row.summary .column.sum{padding:0 0 0 0;width:300px;float:right;}
    .cal-section .row.summary .column .row .controller #slider .ui-slider-handle{padding-left:12px;}
    .cal-section .row.summary .column .row .controller.inputform{margin-top:18px;}
	.cal-section .row.summary .column.sum .row>.title{border-bottom:1px solid #a9a9a9;}
    .cal-section .row.summary .column .row .title{margin-bottom:0px;font-size:20px;}
    .cal-section .row.summary .column.sum .row .content{margin-top: 27px;}
    .cal-section .row.summary .column.sum .row .content table + p,.cal-section .row.summary .column.sum .row .content table + p +p  {text-align:left;}
    .cal-section .row.summary .column.sum>.button{margin-top:0;}
	.cal-section .row.package-feature{padding:0 90px 28px 90px;}
	.cal-section .row.package-feature .content{margin:5px 10px 13px 10px;}

    .cal-section .row.tab{margin-bottom:11px;padding:0 90px;}
    .cal-section .row.tab .options{margin-top:0;}
    .cal-section .row.tab .tabs{padding:0;border-bottom:1px solid #a9a9a9;float:left;width:100%;}
    .cal-section .row.tab .tabs li:first-child{padding-left:20px; padding-right:44px;}
    .cal-section .row.tab .tabs li{display:inline-block;height:40px;float:left;padding:0 30px 0 20px;background:#cccccc url("../../lincoln-common/img/triangle-arrow-black.png") no-repeat scroll right center;position:relative;width: 195px;border-left:1px solid white;border-right:1px solid white;}
    .cal-section .row.tab .tabs li + li{border-left:1px solid white;}
    .cal-section .row.tab .tabs li a{color:#000;line-height:40px;font-family:"Miller-B-Roman",Times New Roman,SimHei,"黑体",STHeiti,"华文黑体",serif;}
    .cal-section .row.tab .tabs li.active{background:#000000 url("../../lincoln-common/img/triangle-arrow-down.png") no-repeat scroll right center;border-bottom: 2px solid #b45f1a;}
    .cal-section .row.tab .tabs li .arrow{display:none;background:url("../../lincoln-common/img/arrow_down.png") no-repeat scroll right center;width:10px;height:9px;position:absolute;left:50%;top:40px;margin-left:-5px;}
    .cal-section .row.tab .tabs li.active .arrow{display:none;}
    .cal-section .row.tab .content{padding:25px 0 10px 0;}
    .cal-section .row.tab.ew-packages{padding:0;}
    .cal-section .row.tab.ew-packages .tabs{margin-bottom:20px;border-bottom:none;}
    .cal-section .row.tab.ew-packages .tabs li{width:190px;padding:0 30px 2px 10px;border-bottom: 2px solid white;}
    .cal-section .row.tab.ew-packages .tabs li.active{border-bottom: 2px solid #b45f1a;}
    .cal-section .row.disclaimer{padding:0 90px;margin-top:50px;}

	.call-to-action{border-bottom: 2px solid #c47428;}
    .call-to-action .button{padding:0 0 0 45px;display:inline-block;box-sizing:content-box;left:auto;margin:0;}

    .anchor-bar{display:none;}
    #footer{padding:0;}
    .cal-section .row.summary .column .row .controller .slide-block{width:80%;}



    .cal-section .row.summary .column .row .controller .head{width:17%;}
    .cal-section .row.summary .column .row .controller label.price{width:80%;}
    .cal-section .row.summary .column .row .controller label.price.ballon{width:60%;}
    .cal-section .row.summary .column .row .controller label.rate{width:17%;}
    .cal-section .row.summary .column .row .controller input[type='text'],
    .cal-section .row.summary .column .row .controller input[type='number']{width:60%;font-size:16px;}
    .cal-section .row.summary .column .row .error{margin-left:80px;width:80%;}
	.cal-section .row.summary .column .row .title + p {width: 100%;}
    .cal-section .row.summary .column .row .bar_ins{margin-bottom:0;}
    .cal-section .row.summary .column .row.ew-packages p{margin-bottom:0;}
    .cal-section .button.button-continue .icon-featurebtn{padding: 10px 54px 10px 34px;width: auto;     background: url("../../lincoln-common/img/triangle-arrow.png") 100% 50% no-repeat rgb(79,76,67);}
    .cal-section .featurebtn{width:auto;}

    .cal-section .row.summary .column .row .controller{margin-top:28px;}
    .cal-section .row.summary .column .row .controller.payment{margin-top:15px;margin-bottom:45px;}
    .cal-section .row.summary .column .row .controller.balloon{margin-bottom:42px;}
    .cal-section .row.summary .column .row > p{margin-top: 26px;}
    .cal-section .row.summary .column .row .controller.terms-small{margin-top: 10px;}
    .cal-section .row.summary .column.sum .row{margin-bottom: 50px;}

    .cal-section .row.summary .column.sum .row .content table + p{margin: 11px 0;}
    .cal-section .row.summary .column.sum .row p{margin: 11px 0;}
    .cal-section .row.summary .column.sum .row .content table tbody{padding: 13px 20px 5px;}