H1, H2, H3, H4, H5, H6, UL, OL, LI, P, SPAN, A, FORM, IMG {float:none !important; width:auto !important; height:auto !important;}
A {text-decoration:none; color:#000;}
#jumplinks {display:none;}
IMG {border:none;}

BODY {font-family:Arial,Tahoma,Helvetica,San Serif;font-size:80%;}
DIV, H1, H2, H3, H4, H5, H6, UL, OL, LI, P {line-height:1.6em;}

#badge A {display:none;}
#badge IMG {display:block;}

#breadcrumb {display:block; padding-left:0px;}
#breadcrumb  LI {display:inline; padding-left:0px; padding-right:10px; font-weight:bold;}
#breadcrumb  LI A {padding-right:10px;}
#breadcrumb  LI:after {content:"/";}
#breadcrumb  LI.last:after {content:"";}

.pagination {display:block; padding-left:0px;}
.pagination LI {display:inline; padding-left:0px; padding-right:10px;}

#nav,
#subnav,
#leftnav,
#language,
.search-pannel,
#eyebrow,
#nav-footer,
#badge-footer,
#overlay,
#footer-links ul,
#language,
.rss-addthis,
.socialmedia-wrapper,
.featurecarousel .controls,
.news-global .pagination-dots,
.back-to-top,
.gallery .tooltip h5,
.gallery .item > p,pagination
.flash-loaded,
.button-ocean,
.buttons,
.start-over,
.dealer-results-map .print,
a.icon-print,
.validate-simple-msg,
#aside #SearchSYNC,
#feedback
{display:none !important;} 

.showroom,
.featurecarousel,
.derivatives,
.gallery
,#content-highlights {display:table;}
.showroom .row,
.featurecarousel ul,
.derivatives .row,
.gallery .row
,#content-highlights .items {display:table-row;}
.showroom .item,
.featurecarousel li,
.derivatives .derivative,
.gallery .item
,#content-highlights .items .item {display:table-cell; position:relative; padding:1.5em 0.5em 0.5em 0.5em;}
.ie7 .showroom .item,
.ie7 .featurecarousel li,
.ie7 .derivatives .derivative,
.ie7 .gallery .item,
.ie7 #content-highlights .items .item {display:inline;zoom:1;vertical-align:top;}

.showroom .item h3 {text-transform:uppercase;}
.showroom .item h4 {position:absolute; top:0px; left:0px; }

td, th {padding:0.3em;}
tbody tr th {text-align:left;}

#disclaimer p {font-size:90%;}

.gallery .item IMG {border:1px solid #999;}

label {display:block;}

/*Bean Map print style*/
#content .content-high {width:100%}
#dealer-map {width:85%}

.dealer-results-controls h2 {margin:10pt 0 0 0;}

#dealer-results-map {width:92%;}
#dealer-results-map th.first {width:120pt; text-align:left; padding:0;}
#dealer-results-map th{border-bottom:1pt solid black; text-align:left;}
#dealer-results-map td {vertical-align:top;}

.dealer-form-siderbar .group{display:table;}
.dealer-form-siderbar .group .compact{display:table-row;}
.dealer-form-siderbar .group .compact label {display:table-cell; width:120pt; padding-right:5pt; font-weight:bold;}
 .dealer-form-siderbar .group .compact input {display:table-cell;}


#map-directions-panel .group {display:table; margin-top:10pt;}
#map-directions-panel .group .compact {display:table-row;}
#map-directions-panel .group .compact label {display:table-cell; width:120pt; padding-top:5pt; padding-right:5pt; font-weight:bold;}
#map-directions-panel .group .compact input {display:table-cell; padding-top:5pt;}

.map-directions {width:92%; border-collapse:collapse; padding:0;}
.map-directions td.total {font-weight:bold; text-indent:-3pt;}
.map-directions td.dist {text-align:right;}


#aside .fbform input {border:none;}

.syncpanel ul li.current{font-weight:bold}
/*----------------------------------------------------------------------*/
body.pts,
.pts #content,
.pts #page,
.pts #position,
.pts #header,
.pts #body,
.pts #content
{float:none;max-width:none;padding:0;margin:0;width:auto;height:auto;}

.pts #badge{margin:4px 0 0 4px;padding:0;position:static;}


.ptslist{padding:0 4px;page-break-after:always;}
.ptslist:last-child{page-break-after:avoid;}
.ptslist .cross,span.tick,span.circle,span.sign{display:block; width:12px !important; height:20px !important; overflow:hidden; text-indent:-999px; margin:0 auto; background:transparent url('../img/icons.png') scroll no-repeat left -1835px;}
.ptslist .cross{background-position:left -1834px;}
.ptslist span.tick{background-position:left -1855px;}
.ptslist span.circle{background-position:left -1875px;}
.ptslist span.sign{background-position:0 -2018px;}
.ptslist span.three-star, span.two-star, span.one-star, span.zero-star{display:block; width:44px !important; height:15px !important; overflow:hidden; text-indent:-999px; margin:0 auto; background:transparent url('../img/icons.png') scroll no-repeat left -1910px; }
.ptslist span.three-star{background-position:left -1900px;}
.ptslist span.two-star{background-position:left -1919px;}
.ptslist span.one-star{background-position:left -1938px;}
.ptslist span.zero-star{background-position:left -1957px;}


.ptslist h1{font-size:18px}


.ptslist .tabkey{padding:0}
.ptslist .tabkey li{background:none;float:left !important;list-style:none;padding-right:80px}
.ptslist .tabkey li span{text-indent:14px;margin:0;width:auto !important}
.ptslist .fullwidth{border-left: 1px solid #000;border-right: 1px solid #000;border-spacing:0;clear: left;margin-top:1em}
.ptslist .models, .pts .head a, .pts sup, .pts td a{display:none;}
.ptslist .head form{float:left;}
.ptslist .head h3{float:left;margin:0 0 0 40px}


.ptslist th{padding-left:1em;vertical-align:bottom;text-align:left;}
.ptslist th{border-bottom:1px solid #000;border-top:1px solid #000}


.ptslist td{border-bottom:1px solid #000;border-right:1px solid #000;border-top:1px solid #000;font-size:12px;text-align:center;vertical-align:middle;}
.ptslist td:first-child{border-right:none}
.ptslist td:last-child{border-right:none}

.ptslist .alleft{text-align:left;padding-left:1em}
.ptslist .brand{background-color:#dedede;}
.ptslist .brand td{border-right:none;text-align:left;padding-left:1em}
.ptslist .brand .carr{border-right:1px solid #000}


.ptstips{clear:left}
.ptstips ul{padding:0.4em 0 0 0.4em}
.ptstips ul > li{background:none;color;font-size:13px;list-style:none;padding:0}


