<style type="text/css">
.help-block1 { margin:0px 10px;color: #c09853;vertical-align: middle;}
</style>
<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="alert alert-block alert-new">
	<a class="close" data-dismiss="alert">×</a>
	<h4 class="alert-heading">抢月饼商品设置</h4>
	<table>
		<tbody>	
	
			<tr>
				<th>活动标题</th>
				<td><input type="text" name="title" value="{$reply['title']}" class="span7"> 
				<input id="type_1" type="hidden" name="type" value="1"></td>
			</tr>
			<tr>
				<th>活动时间</th>
				<th><input class="datepicker span2" id="datepicker_start_time" name="start_time" type="text" value="{php echo date('Y-m-d H:i', $reply['start_time'])}"/> <span class="help-block1">至</span> <input class="datepicker  span2" id="datepicker_end_time" name="end_time" type="text" value="{php echo date('Y-m-d H:i', $reply['end_time'])}"/></th>
			</tr>
			
			<tr>
				<th>关注页面</th>
				<td>
				<input type="text" name="moonurl" value="{$reply['moonurl']}" class="span7"> 
				<div class="help-block"><b>【一定要添加】在公众号平台素材库里新建图文，把网址填在上面。比如介绍如何关注本公众号,发送什么关键字参与活动，可以参照上面的链接！</b></div>
				</td>
			</tr>
			<tr>
				<th>商品图片</th>
				<td>
						<div style="display:block; margin-top:5px;" class="input-append">
						<input type="text" value="{$reply['picture']}" name="picture" id="upload-image-url-picture" class="span3" autocomplete="off">
						<input type="hidden" value="{$picture}" name="picture_old" id="upload-image-url-picture-old">
						<button class="btn" type="button" id="upload-image-picture">选择图片</button>
						</div>
						<div id="upload-image-preview-picture" style="margin-top:10px;"><img src="{$picture}" width="100%" /></div><div class="help-block">大图片建议尺寸：宽500px，高不限</div>
				</td>
			</tr>
			
		
			
			<tr>
				<th>奖品获取规则</th>
				<td>
					<textarea style="height:200px; width:535px;" class="span7 richtext-clone" name="content" cols="70" id="reply-add-text">{$reply['content']}</textarea>					
					<div class="help-block">分享图文的详细内容（注意在内容最后加上分享示意图提示）</div>
				</td>
			</tr> 			
		

	
		
			
			
			<tr>
				<th colspan="2"><h4 class="alert-heading">抢月饼参数设置</h4></th>
			</tr>
				<tr>
				<th>需要月饼个数</th>
				<td><input type="text" name="moonnum" value="{$reply['moonnum']}" class="span1"><div class="help-block">需要集多少个月饼才可以领取奖励。</div></td>
			</tr>
			<tr>
				<th>内定排名</th>
				<td>
						<label for="ndrankstatus_1" class="radio inline"><input id="ndrankstatus_1" type="radio" name="ndrankstatus" value="1" {if $reply['ndrankstatus'] == '1'}checked="checked"{/if}> 开启内定排名</label>
						<label for="ndrankstatus_0" class="radio inline"><input id="ndrankstatus_0" type="radio" name="ndrankstatus" value="0"  {if $reply['ndrankstatus'] == '0'}checked="checked"{/if}> 关闭内定排名</label>
				</td>
            </tr>			
			<tr class="msgdnd{if $reply['ndrankstatus'] == '0'} hide{/if}">
				<th>排名数量</th>
				<td>
					<input type="text" name="ndrankstatusnum" class="span1" value="{$reply['ndrankstatusnum']}" />
					<div class="help-block">内定前几名。比如：你想定内前三名，就输入3即可</div>
				</td>
			</tr>
			
			
			<tr class="msgd1{if $reply['moon_show'] == '1'} hide{/if}">
				<th>助抢者显示数量</th>
				<td><input type="text" name="moon_shownum" value="{$reply['moon_shownum']}" class="span1"><div class="help-block">助抢者显示多少名</div></td>
			</tr>
			</div>
	
			<tr class="msgds{if $reply['moon_rankshow'] == '1'} hide{/if}">
				<th>排名显示数量</th>
				<td><input type="text" name="moon_ranknum" value="{$reply['moon_ranknum']}" class="span1"><div class="help-block">排名榜显示多少名</div></td>
			</tr>
			<tr>
				<th>助抢周期</th>
				<td>
					    <label for="moon_numtype_0" class="radio inline"><input id="moon_numtype_0" type="radio" name="moon_numtype" value="0" {if $reply['moon_numtype'] == '0'}checked="checked"{/if}> 只能一次(该功能失效，请使用重复助抢)</label>
						<label for="moon_numtype_1" class="radio inline"><input id="moon_numtype_1" type="radio" name="moon_numtype" value="1"  {if $reply['moon_numtype'] == '1'}checked="checked"{/if}> 可重复助抢</label>
						<span class="moon_numtypes{if $reply['moon_numtype'] == '0'} hide{/if}"><input type="text" name="moon_num" class="span1" value="{$reply['moon_num']}" /><span class="help-block1">天一次</span></span>
					<div class="help-block">请选择再输入天数即可，例如：3 每三天重复助抢一次。</div>
				</td>
			</tr>
			<input type="hidden" name="moon_type" value="1"> 
			

			
			
			
			
			
			
			
			
			
		  
		 
		
		</tbody>
	</table>	
</div>
<script type="text/javascript" src="./resource/script/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="./resource/script/kindeditor/lang/zh_CN.js"></script>
<link type="text/css" rel="stylesheet" href="./resource/script/kindeditor/themes/default/default.css" />
<script type="text/javascript">
	var editor = KindEditor.editor({
		allowFileManager : true,
		uploadJson : "./index.php?act=attachment&do=upload",
		fileManagerJson : "./index.php?act=attachment&do=manager",
		afterUpload : function(url, data) {
		}
	});
	$("#upload-image-picture").click(function() {
		editor.loadPlugin("image", function() {
			editor.plugin.imageDialog({
				tabIndex : 1,
				imageUrl : $("#upload-image-url-picture").val(),
				clickFn : function(url) {
					editor.hideDialog();
					var val = url;
					if(url.toLowerCase().indexOf("http://") == -1 && url.toLowerCase().indexOf("https://") == -1) {
						var filename = /images(.*)/.exec(url);
						if(filename && filename[0]) {
							val = filename[0];
						}
					}
					$("#upload-image-url-picture-old").val($("#upload-image-url-picture").val());
					$("#upload-image-url-picture").val(val);
					$("#upload-image-preview-picture").html('<img src="'+url+'" width="100%" />');
				}
			});
		});
	});
	$("#upload-image-dingpic").click(function() {
		editor.loadPlugin("image", function() {
			editor.plugin.imageDialog({
				tabIndex : 1,
				imageUrl : $("#upload-image-url-dingpic").val(),
				clickFn : function(url) {
					editor.hideDialog();
					var val = url;
					if(url.toLowerCase().indexOf("http://") == -1 && url.toLowerCase().indexOf("https://") == -1) {
						var filename = /images(.*)/.exec(url);
						if(filename && filename[0]) {
							val = filename[0];
						}
					}
					$("#upload-image-url-dingpic-old").val($("#upload-image-url-dingpic").val());
					$("#upload-image-url-dingpic").val(val);
					$("#upload-image-preview-dingpic").html('<img src="'+url+'" width="100" />');
				}
			});
		});
	});
	$("#upload-image-zanpic").click(function() {
		editor.loadPlugin("image", function() {
			editor.plugin.imageDialog({
				tabIndex : 1,
				imageUrl : $("#upload-image-url-zanpic").val(),
				clickFn : function(url) {
					editor.hideDialog();
					var val = url;
					if(url.toLowerCase().indexOf("http://") == -1 && url.toLowerCase().indexOf("https://") == -1) {
						var filename = /images(.*)/.exec(url);
						if(filename && filename[0]) {
							val = filename[0];
						}
					}
					$("#upload-image-url-zanpic-old").val($("#upload-image-url-zanpic").val());
					$("#upload-image-url-zanpic").val(val);
					$("#upload-image-preview-zanpic").html('<img src="'+url+'" width="100" />');
				}
			});
		});
	});
	$("#upload-image-shangjiapic").click(function() {
		editor.loadPlugin("image", function() {
			editor.plugin.imageDialog({
				tabIndex : 1,
				imageUrl : $("#upload-image-url-shangjiapic").val(),
				clickFn : function(url) {
					editor.hideDialog();
					var val = url;
					if(url.toLowerCase().indexOf("http://") == -1 && url.toLowerCase().indexOf("https://") == -1) {
						var filename = /images(.*)/.exec(url);
						if(filename && filename[0]) {
							val = filename[0];
						}
					}
					$("#upload-image-url-shangjiapic-old").val($("#upload-image-url-shangjiapic").val());
					$("#upload-image-url-shangjiapic").val(val);
					$("#upload-image-preview-shangjiapic").html('<img src="'+url+'"  width="100%" />');
				}
			});
		});
	});
</script>
<link type="text/css" rel="stylesheet" href="./resource/style/datetimepicker.css" />
<script type="text/javascript" src="./resource/script/datetimepicker.js"></script>
<script type="text/javascript">
		$("#datepicker_start_time").datetimepicker({
			format: "yyyy-mm-dd hh:ii",
			minView: "0",
			//pickerPosition: "top-right",
			autoclose: true
		});
		$("#datepicker_end_time").datetimepicker({
			format: "yyyy-mm-dd hh:ii",
			minView: "0",
			//pickerPosition: "top-right",
			autoclose: true
		});
		kindeditor($('.richtext-clone'));
</script>	
<script type="text/javascript">
	$(function(){
		var option = {};
	    {if !empty($reply['lng']) && !empty($reply['lat'])}
	    option = {'point' : {'lng' : '{$reply['lng']}', 'lat' : '{$reply['lat']}'}}
	    {/if}
	    bmap.init(option);	    
		$(':radio[name="ndrankstatus"]').click(function(){
			if($(':radio[name=ndrankstatus]:checked').val() == '1') {
				$('.msgdnd').show();
			} else {
				$('.msgdnd').hide();
			}
		});
		$(':radio[name="moon_show"]').click(function(){
			if($(':radio[name=moon_show]:checked').val() == '0') {
				$('.msgd0').show();
				$('.msgd1').show();
			} else {
				$('.msgd0').hide();
				$('.msgd1').hide();
			}
		});
		$(':radio[name="moon_rankshow"]').click(function(){
			if($(':radio[name=moon_rankshow]:checked').val() == '0') {
				$('.msgds').show();
			} else {
				$('.msgds').hide();
			}
		});
		$(':radio[name="shangjia"]').click(function(){
			if($(':radio[name=shangjia]:checked').val() == '1') {
				$('.shangjiamsgds').show();
			} else {
				$('.shangjiamsgds').hide();
			}
		});
		$(':radio[name="moon_numtype"]').click(function(){
			if($(':radio[name=moon_numtype]:checked').val() == '1') {
				$('.moon_numtypes').show();
			} else {
				$('.moon_numtypes').hide();
			}
		});
	});
</script>
<script type="text/javascript" src="./resource/script/cascade.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script type="text/javascript">
cascdeInit('{$setting['province']}','{$setting['city']}','{$setting['dist']}'); //开启地区三级联动
var bmap = {
	'option' : {
		'lock' : false,
		'container' : 'baidumap',
		'infoWindow' : {'width' : 250, 'height' : 100, 'title' : ''},
		'point' : {'lng' : 116.403851, 'lat' : 39.915177}
	},
	'init' : function(option) {
		var $this = this;
		$this.option = $.extend({},$this.option,option);

		$this.option.defaultPoint = new BMap.Point($this.option.point.lng, $this.option.point.lat);
		$this.bgeo = new BMap.Geocoder();
		$this.bmap = new BMap.Map($this.option.container);
		$this.bmap.centerAndZoom($this.option.defaultPoint, 15);
		$this.bmap.enableScrollWheelZoom();
		$this.bmap.enableDragging();
		$this.bmap.enableContinuousZoom();
		$this.bmap.addControl(new BMap.NavigationControl());
		$this.bmap.addControl(new BMap.OverviewMapControl());
		//添加标注
		$this.marker = new BMap.Marker($this.option.defaultPoint);
		$this.marker.setLabel(new BMap.Label('请您移动此标记，选择您的坐标。', {'offset':new BMap.Size(10,-20)}));
		$this.marker.enableDragging();
		$this.bmap.addOverlay($this.marker);
		//$this.marker.setAnimation(BMAP_ANIMATION_BOUNCE);
		$this.showPointValue($this.marker.getPosition());
		//拖动地图事件
		$this.bmap.addEventListener("dragging", function() {
			$this.setMarkerCenter();
			$this.option.lock = false;
		});
		//缩入地图事件
		$this.bmap.addEventListener("zoomend", function() {
			$this.setMarkerCenter();
			$this.option.lock = false;
		});
		//拖动标记事件
		$this.marker.addEventListener("dragend", function (e) {
			$this.showPointValue();
			$this.showAddress();
			$this.bmap.panTo(new BMap.Point(e.point.lng, e.point.lat));
			$this.option.lock = false;
			$this.marker.setAnimation(null);
		});
	},
	'searchMapByAddress' : function(address) {
		var $this = this;
		 $this.bgeo.getPoint(address, function (point) {
			if (point) {
				$this.showPointValue();
				$this.showAddress();
				$this.bmap.panTo(point);
				$this.setMarkerCenter();
			}
		});
	},
	'searchMapByPCD' : function(address) {
		var $this = this;
		$this.option.lock = true;
		$this.searchMapByAddress($('#sel-provance').val()+$('#sel-city').val()+$('#sel-area').val());
	},
	'setMarkerCenter' : function() {
		var $this = this;
		var center = $this.bmap.getCenter();
		$this.marker.setPosition(new BMap.Point(center.lng, center.lat));
		$this.showPointValue();
		$this.showAddress();
	},
	'showPointValue' : function() {
		var $this = this;
		var point = $this.marker.getPosition();
		$('#lng').val(point.lng);
		$('#lat').val(point.lat);
	},
	'showAddress' : function() {
		var $this = this;
		var point = $this.marker.getPosition();
		$this.bgeo.getLocation(point, function (s) {
			if (s) {
				$('#address').val(s.address);
				if (!$this.option.lock) {
					cascdeInit(s.addressComponents.province,s.addressComponents.city,s.addressComponents.district);
				}
			}
		});
	}
};
</script>