{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo create_url('site/module', array('do' => 'addquestion', 'name' => 'fighting'));}">添加题目</a></li>
	<li class="active"><a href="">管理题目</a></li>
	<li><a href="{php echo create_url('site/module', array('do' => 'ShowPlay', 'name' => 'fighting'));}">活动列表</a></li>
</ul>
<div class="main">
	<div class="search">
		<form action="{php echo create_url('site/module', array('do' => 'editok', 'name' => 'fighting'));}" method="post">
			<input type="hidden" name="id" value="{$list['id']}" />
		<table class="table table-bordered tb">
			<tbody>
				<tr>
					<th>题目</th>
					<td>
							<input class="span8" name="question" id="" type="text" value="{$list['question']}">
					</td>
				</tr>
				 
				<tr>
					<th>分值</th>
					<td>
							<input class="span4" name="figure" id="" type="text" value="{$list['figure']}">
					</td>
				</tr>
				<tr>
					<th>正确答案</th>
					<td>
							<input class="span4" name="answer" id="" type="text" value="{$list[answer]}"><span>例如  A </spam>
					</td>
				</tr>
				 
				<tr>
					<th>选项A</th>
					<td>
							<input class="span6" name="optionA" id="" type="text" value="{$list['optionA']}">
					</td>
				</tr>
				<tr>
					<th>选项B</th>
					<td>
							<input class="span6" name="optionB" id="" type="text" value="{$list['optionB']}">
					</td>
				</tr>
				<tr>
					<th>选项C</th>
					<td>
							<input class="span6" name="optionC" id="" type="text" value="{$list['optionC']}">
					</td>
				</tr>
				<tr>
					<th>选项D</th>
					<td>
							<input class="span6" name="optionD" id="" type="text" value="{$list['optionD']}">
					</td>
				</tr>
				<tr>
					<th>选项E</th>
					<td>
							<input class="span6" name="optionE" id="" type="text" value="{$list['optionE']}">
					</td>
				</tr>
				<tr>
					<th>选项F</th>
					<td>
							<input class="span6" name="optionF" id="" type="text" value="{$list['optionF']}">
					</td>
				</tr>
				 <tr class="search-submit">
					<td colspan="2"><input type="submit" name="edit" value="完成编辑" class="btn pull-right span2"></td>
				 </tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
{template 'common/footer'}
