{template 'common/header'}
<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="alert alert-block alert-new">
	<a class="close" data-dismiss="alert">×</a>
	<h4 class="alert-heading">设置活动信息</h4>
	<table>
		<tbody>
			<!--
			{if !empty($reply['id'])}
			 <tr>
				<th>查看内容</th>
				<td><a href="{php echo create_url('site/module', array('do' => 'userlist', 'name' => 'user', 'id' => $reply['rid']))}">查看会员名单</a></td>
			</tr>{/if} -->
			<tr>
				<th>活动标题</th>
				<td>
					<input type="text" id="" class="span7" placeholder="" name="title" value="{$reply['title']}">
				</td>
			</tr>        
			
			 <tr>
				<th>背景封面</th>
				<td>
					 <div id="" class="uneditable-input reply-edit-cover">
						<div class="detail">
							<span class="pull-right">大图片建议尺寸：700像素 * 300像素</span>
							<input type="button" id="picture" fieldname="picture{$namesuffix}" class="btn btn-mini reply-edit-cover-upload" value="<i class='icon-upload-alt'></i> 上传" style="" />
							<button type="button" class="btn btn-mini reply-news-edit-cover-remove" id="upload-delete" onclick="doDeleteItemImage(this, 'picture-value')" style="{if empty($reply['picture'])} display:none;{/if}"><i class="icon-remove"></i> 删除</button>
						</div>
						{if !empty($reply['picture'])}
						<input type="hidden" name="picture-old" value="{$reply['picture']}">
						<div id="upload-file-view" class="upload-view">
							<input type="hidden" id="picture-value" value="{$reply[picture]}">
							<img width="100" src="{$_W['attachurl']}{$reply['picture']}">&nbsp;&nbsp;
						</div>
						{else}
						<div id="upload-file-view"></div>
						{/if}
					</div>
				</td>
			</tr> 
			<tr>
				<th>题目个数</th>
				<td>
					<input type="text" id="" class="span4" placeholder="" name="qnum" value="{$reply['qnum']}">
				</td>
			</tr>
			
			<tr>
				<th>答题时间</th>
				<td>
					<input type="text" id="" class="span4" placeholder="" name="answertime" value="{$reply['answertime']}"><span>单位：秒 若不作限制请设置为0</span>
				</td>
			</tr>
			<tr>
				<th>活动状态</th>
				<td>
					<div class="radio inline"><input type="radio" name="status_fighting" value="2" id="status_02" {if $reply['status_fighting'] == '2'}checked="true"{/if}><label for="status_02">结束</label></div>
					<div class="radio inline"><input type="radio" name="status_fighting" value="1" id="status_01" {if $reply['status_fighting'] == '1'}checked="true"{/if}><label for="status_01">暂停</label></div>
					<div class="radio inline"><input type="radio" name="status_fighting" value="0" id="status_00"  {if $reply['status_fighting'] == '0'}checked="true"{/if}><label for="status_00">正常</label></div>
					<div class="help-block">可以随时暂停或结束活动的进程</div>
				</td>
			</tr>
			<tr>
				<th>活动时间</th>
				<td>
					{if !empty($reply['start'])}
					<button style="margin:0;" class="btn span5" id="date-range" type="button"><span class="date-title">{php echo date('Y-m-d', $reply['start'])} 至 {php echo date('Y-m-d', $reply['end'])}</span> <i class="icon-caret-down"></i></button>
					<input name="start" type="hidden" value="{php echo date('Y-m-d', $reply['start'])}" />
					<input name="end" type="hidden" value="{php echo date('Y-m-d', $reply['end'])}" />
					{else}
					<button style="margin:0;" class="btn span5" id="date-range" type="button"><span class="date-title">{php echo date('Y-m-d')} 至 {php echo date('Y-m-d')}</span> <i class="icon-caret-down"></i></button>
					<input name="start" type="hidden" value="{php echo date('Y-m-d')}" />
					<input name="end" type="hidden" value="{php echo date('Y-m-d')}" />
					{/if}
				</td>
			</tr>
			
			<tr>
				<th>是否开启强制分享状态</th>
				<td>
					<div class="radio inline"><input type="radio" name="is_shared" value="0" id="is_shared_00" {if $reply['is_shared'] == '0'}checked="true"{/if}><label >否</label></div>
					<div class="radio inline"><input type="radio" name="is_shared" value="1" id="is_shared_01" {if $reply['is_shared'] == '1'}checked="true"{/if}><label>是</label></div>
					<div class="help-block">如果开启，那么每次查看排名前必须要分享好友</div>
				</td>
			</tr>
			
			<tr>
				<th>活动简介</th>
				<td>
					<textarea style="height:50px;" name="description" class="span7" cols="60">{$reply['description']}</textarea>
					<div class="help-block">用于活动的简单介绍</div>
				</td>
			</tr>
			 <tr>
				<th>引导关注网址</th>
				<td>
				<input type="text" name="shareurl" value="{$reply['shareurl']}" class="span7"> 
				<div class="help-block">你可以在公众号平台素材库里新建图文，把网址填在上面。未关注用户即可通过此网址引导一键关注，也只有官方的公众号平台素材库才能做这个一键关注功能！</div>
				</td>
			</tr>	
 		</tbody>
	</table>
 </div>
 <link type="text/css" rel="stylesheet" href="./resource/style/daterangepicker.css" />
<script type="text/javascript" src="./resource/script/daterangepicker.js"></script>
<script>
$(function() {
	//详细数据相关操作
	$('#date-range').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: $(':hidden[name=start]').val(),
        endDate: $(':hidden[name=end]').val(),
        locale: {
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '至',
            weekLabel: '周',
            customRangeLabel: '日期范围',
            daysOfWeek: moment()._lang._weekdaysMin.slice(),
            monthNames: moment()._lang._monthsShort.slice(),
            firstDay: 0
        }
    }, function(start, end){
        $('#date-range .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
        $(':hidden[name=start]').val(start.format('YYYY-MM-DD'));
        $(':hidden[name=end]').val(end.format('YYYY-MM-DD'));
    });
});
</script>
<script type="text/javascript">
kindeditor($('#rule'));
kindeditorUploadBtn($('#picture'));
</script>
{template 'common/footer'}