{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo create_url('site/module', array('do' => 'addquestion', 'name' => 'fighting'));}">添加题目</a></li>
	<li><a href="{php echo create_url('site/module', array('do' => 'detail', 'name' => 'fighting'));}">管理题目</a></li>
	<li><a href="{php echo create_url('site/module', array('do' => 'ShowPlay', 'name' => 'fighting'));}">活动列表</a></li>
	<li class="active"><a href="">排名信息</a></li>
</ul>
<div class="main">
	<div class="search">
		<table class="table table-bordered tb">
			<div class="sub-item" id="table-list">
					<form action="" method="post" onsubmit="">
					<div class="sub-content">
						<table class="table table-hover2">
							<thead class="navbar-inner">
								<tr>
									<th style="width:40px;" class="row-first">选择</th>
									<th style="width:100px;">编号<i></i></th>
									<th style="width:150px;">昵称<i></i></th>
									<th class="width:150px;">活动<i></i></th> 
									<th style="width:200px;">最后答题时间<i></i></th>
									<th style="width:100px;">最后得分<i></i></th>
									<th style="width:110px;">操作</th>
								</tr>
							</thead>
							<tbody>
								{loop $list $row}
								<tr>
									<td class="row-first"><input type="checkbox" name="select[]" value="{$row['id']}" /></td>
									<td style="text-align:left;">{$row['id']} </td>
									<td>
										<div class="mainContent">
											<div class="nickname" style="text-align:left;">{$row[nickname]}</div>
										</div>
									</td>
									<td style="text-align:left;">{$seriesArr[$row['fid']]}</td>
									<td style="text-align:left;">{php echo date('Y-m-d h:i:s', $row[lasttime]);}</td>
									<td style="text-align:left;font-size:12px; color:#666;">
										<div style="margin-bottom:10px;">{$row[lastcredit]}</div>
									</td>
									<td style="text-align: left;">
										<a href="{php echo create_url('site/module', array('do' => 'worngquestion', 'name' => 'fighting', 'id' => $row[id]))}">查看错误答题</a>
										<a href="{php echo create_url('site/module', array('do' => 'EditPlayer', 'name' => 'fighting', 'id' => $row[id]))}">修改</a>
										<a href="{php echo create_url('site/module', array('do' => 'delquestion', 'name' => 'fighting', 'id' => $row[id]))}">删除</a>
									</td>
								</tr>
								{/loop}
							</tbody>
						</table>
						<table class="table">
							<tr>
								<td style="width:40px;" class="row-first"><input type="checkbox" onclick="selectall(this, 'select');" /></td>
								<td colspan="4">
									<input type="button" value="导出Excel" class="btn btn-info" onclick="exportExcel()"/>
									<input type="submit" name="delete" value="删除选中" class="btn btn-primary" />
									<input type="hidden" name="token" value="{$_W['token']}" />
								</td>
							</tr>
						</table>
					</div>
					</form>
					{$pager}
				</div>
		</table>
	</div>
</div>
<script>
$(function() {
	//详细数据相关操作
	var tdIndex;
	$("#table-list thead").delegate("th", "mouseover", function(){
		if($(this).find("i").hasClass("")) {
			$("#table-list thead th").each(function() {
				if($(this).find("i").hasClass("icon-sort")) $(this).find("i").attr("class", "");
			});
			$("#table-list thead th").eq($(this).index()).find("i").addClass("icon-sort");
		}
	});
	$("#table-list thead th").click(function() {
		if($(this).find("i").length>0) {
			var a = $(this).find("i");
			if(a.hasClass("icon-sort") || a.hasClass("icon-caret-up")) { //递减排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-down");
			} else if(a.hasClass("icon-caret-down")) { //递增排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-up");
			}
			$("#table-list thead th,#table-list tbody:eq(0) td").removeClass("row-hover");
			$(this).addClass("row-hover");
			tdIndex = $(this).index();
			$("#table-list tbody:eq(0) tr").each(function() {
				$(this).find("td").eq(tdIndex).addClass("row-hover");
			});
		}
	});
});

function exportExcel(){
	window.location.href="{php echo create_url('site/module', array('do' => 'export', 'name' => 'fighting', 'id' => $id))}";
	return false;
}
</script>

{template 'common/footer'}
