a:hover, a:active, a:focus {outline:none;}
body {min-width:300px;}
// For fixing active color when tap on mobile devices
a {-webkit-tap-highlight-color: rgba(0,0,0,0); }

// grey separator line
.separator div {height:1px; background-color:$divider-gray;}

// set module background 
.bg-white {background-color:#FFF;}
.bg-beige {background-color:#F7F7F7;}

// set gutter between full-bleed images
.full-bleed-gutter {padding-top:5px; background-color:#FFF;}

.row.fullwidth {width:100%; max-width:100%;}
.row.fullwidth .columns,.row.fullwidth .column {padding:0;}

.revealer-vertical .hide {display:block;}

::-webkit-input-placeholder {color:$dark-gray;}
:-moz-placeholder {color:$dark-gray; opacity:1;}
::-moz-placeholder {color:$dark-gray; opacity:1;}
:-ms-input-placeholder {color:$dark-gray;}

// rtl
body.rtl, .rtl {direction:rtl;}

@media screen and (max-width:1300px){
	.reveal-modal { 
		.postcode-form, dialog .postcode-form {width:82%;}
	}
}
@media screen and (max-width:940px){
	#page-wrapper {padding:0 10px;}
	.ui-dialog {left: 50% !important; margin: 0 0 0 -350px; width: 700px !important;}
	#dialog .postcode-form {width:70%;}
	#dialog h2 {font-size:25px;}
	.search-filter div label {font-size:11px;}
	.search-filter .custom-checkbox {margin:0 8px 0 0;}
	.search-filter input[type="text"][disabled] {font-size:13px;}
	#pageheader #nav ul li{font-size:11px;}
	.offer-feature {
		.hotspot {
			.nameplate {font-size:24px;}
			.derivative {font-size:15px;}
			ul li:first-child {margin:0;}
		}
	}
	#offer-details {
		 .tabs-area .tab-links {right:-115px;}
		.aside {
			.tab-area span {font-size:15px;}
			.outer dl dt {width:51%;}
			.outer dl dd {width:47%;}
			.calculate-service h4 {font-size:12px;}
			.search-dealership input[type="text"]{width:88%; font-size:13px;}
			.sorting-area ul li {margin:0 0 0 12%;}
			.latest-offers .single-offer {
				.image-area {display:block; width:100%; margin:0 auto 10px; text-align:center;}
				ul {width:100%;}
			}
		}
	}
	.reveal-modal { width:90%;
		.postcode-form, dialog .postcode-form {width:90%;}
	}
}
@media screen and (max-width:767px) {
	#page-wrapper {padding:0 10px;}
	.search-filter {display:none; position:absolute; left:0; top:0; width:100%; z-index:5; background:#fff;}
	.results-area {float:none; width:100%; padding:0;}
	.results-area .no-search-results .text {font-size:22px;}
	.results-area .single-result {width:44%; margin:0 0 20px;}
	.results-area .sorting .text {display:none;}
	#pageheader { margin:0 0 10px;
		#nav {padding:20px; border:1px solid $primary-blue; text-align:left;
			&:before {content:""; position:absolute; left:47%; width:1px; height:191px; background:url(../img/separator.png) no-repeat 50% 0;}
		}
		#nav ul {width:110%;}
		#nav ul li {float:none; display:inline-block; vertical-align:top; width:49%; margin:0 0 20px; font-size:15px;}
		.menu-button {padding:5px 17px 4px;}
		.header-wrap {
			.post-code {width:100%; float:none; overflow:hidden;}
			.post-code .text {float:left; width:50%; text-align:left;}
			.post-code a {float:right; width:50%;}
			h1 {margin:0 0 10px; font-size:28px; width:100%;}
			.post-code {font-size:13px;}
		}
	}
	.flex-control-nav li {margin:0 4px;}
	.flex-control-paging li a {width:6px; height:6px;}
	.flex-control-nav {bottom:-6px;}
	.flex-control-paging li a.flex-active {transform:scale(1, 1)}
	.results-area .single-result img {width:107px; height:80px;}
	.filter-options {display:block;}
	.flex-direction-nav a {width:27px; height:27px;}
	.flex-direction-nav .flex-next {background:url(../img/icon-next-mobile.png) no-repeat; margin-top:-27px;}
	.flex-direction-nav .flex-prev {background:url(../img/icon-prev-mobile.png) no-repeat;}
	.ui-dialog {left: 50% !important; margin: 0 0 0 -160px; width: 320px !important;}
	.reveal-modal {
		.postcode-form {width:100%;}
		.postcode-form .input-holder label {width:100%; margin:0 0 15px;}
		.postcode-form .input-holder input[type="text"] {width:100%;}
		h2 {font-size:30px;}
		.postcode-form input[type="submit"]{width:100%;}
	}
	.search-filter div label {font-size:13px;}
	.search-filter .close-update {display:block !important;}
	.offer-feature .flexslider, .offer-feature .hotspot {float:none; width:100%;}
	.back-to-main {margin:2px 0 19px 10px;}
	.offer-feature {
		.hotspot {padding:8px 0;}
		.hotspot .hotspot-image {display:inline-block; vertical-align:middle; width:50%;}
		.hotspot .text {display:inline-block; vertical-align:middle; width:48%; margin:0;}
		.hotspot .price-link {margin:22px 0 2px;}
		.hotspot ul {display:none;}
	}
	#offer-details {
		.heading-two {margin:0 0 14px 27px;}
		.tabs-area {width:100%;}
		.tabs-area .tab-links {position:static; margin:20px 0;}
		.tabs dd, #offer-details .tabs .tab-title {width:100%;}
		.aside .latest-offers .single-offer {
			.image-area {display:inline-block; vertical-align:top; width:30%;}
			ul {display:none;}
			.text {display:inline-block; vertical-align:top; width:65%;}
		}
	}
	.results-area {
		.sorting .price-filter, .results-area .sorting li {width:50%;}
		.sorting .price-filter, .sorting .price-filter.downarrow {background-position:63% 60%;}
		.sorting li:first-child {display:none;}
		.sorting .default-filter {width:50%;}
	}
	.reveal-modal .postcode-form .input-holder input.postcode, dialog .postcode-form .input-holder input.postcode {width:100%;}
	.tabs-area {display:none;}
	#offer-details .aside {float:none; width:100%; margin:0; border-top:none;}
	.calculate-service {display:none;}
	#offer-details .mobile-tabs {display:block;}
	#offer-details .tab-links {position:static; margin:22px 0 15px; text-align:center;
		li {float:none; display:inline-block; vertical-align:top; width:29%;}
	}
	.watch-video {display:none;}
	.disclaimer {margin:15px 0;}
}
@media screen and (max-width:480px) {
	.no-offer-found {height:85px;}
	.row .large-9.right {width:100%;}
	#page-wrapper {padding:0 10px;}
	#pageheader #badge a {width:180px;}
	#pageheader .header-wrap h1 {line-height:31px; margin:23px 0 4px 8px;}
	#pageheader .header-top .menu-button {font-size:11px; padding:5px 13px;}
	.offer-feature {padding:0 10px;}
	#pageheader .header-wrap .post-code {padding:6px 0 0	;}
	#disclaimer {margin:0 0 8px; padding:7px 10px 0;}
	.filter-options { background:$primary-blue url(../img/icon-filter-options.png) no-repeat 10px 9px; padding:11px 0; margin:0 0 14px; font-size:15px;}
	.results-area {
		.holder {padding:10px 4px 0; width:102%; margin:0;}
		.single-result {width:49%;}
		.sorting .price-filter, .sorting .price-filter.downarrow {background-position:75% 60%; border-left:1px solid #e0e0de;} 
		.single-result span, .results-area .single-result span.name {font-size:12px; line-height:16px;}
		.sorting .holder {width:100%;}
	}
	.reveal-modal {min-height:inherit; width:100%; top:0;}
	.ui-dialog .ui-dialog-titlebar-close {width:100%; height:100%; background:$primary-blue;}
	.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {text-indent:0; color:#fff; text-align:right; margin:0 30px 0 0; top:7px; font:20px/25px "Antenna-Light";}
	.ui-state-default .ui-icon {left:auto; right:0; top:9px; background:url(../img/btn-close-mob.png) no-repeat; }
	.note {padding:0 10px;}
	.reveal-modal .postcode-form .input-holder input.postcode {width:100%;}
	.offer-feature {
		.hotspot .nameplate {font-size:20px; margin:0; line-height:16px;}
		.hotspot {
			.derivative {margin:0;}
			.text {font-size:13px; line-height:15px;}
			.hotspot-image {width:46%; margin:0;}
			.price-link {margin:0 0 2px; padding:7px 0;}
			.inner-holder {margin:0 0 10px;}
		}
	}
	#offer-details {
		.tabs-area .tab-links {margin:28px 0 14px;}
		.tabs-area .tab-links li {width:146px;}
		.text-holder, .feature-details {padding:0 10px;}
		.tab-links li {width:48%;}
		h2, h3 {margin:9px 10px 20px;}
	}
	.flex-control-nav {bottom:-5px;}
	/*.mobile-tabs ul li:first-child {border-top:1px solid #e0e0de;} */
	.heading-two {margin:0 0 14px 10px;}
}