// @mixins

// We use this to add shadow to texts
@mixin text-shadow($h-shadow:1px, $v-shadow:1px, $blur:3px, $color:rgba(0,0,0,0.3)) {
  text-shadow: $h-shadow $v-shadow $blur $color;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// We use this to scall element
@mixin scale-element($width, $height){
	@include transform(scale($width, $height));
}

// We use this to translate elements in 3D
@mixin translate3d($x:0, $y:0, $z:0, $important:no) {
	@if $important == isImportant{
	  transform: translate3d($x,$y,$z) !important;
	  -ms-transform: translate3d($x,$y,$z) !important;
	  -webkit-transform: translate3d($x,$y,$z) !important;
	  -moz-transform: translate3d($x,$y,$z) !important;
	}
	@else{
		transform: translate3d($x,$y,$z);
	  	-ms-transform: translate3d($x,$y,$z);
	  	-webkit-transform: translate3d($x,$y,$z);
	  	-moz-transform: translate3d($x,$y,$z);
	}
		
}

// We user this to verticle align DIVs
@mixin vertical-align {
	position:relative;
	top:50%;
	@include transform(translateY(-50%));
}