/* Antenna fonts declaration */
@font-face {
    font-family: "Antenna-Regular";
    src:    url("../fonts/antenna-regular/a249ec5c-51a0-4581-a866-722ded577e7d-2.eot");
    src:    url("../fonts/antenna-regular/a249ec5c-51a0-4581-a866-722ded577e7d-2.eot?#iefix") format("embedded-opentype"),
            url("../fonts/antenna-regular/a249ec5c-51a0-4581-a866-722ded577e7d-3.woff") format("woff"),
            url("../fonts/antenna-regular/a249ec5c-51a0-4581-a866-722ded577e7d-1.ttf") format("truetype"),
            url("../fonts/antenna-regular/a249ec5c-51a0-4581-a866-722ded577e7d-4.svg#Antenna-Regular") format("svg");
}
@font-face {
    font-family: "Antenna-Bold";
    src:    url("../fonts/antenna-bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-2.eot");
    src:    url("../fonts/antenna-bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-2.eot?#iefix") format("embedded-opentype"),
            url("../fonts/antenna-bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-3.woff") format("woff"),
            url("../fonts/antenna-bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-1.ttf") format("truetype"),
            url("../fonts/antenna-bold/85bf2123-24cb-4bfd-a720-efe63c68c84d-4.svg#Antenna-Bold") format("svg");
}
@font-face {
    font-family: "Antenna-Light";
    src:    url("../fonts/Antenna-Light/39ab3e39-bb44-43df-a570-b883a82bfbaf-2.eot");
    src:    url("../fonts/Antenna-Light/39ab3e39-bb44-43df-a570-b883a82bfbaf-2.eot?#iefix") format("embedded-opentype"),
            url("../fonts/Antenna-Light/39ab3e39-bb44-43df-a570-b883a82bfbaf-3.woff") format("woff"),
            url("../fonts/Antenna-Light/39ab3e39-bb44-43df-a570-b883a82bfbaf-1.ttf") format("truetype"),
            url("../fonts/Antenna-Light/39ab3e39-bb44-43df-a570-b883a82bfbaf-4.svg#Antenna-Condensed-Bold") format("svg");
}
@font-face {
    font-family: 'ford_antennalight';
    src: url('../fonts/fordantenna-light/fordantenna-light-webfont.eot');
    src: url('../fonts/fordantenna-light/fordantenna-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fordantenna-light/fordantenna-light-webfont.woff') format('woff'),
         url('../fonts/fordantenna-light/fordantenna-light-webfont.ttf') format('truetype'),
         url('../fonts/fordantenna-light/fordantenna-light-webfont.svg#ford_antennalight') format('svg');
}
@font-face {
    font-family: 'ford_antennasemibold';
    src: url('../fonts/fordantenna-semibold/fordantenna-semibold-webfont.eot');
    src: url('../fonts/fordantenna-semibold/fordantenna-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fordantenna-semibold/fordantenna-semibold-webfont.woff') format('woff'),
         url('../fonts/fordantenna-semibold/fordantenna-semibold-webfont.ttf') format('truetype'),
         url('../fonts/fordantenna-semibold/fordantenna-semibold-webfont.svg#ford_antennasemibold') format('svg');
}
@font-face {
    font-family: 'ford_antenna_regularbold';
    src: url('../fonts/fordantenna-bold/fordantenna-bold-webfont.eot');
    src: url('../fonts/fordantenna-bold/fordantenna-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fordantenna-bold/fordantenna-bold-webfont.woff') format('woff'),
         url('../fonts/fordantenna-bold/fordantenna-bold-webfont.ttf') format('truetype'),
         url('../fonts/fordantenna-bold/fordantenna-bold-webfont.svg#ford_antenna_regularbold') format('svg');
}
@font-face {
    font-family: 'ford_antennamedium';
    src: url('../fonts/fordantenna-medium/fordantenna-medium-webfont.eot');
    src: url('../fonts/fordantenna-medium/fordantenna-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fordantenna-medium/fordantenna-medium-webfont.woff') format('woff'),
         url('../fonts/fordantenna-medium/fordantenna-medium-webfont.ttf') format('truetype'),
         url('../fonts/fordantenna-medium/fordantenna-medium-webfont.svg#ford_antennamedium') format('svg');
}