{template 'common/header'}

<div class="main">

	<form action="" method="post" class="form-horizontal form">

		<h4>新年签设置</h4>

		<table class="tb">
		<tr>
			<th>第一签标题</th>

				<td>

					<input type="text" name="title1" class="span5" value="{$settings['title1']}" /> 
				</td>
				</tr>
	
		<tr class="type2">
			<th><label for="">第一签图文</label></th>
			<td>
				{php echo tpl_form_field_image('pic1', $settings['pic1']);}
				<span class="help-block"></span>
			</td>
		</tr>
		
			<tr>
			<th>第一签链接</th>

				<td>

					<input type="text" name="url1" class="span5" value="{$settings['url1']}" /> 
				</td>
				</tr>

		
			<tr>
			<th>第二签标题</th>

				<td>

					<input type="text" name="title2" class="span5" value="{$settings['title2']}" /> 
				</td>
				</tr>
	
		<tr class="type2">
			<th><label for="">第一签图文</label></th>
			<td>
				{php echo tpl_form_field_image('picurl', $settings['pic1']);}
				<span class="help-block"></span>
			</td>
		</tr>
		
			<tr>
			<th>第一签链接</th>

				<td>

					<input type="text" name="url1" class="span5" value="{$settings['url1']}" /> 
				</td>
				</tr>

		<tr>
		
			<tr>
			<th>第一签标题</th>

				<td>

					<input type="text" name="title1" class="span5" value="{$settings['title1']}" /> 
				</td>
				</tr>
	
		<tr class="type2">
			<th><label for="">第一签图文</label></th>
			<td>
				{php echo tpl_form_field_image('picurl', $settings['pic1']);}
				<span class="help-block"></span>
			</td>
		</tr>
		
			<tr>
			<th>第一签链接</th>

				<td>

					<input type="text" name="url1" class="span5" value="{$settings['url1']}" /> 
				</td>
				</tr>

		<tr>
		
			<tr>
			<th>第一签标题</th>

				<td>

					<input type="text" name="title1" class="span5" value="{$settings['title1']}" /> 
				</td>
				</tr>
	
		<tr class="type2">
			<th><label for="">第一签图文</label></th>
			<td>
				{php echo tpl_form_field_image('picurl', $settings['pic1']);}
				<span class="help-block"></span>
			</td>
		</tr>
		
			<tr>
			<th>第一签链接</th>

				<td>

					<input type="text" name="url1" class="span5" value="{$settings['url1']}" /> 
				</td>
				</tr>

		<tr>
		
			<tr>
			<th>第一签标题</th>

				<td>

					<input type="text" name="title1" class="span5" value="{$settings['title1']}" /> 
				</td>
				</tr>
	
		<tr class="type2">
			<th><label for="">第一签图文</label></th>
			<td>
				{php echo tpl_form_field_image('picurl', $settings['pic1']);}
				<span class="help-block"></span>
			</td>
		</tr>
		
			<tr>
			<th>第一签链接</th>

				<td>

					<input type="text" name="url1" class="span5" value="{$settings['url1']}" /> 
				</td>
				</tr>

		<tr>
		
			<tr>
			<th>第一签标题</th>

				<td>

					<input type="text" name="title1" class="span5" value="{$settings['title1']}" /> 
				</td>
				</tr>
	
		<tr class="type2">
			<th><label for="">第一签图文</label></th>
			<td>
				{php echo tpl_form_field_image('picurl', $settings['pic1']);}
				<span class="help-block"></span>
			</td>
		</tr>
		
			<tr>
			<th>第一签链接</th>

				<td>

					<input type="text" name="url1" class="span5" value="{$settings['url1']}" /> 
				</td>
				</tr>

		<tr>
		
			<tr>
			<th>第一签标题</th>

				<td>

					<input type="text" name="title1" class="span5" value="{$settings['title1']}" /> 
				</td>
				</tr>
	
		<tr class="type2">
			<th><label for="">第一签图文</label></th>
			<td>
				{php echo tpl_form_field_image('picurl', $settings['pic1']);}
				<span class="help-block"></span>
			</td>
		</tr>
		
			<tr>
			<th>第一签链接</th>

				<td>

					<input type="text" name="url1" class="span5" value="{$settings['url1']}" /> 
				</td>
				</tr>

		<tr>
		
			<tr>
			<th>第一签标题</th>

				<td>

					<input type="text" name="title1" class="span5" value="{$settings['title1']}" /> 
				</td>
				</tr>
	
		<tr class="type2">
			<th><label for="">第一签图文</label></th>
			<td>
				{php echo tpl_form_field_image('picurl', $settings['pic1']);}
				<span class="help-block"></span>
			</td>
		</tr>
		
			<tr>
			<th>第一签链接</th>

				<td>

					<input type="text" name="url1" class="span5" value="{$settings['url1']}" /> 
				</td>
				</tr>

		<tr>
		
		
		
		
		
		
			<tr>

				<th></th>

				<td>

					<input name="submit" type="submit" value="提交" class="btn btn-primary span3" />

					<input type="hidden" name="token" value="{$_W['token']}" />

				</td>

			</tr>
			
	

		</table>

	</form>

</div>
<script type="text/javascript">
<!--
	kindeditor($('.richtext-clone'));
//-->
</script>
{template 'common/footer'}