.rotate-slider {margin-bottom:4em;
	h1 {text-align:center; margin:0 0 26px; padding:0 14%;}
	.threesixty-slider {position:relative;
		.arrow-left, .arrow-right {position:absolute; left:30px; top:30%; background-position:-367px -578px; width:72px; height:71px; cursor:pointer; text-indent:-9999px; overflow:hidden; @include scale-element(0.8,0.8);}
		.arrow-right {background-position:-449px -578px; right:30px; left:auto;}
		.reel-preloader {
			&[style]{display: none !important;}
			position:absolute; left:50%; top:50%; margin:0 0 0 -16px; background-color:transparent; background-image:url('#{$img-path}/loader.gif'); background-repeat:no-repeat; width:32px; height:32px;}

	}
	@media #{$large-up} {
		.threesixty-slider {
			.arrow-left, .arrow-right {@include scale-element(1,1);}
			.arrow-left{left:65px; top:45%}
			.arrow-right {right:65px; top:45%}
		}
	}
}


