.accordion-block {

	.tab-item {
		.tab-nav {color:$cta-blue; font-family:$header-font-family; font-size:rem-calc(16); margin:0; padding:30px 20px; background-color:$gray-back; cursor:pointer; border-top:1px solid $border-gray; @include single-transition(background,0.6s,ease); 

			.icon-holder{display:inline-block; float:right; @include scale-element(0.7, 0.7);
				.icon-acc-arrow {@include single-transition(transform,0.2s,ease); margin-top:10px;}
			}
		}
		.tab-contents {margin:0; max-width:1250px; overflow:hidden; display: none;
			.content-holder{
				&.no-side-padding{
					.feature-item{padding:20px 0;}
				}

				.feature-item{padding:20px 6.597%; border-bottom:1px solid $border-gray;
					h1{font-size:rem-calc(32);}
					h2{font-family:$font-family-bold; font-size:rem-calc(18); padding-top:10px;}
					p{padding:0px;}
					table tr td  .vertical-middle-tooltip {position: relative;top: 6px;}
					ul{list-style-type:none;
						li{color:$text-gray; padding:6px 24px; vertical-align:top;
							span,a{position:absolute; margin-left:6px;}
							a{margin-top:3px;}
							&:before{position: relative; left: -32px; top: 12px; background-image: url("../img/svg/icons.svg"); display: block; background-repeat: no-repeat; background-position: -22px -750px; width: 3px; height: 3px; content: ' ';}
						}
					}
					.specs{
						table{width:100%;
							tr{
								td{ color:$text-gray;
									&:last-child{text-align:right; font-weight:bold; padding:14px; }
								}
							}
						}
					}
					&:last-child{border-bottom:none;}
				}
			}

		}
		.open {background-color:#fff;
			.icon-acc-arrow {@include transform(rotate(-180deg));}
		}


	}

		&.alt-theme {
		.tab-item {
			.tab-nav {color:#fff; font-family:$header-font-family; font-size:rem-calc(16); margin:0; padding:30px 20px; background-color:$dark-blue; cursor:pointer; border-top:1px solid $border-gray; @include single-transition(background,0.6s,ease); 

					.icon-holder{display:inline-block; float:right; @include scale-element(0.7, 0.7);
						.kba-arrow {display:inline-block; margin:20px 0; width:20px; height: 10px; background:url(../img/icons.png) no-repeat -792px -267px; @include single-transition(transform,0.2s,ease); margin-top:10px;}
					}
				}
				.tab-contents {background-color:$dark-blue; margin:0; max-width:1250px; overflow:hidden; display: none; padding-bottom:50px;}
				.open {background-color:$dark-blue;
					.kba-arrow {background: url(../img/icons.png) no-repeat -792px -267px; @include transform(rotate(-180deg));}
				}
			}
		}


	@media #{$large-up} {
		.tab-item {
			.tab-nav {padding:20px 6.597%;}
			.tab-contents {margin:0 6.597%;
				.content-holder{
					.feature-item{
						ul{
							li{display:inline-block; width:49%;
							}
						}
						.specs{
							table{width:60%;
							}
						}
					}
				}
			}
		}
	}

	@media #{$xlarge-up} {

		.tab-item {
			.tab-nav {font-size:rem-calc(24);
				.icon-holder {@include scale-element(1,1);}
			}
		}
	}

}

// For IE9 Specific Polyfill for Arrow ICON
.ie9{
	.accordion-block{
		.tab-item{
			.open{
				.icon-acc-arrow{-ms-transform:none; background-position:-977px -169px; width:23px; height:24px;}
			}
		}
	}
}