@import "flexslider";


.billboard-nameplate {position:relative; z-index:1;
  
  .loading {background-position:50% 70%;}

  .heading {z-index:2;
	h1 {font-size:rem-calc(24); line-height:1.2; @include text-shadow(1px,1px,1px,rgba(0,0,0,0.5)); @include single-transition; /*@include text-shadow*/;
	  span {display:block; font-family:$font-family-bold;}
	}
	h2 {font-size:rem-calc(21);}
	.button, .button.ui-link {margin-top:10px;}

	h2 {display:none; margin:15px 0 0 0; color:$text-gray; @include text-shadow(1px,1px,1px,rgba(0,0,0,0.5));
		&.sub-heading{display:block; font-size:rem-calc(16); color:#FFF; text-align:center;}
 	}
 	&.alt-theme{position:relative;
 		h1{color:$text-gray;}
 		.slides{.flex-control-nav{position:relative;}}
 	}
  }

  .bottom-heading {background:$gray-back;
  	h2{padding:6.597%; font-size:rem-calc(18); font-family:$font-family-light;}
  }

  
  .gradient {@include transform(rotate(-25deg)); width:200%; display:block; position:absolute; height:100%; @include gradient(rgba(0,0,0,1), rgba(0,0,0,0)); @include opacity(0.75); top:-400px; left:-520px; z-index:1;}

 
  .carousel {
	.slides li {-webkit-backface-visibility:visible;}
  }

  .link-cta {margin-top:10px;}
  .small-centered {
  	h1{text-align:center; font-size:rem-calc(32); padding:20px 0;}
  }
  @media #{$medium-up} {
	
	.heading {
	  h1 {font-size:rem-calc(38);}
	}
	.flex-direction-nav {position:absolute; right:-50px; bottom:50%; @include translate3d(0,0,0); @include single-transition(all,200ms,ease);}
	.carousel {
	  &:hover {
		.flex-direction-nav {right:0;} 
	  }
	}
  }

  @media #{$large-up} {
	.heading {top:65px; padding-left:30px;
		h1{margin:0; font-size:rem-calc(38);}
		h2 {display:block; color:#FFF; background:none; font-size:rem-calc(22);}
		 &.alt-theme{position:absolute;
	 		.flex-control-nav{position:absolute;}
	 	}
	}

	&.cta {
		.heading {top:150px;}
	}

	.link-cta {margin-top:0;}
  }

  @media #{$xlarge-up} {
	.heading {padding-left:8.33333333%; top:90px;
	  h1 {font-size:rem-calc(48);}
	}	  
  }

  @media #{$xxlarge-up} {
	.heading {
	  h1 {font-size:rem-calc(48);}
	}
  }
}