button:focus {outline:0}
.icon {display:inline-block; width:54px; height:54px; background-image:url('#{$img-path}/svg/icons.svg'); background-repeat:no-repeat;
 &[class^="icon-"]:before, &[class*=" icon-"]:before{content:none;}
}

.link-cta,
.billboard-cta {display:inline-block; color:#FFF; line-height:14px;
  .icon-link {float:right; background-position:2px 1px; @include scale-element(0.4,0.4); line-height: 52px; margin-right: -15px;}
  .label-link {display:inline-block; float:right; font-family:$cta-font-family; color:#FFF; @include single-transition; line-height: 52px;
    svg {@include single-transition;}
  }
  > span {display: inline-block;
    
  }
  &:hover {color:#FFF;
    .icon-link {background-position: -51px 0;}
  }
  &:visited {color:#FFF;}
  &:focus {color:#FFF;}
}

.link-cta {
  .label-link {font-size: rem-calc(16);}
}

.link-cta.alt-theme {color: $cta-blue;
  .icon-link {display:inline-block; background-position:-498px 0;}
  .label-link {color: $cta-blue;}
  &:hover {
   .icon-link {background-position: -552px 0;}
  }
}

.billboard-cta {
  .icon-link {display:block; margin:0 auto; background-position:-375px 0; @include scale-element(1,1); float:none;}
  .label-link {font-size:rem-calc(14);}
  &:hover {color:#FFF;
    .icon-link {background-position:-375px 0;}
  }
}

.billboard-cta.alt-theme {
    .icon-link {display:block; margin:0 auto; background-position:-436px 0; @include scale-element(1,1); float:none;}
    .label-link {font-size:rem-calc(14); color:$cta-blue;}
}

.link-search {display:inline-block;
  .icon-link {float:left; margin:0 auto 20px; background-position:-115px -80px;}
  .label-link {display:inline-block; float:left; font-family:$cta-font-family;}
  &:hover {
    .icon-link {background-position:-172px -80px;}
  }
}

.video-cta{background-position: -209px -690px; width: 31px; height: 31px; float:right; line-height: 52px; margin-right: -35px; margin-top:10px; @include scale-element(0.7,0.7);}

.view {
  &:hover {color:$text-gray;
    .icon-view-more {background-position:-989px -542px;}
  }
}

.icon-open {background-position:-613px 0; margin:0 auto 20px; text-indent:-999em;
  &:hover {background-position:-673px 0;}
}
.icon-close {@extend .icon-open; background-position:-741px 0; left:50%; top:5%; z-index:2000;
  &:hover {background-position:-801px 0;}
}

.icon-open-verticle-light {background-position:0 -80px; margin:0 auto; text-indent:-999em;
  &:hover {background-position:0px -204px;}
}

.icon-open-verticle-light.active {@include transform(rotate(45deg));}

.video-play {background-position:-798px -214px; width:106px; height:105px;}
.icon-phone {background-position:-230px -80px;}
.icon-email {background-position:-743px -80px;}
.icon-direction {background-position:-801px -80px;}
.icon-video {background-position:-878px 1px; width:53px;}
.icon-plus {background-position:-107px -142px;}
.icon-minus {background-position:-211px -142px;}
.icon-send {background-position:-345px -80px;}
.icon-search {background-position:-115px -80px;}
.icon-details {background-position:-555px -143px;}
.icon-speaker {background-position:-967px -566px;}
.icon-location {background-position:-343px -319px;}
.icon-competitor {background-position:-893px -335px;}
.icon-key {background-position:-636px -480px;}
.icon-brochure {background-position:-444px -408px;}
.icon-info {background-position:-326px -294px; width:22px; height: 22px;}
.icon-view-more {background-position:-989px -496px; width:11px; height:20px;}
.icon-acc-arrow{background-position:-981px -217px; width: 19px; height: 11px;}
.icon-bullet{background-position: 22px 753px; width: 3px; height: 3px;}

//SVG for KBA Buttons Open
.icon-build-price-solid{background-position:-60px -407px; width:54px; height:54px;}
.icon-request-quote-solid{background-position:0px -480px; width:54px;height:54px;}
.icon-get-brochure-solid{background-position:-443px -408px; width:54px; height:38px;}
.icon-test-drive-solid{background-position:-249px -691px; width:54px; height:54px;}
.icon-get-updates-solid{background-position:-572px -408px; width:54px; height:54px;}
.icon-incentives-solid{background-position:-830px -408px; width:54px; height:54px;}

// SVG for KBA Buttons Solid
.icon-build-price-open {width:54px; height:54px; background-position:-379px -691px;}
.icon-request-quote-open{width:54px; height:54px; background-position:-579px -691px;}
.icon-get-brochure-open{width:54px; height:54px; background-position:-516px -691px;}
.icon-test-drive{width:54px; height:54px; background-position:-314px -691px;}
.icon-get-updates-open{width:54px; height:54px; background-position:-743px -80px;}
.icon-incentives-open{width:54px; height:54px; background-position:-451px -691px;}

//PNG icons from PSD file:
.icon-phone {background-position:-230px -79px;} 
.icon-location {background-position:-856px -142px;}
.icon-direction {background-position:-801px -79px;}
.icon-remove {width:21px; height:21px; background-position:-621px -219px;}
.icon-compare-image {background-position: -113px -691px;width: 24px; height: 16px;}
.icon-compare-video {background-position: -141px -691px;width: 24px; height: 16px;}
//Latest Offers icon
.icon-offer {background-position:-123px -772px;}

.multi-buttons {
  .button {display:inline-block; min-width:240px; border:1px solid $cta-blue; color:#FFF; font-family:$button-font-family; background-color:$cta-blue;
    &:hover, &:focus, &.active {background-color:#FFF; color:$ford-blue; border-color:$ford-blue;}
  }
  .alt {border-color:$cta-blue; background-color:#FFF; color:$cta-blue;
    &:hover, &:focus {color:$ford-blue;}
  }
}

.multi-buttons.light {
  a {border:1px solid $cta-blue; color:$cta-blue;
    &:hover {background-color:$cta-blue; color:$ford-blue; border-color:$ford-blue;}
  }
  .alt {background-color:$cta-blue; color:#FFF;}
}

.listing-number {width:30px; height:30px; border-radius:50%; background-color:$cta-blue;
  p {margin:0; text-align:center; line-height:30px; color:#FFF; font-family:$font-family-RE;}
}

.button {padding-top:0.571rem; padding-bottom:0.571rem; transition:none; border:1px solid $cta-blue; box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.15); font-size:rem-calc(15);
  &:focus {background-color: $cta-blue; color: #FFF;}
  &:hover {background-color:#FFF; color:$ford-blue; border-color:$ford-blue;}
  &:active {box-shadow:none;}
  &.alt {color:$cta-blue; background-color:#FFF;
    &:hover, &:focus {color:$ford-blue; border-color:$ford-blue;}
        &.disabled{cursor: default;opacity:0.1;filter: alpha(opacity=0.1);}
  }
  .icon {display: inline;}
}
.ui-body-c a.button.alt {position: static;}

@media #{$large-up}{
  .button {padding-top:0.714rem; padding-bottom:0.786rem; font-size:rem-calc(18);}
  .link-cta {
    .label-link {font-size:rem-calc(16); font-family:$cta-font-family-tablet;}
    &.alt-theme {
      .icon-link {background-position:-498px 1px;}
      &:hover {
       .icon-link {background-position: -552px 1px;}
      }
    }
  }
  
  .billboard-cta {
    .icon-link {display:block; margin:0; background-position:2px 1px; @include scale-element(0.4,0.4); float:right;}
    .label-link {font-size:rem-calc(16);}
    &:hover {color:#FFF;
      .icon-link {background-position: -51px 0;}
    }
  }

  .billboard-cta.alt-theme {
    .icon-link {display:block; margin:0; background-position:-498px 1px; @include scale-element(0.4,0.4); float:right;}
    .label-link {font-size:rem-calc(16);}
    &:hover {color:#FFF;
      .icon-link {background-position:-552px 1px;}
    }
  }

  .multi-buttons, .multi-buttons.light {
    .alt {margin-left:15px;}
  }

  .icon-build-price-open {width:54px; height:54px; background-position:-379px -691px;  @include transform(scale(0.8));}
  .icon-request-quote-open{width:54px; height:54px; background-position:-579px -691px;  @include transform(scale(0.8));}
  .icon-get-brochure-open{width:54px; height:54px; background-position:-516px -691px;  @include transform(scale(0.8));}
  .icon-test-drive{width:54px; height:54px; background-position:-314px -691px;  @include transform(scale(0.8));}
  .icon-get-updates-open{width:54px; height:54px; background-position:-743px -80px;  @include transform(scale(0.8));}
  .icon-incentives-open{width:54px; height:54px; background-position:-451px -691px;  @include transform(scale(0.8));}

}
@media #{$xlarge-up} {
  .link-cta,
  .billboard-cta,
  .billboard-cta.alt-theme {
    .icon-link {@include scale-element(0.5,0.5);}
    .label-link {font-size:rem-calc(18);}
  }

  .video-cta{@include scale-element(0.9,0.9); margin-right: -40px;}

  
}
@media #{$xxlarge-up} {
  .link-cta,
  .billboard-cta,
  .billboard-cta.alt-theme {
    .icon-link {@include scale-element(0.6,0.6);}
    .label-link {font-size:rem-calc(21);}
  }

  .billboard-cta.alt-theme {
    .icon-link {background-position:-499px 2px;}
    &:hover .icon-link {background-position:-552px 2px;}
  }

  .video-cta{@include scale-element(1,1);}

}