.buzz {
  
    article {padding:42px 40px 38px; text-align:center;
        blockquote {position:relative; color:$text-gray; padding:0 10px; margin:30px 0; border:none; display:inline;
            &:before {content:"\201C"; font-size:rem-calc(20); position:absolute; top:0; left:0; height:10px; line-height:1;}
            &:after {content:"\201D"; font-size:rem-calc(20); position:absolute; bottom:10px; right:0; height:10px; line-height:1;}
            p {color:$text-gray; display:inline;}
        }
        a {margin-left:2px;}
    }

    .flexslider {padding:0 0 50px;
        .slides {
            img {width:auto; margin:0 auto 20px;}
        }
    }

    @media #{$large-up} {
        article {padding:92px 0 54px; text-align:center;
            .quote-wrap {max-width:680px; margin:0 auto;
                blockquote {
                    p {font-size:rem-calc(16);}
                }            
                a {font-size:rem-calc(16); margin-left:10px; font-family:$font-family-exlight;}
            }
        }

        .flex-control-nav {bottom:50px;}

        .flex-direction-nav {position:absolute; right:-50px; bottom:50%; @include translate3d(0,0,0); @include single-transition(all,200ms,ease);}
            .carousel {
            &:hover {
                .flex-direction-nav {right:0;} 
            }
        }
    }

}