.campaign-layer {position:relative; z-index:1;
  
   .loading {background-position:50% 70%;}

   .light-mobile-only {font-family:$font-family-light;}

   .light {font-family:$font-family-light;}

   .heading {z-index:2; top:46px;
      h1 {line-height:1.2; margin: 0; @include text-shadow(1px,1px,1px,rgba(0,0,0,0.5)); @include single-transition; margin:0 0 22px;
         .bold {display:block; font-family:$font-family-bold;}
      }
      &.align {top:50%; @include transform(translate(0,-50%));}
   }

   .billboard-content {
      article {margin: 6.597%;
        h2 {font-size:rem-calc(24);}
        p {font-size:rem-calc(16); margin-top:20px; color:$text-gray;}
      }
   }

  @media #{$large-up} {
      .light-mobile-only {font-family:inherit;}

      .heading {top:62px; padding-left:30px;
         &.align-mobile {top:50%; @include transform(translate(0,-50%));}
      }

       .billboard-content {
          article {margin:40px 6.597%; width:60%;
            h2 {font-size:rem-calc(28);}
            p {font-size:rem-calc(16);}
          }
       }
  }

   @media #{$xlarge-up} {
      .heading {padding-left:95px;}
   }

}