/*this is from FTD - for localization dropdown*/
.countrytab { border: 2px solid transparent; float: right; margin: 9px 0 0 9px; padding: 4px 0 8px 18px; position: relative;

	&:hover{background-color: #fff; border: 2px solid #7E848A; color: #000; box-shadow: 0 20px 20px #333; text-align: left;
		.country {left:auto; right: -2px; display: block; box-shadow: 0 20px 20px #333; margin-top:0; position:absolute; top:29px; z-index:10; font-weight:700;
			h3{margin-bottom:0; margin-top:0;}
		}	
	}

	h3{color: #0c508e; font-size: 10px; font-weight: 400; margin-right:0;text-align: left;cursor: pointer;}
	>h3{margin-right:24px; margin-left:0}

	.arrow {float: right !important; background: url('#{$img-path}/bits.png') no-repeat scroll -48px -99px transparent; display: block; float: right; height: 12px; margin:-15px 10px 0 0; width: 12px; width:6px; height:6px;}

	.country { border-radius: 4px; background-color: #FFF; border-bottom: 2px solid #7E848A; min-width: 290px; left:auto; right: -2px; display: none;
		h3 { background-color: #6D737A; color: #fff; padding: 1em 2em; cursor: default; font-family:arial;}

		ul { border-left: 2px solid #7E848A; border-right: 1px solid #CCC; float: left; padding: 10px 20px; display:block; list-style:none; margin:0; width:50%;
			&.right { border: none; border-right: 2px solid #7E848A; float: right; text-align: left}
			li{
				a {color: #0c508e;font-size: 92%;font-weight: 400; font-size:rem-calc(11); font-family:arial;}
			} 
		}
	}
}