.credits-accordion {
	.tab-item {
		.tab-nav {padding: 30px 6.597%; font-size:rem-calc(16); font-weight:bold;
			p {color:$text-gray; padding-top:10px; margin:0; font-size:rem-calc(16); font-weight:bold; width:90%;}
			.icon-holder{display:inline-block; float:right; 
				.icon-acc-arrow {@include single-transition(transform,0.2s,ease); margin-top:0;  height:14px;}
			}
			&.open{background-color:$gray-back; border-bottom:1px solid $border-gray;
				.icon-acc-arrow {@include transform(rotate(-180deg)); }
			}
		}
		.tab-contents {margin:0; max-width:none; overflow:hidden; display: none;
			.content-holder{width:100%;
				p {padding:40px 6.597%; font-size:rem-calc(16); color:$text-gray;}
				.table-holder{padding:20px 6.597%;
					&.fullwidth{padding:0;
						h2{padding-left:6.597%;}
						table{border-bottom:1px solid $border-gray;
							&:last-child{border-bottom:none;}
						}
					}
					table{
						&.small-12{
							h2,td,th{padding-left:6.597%;}
							tr{
								.odd{
									td{background:$gray-back !important;}
								}
							}
						}
						tbody{
							
						}
					}
				}
			}
		}
		.open {
			.icon-acc-arrow {@include transform(rotate(-180deg));}
		}
		.close-accordion{ padding:30px 0; display:block; text-align:center; font-size:rem-calc(16);}
	}

	@media #{$large-up} {
		.tab-item{
			.tab-nav{font-size:rem-calc(24); font-weight:normal;
			}
			.tab-contents{
				.content-holder{
					p{ width:80%;}
					h2{font-size:rem-calc(22);}
					.table-holder{  width:80%;
						&.fullwidth{padding:0 6.597%;
							h2{padding-left:0;}
							table{border:none;}
						}
						table{
							&.small-12{
								h2,td,th{padding-left:6.597%;
									&:first-child{padding-left:0;}
								}
							}
						}
					}
				}
			}
		}
	}
}