.cta {
	.heading {top:10%;
		h1 {
			span {font-family:$header-font-family;}
		}
	}

	.button {
		.icon-link {display:none;}
	}

	@media #{$medium-up}{
		.heading {top:38%;}
	}

	@media #{$large-up} {
		.heading {top:34%; padding:0; text-align:center;
			h1 {margin-bottom:24px;
				span {display:inline;}
			}
		}
		.link-cta {
			//.icon-link {margin:-17px 0 0 -3px;}
		}
	}

	@media #{$xlarge-up} {
		.heading {
			.link-cta {
				//.icon-link {margin:-17px 0 0 0px;}
			}
		}		
	}
}