.dealer-unaware {text-align:center; padding:0 15px 46px;
	h1{text-indent: -9999em; font-size: 0; margin: 0; display:none;}
	h2 {font-size:rem-calc(23); line-height:1.2; padding:5% 0;
		span {display:inline-block;}
	}
	.btn-current {font-size:rem-calc(12); padding:0; width:100%; text-align:left; margin:0;
		.icon {height:52px; width:52px; background-position:-287px -143px; @include scale-element(0.5,0.5); vertical-align:middle; display:inline-block; margin:-3px -5px;}
		&:hover .icon {background-position:-408px -143px;}
		.btn-label {vertical-align:middle;}
	}
	.input-panel {background:#fff; border-bottom:1px solid #d4d4d4; text-align:left; position:relative; z-index:5;

		.keyword-field {height:auto; margin:0; font-size:rem-calc(12); font-family:$font-family-light; color:$text-gray; border:none; padding:17px 40px 17px 12px; width:100%;outline:none; text-shadow:none;
		  &::-ms-clear{display: none;}
		  &:focus{content:'.';width:100%;overflow:hidden;}
		}

		.btn-search {height:48px; width:48px; background-position:-348px -139px; @include scale-element(0.5,0.5); cursor:pointer; position:absolute; right:0; top:2px; text-indent:-999em; background-color:transparent; border:0; outline:0;
			&::-moz-focus-inner { border:0; }
			&:hover {background-position:-467px -139px;}
		}
		.loading { height:48px; width:48px; position:absolute; right:10px; top:6px; min-height:0; display:none; }
		&.active {
			.loading { display:block; }
			.btn-search { display:none; }
		}
	}

	&.search-panel { max-width:600px; -webkit-box-shadow:none; -moz-box-shadow:none;	box-shadow:none;
		.input-panel{border-bottom:none;
			.error{border:none;}
			.typeahead{border:1px solid $border-gray !important; border-radius:2px;}
			.keyword-field{padding-top:14px; padding-bottom:14px;}
			input{font-style:normal; font-family:$font-family-RE; font-size:rem-calc(16);
				&::-webkit-input-placeholder { /* WebKit browsers */
				    color:$border-gray;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color:$border-gray;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color:$border-gray;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10+ */
				   color:$border-gray;
				}
			}
			.btn-search{
				&.icon{top:2px; bottom:0; margin:auto;}
			}
		}
	}

	@media #{$medium-up}{
		.input-panel {border-bottom:none;
			input {font-size:rem-calc(18);}
			.btn-search {right: 0; top: 5px; @include scale-element(0.7,0.7);}
		}
	}
	
	@media #{$large-up}{
		.wrap {width:95%; margin:0 auto; padding:10px 0 55px; @include clearfix();
			h2 {font-size:rem-calc(36); float:left; text-align:left; padding:0 60px 0 0; width:49%; line-height:1.4;}
			.search-panel {float:right; width:50%;}
		}
		.btn-current {font-size:rem-calc(14);}
		.input-panel {
			.keyword-field {font-size:rem-calc(14); padding:17px 59px 17px 12px;}
			.btn-search {top:7px; right:-2px; background-position:-346px -139px;}
		}

		&.search-panel { max-width:600px !important; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none !important;
			.input-panel {
				.keyword-field {padding:14px !important;}
			}
		}
	}

	@media #{$xlarge-up}{
		.wrap {width:870px;

			h2 {font-size:rem-calc(40); float:left; text-align:left; padding:0 60px 0 0; width:40%; line-height:1.4;}
			.search-panel {margin:0 auto; width:55%;}	
			.btn-current {font-size:rem-calc(18); padding:10px 0;
				.icon {@include scale-element(0.75,0.75); margin:-3px 4px -3px 8px;}
			}
			.input-panel {border-bottom:none;
				.keyword-field {font-size:rem-calc(18);}
				.btn-search {right:10px; top:8px; @include scale-element(1,1);}
			}
		}
	}

	@media #{$xxlarge-up}{
		h2 {font-size:rem-calc(42); line-height:1.5;}
	}
}