.dealer-message {width:100%; padding:0 8px 60px 8px;
	.heading {padding:60px 40px 30px 40px;
		h1 {font-size:rem-calc(23);
			span {display:block; font-size:rem-calc(15); color:$header-font-color;}
		}
	}

	.message {padding:20px 40px;
		p {color:$header-font-color; font-size:rem-calc(14);}
	}

	.contact-info {float:left; width:100%; padding:0 20px;
		p {text-align:center; font-size:rem-calc(12);
			.icon {margin:0 auto 10px auto;}
			span {color:$primary-color; display: block;}
			.tablet-only {display:none;}
		}

		ul {list-style:none; padding:48px; margin:0; line-height:29px; font-size:rem-calc(12); font-family:$header-font-family;
			li {display:inline-block;
				a {color:$primary-color;}
			}
		}
	}

	&.smartnextsteps {display:none;}

	@media #{$medium-up}{
		.heading {
			h1 {font-size:rem-calc(35);}
		}
	}

	@media #{$large-up}{padding:0;
		.heading {padding:48px 0 20px 42px;
			h1 {font-size:rem-calc(38); line-height:1.1;
				span {font-size:rem-calc(16);}
			}
		}
		.message {padding:0 20px;
			p {font-size:rem-calc(16); margin:0; @include vertical-align;}
		}
		.contact-info {padding:38px 48px 18px 48px; background-color:$cta-blue;
			&>div {margin-bottom:20px;
				&:last-child {margin:0;}
			}
			p { margin:0; text-align:left;
				span {float:left; color:#FFF;}
				.icon {margin:-15px 0 0 0; @include scale-element(0.6,0.6);}
				.icon-phone {background-position:-287px -79px;}
				.icon-email {background-position:-575px -79px;}
				.icon-direction {background-position:-460px -79px;}
				&:hover {
					.icon-phone {background-position:-159px -143px;}
					.icon-email {background-position:0 -143px;}
					.icon-direction {background-position:-52px -143px;}
				}
			}
		}
	}

	@media #{$xlarge-up}{
		.heading {
			h1 {font-size:rem-calc(40); line-height:1.2;
				span {font-size:rem-calc(18);}
			}
		}
		.message {padding:0 20px;
			p {margin-top:88px;}
		}
		.contact-info {
			p {text-align:left;
				span {color:#FFF;}
				.tablet-only {display:block;}
				.mobile-only {display:none;}
			}
		}
	}

	@media #{$xxlarge-up}{
		.heading {
			h1 {font-size:rem-calc(42);}
		}
	}
}