.feature-kba {background:$dark-blue;
	.row {
		> .columns {margin:0; padding:0;
			&:first-child a{border-top:none;}
			a{display:block; margin:0 30px; padding:35px 0; border-top:1px solid rgba(255, 255, 255, 0.2);
				*{display:inline-block;}
				.font-icon{margin-right:10px; margin-top:-9px; -webkit-backface-visibility:hidden; padding-left:5px; padding-right:5px;
					[class^="icon-"]{@include icon-size(30);}
					[class^="icon1-"]{@include icon-size(30);}
				}
				.icon {width:51px; height:51px; @include scale-element(0.6,0.6);margin-bottom:-18px; margin-left:-10px;}
				h3 {color:#fff;}
				p{width:75% !important; margin:0 auto;}
			}
		}
	}

	@media #{$medium-up} {}

	@media #{$large-up} {
		.row {
			> .columns {
				a{text-align:center; border-top:none; margin:0 22px; padding:100px 0; font-family:$header-font-family;
					*{display:block;}
					.font-icon{display:inline-block; margin-right:0; 
						[class^="icon-"]{margin:0 auto; @include icon-size(50);
							&:before{top:-1px;}
						}
						[class^="icon1-"]{margin:0 auto; @include icon-size(50);
							&:before{top:-1px;}
						}
					}
					// [class^="icon-"]{font-size:rem-calc(50); margin:0 auto;top:0;}
					.icon {width:51px; height:51px; @include scale-element(1,1); margin:0 auto; padding-bottom:20px;}
					h3 {color:$primary-color; padding-top:20px;}
					p{color:#fff;}
				}
				a:hover{
					.icon { @include single-transition; @include translate3d(0,-5px,0); @include single-transition} 
					.font-icon{-webkit-backface-visibility:hidden; transform:translate(0,-5px); @include single-transition(transform,0.2s,ease);}
				}
			}
		}
	}

	 @media #{$xlarge-up} {
		.row {
			> .columns {
				a{
					h3 {font-size:rem-calc(28)}
				}
				
			}
		}
	 }
}