[class^="icon-"]{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Font Icon Styling
.font-icon{position:relative; width:auto; height:auto; margin:0 auto; vertical-align:middle; display:inline;
	[class^="icon-"]{ position:relative; border-radius: 50%; background-color: #FFF; @include icon-size(50);
		&:before{ border:none; outline:0; border: none; outline: 0; vertical-align: bottom; position: relative; display: block;}
	}
	[class^="icon1-"]{ position:relative; border-radius: 50%; background-color: #2d96cd;; @include icon-size(50);
		&:before{ border:none; outline:0; border: none; outline: 0; vertical-align: bottom; position: relative; display: block;}
	}
}

// icon-close Class Conflict Fix
.icon,.revealer-close{
	&.icon-close{margin-left:-25px; position:absolute;}
}

.icon-d-send-to:before {
	content: "\e63d";
}
.icon-icon-m-phone-hover:before {
	content: "\e63b";
}
.icon-icon-fc-change-location-hover:before {
	content: "\e63c";
}
.icon-fc-change-location:before {
	content: "\e639";
}
.icon-fc-view-map:before {
	content: "\e63a";
}
.icon-fc-phone-circled:before {
	content: "\e638";
}
.icon-m-circled-plus:before {
	content: "\e626";
}
.icon-m-circled-minus:before {
	content: "\e637";
}
.icon-youtube:before {
	content: "\e627";
}
.icon-d-unchecked:before {
	content: "\e628";
}
.icon-d-checked:before {
	content: "\e629";
}
.icon-d-close-solid:before {
	content: "\e62a";
}
.icon-d-details:before {
	content: "\e62b";
}
.icon-d-details-hover:before {
	content: "\e62c";
}
.icon-d-filter:before {
	content: "\e62d";
}
.icon-d-minus:before {
	content: "\e62e";
}
.icon-d-plus:before {
	content: "\e62f";
}
.icon-d-info:before {
	content: "\e630";
}
.icon-d-info-hover:before {
	content: "\e631";
}
.icon-d-get-location:before {
	content: "\e632";
}
.icon-d-search:before {
	content: "\e633";
}
.icon-d-warning:before {
	content: "\e634";
}
.icon-d-question:before {
	content: "\e635";
}
.icon-d-question-hover:before {
	content: "\e636";
}
.icon-d-close:before {
	content: "\e63e";
}
.icon-d-close-hover:before {
	content: "\e63f";
}
.icon-d-email:before {
	content: "\e640";
}
.icon-d-email-hover:before {
	content: "\e641";
}
.icon-d-directions:before {
	content: "\e642";
}
.icon-d-directions-hover:before {
	content: "\e643";
}
.icon-d-link:before {
	content: "\e644";
}
.icon-d-link-hover:before {
	content: "\e645";
}
.icon-d-phone:before {
	content: "\e646";
}
.icon-d-plus-hollow:before {
	content: "\e647";
}
.icon-d-plus-hollow-hover:before {
	content: "\e648";
}
.icon-d-search2:before {
	content: "\e649";
}
.icon-d-search2-hover:before {
	content: "\e64a";
}
.icon-d-sendto:before {
	content: "\e64b";
}
.icon-d-sendto-hover:before {
	content: "\e64c";
}
.icon-m-unchecked:before {
	content: "\e64d";
}
.icon-m-checked:before {
	content: "\e64e";
}
.icon-m-close-solid:before {
	content: "\e64f";
}
.icon-m-details:before {
	content: "\e650";
}
.icon-m-filter:before {
	content: "\e651";
}
.icon-m-minus:before {
	content: "\e652";
}
.icon-m-plus:before {
	content: "\e653";
}
.icon-m-info:before {
	content: "\e654";
}
.icon-m-get-location:before {
	content: "\e655";
}
.icon-m-question:before {
	content: "\e656";
}
.icon-m-search:before {
	content: "\e657";
}
.icon-m-warning:before {
	content: "\e658";
}
.icon-m-phone-circled:before {
	content: "\e659";
}
.icon-m-chevron-hollow:before {
	content: "\e65a";
}
.icon-m-close:before {
	content: "\e65b";
}
.icon-m-email:before {
	content: "\e65c";
}
.icon-m-directions:before {
	content: "\e65d";
}
.icon-m-play:before {
	content: "\e65e";
}
.icon-m-plus-hollow:before {
	content: "\e65f";
}
.icon-m-search2:before {
	content: "\e660";
}
.icon-new-window:before {
	content: "\e661";
}
.icon-chevron-thin-left:before {
	content: "\e662";
}
.icon-chevron-thin-right:before {
	content: "\e663";
}
.icon-360-solid:before {
	content: "\e600";
}
.icon-360-open:before {
	content: "\e601";
}
.icon-apply-credit-solid:before {
	content: "\e602";
}
.icon-apply-credit-open:before {
	content: "\e603";
}
.icon-build-price-solid:before {
	content: "\e604";
}
.icon-build-price-open:before {
	content: "\e605";
}
.icon-certified-pre-owned-solid:before {
	content: "\e606";
}
.icon-certified-pre-owned-open:before {
	content: "\e607";
}
.icon-change-location-solid:before {
	content: "\e608";
}
.icon-change-location-open:before {
	content: "\e609";
}
.icon-check-inventory-solid:before {
	content: "\e60a";
}
.icon-check-inventory-open:before {
	content: "\e60b";
}
.icon-compare-competitors-solid:before {
	content: "\e60c";
}
.icon-compare-competitors-open:before {
	content: "\e60d";
}
.icon-estimate-payments-solid:before {
	content: "\e60e";
}
.icon-estimate-payments-open:before {
	content: "\e60f";
}
.icon-find-dealer-solid:before {
	content: "\e610";
}
.icon-find-dealer-open:before {
	content: "\e611";
}
.icon-ford-credit-solid:before {
	content: "\e612";
}
.icon-ford-credit-open:before {
	content: "\e613";
}
.icon-get-brochure-solid:before {
	content: "\e614";
}
.icon-get-brochure-open:before {
	content: "\e615";
}
.icon-get-updates-solid:before {
	content: "\e616";
}
.icon-get-updates-open:before {
	content: "\e617";
}
.icon-images-solid:before {
	content: "\e618";
}
.icon-images-open:before {
	content: "\e619";
}
.icon-incentives-solid:before {
	content: "\e61a";
}
.icon-incentives-open:before {
	content: "\e61b";
}
.icon-request-quote-solid:before {
	content: "\e61c";
}
.icon-request-quote-open:before {
	content: "\e61d";
}
.icon-send-to-phone-solid:before {
	content: "\e61e";
}
.icon-send-to-phone-open:before {
	content: "\e61f";
}
.icon-trade-in-solid:before {
	content: "\e620";
}
.icon-trade-in-open:before {
	content: "\e621";
}
.icon-view-map-solid:before {
	content: "\e622";
}
.icon-view-map-open:before {
	content: "\e623";
}
.icon-wheels-solid:before {
	content: "\e624";
}
.icon-wheels-open:before {
	content: "\e625";
}
.icon-vehicle-stripped-chassis:before {
	content: "\e664";
}
.icon-vehicle-chassis:before {
	content: "\e665";
}
.icon-vehicle-van:before {
	content: "\e666";
}
.icon-vehicle-people-mover:before {
	content: "\e667";
}
.icon-vehicle-truck:before {
	content: "\e668";
}
.icon-vehicle-sedan:before {
	content: "\e669";
}
.icon-vehicle-hatch:before {
	content: "\e66a";
}
.icon-vehicle-coupe:before {
	content: "\e66b";
}
.icon-vehicle-estate:before {
	content: "\e66c";
}
.icon-vehicle-convertible:before {
	content: "\e66d";
}
.icon-vehicle-suv:before {
	content: "\e66e";
}
.icon-vehicle-crossover:before {
	content: "\e66f";
}
.icon-vehicle-manual:before {
	content: "\e670";
}
.icon-vehicle-performance:before {
	content: "\e671";
}
.icon-vehicle-hybrid:before {
	content: "\e672";
}
.icon-icon-m-chevron-hover:before {
	content: "\e673";
}
.icon-owner:before {
	content: "\e67c";
}
.icon-nav-vehicle:before {
	content: "\e674";
}
.icon-shop:before {
	content: "\e675";
}
.icon-finance:before {
	content: "\e678";
}
.icon-locate-a-dealer:before {
	content: "\e681";
}
.icon-profile:before {
	content: "\e683";
}
.icon-globe:before {
	content: "\e686";
}
.icon-chat-now:before {
	content: "\e676";
}
.icon-primary-applicant:before {
	content: "\e677";
}
.icon-joint-applicant:before {
	content: "\e679";
}
.icon-print:before {
	content: "\e67b";
}
.icon-calendar:before {
	content: "\e67d";
}
.icon-delete:before {
	content: "\e67f";
}
.icon-twitter:before {
	content: "\e688";
}
.icon-select-a-vehicle:before {
	content: "\e68a";
}
.icon-send-to-dealer:before {
	content: "\e68c";
}
.icon-chevron-fat:before {
	content: "\e67a";
}
.icon-chevron-thin-up:before {
	content: "\e67e";
}
.icon-chevron-thin-down:before {
	content: "\e680";
}
.icon-social:before {
	content: "\e682";
}
.icon-snail-mail:before {
	content: "\e684";
}
.icon-open-mail:before {
	content: "\e685";
}
.icon-navigation:before {
	content: "\e687";
}
.icon-test-drive-rev:before {
	content: "\e689";
}
.icon-test-drive:before {
	content: "\e693";
}
.icon-calendar-rev:before {
	content: "\e68b";
}
.icon-delete-rev:before {
	content: "\e68d";
}
.icon-drive-rev:before {
	content: "\e68e";
}
.icon-drive:before {
	content: "\e68f";
}
.icon-explore-special-programs-rev:before {
	content: "\e690";
}
.icon-explore-special-programs:before {
	content: "\e691";
}
.icon-extended-service-plan-rev:before {
	content: "\e692";
}
.icon-extended-service-plan:before {
	content: "\e694";
}
.icon-exterior-rev:before {
	content: "\e695";
}
.icon-exterior:before {
	content: "\e696";
}
.icon-extras-rev:before {
	content: "\e697";
}
.icon-extras:before {
	content: "\e698";
}
.icon-finance-finder-rev:before {
	content: "\e699";
}
.icon-finance-finder:before {
	content: "\e69a";
}
.icon-globe-2:before {
	content: "\e69c";
}
.icon-generic-article-rev:before {
	content: "\e69d";
}
.icon-generic-article:before {
	content: "\e69e";
}
.icon-send-to-dealer-rev:before {
	content: "\e69f";
}
.icon-hamburger:before {
	content: "\e6a0";
}
.icon-interior-rev:before {
	content: "\e6a1";
}
.icon-interior:before {
	content: "\e6a2";
}
.icon-joint-applicant-rev:before {
	content: "\e6a3";
}
.icon-primary-applicant-rev:before {
	content: "\e6a4";
}
.icon-print-rev:before {
	content: "\e6a5";
}
.icon-see-commercial-fin-opts-rev:before {
	content: "\e6a6";
}
.icon-see-commercial-fin-opts:before {
	content: "\e6a7";
}
.icon-select-a-vehicle-rev:before {
	content: "\e6a8";
}
.icon-select-a-vehicle2:before {
	content: "\e6a9";
}
.icon-tech-rev:before {
	content: "\e6aa";
}
.icon-tech:before {
	content: "\e6ab";
}
.icon-twitter-rev:before {
	content: "\e6ac";
}
.icon-view-shoppers-guide-rev:before {
	content: "\e6ad";
}
.icon-view-shoppers-guide:before {
	content: "\e69b";
}
.icon-mobile-nav-tech:before {
	content: "\e6ae";
}
.icon-extras-bp:before {
	content: "\e6af";
}
.icon-packages:before {
	content: "\e6b0";
}
.icon-color:before {
	content: "\e6b6";
}
.icon-payload:before {
	content: "\e6b1";
}
.icon-models-transit:before {
	content: "\e6b2";
}
.icon-close:before {
	content: "\e6b3";
}
.icon-emergency-call-number-25px:before {
	content: "\e6b4";
}
.icon-emergency-call-number-50px:before {
	content: "\e6b5";
}
.icon-emergency-call-number-rev-50px:before {
	content: "\e6b7";
}
.icon-emergency-call-number-125px:before {
	content: "\e6b8";
}
.icon-flat-tire-change-25px:before {
	content: "\e6b9";
}
.icon-flat-tire-change-50px:before {
	content: "\e6ba";
}
.icon-flat-tire-change-rev-50px:before {
	content: "\e6bb";
}
.icon-flat-tire-change-125px:before {
	content: "\e6bc";
}
.icon-fuel-delivery-25px:before {
	content: "\e6bd";
}
.icon-fuel-delivery-50px:before {
	content: "\e6be";
}
.icon-fuel-delivery-rev-50px:before {
	content: "\e6bf";
}
.icon-fuel-delivery-125px:before {
	content: "\e6c0";
}
.icon-have-questions-faqs-25px:before {
	content: "\e6c1";
}
.icon-have-questions-faqs-50px:before {
	content: "\e6c2";
}
.icon-have-questions-faqs-rev-50px:before {
	content: "\e6c3";
}
.icon-have-questions-faqs-125px:before {
	content: "\e6c4";
}
.icon-lock-out-assistance-25px:before {
	content: "\e6c5";
}
.icon-lock-out-assistance-50px:before {
	content: "\e6c6";
}
.icon-lock-out-assistance-rev-50px:before {
	content: "\e6c7";
}
.icon-lock-out-assistance-125px:before {
	content: "\e6c8";
}
.icon-maintenance-schedule-25px:before {
	content: "\e6c9";
}
.icon-maintenance-schedule-50px:before {
	content: "\e6ca";
}
.icon-maintenance-schedule-rev-50px:before {
	content: "\e6cb";
}
.icon-maintenance-schedule-125px:before {
	content: "\e6cc";
}
.icon-manuals-25px:before {
	content: "\e6cd";
}
.icon-manuals-50px:before {
	content: "\e6ce";
}
.icon-manuals-rev-50px:before {
	content: "\e6cf";
}
.icon-manuals-125px:before {
	content: "\e6d0";
}
.icon-owner-advantage-rewards-25px:before {
	content: "\e6d1";
}
.icon-owner-advantage-rewards-50px:before {
	content: "\e6d2";
}
.icon-owner-advantage-rewards-rev-50px:before {
	content: "\e6d3";
}
.icon-owner-advantage-rewards-125px:before {
	content: "\e6d4";
}
.icon-post-a-message-25px:before {
	content: "\e6d5";
}
.icon-post-a-message-50px:before {
	content: "\e6d6";
}
.icon-post-a-message-rev-50px:before {
	content: "\e6d7";
}
.icon-post-a-message-125px:before {
	content: "\e6d8";
}
.icon-power-and-engine-25px:before {
	content: "\e6d9";
}
.icon-power-and-engine-50px:before {
	content: "\e6da";
}
.icon-power-and-engine-rev-50px:before {
	content: "\e6db";
}
.icon-power-and-engine-125px:before {
	content: "\e6dc";
}
.icon-roadside-assistance-25px:before {
	content: "\e6dd";
}
.icon-roadside-assistance-50px:before {
	content: "\e6de";
}
.icon-roadside-assistance-rev-50px:before {
	content: "\e6df";
}
.icon-roadside-assistance-125px:before {
	content: "\e6e0";
}
.icon-schedule-service-25px:before {
	content: "\e6e1";
}
.icon-schedule-service-50px:before {
	content: "\e6e2";
}
.icon-schedule-service-rev-50px:before {
	content: "\e6e3";
}
.icon-schedule-service-125px:before {
	content: "\e6e4";
}
.icon-tire-finder-25px:before {
	content: "\e6e5";
}
.icon-tire-finder-50px:before {
	content: "\e6e6";
}
.icon-tire-finder-rev-50px:before {
	content: "\e6e7";
}
.icon-tire-finder-125px:before {
	content: "\e6e8";
}
.icon-towing-25px:before {
	content: "\e6e9";
}
.icon-towing-50px:before {
	content: "\e6ea";
}
.icon-towing-rev-50px:before {
	content: "\e6eb";
}
.icon-towing-125px:before {
	content: "\e6ec";
}
.icon-dashboard-indicator-25px:before {
	content: "\e6ed";
}
.icon-dashboard-indicator-50px:before {
	content: "\e6ee";
}
.icon-dashboard-indicator-rev-50px:before {
	content: "\e6ef";
}
.icon-dashboard-indicator-125px:before {
	content: "\e6f0";
}
.icon-battery-jump-start-25px:before {
	content: "\e6f1";
}
.icon-battery-jump-start-50px:before {
	content: "\e6f2";
}
.icon-battery-jump-start-rev-50px:before {
	content: "\e6f3";
}
.icon-battery-jump-start-125px:before {
	content: "\e6f4";
}
.icon-chat-now-open:before {
	content: "\e6f5";
}
.icon-app-link-125:before {
	content: "\e6f6";
}
.icon-app-link-25px:before {
	content: "\e6f7";
}
.icon-app-link-50px:before {
	content: "\e6f8";
}
.icon-app-link-rev-50px:before {
	content: "\e6f9";
}
.icon-basic-warranty-125:before {
	content: "\e6fa";
}
.icon-basic-warranty-25px:before {
	content: "\e6fb";
}
.icon-basic-warranty-50px:before {
	content: "\e6fc";
}
.icon-basic-warranty-rev-50px:before {
	content: "\e6fd";
}
.icon-coupons-and-offers-125:before {
	content: "\e6fe";
}
.icon-electrical-125-125:before {
	content: "\e6ff";
}
.icon-electrical-50px:before {
	content: "\e700";
}
.icon-electrical-rev-50px:before {
	content: "\e701";
}
.icon-engine-50px:before {
	content: "\e702";
}
.icon-engine-rev-50px:before {
	content: "\e703";
}
.icon-field-service-action-125:before {
	content: "\e704";
}
.icon-field-service-action-25px:before {
	content: "\e705";
}
.icon-field-service-action-50px:before {
	content: "\e706";
}
.icon-field-service-action-rev-50px:before {
	content: "\e707";
}
.icon-fixed-and-capped-price-servicing-125:before {
	content: "\e708";
}
.icon-fixed-capped-price-servicing-25px:before {
	content: "\e709";
}
.icon-fixed-capped-price-servicing-50px:before {
	content: "\e70a";
}
.icon-fixed-capped-price-servicing-rev-50px:before {
	content: "\e70b";
}
.icon-ford-custom-accessories-125:before {
	content: "\e70c";
}
.icon-ford-custom-accessories-25px:before {
	content: "\e70d";
}
.icon-ford-custom-accessories-50px:before {
	content: "\e70e";
}
.icon-ford-custom-accessories-rev-50px:before {
	content: "\e70f";
}
.icon-ford-magazine-125:before {
	content: "\e710";
}
.icon-ford-magazine-25px:before {
	content: "\e711";
}
.icon-ford-magazine-50px:before {
	content: "\e712";
}
.icon-ford-magazine-rev-50px:before {
	content: "\e713";
}
.icon-ford-merchandise-125:before {
	content: "\e714";
}
.icon-ford-merchandise-store-25px:before {
	content: "\e715";
}
.icon-ford-merchandise-store-50px:before {
	content: "\e716";
}
.icon-ford-merchandise-store-rev-50px:before {
	content: "\e717";
}
.icon-ford-parts-125:before {
	content: "\e718";
}
.icon-ford-parts-25px:before {
	content: "\e719";
}
.icon-ford-parts-50px:before {
	content: "\e71a";
}
.icon-ford-parts-rev-50px:before {
	content: "\e71b";
}
.icon-getrebates-125:before {
	content: "\e71c";
}
.icon-get-rebates-125:before {
	content: "\e71d";
}
.icon-get-rebates-25px:before {
	content: "\e71e";
}
.icon-get-rebates-50px:before {
	content: "\e71f";
}
.icon-get-rebates-rev-50px:before {
	content: "\e720";
}
.icon-hands-free-calling-125:before {
	content: "\e721";
}
.icon-hands-free-calling-25px:before {
	content: "\e722";
}
.icon-hands-free-calling-50px:before {
	content: "\e723";
}
.icon-hands-free-calling-rev-50px:before {
	content: "\e724";
}
.icon-music-and-media-125:before {
	content: "\e725";
}
.icon-music-and-media-25px:before {
	content: "\e726";
}
.icon-music-and-media-50px:before {
	content: "\e727";
}
.icon-music-and-media-rev-50px:before {
	content: "\e728";
}
.icon-owner-app-125:before {
	content: "\e729";
}
.icon-owner-app-25px:before {
	content: "\e72a";
}
.icon-owner-app-50px:before {
	content: "\e72b";
}
.icon-owner-app-rev-50px:before {
	content: "\e72c";
}
.icon-roadside-assistance-50px2:before {
	content: "\e72d";
}
.icon-roadside-assistance-rev-50px2:before {
	content: "\e72e";
}
.icon-service-history-125:before {
	content: "\e72f";
}
.icon-service-history-25px:before {
	content: "\e730";
}
.icon-service-history-50px:before {
	content: "\e731";
}
.icon-service-history-rev-50px:before {
	content: "\e732";
}
.icon-settings-125:before {
	content: "\e733";
}
.icon-settings-25px:before {
	content: "\e734";
}
.icon-settings-50px:before {
	content: "\e735";
}
.icon-settings-rev-50px:before {
	content: "\e736";
}
.icon-step-by-step-125:before {
	content: "\e737";
}
.icon-step-by-step-25px:before {
	content: "\e738";
}
.icon-step-by-step-50px:before {
	content: "\e739";
}
.icon-step-by-step-rev-50px:before {
	content: "\e73a";
}
.icon-support-how-tos-125:before {
	content: "\e73b";
}
.icon-support-how-tos-25px:before {
	content: "\e73c";
}
.icon-support-how-tos-50px:before {
	content: "\e73d";
}
.icon-support-how-tos-rev-50px:before {
	content: "\e73e";
}
.icon-sync-how-tos-125:before {
	content: "\e73f";
}
.icon-sync-how-tos-25px:before {
	content: "\e740";
}
.icon-sync-how-tos-50px:before {
	content: "\e741";
}
.icon-sync-how-tos-rev-50px:before {
	content: "\e742";
}
.icon-update-your-sync-125:before {
	content: "\e743";
}
.icon-update-your-sync-25px:before {
	content: "\e744";
}
.icon-update-your-sync-50px:before {
	content: "\e745";
}
.icon-update-your-sync-rev-50px:before {
	content: "\e746";
}
.icon-vehicle-health-report-125:before {
	content: "\e747";
}
.icon-vehicle-health-report-25px:before {
	content: "\e748";
}
.icon-vehicle-health-report-50px:before {
	content: "\e749";
}
.icon-vehicle-health-report-rev-50px:before {
	content: "\e74a";
}
.icon-vehicle-report-card-125:before {
	content: "\e74b";
}
.icon-vehicle-report-card-25px:before {
	content: "\e74c";
}
.icon-vehicle-report-card-50px:before {
	content: "\e74d";
}
.icon-vehicle-report-card-rev-50px:before {
	content: "\e74e";
}
.icon-voice-commands-125:before {
	content: "\e74f";
}
.icon-voice-commands-25px:before {
	content: "\e750";
}
.icon-voice-commands-50px:before {
	content: "\e751";
}
.icon-voice-commands-rev-50px:before {
	content: "\e752";
}

@font-face {
    font-family: 'icomoon-1';
    src:url('#{$font-path}/icomoon/icomoon-1.woff?a3044f') format('woff');
}

[class^="icon1-"], [class*=" icon1-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon-1' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon1-Solid-Dollar:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}


