// forms styles
// requisites: use uniformjs to redner proper markup to work, and jquery

//[placeholder], html5 attribute. placeholder, custom added class for non placeholder supported browsers
[placeholder],
.placeholder {font-style: italic; background-color:red;}
::-webkit-input-placeholder {color:$text-gray;}
:-moz-placeholder {color:$text-gray; opacity:1;}
::-moz-placeholder {color:$text-gray; opacity:1;}
:-ms-input-placeholder {color:$text-gray;}

.uniform {

	select {-webkit-appearance:menulist !important; background-image:none !important;}
		
	//dropDown
	.dropdown { position:relative; border:1px solid $border-gray; height: 50px;
		&:after { content:"";position:absolute; top:0; right:15px; bottom:0; width:15px; height:9px; margin:auto 0; text-indent:-999em; background:url(#{$img-path}/icons.png) no-repeat -254px -937px; display:inline-block; }
		span { color:$dark-blue; margin: 0; padding: 7px 15px; line-height:34px; font-size: rem-calc(12); background: none #ffffff; display:inline-block;}
		select {position:absolute; top:0; left:0; opacity:0; border:1px solid $border-gray; z-index:2;}
		option {padding: 10px 10px 10px 18px; color: $dark-blue; background-color:#ffffff;}
	}
	
	//checkbox
	.checker { height: 17px; width: 16px; display: inline-block; margin: 0 10px 0 0; vertical-align: middle;
		> span, input[type="checkbox"] { height: 16px; width: 16px; }
		> span { border: 1px solid $dark-blue; display: inline-block; text-align: center;
			&.checked { background: $dark-blue url(#{$img-path}/icons.png) no-repeat -5px -237px; }
		}
		input[type="checkbox"] { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; }
	}

	//radio
	.radio { height: 12px; width: 13px; display:inline-block; margin:-4px 10px 0 0; vertical-align:middle;
		> span, input[type="checkbox"] { height: 12px; width: 13px; }
		> span { border:1px solid $dark-blue; display: inline-block; text-align: center; border-radius: 10px;
			&.checked {background-color: $dark-blue;}
		}
		input[type="radio"] { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; }
		&.square { margin: 0;
			> span { border-radius : 0; }
		}
	}

	//error
	.error-text {display:none;}
	.error-wrap {font-size:rem-calc(12); position:relative;
		&:before {border:none; outline:0; border:none; outline:0; vertical-align:bottom; position:absolute; display:block; content:"\e634"; font-family:'icomoon'; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform: none; line-height:1; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; right:12px; top:12px; color:$error-red; font-size:rem-calc(20);}
		input {border-color:$error-red;}
		.error-text {display:inline-block; color:$error-red; position:relative; top:-20px; line-height:1.4;}
	}
	
	input[type="text"] {font-family: $font-family-light; font-size: rem-calc(12); color: $dark-blue;}
	::-moz-placeholder {color: $dark-blue;}
	::-webkit-input-placeholder {color: $dark-blue;}
	
	@media #{$large-up}{
		.dropdown span,
		input[type="text"] {font-size: rem-calc(14);}

		.error {
			&:before {right:16px; top:14px;}
		}
	}
	
	@media #{$xlarge-up}{
		.dropdown span,
		input[type="text"] {font-size: rem-calc(16);}
	}
	
}