.page-title + .gallery-category {
	margin-top:42px;
	@media #{$large-up}{margin-top:-30px;}
	@media #{$xlarge-up}{margin-top:-41px;}
	@media #{$xxlarge-up}{margin-top:-39px;}
}

.gallery-category {overflow:visible; clear:both; margin-bottom:4px; position:relative; margin-right:-6px;
	&.open .thumbnails {display:block;}

	.thumbnails {display:none; position:fixed; top:0; z-index:10000; left:100%; background:#fff; overflow-y:auto; max-height:100%; height:100%;
		.mobile-title {margin:0 3px; cursor:pointer;
			a {position:absolute; top:50%; background:url(#{$img-path}/svg/icons.svg) no-repeat -312px 0; height:56px; width:50px; margin-top:-27px; left:8px;}
			span {display:block; font-size:rem-calc(28); color:$text-gray; padding:0.95em 0 0.925em; background:#fff; font-family:$header-font-family; text-align:center; line-height:1.75em;}
		}
		.columns.item {position:relative; padding:3px; background:#fff;}
		.expandbar {background:$cta-blue; color:#fff; margin:-3px -3px 0; text-align:center; cursor:pointer; float:left; display:none;
			p {font-size:rem-calc(16); padding:1em 0; margin:0;
				.viewall {display:none;}
				.viewall-mobile {display:inline-block;}
				span.icon {width:20px; height:12px; display:inline-block; background-position:-716px -619px; left: 6px; position:relative;}
			}
		}
	}

	.columns.item {position:relative; background:#fff;
		&:hover a img {@include transform(scale(1.1));}
		a {display:block; overflow:hidden;
			img {@include single-transition(all, 1s, ease); width:100%;}
			.gallery-overlay {background:rgba(0,0,0,0.3); height:100%; width:100%; position:absolute; top:0;
				.overlay-text {position:absolute; top:50%; margin-top:-23px; width:100%; text-align:center;
					h1 {color:#fff; margin:0 0 -1px;}
					span {color:#fff; font-family:$font-family-bold; display:none;}
				}
			}
		}
		&:last-child {float:left;}
		.video-play {display:block; position:absolute; top:50%; left:50%; @include transform(translateX(-50%) translateY(-50%) scale(0.6,0.6)); z-index:100;}
	}
	
	@media #{$large-up}{overflow:hidden; margin-right:-11px;
		&.page-title {
			h1{padding-bottom:0;}
		}
		.thumbnails {display:block; position:static; margin-left:-5px; overflow-y:visible;
			.mobile-title {display:none;}
			.columns.item {padding:5px;}
			.expandbar {margin:-5px -5px 0;
				p {font-size:rem-calc(18); padding:2em;
					.viewall {display:inline-block;}
					.viewall-mobile {display:none;}
				}
			}
		}

		.columns.item {
			a {
				.gallery-overlay {position:static; background:none;
					.overlay-text {position:static; margin:0; top:0; cursor:default;
						h1 {color:$text-gray; padding:1.4em 0;}
						span {display:none !important;}
					}
				}
			}
			&.category-title {background:none; margin-top:0;
				img {display:none;}
			}
		}
		
	}

	@media #{$xxlarge-up}{
		.columns.item {
			.video-play {@include transform(translateX(-50%) translateY(-50%) scale(1,1));}
		}
		
	}

}