.map-marker { height: 46px; position: relative; width: 35px; z-index:10; cursor:pointer;
    .active { z-index:20; }
}

.marker-label { font-size: 14px; position: absolute; top: 0; left: 0; display: block; width: 100%; text-align: center; padding-top: 8px; color: #fff; }

// .MicrosoftMap .OverlaysTL {right:0; left:auto !important; border-bottom:none !important; background:none !important;}
// .NavBar_compassControlContainer {right:0; top:5px; background:none !important;
//     .NavBar_compassFlat {height:49px !important; background:transparent url('#{$img-path}/bingmap-controller.png') no-repeat scroll 0 -77px !important;}
//     .NavBar_compass {color:$text-gray !important; line-height:47px !important; font-size:rem-calc(13) !important; font-family:$font-family-bold !important;}
// }
// .NavBar_zoomControlContainer {width:70px !important; top:15px !important; right:108px; left:auto !important; background:none !important;
//     .NavBar_zoomDrop {left:10px !important;}
//     .NavBar_zoomIn {width:30px !important; height:30px !important; margin-left:10px !important; background:transparent url('#{$img-path}/bingmap-controller.png') no-repeat scroll 0 -327px !important;}
//     .NavBar_zoomOut {width:30px !important; height:30px !important; background:transparent url('#{$img-path}/bingmap-controller.png') no-repeat scroll 0 -360px !important;}
// }

// .MicrosoftMap .MapPushpinBase {width:35px !important; height:46px !important; background:transparent url('#{$img-path}/bingmap-controller.png') no-repeat scroll 0 -439px;
//     > div {top:10% !important; font-family:$font-family-RE !important; font-size:rem-calc(15) !important; line-height:28px !important;}
//     &:first-child {background-position:0 -550px;}
// }

.info-window {position:relative; width:340px; z-index:20;display:none;
    .content {background:#fff; border:1px solid #ccc; padding:20px; margin-left:10px; min-height:150px; 
// .infobox {position:relative; width:340px;  position:absolute; top:200px; left:0; right:0; margin:auto; display:none;
//     .content {background:#fff; border:1px solid #ccc; padding:20px; margin-left:10px; min-height:240px; 
        p {margin:0; color:$text-gray; font-size:rem-calc(13);}
        .dealer-name {font-size:rem-calc(18); line-height:1.1; margin-top:2px;}
        .hours {font-size:rem-calc(11); margin-top:3px;}
        .address {line-height:1.35; margin-top:10px;}
        .phone {background:transparent url('#{$img-path}/bingmap-controller.png') 1px -662px no-repeat; padding-left:20px; margin-top:11px;}
        .website {margin-top:12px;
            a {background:transparent url('#{$img-path}/bingmap-controller.png') right -735px no-repeat; padding-right:17px;}
        }
        .directions {margin-top:13px;
            .icon { @include scale-element(0.5, 0.5); position:absolute; top:-10px; left:-15px; }
            a { position:relative; padding:6px 0 6px 30px; }
        }
    }
    .beak {background:transparent url('#{$img-path}/bingmap-beak.png'); width:11px; height:17px; position:absolute; top:25px;}
}

@media #{$large-up}{
    .info-window{display:block;}
}

// .MicrosoftMap {
//     .LogoContainer.Active {background-color:#4c5357 !important; margin-bottom:0 !important; padding-top:5px !important; min-width:226px !important;
//             #bingLogo {background-position:0 -67px !important; height:29px !important; width:62px !important;}      
//     }
//     .LogoSearchContainer {bottom:5px !important;
//         #LogoSearchInput {box-shadow:none !important; height:19px !important; line-height:16px !important; font-size:rem-calc(13) !important;}
//     }
// }