.grid-menu{
		.tile{position:relative; border:0;
			.tile-image-holder{border:0;
				img{width:100%; height:auto; border:0; outline:none;}
			}
			.text-holder{position:absolute; top:55%; transform:translateY(-50%); bottom:0; left:0; right:0; margin:auto; text-align:center; width:80%;
				h2{font-family:$font-family-medium; color:$dark-blue;}
				h3{color:#FFF;  vertical-align:middle; margin:auto; display:block; font-size:rem-calc(32); }
				p{color:$text-gray; font-family:$font-family-medium; opacity:0;}
			}
		}
		article{display:inline-block; margin-bottom:4px;}

	@media #{$large-up} {
		.row{width:97%; padding:6.597%;}
		article{padding:10px;}
		.tile {margin:0 20px 20px; border:1px solid $border-gray; box-shadow:0px 4px 5px -3px rgba(0, 0, 0, 0.2); overflow:hidden; margin-bottom:20px; position:relative; display:block; float:left; height:100%; color:#FFF; overflow:hidden;
	    	&:first-child{margin-left:0px;}
	    	.tile-image-holder {text-align:center; height:100%; width:102%; margin-left:-3px; vertical-align:middle; font-size:40px;}
		 	.text-holder { min-height:150px; transform:none; padding:0; width:auto; top:auto; bottom:0; margin:0; text-align:left; width:100%; height:34%; background-color:#FFF; @include single-transition(all,200ms,ease);
		        h2,h3,p{padding:0 15px;}
		        h2 {font-size:rem-calc(13); padding-top:8px; font-weight:bold; margin-bottom:3px;}
		        &:hover{ height:100%; @include single-transition(all,200ms,ease);
		        	p{opacity:1.0; @include single-transition(all,200ms,ease);}
		        }
		        h3{font-size:rem-calc(14); color:$cta-blue; font-family:$font-family-RE;}
		        p {margin-top:5px; line-height:1.4;}
		    }
		    picture{width:100%;}
		}
	}

	@media #{$xlarge-up}{
		.tile {
		 	.text-holder {min-height:130px;
		 		h2,h3,p{padding:0 20px;}
		 		h2 {padding-top:15px; margin-bottom:5px;}
			    h3{font-size:rem-calc(20);}
			    &:hover{ height:70%;}
			    p {margin-top:13px; line-height:1.6;}
		    }
		}
	}
}