#gux-footer {

	ul {list-style:none; margin:0;}

	.site-links {background-color:#242424;
		> .row {max-width:1250px;
			&:first-child {
				.tab-1 {
					.tab-contents {display:block;}
				}
			}
		}
		.columns {padding:0;
			.tab-item {
				h4 {color:#fff;}
				.tab-nav {background-color:transparent; border-top:1px solid #3b3b3b; padding:22px 25px 23px; font-family:$font-family-light; font-size:rem-calc(16); position:relative;
					&.open {background-color:transparent;
						.font-icon {
							.icon-chevron-thin-up {display:inline;}
							.icon-chevron-thin-down {display:none;}
						}
					}
					&.disable {
						.font-icon {display:none;}
					}
					a {color:#fff;}
					.font-icon {position:absolute; right:23px; top:50%; margin-top:-10px;
						.icon-chevron-thin-down, .icon-chevron-thin-up {@include icon-size(20); color:#fff;}
						.icon-chevron-thin-up {display:none;}
						.icon-chevron-thin-down {display:inline;}
					}
				}
				.tab-data {padding:15px 45px 22px; border-top:1px solid #3b3b3b;
					li {padding:8px 0;
						a {color:#a8a8a8;}
					}
				}
			}
		}

	}

	.social-tools {background-color:$dark-blue; overflow:hidden;
		h4 {color:#fff; font-size:rem-calc(16); font-family:$font-family-light;}

		.extra-icons {float:right; width:100%; padding:5px 25px;
			li {border-bottom:1px solid #788691;}
			a {display:block; padding:19px 6px;
				* {display:inline-block;}
				.font-icon {
					span {@include icon-size(32);}
				}
				h4 {color:$cta-blue; margin:10px 17px 0;}
			}
		}

		.social-icons {float:left; width:100%; padding:19px 25px 40px;
			h4 {margin-bottom:10px;}
			ul {margin:0; overflow:hidden;
				li {float:left; margin-right:3px; width:40px;}
			}
		}

	}

	.roadside {text-align:center; padding:24px 0 12px;
		h4 {font-size:rem-calc(21); margin-bottom:0;}
		p {color:$text-gray; font-family:$font-family-light;}
	}

	.bottom-links {background-color:#242424; padding-bottom:15px;
		.row {max-width:none;
			.row {margin:0 -25px;}
		}
		.columns {padding:0 25px;}
		a {color:#a8a8a8; display:block;
			* {display:inline-block;}
		}
		.font-icon {
			span {color:#fff; @include icon-size(22); background-color:transparent;
				&:before {margin-left:0;}
			}
			+ span {padding-left:15px; font-size:rem-calc(13); text-decoration:underline;}
		}
		ul {margin-top:28px;
			li {color:#a8a8a8; font-size:rem-calc(13); margin-bottom:12px;}
		}
		.locale-select {margin:29px 0 -4px; color:#fff; position:relative; z-index:2;}
		.footer-logo {background:transparent none no-repeat 0 0 / auto 31px; display:block; height:31px; text-indent:-9999px; width:164px; margin:24px 0;}
		p {color:#a8a8a8; font-size:rem-calc(12);}
		.legal-notice {margin-top:25px;
			a {float:left; margin-right:15px; margin-bottom:10px;}
			p {margin-top:-4px;}
		}
	}

	@media #{$large-up}{

		.site-links {padding:22px 38px;
			.columns {
				.tab-item {
					.tab-nav {
						&.disable {padding-left:0; border-top:0;
							+ .tab-contents {margin-left:0; display:block !important;
								.tab-data {border-top:0; padding-left:0;}
							}
						}
					}
					.tab-contents {margin:0;
						&.open-large {display:block;}
						.tab-data {padding:15px 34px 22px;
							li {padding:6px 0;}
						}
					}
					&.tab-1, &.tab-2 {
						.disable {cursor:default;}
						.tab-contents {
							.tab-data {padding-top:0; padding-right:10px;}
						}
					}
					&.tab-3 {
						.tab-nav {border-top:0;}
					}
					&.tab-3, &.tab-4, &.tab-5, &.tab-6 {
						.tab-nav {padding-left:34px;
							&.disable {
								+ .tab-contents {
									.tab-data {padding-left:34px;}
								}
							}
						}
					}
				}
				.end {
					.tab-item {
						.tab-nav {border-bottom:1px solid #3b3b3b;
							+ .tab-contents {
								.tab-data {border-top:0;}
							}
						}
					}
				}
			}
		}

		.social-tools {
			h4 {font-size:rem-calc(18);}

			.extra-icons {width:55%; padding:0; margin:46px 0;
				ul {text-align:right;
					li {border-bottom:0; display:inline; padding-right:20px;}
				}				
				a {display:inline;
					.font-icon {
						span {@include icon-size(38);
							&:before {margin-top:-1px;}
						}
					}
					h4 { font-family:$font-family-exlight;}
				}
			}

			.social-icons {width:45%; padding-top:26px; padding-left:38px;
				h4 {font-size:rem-calc(16);}
			}

		}

		.roadside {padding:39px 0 21px;
			h4 {font-size:rem-calc(24);}
		}

		.bottom-links {padding-bottom:24px;
			.row {
				.row {margin:0 -38px;}
			}
			.columns {padding:0 38px;}
			.locale-select {margin:35px 0 -10px;}
			ul {margin-left:-11px; margin-top:34px;
				li {display:inline-block; padding:0 11px;
					&.block {display:block;}
					a {display:inline-block;}
				}
			}
			.footer-logo {margin-top:30px; float:right; margin-right:-8px;}
		}

	}

	@media #{$xlarge-up}{

		.site-links {padding:32px 38px; overflow:hidden;
			.columns {
				.tab-item {
					.tab-nav {font-size:rem-calc(18);}
				}
				&.xlarge-3 {
					.tab-item {
						.tab-nav {padding-left:0; cursor:default;}
						.tab-contents {
							.tab-data {padding:0 22px 22px 0;}
						}
						&.tab-3, &.tab-4, &.tab-5, &.tab-6 {
							.tab-nav {
								&.disable {
									+ .tab-contents {
										.tab-data {padding-left:0;}
									}
								}
							}
						}
					}
					&.end {
						.tab-item {
							.tab-nav {border-bottom:0;}
						}
					}
				}
			}
		}

		.social-tools {

			.extra-icons {width:45%;
				ul {padding-right:56px;
					li {padding-right:12px;}
				}
			}

			.social-icons {padding:50px 10px 19px 92px; width:55%;
				h4 {font-size:rem-calc(18); font-family:$font-family-exlight; float:left; margin-right:28px; margin-top:7px;}
			}

		}

		.roadside {
			a {color:$text-gray; cursor:default;
				&:focus {background-color:transparent;}
			}
		}

		.bottom-links {padding-bottom:37px;
			.row {
				.row {margin:0 -95px;}
			}
			.columns {padding:0 95px;}
			.locale-select {margin-top:42px; margin-bottom:-19px;}
			ul {margin-top:43px;}
			.footer-logo {margin-right:0; margin-top:38px;}
		}

	}
	
}