@import "flexslider";

.image-carousel {position:relative; padding:0 0 4em 0;
	ul {margin:0; list-style:none;}
	img {width:100%;}
	.carousel {
		.carousel-slide {overflow:hidden;}
		.flex-control-nav {bottom:-55px;}
		.flex-direction-nav {opacity:0;}
	}

	.carousel-fader { margin-top:75px;
		.flex-control-nav {display:none;}
		.flex-direction-nav {display:none !important;} 
		.slides {
			li {
				.carousel-slide {margin:0 auto; max-width:90%;
					h1 {text-align:center; font-size:rem-calc(15);}
					.content {text-align:center; font-size:rem-calc(14); color:$header-font-color; line-height:1.8; max-width:90%; margin:0 auto;}
				}
			}
		}
	}

	.flex-control-paging li a {background:$cta-blue; border:1px solid $cta-blue; width:8px; height:8px;
		&.flex-active {background:transparent; border:1px solid $cta-blue;}
	}

	@media #{$large-up} {padding:0 0 8em 0;
		.carousel-main {
			.flex-direction-nav { right:0; bottom:40%; opacity:0; @include single-transition(all,500ms,ease);} 
		}
		.carousel-main:hover {
			.flex-direction-nav {opacity:1;}
		}
		.carousel-fader { margin-top:75px;
			.flex-control-nav {display:none;}
			.flex-direction-nav {display:none;} 
			.slides {
				li {
					.carousel-slide {margin:0 auto;  max-width:60%;
						h1 {text-align:center; font-size:rem-calc(32);}
						.content {text-align:center; font-size:rem-calc(16); color:$header-font-color; line-height:1.8; margin:0 auto; max-width:90%;}
					}
				}
			}
		}
	}

}

