.incentives-bar{
	.link-cta,.ui-link{position:absolute; top:auto; bottom:10%; text-align:center; width:100%; font-size:rem-calc(18); left:0; color:#FFF;
		&:visited{color:#FFF;}
		&:hover{color:#FFF;}
		span:last-child{vertical-align:middle; font-size:rem-calc(26); margin-left:10px;}
	}
	img{width:100%;}
}