.index-bar{ border-top:1px solid $border-gray; border-bottom:1px solid $border-gray; padding-top:0px; padding-bottom:0px; margin-bottom:0px; overflow:hidden; border-right:#FFF;  padding-left:0; padding-right:0; position:relative;
	.model-display-items{
		.carousel{
			ul{
				li{border-right:1px solid $border-gray; min-height:100px;
					a{
						&.active{color:$text-gray;}
					}
					h2{vertical-align:middle; margin-top:10px; margin-bottom:0px; font-size:rem-calc(14); vertical-align:middle; position:relative; top:24px; @include single-transition;}
				}
			}
			.flex-direction-nav{right:0; top:10%; left:0; pointer-events:none;
				ul{
					li{border:none;}
				}
				.flex-nav-prev{margin-left:-40px; margin-top:4px; display:block; color:red; float:left; position:absolute; pointer-events: all; border:none; 
					.flex-prev{top:0; margin:0; position:relative; vertical-align:middle; background-position: -310px 0;}
				}
				.flex-nav-next{margin-right:-40px; margin-top:-9px; display:inline-block; color:blue; float:right; pointer-events: all; background-color:#FFF;
					.flex-next{top:12px; margin:0; position:relative; background-position: -179px 0;}
				}
			}
			.flex-control-nav{display:none;}
		}
	}
	
	.smob-controls{position:absolute; top:16px; width:100%;
		a{display:inline-block; width:49%; color:$text-gray;
			&.prev-smob{float:left; display:none;}
			&.next-smob{float:right;}
		}
	}

	@media #{$large-up} {padding:0 50px; border-top:none; border-bottom:none;
		.model-display-items{
			.carousel{
				ul{
					li{ min-height:80px;
						h2{font-size:rem-calc(11); padding-left:10px; padding-right:10px; top:1rem; @include single-transition; margin-top:0; }
					}
				}
				.flex-direction-nav{
					.flex-nav-prev{margin-left:-40px; margin-top:4px;}
					.flex-nav-next{margin-right:-40px; margin-top:-9px;}
				}
			}
		}
	}
	@media #{$xlarge-up} {
		.model-display-items{
			.carousel{
				ul{
					li{
						h2{font-size:rem-calc(14); padding-left:10px; padding-right:10px; word-wrap:break-all; top:1.5rem; @include single-transition;}
					}
				}
			}
		}
	}
}