.key-features{
	.content-wrap{position:relative; top:0px;
	}
	&.expandedfeatures {
		.showcase-items-expanded {
			.carousel {
				.slides{
					& > li {
							.item{
								.image{position:relative;
									a{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color:#FFF; font-size:rem-calc(70);}
								}
							}
					}
					p{color:$text-gray;}
				}
				.flex-control-nav {bottom:-18px;}
			}
		}
	}
	@media #{$large-up} {
		&.expandedfeatures {
			.showcase-items-expanded { margin-bottom:40px; margin-top:60px;
				.carousel { padding:0 6.597%; margin-left:0; margin-right:0;
					.slides { text-align:left;
						& > li { margin:0; width:30% !important; display:table-cell !important; margin-right:30px; padding-right:30px;
							&.ready{display: table-cell !important;}
							.item{
								.image{
									img{width:100%;}
									a{font-size:rem-calc(80);}
								}
							}
						}
					}
				}
			}
		}
	}
}