// this overlay is for country select
// web version overlay, copied the style from '/ftd/css/modules1.css' and changed to .scss format with some changes to look correct

.overlay-box {font-family:Arial,Tahoma,Helvetica,"San Serif";

	h1, h2, h3, h4, h5, h6, input, select {
		font-family:Arial,Tahoma,Helvetica,"San Serif";
	}

	.close-button {font-size:1.143em;}

	.country-overlay {width:640px; height:360px; font-size:1.143em;
		.country-body {margin:3.8em 2em;
			.column {border-right:1px dotted #555; float:left; padding:0 20px 0 0; width:48%;
				&.right {border:none; float:right; text-align:right; padding-right:5px;
					.note, select {direction:rtl; float:right; clear:both; text-align:right;}
					select {background-position:6% center; padding:0.2em 0.2em 0.2em 1.5em;}
					input {float:right; clear:both;}
				}

				h2 {color:#fff; font-size:200%; font-weight:400; min-height:52px; line-height:1.3em; margin:0; padding:0 0 8px 0;}
				select {border:2px solid #7f9db9; font-size:130%; margin:1em 0 2em; height:32px; display:block; width:auto; background-position:94% center; padding:0.2em 1.5em 0.2em 0.2em;}
				input {background-color:#0C508E; border:medium none; border-radius:4px; color:#fff; cursor:pointer; display:block; font-size:120%; font-weight:700; margin:0 0 3em; min-width:104px; padding:0.4em 1em;}

				.note {
					b {color:#999; display:block; font-size:1.2em; margin:0 0 0.6em;}
					p {font-size:1.2em; color:#5F6062; line-height:1.5em; margin:0; padding:0 0 0.7em;}
				}
			}
		}
	}
}

.ltr .overlay-box {
	.overlay-box-inner {float:left;}

	div.close-button {right:20px; background:url('../../ftd/img/overlay-button.png') no-repeat 100% -25px;
		span {margin-right:23px; background:url('../../ftd/img/overlay-button.png') no-repeat 0 0;}
		a {padding:0 33px 0 10px; margin-right:-23px;}
	}
}

.rtl .overlay-box {
	.overlay-box-inner {float:right;
		.country-overlay {
			.country-body {
				.column {
					select {padding:0.2em 0.2em 0.2em 1.5em; background-position:6% center;}
					&.right {padding-right:0;}
				}
			}
			form[name*="en-sel-cty-overlayform"] {direction:ltr; text-align:left;
				.note {text-align:left;}
			}
		}
	}

	div.close-button {left:20px; background:url('../../ftd/img/overlay-button-rtl.png') no-repeat 0px -25px; margin-right:0; right:auto;
		span {margin-left:23px; background:url('../../ftd/img/overlay-button-rtl.png') no-repeat right 0; margin-right:0;}
		a {padding:0 10px 0 33px; margin-left:-23px; margin-right:0;}
	}
}

.ie8, .ie9 {

	&.rtl .overlay-box {
		.overlay-box-inner {
			.country-overlay {
				.country-body {
					.column {
						select {padding:0.2em;}
					}
				}
			}
		}
	}

	.overlay-box, .ie9 .overlay-box {
		.country-overlay {
			.country-body {
				.column {
					&.right {
						select {padding:0.2em;}
					}
					select {background:none #fff; padding:0.2em; height:auto;}
				}
			}
		}
	}

}

@media #{$large-up} {
  
}

@media #{$xlarge-up} {
  
}