.vehicle-modal{
	&.reveal-modal{padding:0; height:100%; top:0 !important; 
		&.open{z-index:10000; position:fixed; width:100%; @include transform(translateY(-50%) translateX(-50%)); top:50% !important; left:50%; margin-left:0; height:100%; min-height:100%; overflow:auto; border:none;}
	}

	.modal-header{background-color:#fff; text-align:left; padding:0; border-bottom:1px solid $border-gray;
		h1{font-size:rem-calc(16); padding:18px; margin:0;
			.icon-remove{float:right; display:block;}
			.close-icon{float:right; background:url(../img/svg/icons.svg) no-repeat; background-position: -621px -219px; width:25px; height:25px; line-height:0; font-size:0; color:transparent; margin-right:-10px;}
		}
	}
	.modal-content{
		.select-models {
			.model-container {border-bottom:1px solid $border-gray;
				.block { display:block; }
				.none { display:none; }
				.model-data {padding:20px 0px; cursor:pointer;
					img {width:100%; margin-right: auto; margin-left: auto;}
					> p {display:none; position:absolute; margin:0; width:100%; text-align:center;}
					.model-select {position:relative; padding:0 0 0 30px; vertical-align:top; margin:0 24px;
						.checker {position:absolute; left:0; top:0; width:20px; height:20px; 
							span {width:20px; height:20px;
								&.checked {background-position:-3px -236px;}
							}
						}
						input {cursor:pointer;}
                        &.disabled {
                          opacity: 0.5; filter: alpha(opacity=50);
                          input {cursor:default;}
                        }
						h2 {display:inline-block; margin:0; font-weight:bold; font-size:rem-calc(16); color:$text-gray;
								sup {line-height:0;}
						}
					}
					.model-content {margin:5px 24px 0 24px; font-family:$font-family-light; color:$text-gray;
						ul {margin:0;}
						li {display:block; margin-top:5px;}
						> p {margin-top:5px; margin-bottom:none;}
						&.derivative-price {
							.price {margin-bottom:0;
								.citation {display:none;}
							}
							.offers {display:none;}

						}
					}
					&.selected{@include opacity(0.5);filter: alpha(opacity=50);cursor:default;
						.model-select{padding-left:0;
							.checker{display:none; }
						}
					}
				}
			}
		}
	}

	@media #{$large-up}{border-bottom:none;
		&.reveal-modal{padding:30px; height:auto; top:0 !important; 
			&.open{width:calc(100% - 12rem); height:auto; max-height:100%; min-height:0;}
		}

		.modal-header {border-bottom:none;
			h1 {font-size:rem-calc(24);}
		}
		.modal-content {
			.select-models {
				.model-container {border-bottom:none; min-height:330px;cursor:pointer;
					.model-data{
						img{margin-bottom:30px;}
						.model-content{margin-top:20px; border-top:1px solid $border-gray;}
					}
				}
			}
		}	
	}
}

	