#compareContainer {
  .errorPadding {
    display:none;
    text-align: center;
    padding: 25px 0;
    color: #616161;
    font-size:1.8rem;

    .warningIcon{
      background-image: url("../img/svg/icons.svg");
      background-repeat: no-repeat;
      background-position:-588px -284px;
      width:37px;
      height:34px;
      display:inline-block;
      line-height: 1.8rem;
      vertical-align: middle;
    }
  }
}

.model-compare {

	.mw-wrapper {
	
		&.compare-2-models {
			.selected-sticky {border:none;
				&.fixed{
					.model-hero {
						.model-container:last-child{border-left:1px solid $border-gray;}
					}
				}
				.model-hero {
					.model-data{
						h2 {color:$text-gray; font-weight:bold;}
						a {
							h2 {color:$cta-blue;}
						}
					}
				}
			}
			
			.kba-buttons { min-height: 4em !important;
				&:first-child{border-right:1px solid $border-gray;}
				.link-cta {}
			}

			.table-holder {
				table {
					tr {
						td {width:50%;}
					}
				}
			}		
		}
		


		&.compare-3-models {
			.mw-content {
				.model-hero {
					.model-container {
						&.model-add {visibility:hidden;}
						h2 {font-size:16px;}
						.kba-buttons{
							.icon{ zoom: 0.8;}
						}
					}
				}
			}
						
			.table-holder {
				table {
					tr {
						td {width:33%;}
					}
				}
			}
		}
        &.total-2-models {
            .mw-content {
               .model-hero {
                  .model-add{
                    visibility: hidden;
                  }
                  .model-container{
                     .model-data{
                       .change-button{
                         display:none !important;
                       }
                     }
                  }
               }
              .selected-sticky{
                .model-hero{
                  .model-data{
                    .changemodel{
                      display:none !important;
                    }
                  }
                }
              }
            }
        }
        &.compare-3-models.total-3-models{
          .model-hero {
            .model-container{
              .model-data{
                .change-button{
                  display:none !important;
                }
              }
            }
          }
          .selected-sticky{
            .model-hero{
              .model-data{
                .changemodel{
                  display:none !important;
                }
              }
            }
          }
        }
	
		.alt-theme{
			.tab-item{
				.tab-nav{}
				.tab-contents{
					div{
						div{
							a{ padding: 10px 0px; display:block !important; margin-top:-14px;
								span{ margin-bottom:15px; line-height:1; display:block !important;
									&:first-child{margin: 0 auto; @include transform(scale(0.62));}
									&:last-child{text-align:center; float:none; font-size:rem-calc(14); color:#fff;}
								}
							}
						}
					}
				}
			}
		}
	}
	
	.mw-header {border-bottom:1px solid $border-gray; padding:30px 10px 25px; font-family:$header-font-family; text-align:center; background:$gray-back;
		h1 {margin:0; font-size:rem-calc(30); font-weight:500;}
		img {margin:40px 0 0;}
		p {margin:20px auto 0; font-size:rem-calc(18);}
		.end {
			p {margin-top:5px; font-size:rem-calc(12);}
			.need-price {margin:0 20px;}
		}
        .smob-position{position: absolute; height: 100%; width:10%;}
		.smob-back{line-height:0; font-size:0; color:transparent; background-image: url("../img/svg/icons.svg"); background-repeat: no-repeat; background-position:0px -575px; width:20px; height:34px; position:absolute; z-index:100;}
	}
	
	.mw-content {

		.selected-sticky {border-bottom:1px solid $border-gray; margin:0; background:#FFF;
			&.fixed {z-index:9996; box-shadow:0px 1px 3px rgba(0,0,0,0.2);top:50px;background:#FFF;}
            &.change-sticky.fixed{background:#fff;
                .model-container{border-left:1px solid $border-gray;
                  &:first-child{border-left:0}
                }
            }
			.model-hero {margin:0; max-width:none;
				> div {float:none; display:table;}
				.model-container {float:none; display:table-cell; vertical-align:middle;
					&:last-child h2{border-left:1px solid #fff;}
					.model-data {
						h2 {
                          font-size:rem-calc(14); text-align:center;margin:18px 0px;
                        }
						.icon-remove {top:20px; right:10px;}
					}
				}
			}
		}
		.change-sticky {position:fixed; bottom:-60px; box-shadow:0px 0px 5px rgba(0,0,0,0.3); z-index:10000; @include single-transition(bottom,200ms,cubic-bezier(0.165,0.84,0.44,1));
			&.fixed {top:auto; bottom:0; z-index:10000; box-shadow:0px 0px 5px rgba(0,0,0,0.3);
				.model-hero {margin:0; max-width:none;
					> div {float:none; display:table;}
					.model-container {
						.model-data {
							a {display:block; padding:20px 15px; font-size:rem-calc(14); text-align:center; font-family:$body-font-family;}
						}
					}
				}
			}
		}
		
		.model-hero {margin:0 6.597%; max-width:1250px;

			.model-container {
				&.model-add {display:none;
					.model-data {padding:70px 0 20px; text-align:center; box-shadow:0px 1px 3px rgba(0,0,0,0.2);
						img {@include opacity(0.2);}
						.buttons {margin:10px auto;}
					}
				}
				.model-data {position:relative;
					img {display:block; margin:20px auto 0; width:auto;}
					h2 {margin:0; padding:0 20px; font-size:rem-calc(14); color:#fff;
						sup {line-height:0;}
					}
					.model-content {padding:0; font-family:$header-font-family;
						ul {margin:0; padding:20px;}
						li {margin-bottom:10px; font-size:rem-calc(10); list-style:none;
							span {font-size:rem-calc(18); font-weight:bold; color:$dark-blue; word-wrap:break-word;
                                &.blockStyle{display:block;}
                                &.attr-header{font-size:rem-calc(12); color:rgb(97,97,97);font-weight:normal;}
                            }
						} 
						> p {margin:20px 0 10px;}
						.icon {display:inline-block; vertical-align:middle;}
						.change-vehicle {margin-bottom:0;}
						.offers {margin-bottom:-20px;
							.icon-offer {@include transform(scale(0.6)); margin:-15px 0 0; float:left; margin:-12px -5px 0 -11px;}
							.label-link {display:block; margin:0; color:$cta-blue; font-size:rem-calc(10); position:relative; top:7px;}
						}
					}
					.kba-buttons {padding-left:20px;
						.link-cta {
							span {float:none; vertical-align:middle;}
							.label-link {color:$cta-blue; font-size:1rem;}
						}
					}
					.change-button {text-align:center;
						a {margin:40px 0;}
					}
					.icon-remove {position:absolute; top:4px; right:0; cursor:pointer;}
                    .disabled {cursor:default;opacity:0.1;filter: alpha(opacity=10);}
				}
			}
		}

	}

	
	@media #{$large-up}{

		.mw-wrapper {
			&.layout-3 {
				.mw-content {
					.model-hero {
						.model-container {
							&.model-add {visibility:hidden;}
							.model-data {
								h2 {font-size:rem-calc(18);}
							}
						}
					}
				}
				
			}
			&.compare-2-models {
				.kba-buttons[style] { min-height: 4em !important; width:100%; 
					.link-cta {display:inline-block !important; vertical-align:top;
						.label-link{display:inline !important; word-wrap:break-word; word-break:break-word; line-height:32px;}
					}
				}

			}
			&.compare-3-models {
				.kba-buttons[style] {
					.link-cta{
						.label-link{word-wrap:break-word; word-break:break-word; display:inline; line-height:1;}
					}
				}

			}
		}

		.mw-header {border-bottom:0; padding:40px 100px; text-align:left; background:#FFF;
			h1 {margin:0;}
			p {margin:10px auto 0;}
			.end {text-align:right;
				p {margin-top:5px; font-size:rem-calc(12);}
				.need-price {margin:0;}
			}
            .smob-position {position:relative;height:auto;}
			.button.model-back {margin:22px 0 0;}
		}



		.mw-content {
			.selected-sticky {border:none;
				&.fixed{
					.model-hero {display:block;
						.model-data{
							h2 {color:$text-gray; font-weight:bold;}
						}
					}
				}
				.model-hero {display:none;
					.model-data{
						h2 {color:$text-gray; font-weight:bold;}
					}
				}
			}
			
			.selected-sticky {display:none;
				&.fixed {display:block; top:50px; width:100%; max-width:none;background:#fff;}
				.model-hero {margin:0 auto; max-width:1440px;
					> div {padding:0 6.597%;}
					.model-container {padding:0;border-left:1px solid $border-gray;
						&:first-child {border-left:0;}
                        &:last-child h2{border-left:0;}
						&.model-add {display:table-cell;}
						.model-data {box-shadow:0px 0px 0px rgba(0,0,0,0);
							h2 {padding:20px 30px 0; margin:0px; font-size:rem-calc(16); min-height:42px; text-align:left;color:$text-gray;}
							img {margin:0 auto; width:70%;}
							a {
                              margin:10px 0; text-align:center;
                              &.disabled{cursor:default;opacity:0.1;filter: alpha(opacity=10);}
                            }
							.buttons {text-align:left;}
						}
					}
				}
			}

			.change-sticky {
				&.fixed {display:none;}
			}

			.model-hero {

				.model-container {padding:0px;
					&.model-add {display:block;
						.model-data {padding:0;
							img {margin-top:70px;}
						}
					}
					.model-data {
						h2 {color:$text-gray;}
						img {margin:0 auto; padding-left: 1px;}
						.model-content {
							li {margin-bottom:20px; padding-top:rem-calc(10); font-size:rem-calc(14);
								&:empty{margin-bottom:0; padding-top:0;}
								p{margin-bottom:0;}
								span {line-height:rem-calc(21);
                                  font-size:rem-calc(24); font-weight:normal; color:$dark-blue; margin-top:6px;
                                  &.blockStyle{display:block}
                                  &.attr-header{font-size:rem-calc(14);}
                                  span {margin-top:-4px;}
                                }
                                .offers {
									.label-link {font-size:rem-calc(14); top:3px;}
								}
							}
						}
					}
				}
			}
		}

		.mw-content {
			.model-hero {
				.model-container {
					.model-data {
						h2 {color:$text-gray; font-weight:bold;}
						a {
							h2 {color:$cta-blue;}
						}
					}
				}
			}
		}



	}

	@media #{$xlarge-up}{
		.mw-content {
			.model-hero {
				.model-container {
					.model-data {
						h2 {font-size:rem-calc(16); font-weight:bold;}
					}
				}
			}
		}
		.mw-wrapper {
			&.compare-2-models {
				.kba-buttons[style] { min-height: 4em !important; width:100%; 
					.link-cta {display:block !important;
						.label-link{display:inline; word-wrap:break-word; word-break:break-word; line-height:32px;}
					}
				}

			}
		}
	}

	@media #{$xxlarge-up}{
		.compare-2-models{
			.mw-content{
				.model-hero{
					.model-container{
						.model-data{
							.model-content{
								ul{
									li{width: 49%  !important; margin-right: 0  !important; vertical-align: top  !important;}
								}
							}
						}
					}
				}
			}
		}
	}

}