@include keyframes(attention) {
  30%   {@include transform(scale(1.1));}
  100% {@include transform(scale(1));}
}

.ui-body-c #content {
	.button.alt {position:static;}
}

.model-walk {padding:0;
	&.alt{
		.mw-wrapper{
			.smob-compare-cancel{width:100%; display:none;}
			.compare-init{display:block; float:right; width:auto; min-width:170px; padding-left:10px; padding-right:10px; margin-top:10px;}
			.allowed-models{display:none !important;
				&.ready{display:block !important;}
			}
			.standard-features{display:none;}
			.model-content{
				p{display:none;}
				.price{display:block;}
			}
			.mw-content{
				.mw-compare-sticky{display:none;}
				.select-models{
					.model-container{
						.model-data{
							&.ready{
								.checker{left:0;}
							}
						}
					}
				}
			}
		}
		.smob-compare-init{width:100%; margin-bottom:0; top:-1px;
			span{line-height:40px;}
		}
	}

	.mw-wrapper {}

	.mw-header {border-bottom:1px solid $border-gray; padding:30px 10px 25px; font-family:$header-font-family; text-align:center; background:$gray-back;
		h1 {margin:0; font-size:rem-calc(30); font-weight:500;}
		img {margin:40px 0 0;}
		p {margin:20px auto 0; font-size:rem-calc(18);
			&.allowed-models, &.pluralize-models {margin-top:5px; font-size:rem-calc(14);}
		}
		.end{
			p{font-size:rem-calc(14px); margin-top:10px;}
		}
		.starting-price {display:none;}
	}
	
	.mw-content {
			
		.select-models {
			
			.model-container {border-bottom:1px solid $border-gray;
				&.end {margin-bottom:20px; border-bottom:0;}
				.model-data {padding:20px 18px;cursor:pointer;
					&.ready{ @include single-transition(all,500ms,ease);
						.model-select {padding:0;
							.checker{display:none; left:0; @include single-transition(all,500ms,ease);}
							h2 { color:$cta-blue; }
						}
					}
					&.selected {background:$gray-back;}
					.model-select {position:relative; padding:0 0 0 30px; vertical-align:top;
						.checker {position:absolute; left:0; top:0; width:20px; height:20px; 
							span {width:20px; height:20px;
								&.checked {background-position:-3px -236px;}
							}
						}
						input {cursor:pointer; visibility:hidden;}
						h2 {display:inline-block; margin:0; font-weight:bold; font-size:rem-calc(16); color:$text-gray;
							sup {line-height:0;}
						}
                        &.disabled {
                          opacity: 0.5; filter: alpha(opacity=50);
                          input {cursor:default;}
                        }
					}
					.model-content {margin-top:5px; font-family:$font-family-light; color:$text-gray;
						ul {margin:0;
							&.standard-features {
								li {position:relative; padding-left:25px;
									&:before {position:absolute; left:0px; top:10px; background-image:url('#{$img-path}/svg/icons.svg'); 
									display:block; background-repeat:no-repeat; background-position: -22px -750px; width: 3px; height: 3px; content: ' ';}
								}
							}
						}
						li {display:block; margin-top:5px;}
						> p {margin-top:5px; margin-bottom:0;}
						&.derivative-price {
							.offers {display:none;}
						}
					}
				}
			}
		}
    .single-model {text-align:center;
      .model-container {float:none; display:inline-block; border-bottom:0; text-align:left;
        .model-data {padding:0;
          h2 {padding:20px; font-size:rem-calc(16); font-weight:bold; margin-left:36px;}
          img {width:50%;margin-left: 36px;}
          .model-content {font-family:$header-font-family;
            ul {padding:25px 40px;}
            li {margin-bottom:10px; font-size:rem-calc(12);list-style: none;
              span {font-size:rem-calc(18); color:$dark-blue; font-weight: bold;
                &.blockStyle{display:block}
                &.attr-header{font-size:rem-calc(14); color:rgb(97,97,97);font-weight:normal;}
              }
            }
            > p {margin:20px 0 10px;}
            .icon {display:inline-block; vertical-align:middle;}
            .kba-buttons{
            	.link-cta{display:block;}
            }
            .kba-buttons.show-for-small-down{
              .link-cta{ display:block;
                margin-left:50px;float:none;
                .label-link{color:$cta-blue;font-size:1rem;float:none;}
              }
            }
          }
        }
      }
      .selected-sticky{display:none; background:#FFF; border-bottom: 1px solid $border-gray;
      	&.fixed{display:block; top:50px;
					h2{font-weight:bold; line-height:1; font-size:rem-calc(14); margin:18px 0; padding:0 20px;}
      	}
      }
    }
	}
	
	.mw-footer {}
	
	.mw-compare-sticky {display:block; position:fixed; left:0; width:100%; bottom:0; background:#FFF; box-shadow:0px 0px 5px rgba(0,0,0,0.3); z-index:1000;
		> div {float:none; max-width:1440px; margin:0 auto;}
		.buttons {text-align:right;
			h3 {display:inline-block; margin-right:20px; font-size:rem-calc(18);}
			button {display:inline-block; margin:20px 0;
				&.ready {background:$cta-blue; color:#FFF;
					&:hover {background:#FFF; color:$ford-blue;}
				}
			} 
			&.mobile-button {border-left:0; border-right:0; border-top:1px solid $border-gray; border-bottom:1px solid $border-gray; margin-bottom:0; width:100%; box-shadow:0 0 0 rgba(255,255,255,0);
				a{margin: 20px;}
			}
            &.mob-compareBtn .ui-btn{
              border-radius:0;background: none repeat scroll 0 0 #2d96cd;border:1px solid #2d96cd;color:white;margin:0;font-weight: normal;line-height:1.5em;opacity:1;filter: alpha(opacity=100);line-height: 1.5em;
              &.ui-disabled{color:#2d96cd;background: none repeat scroll 0 0 #fff;border:none;}
              button{opacity:0;filter: alpha(opacity=100);}
            }
		}
	}

 	.alt-theme{
		.tab-item{
			.tab-nav{}
			.tab-contents{
				div{
					div{
						a{ padding: 10px 0px; display:block !important; margin-top:-14px;
							span{ margin-bottom:15px; line-height:1; display:block !important;
								&:first-child{margin: 0 auto; @include transform(scale(0.62));}
								&:last-child{text-align:center; float:none; font-size:rem-calc(14); color:#fff;}
							}
						}
					}
				}
			}
		}
	}

	@media #{$small-only}{
		.mw-compare-sticky {border-top:1px solid $border-gray; border-bottom:1px solid $border-gray; box-shadow:0px 0px 0px rgba(0,0,0,0);
			> div {padding:0;}
			.buttons {margin:0;
				button {border:0; margin:0; width:100%; box-shadow:0 0 0 rgba(255,255,255,0);}
			}
		}
		.single-model{
			.accordion-block{
				.kba-buttons{
					a{
						span{display:block !important;}
					}
				}
			}
		}
	}

	@media #{$medium-only}{
		.mw-compare-sticky {border-top:1px solid $border-gray; border-bottom:1px solid $border-gray; box-shadow:0px 0px 0px rgba(0,0,0,0);
			> div {padding:0;}
			.buttons {margin:0;
				button {border:0; margin:0; width:100%; box-shadow:0 0 0 rgba(255,255,255,0);}
			}
		}

	}


	@media #{$medium-up}{

		.mw-content {
			.select-models {

				.model-container {
					.model-data {
						.model-select {
							label {font-size:rem-calc(16);}
						}
					}
				}
			}
          .single-model {
            .model-container {
              .model-data {
                img {width:70%;}
              }
            }
          }
		}

	}
	
	@media #{$large-up}{
		.smob-compare-init,.smob-compare-cancel{display:none !important;}
		.mw-header {border-bottom:0; padding:40px 100px; text-align:left; background:#FFF;
			h1 {margin:0;}
			p {margin:10px auto 0;font-size:rem-calc(16); color:$text-gray;}
			.end {text-align:right;
				p {margin-top:5px; font-size:rem-calc(12);}
			}
		}

		.mw-content {margin-bottom:50px; padding:0 80px;
			.select-models {
				.model-container {margin-bottom:5px; border-bottom:0; padding-left:0;
					.model-placeholder{ min-height:rem-calc(100);}
						img {margin-bottom:20px;}
					.model-data {margin:0 2px; padding:0; cursor:pointer; 
						.model-select {padding:0 0 0 55px;
							.checker {left:25px; display:block; @include single-transition(all,500ms,ease);}
							h2 {font-size:rem-calc(16); color:$text-gray;}
                            &.disabled {
                              opacity: 0.5; filter: alpha(opacity=50);
                              input {cursor:default;}
                            }
						}
						&.ready{ @include single-transition(all,500ms,ease);
							.model-select {padding:0 0 0 25px;
								.checker{left:25px;}
							}
						}
						.model-content {margin:10px 25px 0; border-top:1px solid $border-gray;
							ul {
								&.standard-features {
									li {margin-top:0;
										&:first-child {margin-top:5px;}
									}
								}
							}
						}
                        &.selected{background: rgb(250, 250, 250);}
					}
				}
			}
          .single-model {
          	.selected-sticky{
							.sticky-header{margin:0 6.597%;max-width:1440px;}
          	}
            .model-container {
              .model-data {
                h2 {font-size:rem-calc(16); margin-left:0px;}
                .model-content {border-top:0; margin-top:25px;
                  ul {padding:0;}
                  li {font-size:rem-calc(14); vertical-align:top; margin-bottom: 24px; padding-top:1rem; width:49%; list-style: none;
                    span {font-size:rem-calc(24);
                      &.blockStyle{display:block;}
                    }
                    sup {line-height:30px;}
                  }
                }
                .kba-buttons {
                  > a {margin-bottom:20px; vertical-align:top; }
                  span {float:none; vertical-align:middle;
                    &.label-link {color:$cta-blue;font-size:1rem;}
                  }
                }
              }
            }
            
          }
          
		}

		.mw-compare-sticky {
			.buttons {padding:20px 6rem;
				.ready{@include animation("attention .3s normal forwards");}
				button {margin:0; padding:10px; font-size:rem-calc(18);}
			}
		}
		

	}
	@media #{$large-only}{
		.single-model{
			.selected-sticky{
				&.fixed{
					.model-container{border-left:1px solid $border-gray; margin-left:20px;
					}
				}
      }
      .model-data{
      	h2{margin-left:0px;}
      }
		}
	}
	@media #{$xlarge-up}{
		  .selected-sticky{display:none;
				&.fixed{display:block; position:fixed; background-color:#FFF; border-bottom:1px solid $border-gray;
					.model-container{border-left:1px solid $border-gray; margin-left:rem-calc(-20);
						h2{font-size:rem-calc(16); margin:0;}
						img{width:70% !important; margin-bottom:20px;}
					}
				}
      }

      .single-model{
      	.model-data{
      		.model-content{
      			li{}
      		}
      	}
      	.selected-sticky{
      		.sticky-header{max-width:1440px; margin: 0 auto !important;}
      	}
      }
		
	}

    @media #{$xxlarge-up}{
        .single-model{
          .model-container{
            width: 33.33333%;
          }
        }
    }
}