.model-walk-accordion {overflow:hidden; width:auto;
	.title-text{width:auto; word-wrap:break-word;}
	.fixed-title{position:fixed; z-index:9997; word-wrap:break-word;}
	.absolute-title{position:absolute; z-index:9997; word-wrap:break-word;}
	.tab-data {
		.option {padding:10px 20px 20px;
            label {display: inline-block;color:$dark-blue;}
            input {opacity: 0;filter: alpha(opacity=0);}
            .checker-selected + label{color:$dark-blue;font-weight:bold;}
			span {display:inline-block; font-family:$font-family-light; color:$cta-blue;}
			.checker {
				span {border:1px solid $cta-blue;
					&.checked {background-color:$cta-blue;}
				}
                span.custom-checkbox{width:20px; height:20px;
                  input{
                    cursor: pointer;
                  }
                  border:1px solid $dark-blue;
                  position: relative;
                  top: -3px;
                }
                span.custom-checked{background-color: $dark-blue;}
			}
		}
		.column-holder {border-top:1px solid $border-gray; margin:0; padding:0 10px; clear:both;
			.title-holder { 
				.title-text {margin:20px 10px; font-size:rem-calc(24); color:$text-gray; z-index:1;}
			}
			.table-holder { float:right;
				table {border:none; border-spacing:0; width:100%;
					tr {
						td {padding:10px;
							p {margin:0; font-size:rem-calc(12); color:$text-gray; font-family:$body-font-family;}
							.opt {font-weight:bold;}
						}
					}
				}
			}
		}
	}

	@media #{$large-up}{
		.tab-data {
			.option {padding:20px 10px; text-align:right;}
            .disabled {cursor:default;opacity:0.1;filter: alpha(opacity=10);}
			.column-holder {margin:0; padding:0; height:100%;
				.title-holder {padding:0; position:static;
					.title-text {margin:47.5px 40px 47.5px 0px; font-size:rem-calc(20); @include single-transition(all,0.2s,ease);
					}
				}
				.table-holder {
					table {margin:40px 0;
						tr {
							td {border-left:1px solid $border-gray; padding:0;
								&:first-child{border-left:none;}
								p {padding:20px 30px; font-size:rem-calc(14);
                                  .vertical-middle-image,.vertical-middle-video{position: relative; top:4px;}
                                  .vertical-middle-tooltip{position: relative; top:6px;}
                                }
							}
						}
					}
				}
			}
		}
	}

	@media #{$xlarge-up}{
		.tab-data {
			.column-holder {
				.title-holder {
					.title-text {font-size:rem-calc(34);}
				}
			}
		}
	}
}