.page-title{padding:42px 0 0px; text-align:center; overflow:hidden;
	h1{color:$dark-blue; font-family: $font-family-bold; font-size:rem-calc(28);}

	@media #{$large-up} {padding:72px 0 0px;
		h1{font-size:rem-calc(35);}
	}
}