.gux-payment-presenter{
	> div:first-child{background-color:$gray-back;}
	.loading-icon { display: block; min-height: 200px; background: transparent url("../img/loader-blue.gif") scroll no-repeat 50% 45%;	}
	.model-container{
		> div {
			> div:first-child {background-color:$gray-back;}
		}
	}
	ul{margin-left:0;
		li{list-style-type: none;}
	}

	.nameplate-holder{padding-top:32px; background:$gray-back;
		.nameplate-content{
			.model-attributes{
				ul{ margin-left:0;
					li{list-style-type: none;
						span{display:block; color:$text-gray;
							&.attribute-details{font-size:rem-calc(18); color:$dark-blue;}
						}
					}
				}
			}
			.model-title,.model-attributes{text-align:center;}
			.model-title{
				.bold{font-weight:bold;}
			}
			.change-nameplate{text-align:center;
			}
			.change-model{margin-top:20px; background:$gray-back;
				label{padding-left:20px; color:$text-gray; font-size:rem-calc(12);}
				  .sort-area {background:$gray-back; min-height: 62px; margin:0 0 30px; position: relative; border-top:1px solid $border-gray; border-bottom:1px solid $border-gray; z-index: 999;
				    &:after {content:""; display:block; clear:both;}
				    .sort-dropdown { position: absolute; width: 100%; background:$gray-back;
				      &.fixedPos {position: fixed; top: 0; border-bottom: 1px solid $border-gray; box-shadow: 0 0 4px 0 $box-shadow;}
				      .text {display:block; cursor: pointer;
				        > span {position:absolute; right:0; background: url('#{$img-path}/icons.png') no-repeat -816px -1102px; width: 35px; height: 60px; display: block; margin-right: 15px; float: right;}
				        a {display:block; padding:15px 20px;}
				      }
				      .dropdown-list {display: none; width: 100%; background: $body-bg; line-height:20px; z-index:222; margin-bottom:0;
				        li {
				          &:hover {background: $hover-gray;}
				          a {display:block; padding:15px 20px;}
				        }
				        li.active {background: $hover-gray;}
				      }
				      &.active {box-shadow: 0 3px 4px 0 $box-shadow;
				        .dropdown-list {display: block;}
				        .text {
				          > span {background-position: -816px -1067px;
							&:first-child{position:absolute; right:0;}
				          }
				          a {color: $text-gray;}
				        }
				      }
				    }
				  }
			}
		}
	}
	.model-image{padding:0 50px; background:$gray-back; 
		img{width:100%;}
	}
	.model-options{padding-top:40px; background:$gray-back;
		ul{margin:0;
			li{text-align:center;
				span{display:block;
					&.model-header{color:$text-gray;}
					&.model-details{color:$dark-blue; font-size:rem-calc(30); padding-bottom:14px;}
				}
			}
		}
	}
	.tabs-wrap{
		.tabs-switch{
			.tab-options{
				ul{
					li{
						a{font-size:rem-calc(18);}
						&:active{border-bottom:1px solid $border-gray;}
					}
				}
			}
		}
		.tabs-content{
			.tab-content{
				.financial-options{
					label{padding-top:20px; padding-bottom:10px; padding-left:20px;}
					input{width:90%; margin:0 auto; padding:20px; height:50%; margin-bottom:14px; box-shadow:none; border:1px solid $border-gray;}
				}
			}
		}
		.payment-carousel{background:$gray-back; margin-top:20px; display:none;
			.carousel-holder{
				ul{ text-align:center;
					li{ background:#FFF; border:1px solid $dark-blue; min-height:180px; margin:40px 36px; border-bottom:3px solid $cta-blue;
						header{padding:15px; border-bottom:1px solid $border-gray;
							h2{font-size:rem-calc(18); color:$dark-blue; font-weight:bold; margin:0;}
						}
						.payment-terms,.fix-rate{ vertical-align:middle; padding:24px;
							> span{display:block; color:$text-gray;
								&.price{font-size:rem-calc(28); color:$dark-blue;
									.currency{vertical-align:super; font-size:70%;}
									sup{font-size:rem-calc(14);}
								}
							}
						}
						.fix-rate{ vertical-align:middle; padding:24px;
							> span{display:block}
						}
					}
				}
				ul[style]{
					li[style]{width:300px !important;}
				}
				.flex-control-nav{top:auto; bottom:30px;}
				.flex-viewport{padding-bottom:40px;}
			}
		}
	}

	.credits-accordion {
		.tab-item {
			.tab-nav{
			 .icon-holder{.icon-acc-arrow { margin-top:-10px;}}
			}
			.tab-contents{
					.content-holder{padding-bottom:40px; border-bottom:1px solid $border-gray;
						.payment-details{ padding:10px 20px 10px 2.967%; color:$text-gray;
							.price-holder{background:$gray-back; padding:10px;
								.price{float:right;}
							}
							ul{
								li{line-height:20px; padding:5px 10px 5px 30px; font-size:rem-calc(12);
									span{float:right;}
								}
							}
						}
						.view-offers{margin-left:30px; padding-left:2.967%; padding-bottom:30px;}
					}
			}
		}
	}
	.action-holder{padding:0 6.597%; margin-bottom:0;
		li{
			*{display:inline-block; color:$cta-blue;}
			.font-icon{padding:20px; padding-left:0px; padding-right:14px;
				[class^="icon-"]{margin:0 auto; @include icon-size(30);}
			}
			&:first-child{border-bottom:1px solid $border-gray;}
		}
	}

	//Start of Dropdown
	.sort-area { min-height: 62px; position: relative; border-top:1px solid $border-gray; border-bottom:1px solid $border-gray; z-index: 999; 
				    &:after {content:""; display:block; clear:both;}
				    .sort-dropdown {line-height:30px; position: absolute; width: 100%; background-color: $body-bg; border-bottom: 1px solid $border-gray;
				      &.fixedPos {position: fixed; top: 0; border-bottom: 1px solid $border-gray; box-shadow: 0 0 4px 0 $box-shadow;}
				      .text {display:block; cursor: pointer;
				        > span {background: url('#{$img-path}/icons.png') no-repeat -816px -1102px; width: 35px; height: 60px; display: block; margin-right: 15px; float: right;}
				        a {display:block; padding:15px 20px;}
				      }
				      .dropdown-list {display: none; width: 100%; background: $body-bg; line-height:20px; z-index:222;
				        li {
				          &:hover {background: $hover-gray;}
				          a {display:block; padding:15px 20px;}
				        }
				        li.active {background: $hover-gray;}
				      }
				      &.active {box-shadow: 0 3px 4px 0 $box-shadow;
				        .dropdown-list {display: block;}
				        .text {
				          > span {background-position: -816px -1067px;}
				          a {color: $text-gray;}
				        }
				      }
				    }
				  }
	//End of Dropdown
	@media #{$medium-up} {
		.nameplate-holder{ padding-right:0; padding-left:rem-calc(26);} 
	}
	
	@media #{$large-up} {background-color:#FFF; z-index:10000;
		& > div:first-child{background-color:#FFF;}
		.model-container{
			> div {
				> div:first-child {background-color:#FFF;}
			}
		}
		.nameplate-holder{ padding-right:0; padding-left:rem-calc(28);  background-color:#FFF;
			.nameplate-content{
				.model-title{
					h1{font-size:rem-calc(28); text-align:left;}
				}
				.model-attributes{text-align:left;}
				.change-nameplate{text-align:left;}
				.change-model{background:none;
					label{padding-left:0;}
					.sort-area{background:none; border-left:1px solid $border-gray; border-right:1px solid $border-gray; border-bottom:none;
						.sort-dropdown{background:none; height:100%;
							.dropdown-list{outline:1px solid $border-gray; margin-bottom:none !important;}
							&.active{border-bottom:none;
								.dropdown-list{outline-top:none;}
							}
						}
					}
				}
			}
		}
		.model-image{background:#FFF; padding-top:50px;}
		.model-options{background:#FFF;
			ul{
				li{
					span{text-align:left;}
				}
			}
		}
		.tabs-wrap{
			.payment-carousel{
				.carousel-holder{
					ul[style]{ width:100% !important; text-align:center;
						li[style]{ float:none !important; margin:30px 0; margin-right:0px; 
							&:last-child{margin-left:16px;}
						}
					}
				}
			}
			.tabs-content{
				.tab-content{
					.financial-options{
						label{padding-left:0;
						}
						[for="downpayment"]{padding-left:20px;}	
					}
				}
			}
		}
		.action-holder{ text-align:center;
			li{ display:inline-block; border-right:1px solid $border-gray; padding:0 40px; margin:20px 0;
				.font-icon{
					[class^="icon-"]{margin:0 auto; @include icon-size(50);}
				}
				&:first-child{border-bottom:none; border-left:1px solid $border-gray;}
				h3{vertical-align:middle; font-size:rem-calc(16);}
			}
		}
		.sort-area{background:none; border-left:1px solid $border-gray; border-right:1px solid $border-gray; border-bottom:none;
			.sort-dropdown{background:none; height:100%;
				.dropdown-list{outline:1px solid $border-gray; margin-bottom:none !important;}
				&.active{border-bottom:none;
					.dropdown-list{outline-top:none;}
				}
			}
		}
		.credits-accordion {
			.tab-item {
				.tab-contents{
						.content-holder{padding-bottom:40px; border-bottom:1px solid $border-gray;
							.payment-details{ padding:10px 20px 10px 2.967%; color:$text-gray;
								.price-holder{background:$gray-back; padding:10px; font-size:rem-calc(14);
									.price{float:right;}
								}
								ul{margin-bottom:0;
									li{line-height:20px; padding:10px 10px 5px 30px; font-size:rem-calc(14);
										span{float:right;}
									}
								}
							}
							.view-offers{margin-left:30px; padding-left:2.967%; padding-bottom:30px;}
						}
				}
			}
		}
	}
	@media #{$xxlarge-up} {
		.model-image{ margin:30px; }
	}
	@media #{$xxlarge-up} {
		.nameplate-holder{padding-left:120px;}
	}
}

//mini-showroom start
.mini-showroom{z-index:10000; background-color:#FFF; overflow:visible; padding:0;
	.vehicle-wrap{
		.heading{background-color:$border-gray;
			//.icon-close{background-image:url('#{$img-path}/svg/icons.svg'); background-position: -121px -156px; width: 30px; height: 29px; top:10px; left:auto; right:10px; cursor:pointer; @include transform(rotate(45deg));}
			.icon-close{color:#FFF; font-size:rem-calc(24); text-indent:0; position:absolute; right:0; width:30px; cursor:pointer; margin:0; left:auto; top:25%; right:24px;}
		}
		.sort-area{
			
			.text{font-size:rem-calc(16);}
		}
		.section-cars{padding:0 40px; position:relative;
			.showroom-error {font-size:rem-calc(14); color:$error-red; display:none; text-align:center; width:100%; top:-20px; position:absolute;}
		}
	}

	@media #{$large-up} {@include transform(translate(-50%,0)); max-width:1440px;  width:100%; padding:0;
		.vehicle-list{padding:0}
		.sort-area{
			.sort-dropdown{right:40px;}
		}
		.section-cars{padding:0 40px;}
		.vehicle-wrap{
			.heading{
				h1{text-align:center; padding:0; float:none; font-size:rem-calc(32);}
				.icon-close{top:30%; right:30px; font-size:rem-calc(28);}
			}
		}
		&.showroom-container {
			.vehicle-list {
				.section-cars{padding-top:60px; position:relative;}
				.vehicle-wrap .heading h1{font-size:rem-calc(32);}
			}
		}
	}
}
//mini-showroom end
