// global polk price styles
.need-price {font-family:$font-family-light; color:$text-gray;
	.postcode {margin-right:8px;}
	.get-postcode-usage {margin-left:5px;}
	.citation {
		.icon-info {left:2px; position:relative; top:6px;}
	}
	.block {display:block;}
	.prices-shown {
		.get-postcode-usage {margin-left:0;}
	}

	@media #{$large-up} {
		.block {display:inline;}
	}
}

.derivative-price {
	.price {
		.offers {display:block; margin:6px 0 -6px; overflow:hidden;
			.icon-offer {@include transform(scale(0.6)); margin:-12px -5px 0 -11px;}
			.label-link {display:block; margin:3px 0 0; color:$cta-blue;}
		}
	}
}