.recall {

	.accordion {
		dd {
			> a {color:$cta-blue; font-family:$font-family-light; font-size:rem-calc(13); padding:15px 40px 15px 16px; position:relative; line-height:1.5;
				.icon {background-position:right -218px; position:absolute; right:16px; width:20px; height:10px; top:50%; margin-top:-5px; @include scale-element(0.8,0.8);}
			}
			> .content {padding:0; border-bottom:1px solid #d7d7d7;}
			&.active {
				> a {
					.icon {background-position:right -170px;}
				}
			}
		}
		.item {border-top:1px solid #d7d7d7; padding:16px 16px 0;
			p {font-family:$font-family-regular; font-size:rem-calc(12); color:$text-gray; margin-bottom:12px;
				&.title {font-family:$font-family-light; font-size:rem-calc(14); margin:4px 0 2px;}
			}
			a {font-family:$font-family-light; color:$cta-blue; display:inline-block;
				span {float:right;}
				.icon {background-position:-500px 0; width:50px; height:50px; @include scale-element(0.4,0.4); margin:-14px 0 0 -8px;}
				&:hover .icon {background-position:-553px 0;}
			}
		}
	}

	@media #{$large-up} {

		.accordion {
			dd {
				> a {font-size:rem-calc(24); padding:15px 50px;
					.icon {@include scale-element(1,1); right:52px;}
				}
			}
			.item {padding:16px 58px 9px;
				p {font-size:rem-calc(16); margin-bottom:25px;
					&.title {font-size:rem-calc(22); margin:28px 0 10px;}
				}
				a {font-size:rem-calc(18); margin:10px 0;
					.icon {@include scale-element(0.6,0.6); margin:-11px 0 0 -2px;}
				}
			}
		}

	}
}