.recently-viewed {padding-bottom:10%;
	
	.showcase-items {
		.carousel {padding:0; width:100%; min-height:200px;
			.flex-viewport {overflow:visible !important; @include scale-element(0.65,0.65);}
			.slides {
				li {display:block;}
				img {margin:0 auto; width:auto; max-width:100%;}
				.caption {padding:5% 10% 0 10%;
					h2 {text-align:center; font-size:rem-calc(21);}
					p {margin:0; font-size:rem-calc(18); text-align:center; font-family:$font-family-regular;}
				}
				
			}
			.flex-control-nav {display:none;}
		}
	}

	@media #{$medium-up}{
		.showcase-items {
			.carousel {
				.slides {
					.caption {
						h2 {font-size:rem-calc(24);}
						p {font-size:rem-calc(26);}
					}
				}
			}
		}
	}

	@media #{$large-up}{
		.showcase-items {
			.carousel {width:85%; margin:0 auto; @include scale-element(1,1);
				.flex-viewport {@include scale-element(1,1);}
				.slides {
					> li {width:32% !important;}
					.caption {padding:5% 10% 0 10%;
						h2 {text-align:center; font-size:rem-calc(15);}
						p {margin:0; font-size:rem-calc(14); text-align:center;}
					}
				}
			}
			
		}
	}

	@media #{$xlarge-up}{
		.showcase-items {
			.carousel {
				.slides {text-align:center;
					li {float:none !important; display:inline-block !important;}
					.caption {
						h2 {font-size:rem-calc(16);}
						p {font-size:rem-calc(18);}
					}
				}
			}
			
		}
	}

}