.reveal-slider {text-align:center;

	.slider-intro {padding-bottom:20px;
		h1 {max-width:90%; color:$text-gray; margin:0 auto 0.75em; line-height:1;}
		p {max-width:90%; color:$text-gray; font-family:$font-family-regular; margin:0 auto; max-width:90%;}
	}

	.imageReveal {
		.imageReveal-drag-bar {position:absolute; top:17px; left:50%; background-color:#cdcdcd; z-index:1000; height:5px; border-radius:5px;}

		.imageReveal-overlay,
		.imageReveal-background {position:absolute; top:0; left:0; z-index:0;}

		.imageReveal-overlay {z-index:1000; overflow:hidden;}

		.imageReveal-drag {position:absolute; top:0; right:0; z-index:1001; height:40px; width:40px; border-radius:20px; background-color:#FFF; border:3px solid $cta-blue; cursor:ew-resize; cursor:grab; cursor:-moz-grab; cursor:-webkit-grab;
			&:hover {cursor:ew-resize; cursor:grab; cursor:-moz-grab; cursor:-webkit-grab;}
			.dragging {
				&:hover {cursor:ew-resize; cursor:grabbing; cursor:-moz-grabbing; cursor:-webkit-grabbing;}
			}
		}

	}
		
	@media #{$large-up}{
		.slider-intro {
			h1 {max-width:60%; margin:0 auto 0.5em auto;}
			p {max-width:60%; font-size:rem-calc(16); }		
		}

		.imageReveal {
			.imageReveal-drag-bar {top:48px;}
			.imageReveal-drag {top:30px;}
			.scroller-left,
			.scroller-right {height:50px; width:100px; position:absolute; z-index:1001; top:24px; background-repeat:no-repeat; background-position:center center; display:none;}
			.scroller-left {left:50%;}
			.scroller-right {right:50%;}
		}
	}

	@media #{$xlarge-up}{
		.imageReveal {
			.imageReveal-drag {height:30px; width:30px; border-radius:15px;}
		}
	}

	@media #{$xxlarge-up}{
		.imageReveal {
			.imageReveal-drag-bar {top:82px;}
			.imageReveal-drag {top:70px;}
			.scroller-left,
			.scroller-right {top:57px;}
		}
	}
}