.sync-reg, .owner-reg {
	.heading {top:10%;
		h1 {margin-bottom:20px;}
		h2 {color:#FFF; font-size:rem-calc(14); font-family:$font-family-RE;
			span {display:inline;}
		}
	}
	.multi-buttons {margin-top:80px;
		a {margin:0 auto;
			&:last-child {margin-top:15px;}
		}
	}

	@media #{$medium-up}{
		.heading {
			h2 {
				span {display:block;}
			}
			
		}
	}

	@media #{$large-up}{
		.heading {top:24%;
			h1 {margin-bottom:12px;}
			h2 {
				span {display:inline;}
			}
		}
		
		.multi-buttons {margin:0;
			a {display:inline-block; margin:0 auto; font-size:rem-calc(17);
				&:last-child {margin:0 0 0 15px;}
			}
		}
		.flex-control-nav {margin-top:15px;}
	}

	@media #{$xxlarge-up}{
		
	}
}