.tertiary-nav {border-top:1px solid $border-gray;
	.nav-control {
		.icon {display:inline-block; width:25px; height:40px;}
		.left-arrow {margin:0 5%; background-position:0 -568px;}
		.right-arrow {margin:0 5%; background-position:-62px -568px;}
		
		a {display:block; width:100%; height:100%; padding:55px 0; text-align:center;
			.conts{display:inline-block; font-size:rem-calc(12); font-family:$header-font-family; color:$header-font-color; text-align:left;
				span{display:block; margin-top:8px; font-size:rem-calc(16); color:$cta-blue;}
			}
		}
		&.right-control {float:right;border-left:1px solid $border-gray;
			a {
				.conts {text-align:right;}
			}
		}
	}
	
	@media #{$medium-up} {
		.nav-control {
			.icon {margin:5px 8%;}
			a {
				.conts {font-size:rem-calc(14);
					span {font-size:rem-calc(24);}
				}
			}
		}
	}
	

	@media #{$large-up} {
		.nav-control {
			a {padding:40px 0;
				.conts {font-size:rem-calc(16);
					span {font-size:rem-calc(26);}
				}
			}
		}
	}
}