.utility-bar{background:$gray-back;
		h1{font-size:rem-calc(32); text-align:center; padding:40px 50px 10px; margin:0;}
		.column-wrapper{margin:0 auto;
			ul{ margin:0; text-align:center;
				li{list-style:none; display:inline-block; width:30%; padding:10px 0 30px 0; vertical-align:top;
					a{margin:0; line-height:rem-calc(50);
						.font-icon{
							span{display:block; margin: 0 auto !important; vertical-align:middle;
								&[class^="icon-"]{
									font-size:rem-calc(46); background-color:transparent;
								}
							}
						}
						h3{color:$cta-blue; font-weight:$font-family-regular; font-weight:bold; font-size:rem-calc(12);display:block; text-align:center; padding-top:10px;}
					}
				}
			}
		}
	@media #{$large-up}{
		h1{padding:60px 0 30px 0;}
		.column-wrapper{ max-width:60%;
			ul{
				li{margin-bottom:50px;
					a{
						span{display:inline-block; margin-right:5px;
							//&.icon{@include transform(scale(0.9));}
							&[class^="icon-"]{
								font-size:rem-calc(44);
							}
						}
						.font-icon{display:inline-block;}
						h3{display:inline; font-size:rem-calc(16); padding:0; margin:0 0 0 5px; vertical-align:middle; line-height:rem-calc(22);}
					}
				}
			}
		}
	}
}