.video-carousel {position:relative; padding:0; text-align:center;
	.heading {
		h1 {margin-bottom:40px; color:#FFF;}
	}
	.video-items {font-family:$font-family-light;
		.carousel {
			.slides {
				li {margin-right:10px; -webkit-backface-visibility:visible;
					.video {position:relative; z-index:1; padding:0; font-family:$header-font-family;
						h2 {color:#FFF; margin:40px 40px 15px;}
						.video-play {display:block; position:absolute; top:50%; left:50%; @include transform(translateX(-50%) translateY(-50%) scale(0.65,0.65));}
						.caption {
							p {color:#fff; text-align:center; max-width:90%; margin:0 auto;}
							.control {text-transform:lowercase; padding-left:3px;}
						}
						.image {position:relative; margin:30px 0 40px; padding:0 5%;}
					}
				}
			}
			.flex-direction-nav {position:absolute; right:-145px; bottom:55%; @include translate3d(0,0,0); @include single-transition(all,200ms,ease);}
			.flex-control-nav {position:relative; bottom:0; margin:20px 0 30px;}
			&:hover {
				.flex-direction-nav {right:0;}
			}
		}
	}
	.buttons {text-align:center;
		.button {width:80%;}
	}
	
	@media #{$medium-up}{height:auto;
		.heading {margin:50px 0; padding-bottom:0;
			h1 {margin:0;}
		}
		.video-items {font-family:$font-family-light; 
			.carousel {
				.slides {
					li {
						.video {position:relative; z-index:1; padding:0; font-family:$header-font-family;
							h2 {color:#FFF; margin:40px 20px 20px;}
							.video-play {@include transform(translateX(-50%) translateY(-50%) scale(1,1));}
							.caption {padding:0 20px; display:none;
								p {font-size:rem-calc(14); color:$text-gray; padding:0 20px; text-align:left;}
								.control {text-transform:lowercase; padding-left:3px;}
							}
							.image {border:1px solid $text-gray; margin:0; padding:0; max-width:none;
								img {}
							}
						}
					}
				}
				.flex-control-nav {margin:30px 0;}
			}
		}
	}

	@media #{$large-up}{
		.heading {margin:100px 0;}
	}

	@media #{$xlarge-up}{}

	@media #{$xxlarge-up}{}
}