.visual-indicator { position: relative;
	.carousel {
		.flex-control-nav {bottom: 40px; left: 0;}
		.flex-control-nav li {vertical-align: middle;}		
	}
	.indicator { position: absolute; bottom: -2px; left: 50%; margin-left: -23px; width: 46px; height: 46px; opacity: 1; padding: 10px; @include transform(rotate(180deg) scale(0.7,0.7)); display: none;
		span {position: absolute; left: 50%; top: 50%; margin-top: -23px; margin-left: -23px; height: 46px; width: 46px; display: block; background: url("../img/svg/icons.svg") -165px -207px no-repeat;}
	}

	@media #{$large-up} {
		.indicator { bottom: 0px;}
	}

	.indicator-visible {display: block;}
	.indicator-fixed {position: fixed;}
}