<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Ford</title>
<!-- http-equiv meta-data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en-au" />
<meta http-equiv="imagetoolbar" content="no" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<!-- meta-data -->
<meta name="keywords" content="#" />
<meta name="description" content="#" />
<meta name="copyright" content="#" />
<!-- styles -->
<link type="text/css" rel="stylesheet" href="../../src/themes/ftd/css/global.css" media="screen, projection" />
<link type="text/css" rel="stylesheet" href="../../src/themes/ftd/css/modules1.css" media="screen, projection" />
<link type="text/css" rel="stylesheet" href="../../src/themes/ftd/css/modules2.css" media="screen, projection" />
<link type="text/css" rel="stylesheet" href="../../src/themes/ftd/css/print.css" media="print" />


<script type="text/javascript" src="../../src/themes/loader/js/live/prod.min.js"></script>
<script type="text/javascript">window.appLoader && appLoader("../../src/themes/ftd/js/lib/jquery-1.7.1.js");</script>
<script type="text/javascript">
    // $wait(function(){window.appLoader("http://foa.ndmgt.corp.nextdigital.com/fps/script/Ford/AUS");});
    $wait(function(){window.appLoader("../../src/themes/ftd/js/live/prod.min.js");});
</script>
</head>

<!--[if lt IE 7 ]><body class="ie6 light ltr"><![endif]--> 
<!--[if IE 7 ]><body class="ie7 light ltr"><![endif]--> 
<!--[if gt IE 7]><body class="light ltr"><![endif]-->
<!--[if !IE]><!--><body class="light ltr"><!--<![endif]-->

<div id="jumplinks">
	<p>Welcome, skip to the <a href="#content" title="Skip to content">content</a>.</p>
</div>

<div id="position">
	<div id="page">

		<div id="header">
			 
			 <div id="badge">
				<a href="#" title="Ford Home" style="background-image:url('media/logo.png');">Ford - Feel the difference</a>
				<img src="media/logo-print.png" width="300" height="32" alt="Ford - Feel the difference" />
			</div>
				
			<ul id="eyebrow">
				<li>
					<a href="#" title="">Brochure</a>
				</li>
				<li>
					<a href="#" title="">Test Drive</a>
				</li>
				<li>
					<a href="#" title="">Build your Ford</a>
				</li>
				<li>
					<a href="#" title="">Find a Dealer</a>
				</li>
				<li class="last">
					<a href="#" title="">Thai</a>
				</li>
			</ul>
			
			<ul id="nav">
				<li>
					<a href="javascript:void(0);" title="Home" class="nav-item"><span>Home</span></a>
				</li>
				
				<li>
					<a href="javascript:void(0);" title="Cars" class="nav-item"><span>Cars</span></a>
				</li>
				
				<li>
					<a href="javascript:void(0);" title="SUVs" class="nav-item"><span>SUVs</span></a>
				</li>
				
				<li>
					<a href="javascript:void(0);" title="Commercial" class="nav-item"><span>Commercial</span></a>
					<div class="mega-menu"><!-- begin flyout -->
						<div>
							<div class="close-button"><a href="#" title="Close">Close</a></div>
							<div class="items">
								<div class="row">
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_fiesta.jpg" width="146" height="109" alt="Fiesta" />
												<h3>
													<a href="#">Fiesta</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $24,490</p>
										<p>1.6L Duratec engine</p>
										<p>4 speed manual</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_mondeo.jpg" width="146" height="109" alt="Mondeo" />
												<h3>
													<a href="#">Mondeo</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $41,890</p>
										<p>2.3L Duratec engine</p>
										<p>6 speed manual</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_falcon.jpg" width="146" height="109" alt="Falcon &amp; G Series" />
												<h3>
													<a href="#">Falcon &amp; G Series</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $24,490</p>
										<p>2.3L Duratec engine</p>
										<p>6 speed manual</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_falconwagon.jpg" width="146" height="109" alt="Falcon Wagon" />
												<h3>
													<a href="#">Falcon Wagon</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $31,490</p>
										<p>2.3L Duratec engine</p>
										<p>6 speed manual</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_focus.jpg" width="146" height="109" alt="Focus" />
												<h3>
													<a href="#">Focus</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $31,490</p>
										<p>2.3L Duratec engine</p>
										<p>6 speed manual</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_territory.jpg" width="146" height="109" alt="Territory" />
												<h3>
													<a href="#">Territory</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $24,490</p>
										<p>2.3L Duratec engine</p>
										<p>6 speed manual</p>
									</div>
								</div>
								<div class="row">
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_falconute.jpg" width="146" height="109" alt="Falcon Ute" />
												<h3>
													<a href="#">Falcon Ute</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $41,890</p>
										<p>2.3L Duratec engine</p>
										<p>6 speed manual</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_ranger.jpg" width="146" height="109" alt="Ranger" />
												<h3>
													<a href="#">Ranger</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $31,490</p>
										<p>2.3L Duratec engine</p>
										<p>6 speed manual</p>
									</div>
								</div>
							</div>
							
							<div class="bottom">
								<ul class="future-vehicles">
									<li class="label">Future Cars:</li>
									<li class="model first clickable">
										<div class="image">
											<img src="media/vehicle_fiesta_small.png" width="125" height="75" alt="Fiesta" />
										</div>
										<div class="details">
											<h4><a href="#" title="All new Fiesta">All new Fiesta</a></h4>
											<p>Coming July 2010</p>
										</div>
									</li>
									<li class="model clickable">
										<div class="image">
											<img src="media/vehicle_fiesta_small.png" width="125" height="75" alt="Fiesta" />
										</div>
										<div class="details">
											<h4><a href="#" title="All new Fiesta">All new Fiesta</a></h4>
											<p>Coming July 2010</p>
										</div>
									</li>
									<li class="model last clickable">
										<div class="image">
											<img src="media/vehicle_fiesta_small.png" width="125" height="75" alt="Fiesta" />
										</div>
										<div class="details">
											<h4><a href="#" title="All new Fiesta">All new Fiesta</a></h4>
											<p>Coming July 2010</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div><!-- end flyout -->
				</li>

				<li class="current">
					<a href="javascript:void(0);" title="All Vehicles" class="nav-item"><span>All Vehicles</span></a>
					<div class="mega-menu"><!-- begin flyout -->
						<div>
							<div class="close-button"><a href="#" title="Close">Close</a></div>
							<div class="items">
								<div class="row">
									<div class="item clickable">
										<h4>Cars</h4>
										<div class="head">
											<div>
												<img src="media/vehicle_fiesta.jpg" width="146" height="109" alt="Fiesta" />
												<h3>
													<a href="#">Fiesta</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $24,490</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_focus.jpg" width="146" height="109" alt="Focus" />
												<h3>
													<a href="#">Focus</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $31,490</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_mondeo.jpg" width="146" height="109" alt="Mondeo" />
												<h3>
													<a href="#">Mondeo</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $41,890</p>
										<p>Lorem ipsum dolor sit amet.</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_falcon.jpg" width="146" height="109" alt="Falcon &amp; G Series" />
												<h3>
													<a href="#">Falcon &amp; G Series</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $24,490</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_falconwagon.jpg" width="146" height="109" alt="Falcon Wagon" />
												<h3>
													<a href="#">Falcon Wagon</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $31,490</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_focus.jpg" width="146" height="109" alt="Focus" />
												<h3>
													<a href="#">Focus</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $31,490</p>
									</div>
								</div>
								<div class="row">
									<div class="item clickable">
										<h4>SUVs</h4>
										<div class="head">
											<div>
												<img src="media/vehicle_territory.jpg" width="146" height="109" alt="Territory" />
												<h3>
													<a href="#">Territory</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $24,490</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_territory.jpg" width="146" height="109" alt="Territory" />
												<h3>
													<a href="#">Territory</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $24,490</p>
									</div>
									<div class="item clickable">
										<h4>Commercial</h4>
										<div class="head">
											<div>
												<img src="media/vehicle_transit.jpg" width="146" height="109" alt="Transit" />
												<h3>
													<a href="#">Transit</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $41,890</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_falconute.jpg" width="146" height="109" alt="Falcon Ute" />
												<h3>
													<a href="#">Falcon Ute</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $41,890</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_ranger.jpg" width="146" height="109" alt="Ranger" />
												<h3>
													<a href="#">Ranger</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $31,490</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_transit.jpg" width="146" height="109" alt="Transit" />
												<h3>
													<a href="#">Transit</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $41,890</p>
									</div>
								</div>
								<div class="row">
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_falconute.jpg" width="146" height="109" alt="Falcon Ute" />
												<h3>
													<a href="#">Falcon Ute</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $41,890</p>
									</div>
									<div class="item clickable">
										<div class="head">
											<div>
												<img src="media/vehicle_ranger.jpg" width="146" height="109" alt="Ranger" />
												<h3>
													<a href="#">Ranger</a>
												</h3>
											</div>
										</div>
										<p class="price">RRP From $31,490</p>
									</div>
								</div>
							</div>
							
							<div class="bottom">
								<ul class="future-vehicles">
									<li class="label">Future Cars:</li>
									<li class="model first clickable">
										<div class="image">
											<img src="media/vehicle_fiesta_small.png" width="125" height="75" alt="Fiesta" />
										</div>
										<div class="details">
											<h4><a href="#" title="All new Fiesta">All new Fiesta</a></h4>
											<p>Coming July 2010</p>
										</div>
									</li>
									<li class="model clickable">
										<div class="image">
											<img src="media/vehicle_fiesta_small.png" width="125" height="75" alt="Fiesta" />
										</div>
										<div class="details">
											<h4><a href="#" title="All new Fiesta">All new Fiesta</a></h4>
											<p>Coming July 2010</p>
										</div>
									</li>
									<li class="model last clickable">
										<div class="image">
											<img src="media/vehicle_fiesta_small.png" width="125" height="75" alt="Fiesta" />
										</div>
										<div class="details">
											<h4><a href="#" title="All new Fiesta">All new Fiesta</a></h4>
											<p>Coming July 2010</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div><!-- end flyout -->
				</li>
				
				<li>
					<a href="javascript:void(0);" title="Research" class="nav-item"><span>Research</span></a>
					<div class="menu"><!-- begin flyout -->
						<div>
							<ul>
								<li class="icon icon-buildprice">
									<a title="" href="#">Build &amp; Price</a>
								</li>
								<li class="icon icon-brochures">
									<a title="" href="#">Brochures</a>
								</li>
								<li class="icon icon-comparison">
									<a title="" href="#">Comparison</a>
								</li>
							</ul>
						</div>
					</div><!-- end flyout -->
				</li>
				
				<li>
					<a href="javascript:void(0);" title="Buying" class="nav-item"><span>Buying</span></a>
					<div class="menu"><!-- begin flyout -->
						<div>
							<ul>
								<li class="icon icon-hotdeals">
									<a title="" href="#">Hot Deals</a>
								</li>
								<li class="icon icon-testdrive">
									<a title="" href="#">Test Drive</a>
								</li>
								<li class="icon icon-dealer">
									<a title="" href="#">Locate a Dealer</a>
								</li>
								<li class="icon icon-used">
									<a title="" href="#">Used Vehicles</a>
								</li>
							</ul>
						</div>
					</div><!-- end flyout -->
				</li>
				
				<li>
					<a href="javascript:void(0);" title="Owners" class="nav-item"><span>Owners</span></a>
					<div class="menu"><!-- begin flyout -->
						<div>
							<ul>
								<li class="icon icon-services">
									<a title="" href="#">Ford Service</a>
								</li>
								<li class="icon icon-warranty">
									<a title="" href="#">Warranty</a>
								</li>
								<li class="icon icon-accessories">
									<a title="" href="#">Accessories</a>
								</li>
								<li class="icon icon-merchandise">
									<a title="" href="#">Merchandise</a>
								</li>
								<li class="icon icon-parts">
									<a title="" href="#">Ford Parts</a>
								</li>
							</ul>
						</div>
					</div><!-- end flyout -->
				</li>
				
				<li class="last">
					<a href="javascript:void(0);" title="" class="nav-item"><span>About Ford</span></a>
					<div class="menu"><!-- begin flyout -->
						<div>
							<ul>
								<li class="icon icon-newsroom">
									<a title="" href="#">Newsroom</a>
								</li>
								<li class="icon icon-careers">
									<a title="" href="#">Careers</a>
								</li>
								<li class="icon icon-corporate">
									<a title="" href="#">Ford Corporate</a>
								</li>
								<li class="icon icon-community">
									<a title="" href="#">Community</a>
								</li>
								<li class="icon icon-environment">
									<a title="" href="#">Environment</a>
								</li>
							</ul>
						</div>
					</div><!-- end flyout -->
				</li>
			</ul>
		</div>

		<!--[if lt IE 7 ]>
		<div id="browser-warning">
			<h1>Attention</h1>
			<p>Your browser is no longer supported. Please upgrade to a modern browser.</p>
			<ul>
				<li><a target="_blank" href="http://www.google.com/chrome/index.html?brand=CHNY&utm_campaign=en" title="Get Google Chrome browser" class="browser-chrome">Google Chrome</a></li>
				<li><a target="_blank" href="http://www.mozilla.com/en-US/" title="Get Mozilla Firefox browser" class="browser-firefox">Mozilla Firefox</a></li>
				<li><a target="_blank" href="http://www.opera.com/browser/" title="Get Opera browser" class="browser-opera">Opera</a></li>
				<li><a target="_blank" href="http://www.apple.com/safari/" title="Get Safari browser" class="browser-safari">Safari</a></li>
				<li><a target="_blank" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" title="Get Internet Explorer browser" class="browser-ie">Internet Explorer</a></li>
			</ul>
		</div>		
		<![endif]--> 
		
		<div id="subnav">
			<h2>Fiesta</h2>
			<ul>
				<li>
					<a href="#" title="Model">Model</a></li>
				<li>
					<a href="#" title="Colours &amp; Trims">Colours &amp; Trims</a></li>
				<li class="current">
					<a href="#" title="Specs">Specs</a></li>
				<li>
					<a href="#" title="Accessories">Accessories</a></li>
				<li>
					<a href="#" title="Gallery">Gallery</a></li>
				<li>
					<a href="#" title="Downloads">Downloads</a></li>
				<li>
					<a href="#" title="Buzz">Buzz</a></li>
			</ul>
		</div>

		<h1 class="page-title">Hot Deals Test</h1>
		<div class="rss-addthis">
			<div class="rss">
				<a href="#" title="RSS feed">RSS</a></div>
			<div class="addthis">
				<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4c7c570106642ec6">
					<img src="http://s7.addthis.com/static/btn/sm-share-en.gif" width="83" height="16" alt="Bookmark and Share" style="border:0"/></a>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c7c570106642ec6"></script>
			</div>
		</div>

		<!-- Layout01
		<div id="principal">
			<div class="principal-content">
				<div class="principal-hero">
					<img width="780" height="325" src="/servlet/Satellite?blobcol=urlpicture&amp;blobheader=image%2Fjpeg&amp;blobheadername1=Cache-Control&amp;blobheadername2=Content-Disposition&amp;blobheadername3=Content-Length&amp;blobheadervalue1=max-age%3D1000&amp;blobheadervalue2=inline%3B+filename%3D1248888898085.jpg&amp;blobheadervalue3=372106&amp;blobkey=id&amp;blobtable=DFYImage&amp;blobwhere=1248888898085&amp;ssbinary=true">
				</div>
				<h3 class="ei-enabled">
					<b>About Ford</b><br><br>
					Ford's past, present and future make for a fascinating journey through time. We hope you enjoy learning more about the company.
				</h3>
			</div>
		</div>
		 -->

		<div id="principal">
			<div class="principal-content">
				<div class="principal-hero">
					<img src="media/hotdeals/background2.jpg" />
				</div>

				<div id="vehiclematrix">
					<div>
						<!-- START HOT DEALS WORKINGS -->
						<div class="hotdeal-nojs">
							<p>
								You need to enable browser JavaScript to allow for optimal user experiance.
							</p>
						</div>
						<div id="hotdeals-panel" class="hotdeal">
							<p>
								Offers shown for region <span class="region">Melbourne</span>
							</p>
						</div>
					</div>
				</div>
			
			</div>
		</div>

		<div id="body">
			<ul id="breadcrumb">
				<li>
					<a href="#" title="Home">Home</a></li>
				<li>
					<a href="#" title="Owners">Owners</a></li>
				<li>
					<a href="#" title="SYNC">SYNC</a></li>
				<li>
					<a href="#" title="About SYNC">About SYNC</a></li>
				<li class="last">
					SYNC By Model Year</li>
			</ul>
			
			<div id="content">
				<!--Layout 01-->
				<div class="cms">
					<h1>Introductory Paragraph</h1>
					<p>
						Territory TX models shown in Smoke. Smoke available from July 2011 production.
						Bluetooth&reg; is a registered trademark of Bluetooth SIG Inc., and is used under
						licence. Customers should consult their Ford Dealer on the ability of their mobile
						phone handset to integrate with the Bluetooth&reg; system prior to making a purchase
						decision.
					</p>
				</div>
				<div class="hotdeal-para">
					<h2>Please <a href="#">see your local Ford Dealer</a> for latest offers on Focus</h2>
					<p>
						<a href="#">View latest offers</a> <span class="user-selected-postcode-msg"> avaliable in your selected postcode <span class="user-selected-postcode"></span></span>
					</p>
					<p>
						<a href="#">Contact your local dealer</a> for Ford lateast offer.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut tellus nisl, quis sollicitudin augue. Sed non eros ante, eget accumsan neque. Etiam porta bibendum justo a molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis ligula erat, in tristique metus.
					</p>
				</div>
				<ul style="position:relative;height:90px;margin-top:10px" class="switch">
					<li>
						<a href="#">
							<img src="media/hotdeals/linkedimg1.jpg" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="media/hotdeals/linkedimg2.jpg" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="media/hotdeals/linkedimg3.jpg" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="media/hotdeals/linkedimg4.jpg" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="media/hotdeals/linkedimg5.jpg" />
						</a>
					</li>
				</ul>

				<!--Layout 02-->
				<div class="cms">
					<h1>Introductory Paragraph</h1>
					<p>
						Territory TX models shown in Smoke. Smoke available from July 2011 production.
						Bluetooth&reg; is a registered trademark of Bluetooth SIG Inc., and is used under
						licence. Customers should consult their Ford Dealer on the ability of their mobile
						phone handset to integrate with the Bluetooth&reg; system prior to making a purchase
						decision.
					</p>
				</div>
				<div class="derivatives ei-enabled">
					<div class="row">
						<div class="derivative ">
							<div class="head clickable">
								<div>
									<img height="96" width="221" src="media/hotdeals/car2.jpg" title="Focus RS" alt="Focus RS" />
									<h3><a title="Fiesta ECOnetic" class="external" href="http://www.ford.com.au/brochurefiestaeconetic">Fiesta ECOnetic</a></h3>
								</div>
							</div>
							<div class="body">
								<p>1.6L petrol engine with 5-speed manual</p>
								<p>Optional 1.6L Powershift&reg; automatic</p>
								<p>CD audio system with auxiliary input</p>
								<p>Bluetooth&reg; with Voice Control*</p>
								<p>ABS with DSC, 2 airbags and driver beltminder</p>
								<p>Air conditioning</p>
							</div>
						</div>
						<div class="derivative ">
							<div class="head clickable">
								<div>
									<img height="96" width="221" src="media/hotdeals/car1.jpg" title="Focus RS" alt="Focus RS" />
									<h3><a title="Fiesta" class="external" href="http://www.ford.com.au/brochurefiesta">Fiesta</a></h3>
								</div>
							</div>
							<div class="body">
								<p>All the features of the CL Hatch, PLUS:</p>
								<p>1.6L petrol engine with 6-speed Powershift&reg; automatic as standard</p>
								<p>Boot capacity of 430 litres</p>
							</div>
						</div>
						<div class="derivative last">
							<div class="head clickable">
								<div>
									<img height="96" width="221" src="media/hotdeals/car1.jpg" title="Focus RS" alt="Focus RS" />
									<h3><a title="New Focus" class="external" href="http://www.ford.com.au/newfocuspreview">New Focus</a></h3>
								</div>
							</div>
							<div class="body">
								<p>All the features of the CL Hatch PLUS:</p>
								<p>Optional 1.6L Diesel engine with 5-speed manual</p>
								<p>Side curtain/thorax and driver's knee airbag</p>
								<p>Leather wrapped steering wheel</p>
								<p>Cruise control</p>
								<p>15" alloy wheels</p>
								<p>Power rear windows</p>
							</div>
						</div>
						<div class="derivative last">
							<div class="head clickable">
								<div>
									<img height="96" width="221" src="media/hotdeals/car1.jpg" title="Focus RS" alt="Focus RS" />
									<h3><a title="New Focus" class="external" href="http://www.ford.com.au/newfocuspreview">New Focus</a></h3>
								</div>
							</div>
							<div class="body">
								<p>All the features of the CL Hatch PLUS:</p>
								<p>Optional 1.6L Diesel engine with 5-speed manual</p>
								<p>Side curtain/thorax and driver's knee airbag</p>
								<p>Leather wrapped steering wheel</p>
								<p>Cruise control</p>
								<p>15" alloy wheels</p>
								<p>Power rear windows</p>
							</div>
						</div>
					</div>
				</div>

				<!--Layout 03-->
				<div class="cms">
					<h1>Introductory Paragraph</h1>
					<p>
						Territory TX models shown in Smoke. Smoke available from July 2011 production.
						Bluetooth&reg; is a registered trademark of Bluetooth SIG Inc., and is used under
						licence. Customers should consult their Ford Dealer on the ability of their mobile
						phone handset to integrate with the Bluetooth&reg; system prior to making a purchase
						decision.
					</p>
				</div>
				<div class="feature-sections hot-deals">
					<div class="row">
						<div class="feature-content halfwidth half-a">
							<img width="380" height="200" src="media/hotdeals/hotdeal-offer1.jpg" />
							<ul class="hot-deal-logos">
								<li class="logo capped-price"><span class="accessible">Capped Price</span></li>
								<li class="logo ancap"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
							<ul class="hot-deal-logos">
								<li class="logo bst20"><span class="accessible">Capped Price</span></li>
								<li class="logo bst35"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
							<ul class="hot-deal-logos">
								<li class="logo bst50"><span class="accessible">Capped Price</span></li>
								<li class="logo bst40"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
							<ul class="hot-deal-logos">
								<li class="logo bst40p"><span class="accessible">Capped Price</span></li>
								<li class="logo bst60"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
							<ul class="hot-deal-logos">
								<li class="logo drivecity"><span class="accessible">Capped Price</span></li>
								<li class="logo drivesmall"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
							<ul class="hot-deal-logos">
								<li class="logo drivefamily"><span class="accessible">Capped Price</span></li>
								<li class="logo drive40"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
							<ul class="hot-deal-logos">
								<li class="logo drive40p"><span class="accessible">Capped Price</span></li>
								<li class="logo driveute"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
							<ul class="hot-deal-logos">
								<li class="logo drivegreen"><span class="accessible">Capped Price</span></li>
								<li class="logo drivesafe"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
							<ul class="hot-deal-logos">
								<li class="logo top-gear"><span class="accessible">Capped Price</span></li>
								<li class="logo wheels"><span class="accessible">Ancap Rated 5 star</span></li>
							</ul>
						</div>
						<div class="feature-content halfwidth half-b">
				 			<div class="cms">
								<h2>Focus Ambiente</h2>
								<h3>$21,990</h3>
								<p class="disc">Driveaway price * includes pretige colours.</p>
								<p>
									Loren ipsum onsectetuer adipiscing edit sed diam nonummy rich eulsmot tincidunt ut
									laoreer dobre meamgk lelowk osdikk owkddf loinge ekixdee seea kiokkg klerkqre zcferrs.
								</p>
								<ul>
									<li>Fue eficient 1.6L petrol engine (6.2L)/100KM) *</li>
									<li>5 speed manual</li>
									<li>Bluetooth(8) with Voice Control *</li>
									<li>USB port and Fod connectivty</li>
									<li>Dynamic Stability Control</li>
								</ul>
								<p>
									<a href="#" title="Find out more about Focus">Find out more about Focus</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="disclaimer">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut tellus nisl, quis sollicitudin augue. Sed non eros ante, eget accumsan neque. Etiam porta bibendum justo a molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis ligula erat, in tristique metus. 
				</p>
			</div>

		</div>
		<div id="nav-footer"><!-- begin fat footer nav -->
			<div class="nav-footer-col nav-footer-col-first">
				<h2>Vehicles</h2>
				<ul>
					<li>
						<a href="#" title="">
							Cars</a></li>
					<li>
						<a href="#" title="">
							SUVs</a></li>
					<li>
						<a href="#" title="">
							Commercials</a></li>
					<li>
						<a href="#" title="">
							All Vehicles</a></li>
				</ul>
			</div>
			
			<div class="nav-footer-col">
				<h2>Research</h2>
				<ul>
					<li class="icon icon-buildprice">
						<a href="#" title="">
							Build &amp; Price</a></li>
					<li class="icon icon-brochures">
						<a href="#" title="">
							Brochures</a></li>
					<li class="icon icon-comparison">
						<a href="#" title="">
							Comparison</a></li>
				</ul>
			</div>
			
			<div class="nav-footer-col">
				<h2>Buying</h2>
				<ul>
					<li class="icon icon-hotdeals">
						<a href="#" title="">
							Hot Deals</a></li>
					<li class="icon icon-testdrive">
						<a href="#" title="">
							Test Drive</a></li>
					<li class="icon icon-dealer">
						<a href="#" title="">
							Locate a Dealer</a></li>
					<li class="icon icon-used">
						<a href="#" title="">
							Used Vehicles</a></li>
				</ul>
			</div>
			
			<div class="nav-footer-col">
				<h2>Owners</h2>
				<ul>
					<li class="icon icon-services">
						<a href="#" title="">
							Ford Service</a></li>
					<li class="icon icon-warranty">
						<a href="#" title="">
							Warranty</a></li>
					<li class="icon icon-accessories">
						<a href="#" title="">
							Accessories</a></li>
					<li class="icon icon-merchandise">
						<a href="#" title="">
							Merchandise</a></li>
					<li class="icon icon-parts">
						<a href="#" title="">
							Ford Parts</a></li>
				</ul>
			</div>

			<div class="nav-footer-col">
				<h2>About Ford</h2>
				<ul>
					<li class="icon icon-newsroom">
						<a href="#" title="">
							Newsroom</a></li>
					<li class="icon icon-careers">
						<a href="#" title="">
							Careers</a></li>
					<li class="icon icon-corporate">
						<a href="#" title="">
							Ford Corporate</a></li>
					<li class="icon icon-community">
						<a href="#" title="">
							Community</a></li>
					<li class="icon icon-environment">
						<a href="#" title="">
							Environment</a></li>
				</ul>
			</div>
		</div><!-- end fat footer nav -->
		
	</div>
</div>	


<div id="footer-wrapper">
	
	<div id="footer">
				
		<div id="footer-links">
			<ul>
				<li class="first">
					<a href="#" title="">
						Sitemap</a></li>
				<li>
					<a href="#" title="">
						Privacy</a></li>
				<li>
					<a href="#" title="">
						Disclaimer</a></li>
				<li class="last">
					<a href="#" title="">
						Visit Ford.com</a></li>
			</ul>
			<p>
				&copy; 2010 Ford Motor Company of Australia Limited</p>
		</div>
			
		<div id="badge-footer">
			<a href="#" title="Ford Home" style="background-image:url('media/logo-stacked.png');">Ford - Feel the difference</a></div>
	</div>
	
</div>

<!-- Hot Deals Conf goes in the footer 
Real urls for JSON service /servlet/ContentServer?pagename=DFY/HotDeals/Regionator&site=<site>						
-->
<script id="hotdeals-data" type="text/x-json">
{
"xhr-hotdeals-data":"hotDealsJSON.js?temp=20"
,"xhr-hotdeals-form":"overlay-hot-deals-form.html?temp=18"
,"page-region":"Region1"
}
</script>
<script id="tmpl-hotdeals-links" type="text/x-jquery-tmpl">
<p class="hotdeals-postcode">
{{if error}}
	${error}<br />
{{/if}}
{{if wrongPostcode}}
	Your chosen postcode is outside of this region.
	<br /><a href="/calculate-region" class="force-overlay-hotdeals"> Not you postcode? Click to change you postcode.</a>
	<br /><a href="/hotdeals" class="overlay-hotdeals">Click to see your region.</a>
{{else postcode}}
	Your chosen postcode is ${postcode}.
	<br /><a href="/hotdeals" class="force-overlay-hotdeals">Not you postcode? Click to change you postcode.</a>
{{else}}
	<a href="/hotdeals" class="force-overlay-hotdeals">Want to see offers in your local region? Click to find out how.</a>
{{/if}}
</p>
</script>
<!-- / END HOT DEALS WORKINGS -->

</body>
</html>