/* IE8 styles for Service Booking Xtime */

.service-booking #content-modal.reveal-modal .content-col {width:455px; padding:52px 0 40px; margin:0 auto;}
.service-booking #content-modal.reveal-modal {width:520px; margin-left:-260px; font-size:1em;}
.service-booking.apa #content-modal.reveal-modal {font-size:0.625em;}
.service-booking.apa #content-modal.reveal-modal .row {width:auto;}
.service-booking #content-modal.reveal-modal a {padding:0;}
.service-booking .loading {background:url("../img/ajax-loader.gif") center 354px no-repeat;}
.service-booking.apa .loading {background:url("../img/ajax-loader.gif") center 338px no-repeat;}
.service-booking #content-modal.reveal-modal .listing-details p span {display:inline;}
.service-booking #content-modal.reveal-modal .item p {width:300px;}
.service-booking #content-modal.reveal-modal .icons-list {width:290px;}
.service-booking #content-modal.reveal-modal .pagination {width:375px;}
.service-booking #content-modal.reveal-modal .fbform {width:292px;}
.service-booking #content-modal.reveal-modal .fbform input[type="text"] {width:274px;}