/*billboard*/
.billboard ul{margin-left:0;list-style:none;}
 .billboard .carousel {position: relative;}   
.billboard .carousel .flex-control-nav {
    bottom: 40px;
    left: 0;
	width: 100%;
    position: absolute;
    text-align: center;
    z-index: 2;
	    list-style: none;
}
.billboard .carousel .flex-control-nav li {
    vertical-align: middle;
	display: inline-block;
	margin: 0 15px;
}
.billboard .carousel .flex-control-nav li  a {
    margin-top: 0;
    width: 8px;
    height: 8px;
	display: block;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
	transition: all 300ms ease-out;
}
.billboard .carousel .flex-control-nav li  a.flex-active{
    background: none;
    border: 1px solid #FFFFFF;
    -moz-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
	}
.billboard .carousel .flex-direction-nav a {
    display: block;
    padding: 8px 5px 5px;
	text-decoration: none;
    width: 50px;
    height: 56px;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    z-index: 9999;
    text-indent: -9999px;
}

.flex-direction-nav .flex-prev {
    right: 0px;
    background: url("../img/svg/icons.svg") no-repeat -244px 0;
}
.flex-direction-nav .flex-prev:hover {
  background-position: -310px 0;
}
.flex-direction-nav .flex-next {
    margin-top: -59px;
    right: 0px;
    background: url("../img/svg/icons.svg") no-repeat -121px 0px;
}
.flex-direction-nav .flex-next:hover {
  background-position: -179px 0;
}