 /* line 1, ../scss/modules/_dealerlocator.scss */
  .dealer-locator {
    /* dealer search result */
    /* dealer-result-detail */
    /* dealer-disambiguation */
  }
  /* line 388, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-map-container {
    padding: 0;
    min-height: 700px;
  }
  /* line 389, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-map-container .dealer-map-field {
    min-height: 700px;
    display: none;
  }
  /* line 390, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-map-container .dealer-landing {
    width: 100%;
  }
  /* line 393, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .search-info-column {
    position: absolute;
    z-index: 1;
    top: 40px;
    margin-left: 15px;
  }
  /* line 396, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-unaware,
  .dealer-locator .dealer-result-container,
  .dealer-locator .dealer-disambiguation {
    width: 100%;
    min-width: 370px;
    max-width: 430px;
    padding: 0;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
  }
  /* line 397, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .wrap {
    width: auto;
    padding: 0;
  }
  /* line 398, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .wrap .search-panel {
    width: 100%;
  }
  /* line 399, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .wrap .search-panel .keyword-field {
    font-size: 16px;
  }
  /* line 400, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .wrap .search-panel .btn-current {
    font-size: 1.14286em;
  }
  /* line 401, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .wrap .search-panel .button {
    padding: 0 15px;
  }
  /* line 403, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .wrap .input-panel {
    border: none;
    position: relative;
  }
  /* line 404, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .wrap .input-panel .keyword-field {
    height: 60px;
    margin: 0;
  }
  /* line 405, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .wrap .input-panel .btn-search {
    height: 30px;
    width: 30px;
    padding-right: 20px;
    right: 15px;
    top:15px;
    background-position: -346px -199px;
    -moz-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  .dealer-unaware .input-panel .btn-search:hover {background-position:-400px -199px;}
  /* line 409, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-unaware .error {
    border-top: 1px solid #d4d4d4;
    background: #ffffff;
  }
  /* line 411, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-unaware .btn-current .icon {
    -moz-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
  /* line 416, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .pos {
    position: absolute;
    top: 0;
  }
  /* line 417, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container {
    position: absolute;
    top: 168px;
    left: 15px;
    margin-top: 15px;
    width: 41.667%;
    /* results-list */
  }
  /* line 420, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .result-list,
  .dealer-locator .dealer-result-container .filter-accordion {
    height: 450px;
    overflow: auto;
  }
  /* line 421, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .result-list .submit,
  .dealer-locator .dealer-result-container .filter-accordion .submit {
    width: 60%;
    padding: 7px 0;
    font-size: 1.28571em;
  }
  /* line 423, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-result {
    margin: 0;
    border-bottom: 1px solid #f3f3f3;
    background-color: #ffffff;
  }
  /* line 425, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-heading {
    line-height: 1;
  }
  /* line 426, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-heading .dealer-heading-name {
    font-size: 30px;
  }
  /* line 428, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact {
    padding-left: 30px;
    margin: 0;
    text-align: left;
  }
  /* line 430, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact .icon {
    position: absolute;
    top: -15px;
    left: -15px;
    display: inline-block;
    vertical-align: middle;
    -moz-transform: scale(0.4, 0.4);
    -o-transform: scale(0.4, 0.4);
    -ms-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    width: 53px;
  }
  /* line 431, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact p {
    text-align: left;
  }
  /* line 433, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact .icon-send + .label-link {
    white-space: nowrap;
  }
  /* line 434, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact .item {
    float: left;
    padding-left: 30px;
    width: 40%;
  }
  /* line 435, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact .item.call {
    display: none;
  }
  /* line 439, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact a .icon-details {
    background-position: -554px -143px;
  }
  /* line 441, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact a:hover .icon-details {
    background-position: -607px -143px;
  }
  /* line 444, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-contact a.disabled .icon-details {
    background-position: -659px -143px;
  }
  /* line 448, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .result-list {
    margin: 0;
  }
  /* line 449, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .result-list .dealer-view-more {
    padding: 10px 0 20px;
  }
  /* line 452, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .filter-accordion {
    position: absolute;
  }
  /* line 454, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .filter-accordion .group-list li {
    width: 100%;
  }
  /* line 458, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-accordion .phone-icon {
    display: inline-block;
  }
  /* line 463, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container .dealer-icon,
  .dealer-locator .dealer-result-container .dealer-heading,
  .dealer-locator .dealer-result-container .dealer-details {
    padding: 0 30px;
  }
  /* line 469, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container.detailed .dealer-reveal {
    border: none;
    padding: 0;
  }
  /* line 470, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container.detailed .dealer-view-more {
    margin-top: 0;
  }
  /* line 471, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container.detailed .dealer-result {
    border-bottom: none;
  }
  /* line 473, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container.detailed .dealer-accordion .cell-inner {
    margin-bottom: 15px;
  }
  /* line 474, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container.detailed .dealer-accordion .control {
    padding-left: 35px;
  }
  /* line 477, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container.detailed .save-dealer {
    margin-left: -30px;
    margin-right: -30px;
  }
  /* line 478, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container.detailed .save-dealer .btns .cta-btn {
    display: inline-block;
    text-align: center;
    width: 45%;
  }
  /* line 479, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-result-container.detailed .save-dealer .btns .cta-btn.light {
    margin-left: 15px;
  }
  /* line 485, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-disambiguation {
    top: 158px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #d4d4d4;
  }

 /* line 44, ../scss/modules/_googlemaps.scss */
  .info-window {
    display: block;
  }

  /* line 94, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .dealer-map-field {
    min-height: 700px;
  }
  /* line 96, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .dealer-unaware .sub-options {
    max-height: 570px;
    overflow: auto;
  }
  /* line 98, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .dealer-unaware .title span {
    font-size: 1.28571em;
  }
  /* line 100, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .dealer-unaware .title .btn-current.hide-for-large-up {
    display: none !important;
  }
  /* line 104, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .color-lengend {
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 50px;
    margin: 0;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
  }
  /* line 105, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .color-lengend ul {
    padding: 14px;
  }
  /* line 111, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme.optional .wrap .title span {
    padding-left: 20px;
  }
  /* line 116, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .color-lengend ul {
    text-align: center;
  }
  /* line 117, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .color-lengend li {
    display: inline;
  }
  /* line 118, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .color-lengend li:first-child {
    margin-left: 0;
  }

/*motorcraft override tablet styling*/
  .dealer-locator .dealer-result-container .contact-icon.icon {
      background: url(../img/google-dl-icons/icons.png) no-repeat;
  }

  /*---------------DESKTOP*/

   /* line 492, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-unaware .btn-current .icon {
    margin: -3px -5px;
  }
  /* line 496, ../scss/modules/_dealerlocator.scss */
  .dealer-locator .dealer-unaware .input-panel .keyword-field {
    /*padding:19px 59px 19px 12px;*/
    font-size: 16px;
    background-color: #fff;
    border-width: 19px 59px 19px 12px;
    border-color: #fff;
    padding:0;
  }
  /* line 126, ../scss/modules/_dealerlocator-alt.scss */
  .dealer-locator.alt-theme .sub-options label {
    font-size: 1.14286em;
  }

/*motorcraft override dekstop styling*/
  .ltr .dealer-locator .icon{
    background-image: url(../img/google-dl-icons/icons.png) !important;
  }
  
  .dealer-locator .wrap .title .icon{
    background-image: url(../img/google-dl-icons/icons.png) !important;
  }

  .dealer-locator .dealer-result-container .contact-icon .phone-icon {
    background-image: url(../img/google-dl-icons/icons.png) !important;
      background-position: -487px -141px;
  }

  .dealer-locator.alt-theme .dealer-unaware .nested-options select{
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 7px;
    position: absolute;
    top: 0;
    text-align: left;
    text-indent: -999em;
    text-shadow:none;
  }

  .hide-for-large-up{
    display: none;
  }

  .dealer-locator .dealer-result-container .dealer-contact .icon{
    background-image: url(../img/google-dl-icons/icons.png) !important;
    left: 0;
    top: 0; 
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 auto;
  }

  
  .dealer-locator .dealer-result-container .dealer-contact .icon.icon-direction{
    background-position: -502px -201px;
  }

  .dealer-locator .dealer-result-container .dealer-contact a:hover .icon-direction {
    background-position: -538px -201px;
  }

  .dealer-locator .dealer-result-container .dealer-contact .icon.icon-details{
    background-position: -573px -202px;
  }

  .dealer-locator .dealer-result-container .dealer-contact a:hover .icon-details {
    background-position: -606px -202px; 
  }

  /* line 693, ../scss/ie8.scss */
.info-window {
  display: block;
}
/* line 694, ../scss/ie8.scss */
.info-window p {
  font-size: 0.92em;
}
/* line 695, ../scss/ie8.scss */
.info-window .dealer-name a{
  font-size: 18px;
}
/* line 696, ../scss/ie8.scss */
.info-window p.hours{
  font-size: 11px !important;
}
/* line 697, ../scss/ie8.scss */
.info-window p.phone{
  min-height: 21px;
  padding-top: 2px;
}
/* line 698, ../scss/ie8.scss */
.info-window .icon-direction {
  background-position: -753px -70px;
}

.info-window .content p{
  font-size: 13px;
}

.info-window .content .directions .icon {
   background-image: url(../img/google-dl-icons/icons.png) !important;
    left: 0;
    top: 0; 
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 auto;
    background-position: -503px -201px;
}

  .dealer-locator {
      padding-top: 0;
      position: relative;
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
  }

  .rtl .dealer-locator .search-info-column {
    left: 0px;
    float: left;
  }

  .rtl .dealer-locator .search-info-column .dealer-unaware{
    position: absolute;
    left: 15px;
  }

  .rtl .dealer-locator .row .large-12{
    padding:0;
  }

  .rtl .dealer-locator.alt-theme .dealer-unaware .text-panel p{
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
  }

  .rtl .dealer-locator .dealer-result-container .dealer-contact p{
    text-align: right;
  }

  .rtl .dealer-locator .dealer-result-container .dealer-contact .icon{
    left: auto;
    right: -15px;
  }

  .rtl .dealer-locator .dealer-result-container .dealer-contact .item {
      float: right;
      padding-left: 0px;
      padding-right: 30px;
      width: 40%;
  }

  .rtl .dealer-locator .dealer-result-container .dealer-contact {
      padding-left: 0px;
      padding-right: 30px;
      margin: 0;
      text-align: right;
  }

  .dealer-locator .large-5 {
      width: 41.66667%;
  }

  .dealer-locator .large-12.columns{
    padding:0;
  }

  .dealer-locator .search-info-column {
    padding-left:0;
    padding-right: 0;
  }
  

  .rtl .large-5 {
      width: 41.66667%;
  }

  .rtl .dealer-locator .dealer-result-container .dealer-contact .icon{
    right: 0;
  }

  .rtl .info-window .content .directions .icon{
    right: 0;
    top: 0;
  }

  .rtl .info-window .content .website a{
    padding-right: 0;
    padding-left: 17px;
    background: transparent url(../img/google-dl-icons/bingmap-controller.png) -57px -735px no-repeat;
  }

  .dealer-locator .dealer-result-container .popover .popover-title{
    font-size: 16px !important;
  }

  .dealer-locator .dealer-result-container .popover .popover-content{
    font-size: 12px;
  }

  .show-for-small-only{display: none;}

  .dealer-locator .dealer-result-container .dealer-contact a.disabled .icon-details{
    width: 25px;
    height: 25px;
    background-image: url(../img/google-dl-icons/icons.png) !important;
    background-position: -642px -202px; 
  }


  .dealer-locator .button{
    border: 1px solid #000000;
    text-decoration: none;
    -webkit-transition: -webkit-background-color 0s ease-out;
    -webkit-transition: background-color 0s ease-out;
    -moz-transition: background-color 0s ease-out;
    -ms-transition: background-color 0s ease-out;
    -o-transition: background-color 0s ease-out;
    transition: background-color 0s ease-out;
    background-color: #000000;
    cursor: pointer;
    font-family: "Antenna-Light", Arial, Helvetica, sans-serif;
    padding: 16px 32px 17px;
    display: inline-block;
  }

  .dealer-locator .dealer-view-more .button{
     margin-bottom: 20px;
  }


  .dealer-locator .dealer-result-container .dealer-result.active .dealer-num {
    cursor: pointer;
  }

  .dealer-locator .dealer-result-container .dealer-num {
    cursor: pointer;
  }

  .rtl .dealer-locator .wrap .input-panel .btn-search{
    right: auto;
    left: 15px;
    padding-right: 6px;
    padding-left: 20px;
    background-image:url(../img/google-dl-icons/icons.png);
  }

  

  .rtl .dealer-locator .dealer-unaware .input-panel .keyword-field {
    /*padding:19px 59px 19px 12px;*/
    font-size: 16px;
    background-color: #fff;
    border-width: 19px 12px 19px 59px;
    border-color: #fff;
    padding:0;
  }


/* line 78, ../scss/modules/_dealerlocator-alt.scss */
.dealer-locator .uniform .dropdown {
  height: 50px;
  border: 1px solid #dbdbdb;
}
/* line 79, ../scss/modules/_dealerlocator-alt.scss */
.dealer-locator .uniform .dropdown span {
  line-height: 34px;
}
/* line 81, ../scss/modules/_dealerlocator-alt.scss */
.dealer-locator .uniform .dropdown span,
.dealer-locator .uniform .dropdown option {
  color: #231f20;
}
/* line 83, ../scss/modules/_dealerlocator-alt.scss */
.dealer-locator .uniform input[type="text"] {
  font-family: "Antenna-Light", Arial, Helvetica, sans-serif;
  font-size: 0.85714rem;
  color: #231f20;
}
/* line 84, ../scss/modules/_dealerlocator-alt.scss */
.dealer-locator .uniform ::-moz-placeholder {
  color: #231f20;
}
/* line 85, ../scss/modules/_dealerlocator-alt.scss */
.dealer-locator .uniform ::-webkit-input-placeholder {
  color: #231f20;
}


.uniform .dropdown span {
    color: #231f20;
    margin: 0;
    padding: 7px 15px;
    line-height: 34px;
    font-size: 0.85714rem;
    background: none #ffffff;
    display: inline-block;
}

.dealer-locator .uniform .dropdown span {
    line-height: 34px;
}

.dealer-locator .uniform .dropdown span, .dealer-locator .uniform .dropdown option {
    color: #231f20;
}

.dealer-locator .uniform .dropdown {
  position: relative;
}

.uniform .dropdown select {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border: 1px solid #dbdbdb;
    z-index: 2;
    height: 100%;
    filter: alpha(opacity=0);
}

.uniform select {
    -webkit-appearance: menulist !important;
    background-image: none !important;
}

.uniform .dropdown:after {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    width: 15px;
    height: 9px;
    margin: auto 0;
    text-indent: -999em;
    background: url(../img/google-dl-icons/icons.png) no-repeat -254px -937px;
    display: inline-block;
}

.dealer-locator .uniform .checker {
    height: 17px;
    width: 16px;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.dealer-locator .uniform .checker > span {
    border: 1px solid #231f20;
    display: inline-block;
    text-align: center;
}

.dealer-locator .uniform .checker > span, .uniform .checker input[type="checkbox"] {
    height: 16px;
    width: 16px;
}

.dealer-locator .uniform .checker input[type="checkbox"] {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}

.dealer-locator .uniform .checker > span.checked {
    background: #231f20 url(../img/google-dl-icons/icons.png) no-repeat -5px -237px;
}

.rtl .uniform .dropdown:after{
  right: auto;
  left: 15px;
}

.show-for-large-up{
  display: block !important;
}

.show-for-small-only{display: none;}
.show-for-large-up{
    display: block !important;
  }
.hide-for-large-up{
  display: none !important;
}

.dealer-locator .dealer-unaware .search-panel .text-panel p{
  font-size: 18px;
}

p, dt, dd, blockquote{padding:0;}

.dealer-locator .dealer-result-container .dealer-accordion .control{
  font-size: 24px;
}